[2021-08-19 07:13] ajitesh-sivakumar commented on #4008
@espartero , thanks. I will give it a try. I am worried that this might be temporary fix, but after Spring team (may) fix this bug in next update, it will crash my application.

[2021-08-19 08:17] espartero commented on #4008
Looks very good! Didn't knew this way to override the beans, I'll try it.

Just comment that maybe we can also replace the ERROR_PATH constant by injecting:

`@Value("${server.error.path:${error.path:/error}}")`

to be equivalent to [this](https://github.com/spring-projects/spring-boot/blob/2c9945efc77625dc313754580cbc254c61e919b2/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/spr

[2021-08-23 16:16] sabareeshkkanan commented on #3941
@OlgaMaciaszek  any update on this, appears the issue opened is closed blaming it on the client.

[2021-08-26 18:41] cobar79 opened #4024 "Gateway can't send requests to naming server over SSL: Socket Read timed out"
[code]

[code]

[code]
        nohup java \
        -Dspring.profiles.active=$ACTIVE_PROFILE \
        -Dloader.config.location=$APP_HOME/config/application-$ACTIVE_PROFILE.yml \
        -Djavax.net.ssl.trustStore=$HOME/certs/###1.jks \
        -Djavax.net.ssl.log=debug \
        -Djavax.net.debug=ssl,handshake \
        -cp ${APP_NAME}.jar \
        org.springframework.boot.loader.PropertiesLaunc

[2021-08-30 08:43] nibiwodong opened #4025 "eureka-client and xstream version need update"
**Describe the bug**
spring-cloud-netflix 3.03 use eureka-client 1.10.14
https://github.com/spring-cloud/spring-cloud-netflix/blob/v3.0.3/spring-cloud-netflix-dependencies/pom.xml

eureka-client has been released 1.10.16 and update xstream version to 1.4.17
However xstream version still have vul : https://github.com/Netflix/eureka/issues/1421

eureka-client main brench has update xstream version t

[2021-09-02 09:27] smitJadhav opened #4026 "Facing issue with Feign client and ribbon, Error - Load balancer does not have available server for client: csp-user-service"

[2021-09-02 09:29] #4026 closed, assigned to nobody

[2021-09-02 09:49] smitJadhav opened #4027 "Facing issue with Feign client and ribbon, Error - Load balancer does not have available server for client: csp-user-service"
Hi,

I am facing below error when I try to call api from another service using Feign client.
All the services are deployed on docker using docker-compose.yml on my local machine(Windows).

`admin-service_1          | 2021-09-02 08:51:14.637 ERROR 1 --- [nio-9002-exec-5] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw except

[2021-09-03 04:10] mahesh539dev commented on #3972
@soodrah Did you find any solution for the error because i have the same issue!!

[2021-09-04 11:21] subrata101-tech commented on #2325
hystrix:
  command:
    fallbackcmd:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 400000

im getting error in hytrix

[2021-09-09 10:56] OlgaMaciaszek commented on #3932
Will be closing this issue since Hystrix and Ribbon are no longer supported by Spring Cloud.

[2021-09-09 10:56] #3932 closed

[2021-09-09 10:57] OlgaMaciaszek commented on #4007
Zuul is no longer supported by Spring Cloud.

[2021-09-09 10:58] #4007 closed

[2021-09-09 10:59] OlgaMaciaszek commented on #4008
Closing as there is a workaround and Zuul is no longer supported by Spring Cloud.

[2021-09-09 10:59] #4008 closed

[2021-09-09 11:06] OlgaMaciaszek opened #4028 "Remove unnecessary @EnableEurekaClient annotation from code"

[2021-09-09 11:08] OlgaMaciaszek opened #4029 "Outdated information on @EnableEurekaClient in sagan"

[2021-09-09 11:11] OlgaMaciaszek commented on #4022
Hello, @mjs0514. The `@EnableEurekaClient` annotation is not required anymore. Simply, adding `spring-cloud-starter-netflix-eureka-client` to dependencies will enable the client. If you want to disable it, the property value of `eureka.client.enabled` to `false`.
I have opened [an issue to update the doc](https://github.com/spring-cloud/spring-cloud-netflix/issues/4029)s and [an issue to remove it

[2021-09-09 11:11] #4022 closed

[2021-09-09 11:15] OlgaMaciaszek commented on #4010
Closing as Zuul is no longer supported by Spring Cloud. We suggest switching to Spring Cloud Gateway instead.

[2021-09-09 11:15] #4010 closed

[2021-09-09 11:17] #4029 closed

[2021-09-09 11:20] OlgaMaciaszek commented on #4023
Hello, @Celludriel, the `2.2.x` release train is no longer supported. Please upgrade to a supported version of Spring Cloud and Spring  Boot and let us know if the issue is still there.

[2021-09-09 11:22] OlgaMaciaszek commented on #4024
Socket timeout usually means there is an issue with the service that you're connecting to, so it does not look like a Spring Cloud issue. However, we can take a look at that for you, but we would need you to provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2021-09-09 11:45] OlgaMaciaszek commented on #4025
@nibiwodong Thanks for catching this. Will upgrade the dependencies. Dependabot alerts are enabled in this repo - not sure why we did not receive a notification for this.

[2021-09-09 11:54] OlgaMaciaszek opened #4030 "Move to xstream version from Eureka once Eureka 1.10.17 is released"
See https://github.com/spring-cloud/spring-cloud-netflix/issues/4025

[2021-09-09 11:55] #4025 closed

[2021-09-09 11:57] OlgaMaciaszek commented on #4027
Hello, @smitJadhav the `Hoxton` release train and Ribbon are no longer supported. Please upgrade to a supported version with Spring Cloud LoadBalancer in place of Ribbon and let us know if the issue is still there.

[2021-09-09 11:58] OlgaMaciaszek commented on #1635
Already done.

[2021-09-09 11:58] #1635 closed

[2021-09-09 11:59] OlgaMaciaszek commented on #1336
Closing as Hystrix is no longer supported within Spring Cloud Netflix.

[2021-09-09 11:59] #1336 closed

[2021-09-09 13:57] spencergibb commented on #4013
we use validation, without it, it would be a problem

[2021-09-09 16:06] OlgaMaciaszek commented on #705
Closing the issue, since Zuul is not supported by Spring Cloud anymore.

[2021-09-09 16:06] #705 closed

[2021-09-10 19:00] cmprinho opened #4031 "Eureka Server dashboard not showing"
**Describe the bug**

The spring boot application builds and starts without errors but the dashboard is not showing on `http://localhost:{server.port}/`. It doesn't matter which version of Java is used or which eureka dashboard path is defined.

**Sample**
I am able to reproduce the issue by using the start.spring.io initializer and adding the Eureka Server dependency. After building and running t

[2021-09-12 10:07] smitJadhav commented on #4027
Thanks for reply  @OlgaMaciaszek . I will update to spring cloud load balancer.
It was my silly mistake in above  code sample.
Incase if someone faces this issue so posting below.

service name was wrong for feign client.
old - @FeignClient(name="csp-user-service")
Correct - @FeignClient(name="user-service")

Everything is fine now.

[2021-09-13 14:32] ryanjbaxter commented on #4031
Can you provide any relevant logs and also a sample to reproduce it?

[2021-09-14 08:27] prashdeep opened #4032 "Eureka datacenter and environment not displayed on the Eureka dashboard"
I am using Eureka server - version 3.0.3 and have configured the datacenter and environment information using the below configuration:

[code]
I do not see the Datacenter and Environment information in the Eureka dashboard. In the older versions of Eureka, the information used to be displayed. Is there any change in the configuration with the current release?

[2021-09-14 09:25] cmprinho commented on #4031
Find the start.spring.io generated code here:
[demo.zip](https://github.com/spring-cloud/spring-cloud-netflix/files/7160549/demo.zip)

<img width="1285" alt="screenshot" src="https://user-images.githubusercontent.com/49529958/133231131-6c86bcdd-749e-4100-a6b8-ede0cb6614f5.png">

The console shows the following logs:
[code]

[2021-09-14 15:40] ryanjbaxter commented on #4031
Follow the instructions here
https://docs.spring.io/spring-cloud-netflix/docs/current/reference/html/#spring-cloud-running-eureka-server

You are missing `@EnableEurekaServer`

[2021-09-14 15:40] #4031 closed

[2021-09-15 17:48] DmtryJS opened #4033 "It is not possible to specify different RequestInterceptors for different clients"
**Describe the bug**
There are two different clients. It is necessary for each service to send its own headers, which are added via the Interceptor.
Only one bin works with two clients at the same time.

**Sample**
[code]
[code]
[code]
[code]
Somewhere in the service call

[code]
Enabled logging shows that the call passes with the same token for both clients

[2021-09-15 19:13] DmtryJS commented on #4033
My mistake, there was a transitive dependency where such a bean was already declared

[2021-09-15 19:13] #4033 closed

[2021-09-15 23:24] cobar79 commented on #4024
So your saying spring-cloud-gateway isn't a spring cloud issue? Does not make sense.

[2021-09-16 14:04] cobar79 commented on #4024
This appears to be an issue between the gateway and the eureka server. I found that the read timeout in the gateway logs is from the heartbeat: DiscoveryClient-CacheRefreshExecutor
When this occurs the eureka server logs a com.netflix.eureka.cluster.ReplicationTaskProcessor.process:: Batch update failure with HTTP status code 400; discarding 1 replication tasks.

Subsequently, any requests to the

[2021-09-16 14:04] #4024 closed

[2021-09-17 09:53] OlgaMaciaszek commented on #4011
Done.

[2021-09-17 19:28] cobar79 opened #4034 "Naming Server returns 404 from Gateway call when configured with SSL"
spring-cloud.version > 2020.0.3
spring-boot.version > 2.5.3

When SSL not configured application is found in Naming Server from Gateway call.
When configured over SSL the Naming Server returns 404 from Gateway call.

Eureka Server
[code]

Gateway:
[code]
ROUTING:
[code]

Authorization Service
[code]

PRE-TESTS:

[code]

TEST:
[code]

Eureka Server Log:
[code]

[2021-09-19 11:04] #4027 closed

[2021-09-23 11:21] zhuhongxu opened #4036 "how to do unit test in spring cloud with eureka and springcloud config"
I have a micro-service , which include eureka client and spring cloud config client, but when I execute a junit test, there are many errors like cannot find eureka server, spring cloud server, what should I do of the unit test? and must I start up the eureka server and spring cloud config server?

[2021-09-27 10:51] iamakashk commented on #3570
Hi @spencergibb

I am still facing this issue.

I am using following pom.xml for my eureka server. I have couple of micro services which are registered with eureka server.

    <?xml version="1.0" encoding="UTF-8"?>
    <project xmlns="http://maven.apache.org/POM/4.0.0"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://mave

[2021-09-28 10:31] plsameera opened #4037 "Zuul routing fails for POST request body with German / French / Chinese characters."
The zuul filter throws Forwarding error when the POST request body has German / French / Chinese characters in SimpleHostRoutingFilter. The generic English characters seem to work fine.

HttpServletRequest request = ctx.getRequest();
String charEncoding = request.getCharacterEncoding()

On inspecting the HttpServletRequest in the request context, the cachedcontent shows replacement character symbo

[2021-09-30 12:33] wangzw commented on #3798
Is this issue fixed?

[2021-09-30 12:33] wangzw commented on #3830
Any update?

[2021-10-01 03:00] Surrin1999 opened #4039 "Although the produces attribute is set to "application/json", the returned result is still in XML format"
**Describe the bug**
My **spring-cloud-starter-netflix-eureka-server** version is **3.0.4**, though i set the produces attribute as "application/json" in controller, it still returns xml format

**Sample**
![image](https://user-images.githubusercontent.com/37960540/135559026-0edba783-eee0-4339-9e4f-9cdf1007f33b.png)
![1633057426(1)](https://user-images.githubusercontent.com/37960540/135559069-0396

[2021-10-01 16:50] iPankhu commented on #3815
I am picking this bug and will work on it.

[2021-10-01 23:36] nvj98 commented on #674
I can work on this documentation issue, thanks!

[2021-10-03 12:42] yalexeyenko opened #4040 "ZUUL: Forwarding requests are blocking other requests if post filter is executed?"
Hello!

I've run into the following problem.
When a request (which is forwarding to a local endpoint) gets processed in a post zuul filter for a long time, other requests get blocked till the 1st one finishes.
But if on the contrary, if a non-forwarding request is processed for a long time in a post zuul filter, other requests don't wait and finish before the 1st one.
I wanted to know why is this

[2021-10-04 10:11] rost5000 commented on #3139
Do you have any update on this issue?

[2021-10-05 14:58] varunshet393 commented on #3438
Im getting this error Load balancer does not have available server for client: user-service   in Zuul application while ruting through service id and its working fine with URL routing.Please suggest if I'm missing anything

Im using eureka client + Zuul + user  service

My Pom.xml file Zuul API gateway

[code]

My Properties file of Zuul API gateway

[code]

My zuul application class

[code]

My e

[2021-10-05 15:01] varunshet393 opened #4041 "Load balancer does not have available server for client: user-service"
Im getting this error Load balancer does not have available server for client: user-service   in Zuul application while ruting through service id and its working fine with URL routing.Please suggest if I'm missing anything

Im using eureka client + Zuul + user  service

My Pom.xml file Zuul API gateway

[code]

My Properties file of Zuul API gateway

[code]

My zuul application class

[code]

My e

[2021-10-07 11:11] jeevanb214 opened #4042 "MaxAutoRetries is not taking from the properties file"
**Describe the bug**
Spring Boot version---2.3.0.RELEASE
Cloud Version -- Hoxton.SR4
java.version  --  8

--> I wantedly making my API to return 500 status code and making it retry by using the below properties, It is retrying but it retrying 12 times mostly.

**Sample**

properties:

service-name.ribbon.ConnectTimeout=90000
service-name.ribbon.ReadTimeout=140000
service-name.ribbon.MaxTotalHttpCo

[2021-10-14 06:23] zhujiebing opened #4043 "com.netflix.zuul.exception.ZuulException: Forwarding error"
**Describe the bug**
I only user zuul in my spring boot service,  and forward to another spring boot service, I did not use the registry Service Discovery 。Occasionally Connection reset and Forwarding error.

[code]

**Sample**
rout info from db
![image](https://user-images.githubusercontent.com/25639514/137263018-32996408-03cd-42eb-ba4e-fcc525a8836d.png)

[code]

[code]

error log.
[code]

[2021-10-21 03:51] juangallino opened #4044 "Load balancer does not have available server for client"
@cleversonledur I created two pull requests that fix your problems.

The gateway wasn't pointed at eureka properly. And microservice, you set the `eureka.instance.*` settings to the server, which is incorrect.

_Originally posted by @spencergibb in https://github.com/spring-cloud/spring-cloud-netflix/issues/2530#issuecomment-358764694_

Hi! i am having the exact same problem, while routing with ur

[2021-10-21 03:53] spencergibb commented on #4044
If you'd like us to spend some time investigating, please take the time to provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) (something that we can unzip attached to this issue or git clone, build, and deploy) that reproduces the problem.

[2021-11-04 03:55] spring-cloud-issues commented on #4044
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-11-04 03:55] #4044 closed

[2021-11-04 20:21] rkeytacked commented on #4008
Thanks a lot @aldobongio !!
Here a shortened version in Kotlin:

[code]

[2021-11-07 17:13] ItsmeChandu commented on #3558
@mkpraveen
Can you pls share how you solved this, I'm getting same issue.

[2021-11-09 18:30] ayoubgdah commented on #288
Thanks @mxmlnglt . It worked like a charm

[2021-11-13 13:38] rafaband opened #4045 "Eureka List Service Wrong port causing Spring Gateway 404 error"
**Describe the bug**
I'm creating a project with Spring API gateway, Eureka Server and WebFlux.

With the spring documentations I've started the 3 services:
- localhost:3761 - Eureka
- localhost:4001 - Serivce
- localhost:8080 - Api gateway

Eureka list the 2 services (gateway and my service)
My service works fine from browser
My gateway only responds if my route uri is localhost and I really don'

[2021-11-16 07:08] kyle-wang-sd opened #4046 "Oauth token cannot be injected to replica requests for Eureka cluster"
Hi Spring Cloud Team,

I am using Spring Cloud Netflix as our Discovery Service, and also setup an Eureka cluster with 2 nodes. But got authentication issue for nodes replication with Oauth token.

Spring Cloud Version: 2020.0.2
eureka-core version: 1.10.11

I tried to inject Oauth token with guide: https://docs.spring.io/spring-cloud-netflix/docs/current/reference/html/#authenticating-with-the-eu

[2021-11-16 09:41] kyle-wang-sd commented on #4046
Hi, I found a way to achieve my goal.

WebFilters could be injected to replication requests by providing following bean which references to `EurekaServerAutoConfiguration.java`
[code]

So my question is, is this a formal way to do so, if then, could this be updated to some documents?

Thanks.

[2021-11-16 17:26] weixsun commented on #4032
Ok i have the same problem.

[2021-11-17 21:06] OlgaMaciaszek commented on #4046
@kyle-wang-sd would you like to submit a documentation PR?

[2021-11-17 21:08] OlgaMaciaszek commented on #4037
Hello, @plsameera, Spring Cloud Netflix Zuul is no longer supported. We suggest using [Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway) instead.

[2021-11-17 21:08] #4037 closed

[2021-11-17 21:09] OlgaMaciaszek commented on #4041
Hello, @varunshet393 , Spring Cloud Netflix Zuul is no longer supported. We suggest using [Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway) instead.

[2021-11-17 21:10] #4041 closed

[2021-11-17 21:12] OlgaMaciaszek commented on #4043
Hello, @zhujiebing, both the `Greenwich` release train and Spring Cloud Netflix Zuul are no longer supported. We suggest using [Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway) instead.

[2021-11-17 21:12] #4043 closed

[2021-11-17 21:14] OlgaMaciaszek commented on #4040
Hello, @yalexeyenko Spring Cloud Netflix Zuul is no longer supported. If there's an issue with Spring Cloud Gateway, please create a separate GH issue in [that repo](https://github.com/spring-cloud/spring-cloud-gateway) instead.

[2021-11-17 21:14] #4040 closed

[2021-11-17 21:16] OlgaMaciaszek commented on #4034
Hello @cobar79 , please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue (a full sample code, not just snippets).

[2021-11-17 21:20] OlgaMaciaszek commented on #4039
This looks like something that is handled by the application code, not by Eureka. We can take a closer look, but please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2021-11-17 21:47] cobar79 commented on #4034
misconfiguration of secure/non-secure in gateway, auth-service.

[2021-11-17 21:47] #4034 closed

[2021-11-19 08:48] kyle-wang-sd commented on #4046
Hi @OlgaMaciaszek , could u guide me how to submit a documentation PR?

[2021-11-19 09:38] RakeshAMore opened #4047 "spring-cloud-netflix-hystrix module has been removed from spring-cloud-netflix"
**spring-cloud-netflix-hystrix module has been removed from spring-cloud-netflix**
I am working on upgrading my application on spring boot 2.5.x so subsequently I also need to move on the latest compatible version of spring cloud i.e. 2020.0.x (https://spring.io/projects/spring-cloud#overview).
We have been using hystrix as Circuit breaker since long time and most of our apps are depends on this.

[2021-11-22 19:51] spencergibb opened #4048 "Disabled tests due to boot test env ordering issue"
caused by https://github.com/spring-projects/spring-boot/issues/28776

[2021-11-23 10:17] kunalbarchha opened #4049 "Not getting propoer JSON from Zuul Filter to handle it on the front-end"
JDK 1.8
    Spring Boot 2.0.5
    Spring Security OAuth 2.1.5
    Spring Cloud Dependencies Finchley.SR4

**Googled so far:**

    https://cloud.spring.io/spring-cloud-netflix/multi/multi__router_and_filter_zuul.html
    https://stackoverflow.com/questions/31099368/netflixoss-zuul-filter-for-rejecting-requests
    https://stackoverflow.com/questions/38444304/how-to-retrieve-json-error-from-zuul-fi

[2021-11-23 12:38] OlgaMaciaszek commented on #4004
@suryadip08 , you should listen to `org.springframework.cloud.client.discovery.event.InstanceRegisteredEvent` instead.

[2021-11-23 12:38] #4004 closed

[2021-11-23 12:46] OlgaMaciaszek commented on #4047
Hystrix core library is no longer supported by Netflix (https://github.com/Netflix/Hystrix/blob/master/README.md#hystrix-status), therefore we cannot provide support for its integration either, which we have announced a long time in advance before removing it (https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now). Since using non-maintained modules poses various issues, the m

[2021-11-23 12:46] #4047 closed

[2021-11-24 10:56] RakeshAMore commented on #4047
I am completely agree with you for discontinue hystrix, but we can not get rid off it right now due to some other dependent code. I appreciate your response to my question, will try to find some intermittent solution untill we migrate to Resillience4J. Thanks!

[2021-11-24 21:25] spring-cloud-issues commented on #4039
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-11-25 14:39] OlgaMaciaszek commented on #4049
Hello, @kunalbarchha, Zuul is no longer supported. The `Finchley` release train has not been supported for years now. We recommend you switch to the `2020.x` release train (or wait for the GA release later this month to switch to the `2021.x` release train). And migrate from Zuul to Spring Cloud Gateway.

[2021-11-25 14:39] #4049 closed

[2021-11-25 14:52] OlgaMaciaszek commented on #4042
Hello, @jeevanb214, Zuul is no longer supported. The `Hoxton` release train is also no longer supported. We recommend you switch to the `2020.x` release train (or wait for the GA release later this month to switch to the `2021.x` release train). And migrate from Zuul to Spring Cloud Gateway.

[2021-11-25 14:52] #4042 closed

[2021-11-25 15:02] OlgaMaciaszek opened #4050 "Upgrade Netflix/Eureka to 1.10.17"

[2021-11-25 15:34] #4050 closed

[2021-11-25 15:34] #4030 closed

[2021-11-26 18:09] tonyfarney commented on #1862
I was with the same problem: configuration not taking effect. Thanks to @ryanjbaxter I figured out there was other clients using the same name. That was causing the problem.

[2021-11-27 06:35] kunalbarchha commented on #4049
@OlgaMaciaszek Yes, I do understand the support is revoked, but I guess there should be some sort of guidance mechanism in place to people like me who are managing legacy code. There are 17 micro-services and code base is huge. We do plan to migrate from Zuul to native Spring libraries. But as you may already know, it cannot be done instantly. We recently completed migrating from Spring 1.5.X to 2

[2021-11-29 06:36] SubhankarMukherjee commented on #2923
This is not working after all settings recommended. Please sugggest

[2021-11-29 15:38] ryanjbaxter commented on #2923
Please open a separate issue

[2021-11-29 17:30] #4048 closed

[2021-12-01 12:03] OlgaMaciaszek commented on #4036
It entirely depends on which tests you are writing. If you are writing unit tests, you would usually not want to test that layer and instead of starting the entire boot context or using `@SpringBootTest`, you would just test single classes, methods and components. If you want to run end-to-end tests, you probably should have an environment set up, including Eureka Server and Config Server (in orde

[2021-12-01 12:03] #4036 closed

[2021-12-01 21:25] spring-cloud-issues commented on #4039
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-12-01 21:25] #4039 closed

[2021-12-07 09:58] mikhailian commented on #3813
me too, I have exactly the same problem.

[2021-12-07 09:59] wangwensan123 commented on #3813
你好，邮件已收到！

[2021-12-15 12:21] OlgaMaciaszek commented on #4045
@rafaband Please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue. Please provide a link to a GitHub project with a demo project setup that reproduces the issue.

[2021-12-15 12:35] OlgaMaciaszek commented on #4032
This was broken while removing Archaius.

Changed from:
[code]

to:

[code]
in `EurekaController`.

[2021-12-17 08:16] sahith opened #4053 "Benchmarking eureka service discovery performance"
Can someone point me to the documentation/blog where eureka performance is measured? In specific, I want to know the answer for the following questions

1. What is the response time from server when eureka client makes a read/write request?
2. How many service instances can be supported by Eureka?
3. How many concurrent requests can be supported from eureka client to server?
4. How much memory/CPU

[2021-12-22 12:25] spring-cloud-issues commented on #4045
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-12-22 20:34] gsigmund opened #4054 "spring-cloud-starter-netflix-eureka-client with org.springframework.boot:spring-boot-devtools cause Port already in use errors"
I am using Grails 4.0.13 with springboot Greenwich.SR6
I am using  developmentOnly("org.springframework.boot:spring-boot-devtools") to get the application reloaded during development.
Everything works fine until I add
    compile group: 'org.springframework.cloud', name: 'spring-cloud-starter-netflix-eureka-client'

If I use the eureka client I always get an error  "Address already in use" when ch

[2021-12-23 11:38] OlgaMaciaszek commented on #4053
Hi @sahith since this question refers rather to the actual Eureka server and client implementations than the Spring Cloud integration for Eureka, it should probably be asked in [https://github.com/Netflix/eureka](https://github.com/Netflix/eureka).

[2021-12-23 11:38] #4023 closed

[2021-12-23 11:41] OlgaMaciaszek commented on #3974
@twogoods I am really sorry for not getting back to you earlier. We have decided to discontinue the `Hoxton` release train and `Ribbon` support and previously do critical issue maintenance only (appropriate decisions and schedules were published on our blog), so the issue will not be addressed.

[2021-12-23 11:41] #3974 closed

[2021-12-23 11:43] OlgaMaciaszek commented on #4054
Hello @gsigmund, the `Greenwich` release train has not been supported for years now. Please upgrade to a supported version of Spring Cloud (`2020.0.5` or `2021.0.0`) and get back to us if the issue still persists.

[2021-12-26 07:17] k631583871 opened #4055 "Open webclient will de-registration failedCannot execute request on any known server"
If the following configuration is added to the configuration, Eureka client cannot be closed normally.
I think it's because webclientbuilder was not created.
[code]

log:

[code]

[2021-12-26 08:36] an0nh4x0r opened #4056 "Publish custom port to eureka service registry from eureka client"
Eureka client by default publishes `${server.port}` to service registery i.e. eureka server. There needs to be a property where we can publish custom port to service registry

There needs to be a property called `${eureka.instance.custom-port}` which can be used to set custom port which will then get published to the eureka server ... instead of `${server.port}`

In my organization , I've override

[2021-12-26 14:05] an0nh4x0r commented on #4056
My pull request got closed. :(
non-secure-port does not work.

[2021-12-28 14:39] csh0711 commented on #4008
@rkeytacked Thanks a bunch, saved me lots of time! :-)

[2021-12-29 01:46] namsoo2 commented on #1769
`feign.client.default-to-properties` value will help you configure if you adjust loggerLevel in code and yml

[2021-12-30 08:20] amit-github-personal commented on #3703
+1 facing same issue when deployed service on kubernetes

[2022-01-03 07:06] lnsane opened #4059 "spring-cloud-starter-netflix-hystrix in spring cloud is abandoned？"
i not found spring-cloud-starter-netflix-hystrix dependencies   in spring-cloud-netflix-dependencies  version is 3.1.0

why ?

[2022-01-06 05:29] vishakhakadam09 opened #4060 "Unable to rename the eureka server"
I have configured eureka-server as a client with configuration specified below.
I am trying to rename the service to 'eureka-registry' (originally configured as 'eureka-server'). I have deleted the ecs service from AWS to avoid peer lookup. Have modified below configuration to reflect new name. However when the new service comes up it tries to find 'eureka-server' (old server) and fills logs compl

[2022-01-06 07:18] mfolivas opened #4061 "Not able to set the hostname when sending my subscription to Eureka"
**Describe the bug**
I need to set the hostname of the server that I want to register.  The application is constantly getting the hostname of my computer even if I just type the following in the `application.properties`:
[code]
I still get the following
[code]
where "marcelos-mbp.lan" is my hostname.

Originally,  I wanted to put something like this:
[code]
and inject the CONFIG_SERVICE_DNS with i

[2022-01-07 05:52] sunyl-git commented on #3529
Hello,  I have the same problem. And finally I found that if you @Configuration  LoadBalancedRetryFactory BackOffPolicy , the ribbon.MaxAutoRetries will not working. @ryanjbaxter  @spencergibb

I upload   a complete, minimal, verifiable sample that reproduces the problem.

https://github.com/sunyl-git/feign-spring-retry-test-issue

Reproduces Step :
(Run applicaitons, and curl http://localhost:808

[2022-01-11 00:36] andresestrella commented on #4008
Has anyone tested the fix on Spring Boot 2.6?

[2022-01-12 09:42] Ive4 opened #4062 "DefaultEurekaClientHttpRequestFactorySupplier HttpClient is not closed"
**Describe the bug**
spring cloud 2021.0.0
Eureka Client has a bug, the bug is that every time the heartbeat and request Eureka Server will create a new HttpClient, but this new HttpClient will not be manually closed, only when the FullGC will be cleaned up, so it leads to the problem of too much TCP CLOSE_WAIT.

**Sample**
The solution is to provide a shared HttpClient, rather than re-creating a

[2022-01-12 13:43] nitindhomse commented on #373
I have similar issue, I have posted question  here, could you please help me - https://stackoverflow.com/questions/70648380/what-would-be-the-best-self-preservation-time-parameter-configuration-for-eureka

[2022-01-13 18:18] anbusampath commented on #4059
https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now#spring-cloud-netflix-projects-entering-maintenance-mode

[2022-01-14 01:36] #4059 closed

[2022-01-17 16:00] OlgaMaciaszek commented on #4062
Hello, @Ive4 thanks for submitting this. I'm not sure what you mean. In the `CloudEurekaClient` that handles publishing the `HeartbeatEvent`, [this method](https://github.com/spring-cloud/spring-cloud-netflix/blob/2532e3a263e2abb32210c7a0a26aa12890233966/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/CloudEurekaClient.java#L90-L105) is called that should

[2022-01-17 16:51] OlgaMaciaszek commented on #4055
Hello @k631583871, thanks for reporting this. I was able to reproduce the issue and will work on a fix.

[2022-01-17 16:54] OlgaMaciaszek commented on #4056
Hello @an0nh4x0r, why do you need this functionality? Could you describe your use-case in more details?

[2022-01-17 17:11] an0nh4x0r commented on #4056
Hey @OlgaMaciaszek ... We have our own cloud in my company where we run custom built containers(not docker) ... We basically have two ports i.e. first inner port of which spring boot is running, second outer port through which traffic gets rerouted to this inner port in which spring boot app runs ... I have access to outer port number in container through enviornment variable ... I was looking for

[2022-01-17 17:36] OlgaMaciaszek commented on #4060
Hello, @vishakhakadam09. Please learn how to properly [format code and logs](https://help.github.com/articles/creating-and-highlighting-code-blocks/). If I understand correctly what you are trying to do, setting `service-url` might be what you're looking for. You can do it like so:

[code]
Let me know if this is helpful.

[2022-01-19 01:26] vishakhakadam09 commented on #4060
Sorry for improper format. I have updated my post with correct format. It looks like workflow-registry is trying to poll for previous eureka server i.e. eureka-service.rd.xxx.io.
Could you please suggest what needs to be done in order to avoid it and not look for older instance.

![image](https://user-images.githubusercontent.com/47795230/150045999-ef420ac2-b559-474e-b640-f49d8ae693e2.png)

[2022-01-20 08:30] feiquan666 commented on #3318
My Gateway Moudle dependencies is:

<dependencies>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-gateway</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-netflix-eureka-client</artifactId>
        </dependency>

[2022-01-20 08:34] feiquan666 opened #4063 "method ReactiveHystrixCircuitBreaker.createCommand throw a runtime Exception: java.lang.NoClassDefFoundError: rx/RxReactiveStreams"
SpringCloud Version is ： Hoxton.SR12
SpringBoot Version is：2.3.12.RELEASE

My Gateway Moudle dependencies is:

<dependencies>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-gateway</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring

[2022-01-20 08:42] feiquan666 commented on #4063
The project address is:  [MyMicroservice](https://github.com/feiquan666/MyMicroservice)

you can clone it and start it。

try url：http://localhost:5002/api/test/web/hello/3
headers :
{
"Req-Sign": "check sign"
}

[2022-01-20 16:55] jim-olsen commented on #3941
For anyone else who encounters this, I found that setting the initial status did not in fact work in the case of a delayed startup.  As a work around, I created and added this class and it fixed it by forcing the state to down initially, thus breaking the out of service cycle and allowing the transition back to up:

`/**`
` * There is a bug in the eureka health check indicator that this class work

[2022-01-21 06:05] Ive4 commented on #4062
Sorry, I didn't make it clear.
Eureka publishing HeartbeatEvent will invoke RedirectingEurekaHttpClient.execute.
EurekaClient will shutdown when an exception occurs on an http request, but not shutdown HttpClient

[2022-01-21 06:06] Ive4 commented on #4062
Sorry, I didn't make it clear.
Eureka publishing HeartbeatEvent will invoke RedirectingEurekaHttpClient.execute.
EurekaClient will shutdown when an exception occurs on an http request, but not shutdown HttpClient

[2022-02-04 01:05] spring-cloud-issues commented on #4054
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-04 01:05] #4054 closed

[2022-02-04 01:05] spring-cloud-issues commented on #4053
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-04 01:05] #4053 closed

[2022-02-04 01:05] spring-cloud-issues commented on #4045
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-04 01:05] #4045 closed

[2022-02-04 01:06] spring-cloud-issues commented on #4013
Closing due to age of the question. If you would like us to look at this issue, please comment and we will look at re-opening the issue.

[2022-02-04 01:06] #4013 closed

[2022-02-06 09:25] ksloo1788 opened #4064 "spring-cloud-netflix-eureka-server-3.1.0.jar: wro.js (pkg:javascript/bootstrap@3.2.0)"
[WARNING]

One or more dependencies were identified with known vulnerabilities in service-registry-server:

spring-cloud-netflix-eureka-server-3.1.0.jar: wro.js (pkg:javascript/bootstrap@3.2.0) : CVE-2016-10735, CVE-2018-14040, CVE-2018-14041, CVE-2018-14042, CVE-2019-8331

[2022-02-07 15:50] neonlai opened #4065 "Service id based Zuul-Eureka routing does not work with HTTPS"
I have try to setup Https for netflix eureka, zuul & backend spring services.
All working well individually and all services can be register in Https eureka server. However, the rounting from zuul using serviceId was not working as expected. The details are as follows:

**Eureka server:**
![image](https://user-images.githubusercontent.com/7203588/152820392-b44f07d0-42e6-4779-a4a1-a2059a44d780.png)

[2022-02-07 16:26] ksloo1788 commented on #4065
Yes. It doesn't work in version 2.2.10.RELEASE.
loadBalancerClient.choose("common-service") also return null.

[2022-02-07 16:38] neonlai commented on #4065
@ksloo1788
Is latest spring cloud Netflix version working with serviceId routing with https ? Any workaround?

[2022-02-08 11:35] lucasdall commented on #3703
+1 same here. It is happening randomly

[2022-02-09 15:21] kvmw commented on #3813
I believe this has been fixed in the recent versions.

[2022-02-15 06:03] Rutik333 opened #4066 "How Feign Client to request https instead of HTTP?"
My service is configured to https , registered on Eureka server.
when I use @FeignClient(value = "my-service-name")  it is always request serves over http how to change it to Https

Sample output :
[POST] to [http://consumer-service/oty/consumer/tracesByApis]

[2022-02-15 06:06] Rutik333 commented on #4066
If I use @FeignClient(name =  "my-service-name" , url = "https://localhost:5012") then I get https

[2022-02-22 01:18] user20161119 commented on #4032
what is the right way currently to set those values?

[2022-02-22 11:18] hsonawane opened #4067 "Service discovery for RSocket"
Is it possible to use [spring-cloud-netflix] as service discovery for RSocket services? If not what are possible options.

[2022-02-22 12:48] luamas opened #4068 "Will you continue to support spring6"
Will you continue to support spring6?  If no, consider whether to support client separately?

[2022-02-23 07:28] Sunywdev opened #4069 "eureka-client1.10.14 rejected from java.util.concurrent.ThreadPoolExecutor"
I used the eureka-client1.10.14 version in SpringCloud2020.3. There are some WARN logs recently. I put the detailed information below. Is it because my thread pool is not enough?  looking forward to the reply;

WARN c.n.discovery.TimedSupervisorTask -task supervisor rejected the task
java.util.concurrent.RejectedExecutionException: Task java.util.concurrent.FutureTask@4bbc4fb3 rejected from java.u

[2022-02-25 12:26] OlgaMaciaszek commented on #4069
Hello, @Sunywdev, the `2020.x` line is no longer supported. Please upgrade to `2021.x` and verify if the issue persists.

[2022-02-25 12:27] OlgaMaciaszek commented on #4068
Hello @luamas, Spring 6 support will be added later on this year with `2022.x` release.

[2022-02-25 12:27] #4068 closed

[2022-02-25 12:31] OlgaMaciaszek commented on #4067
Hello @hsonawane, Spring Cloud Netflix provides support for Netflix/Eureka, which is an HTTP tool. You can use [RSocket Broker](https://github.com/rsocket-broker/rsocket-broker) and [RSocket Broker Client](https://github.com/rsocket-broker/rsocket-broker-client) for RSocket service discovery and routing. You can use [RSocket Broker Http Bridge](https://github.com/rsocket-broker/rsocket-broker-http

[2022-02-25 12:31] #4067 closed

[2022-02-25 12:34] OlgaMaciaszek commented on #4065
Hello, @neonlai Zuul is no longer supported. Please use Spring Cloud Gateway instead. If the problem persists after migration, please open a new GH issue.

[2022-02-25 12:34] #4065 closed

[2022-02-25 12:36] OlgaMaciaszek commented on #4063
Hello @feiquan666, the `Hoxton` release train is no longer supported. Please upgrade to `2021.x`. If the problem persists, please open a GH issue in the [Spring Cloud CircuitBreaker](https://github.com/spring-cloud/spring-cloud-circuitbreaker) repo.

[2022-02-25 12:36] #4063 closed

[2022-02-25 12:40] OlgaMaciaszek commented on #4064
Hello @ksloo1788, thanks for reporting this. Will take a look at it.

[2022-02-25 12:46] OlgaMaciaszek commented on #4062
Hello, @Ive4 if I understand correctly, the issue concerns the `RedirectingEurekaHttpClient` itself rather than its Spring integration provided by Spring Cloud? If so, please create an issue in the [Eureka repo](https://github.com/Netflix/eureka) instead.

[2022-02-25 12:52] OlgaMaciaszek commented on #4060
Yes, it does seem so. Setting the zone as shown [here](https://github.com/spring-cloud/spring-cloud-netflix/issues/4060#issuecomment-1014768904) should work. If it still persists, I will need a sample to verify why.
Please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2022-02-25 12:55] OlgaMaciaszek commented on #4056
@an0nh4x0r thanks for the details. Will discuss it with the team and get back to you.

[2022-02-26 12:52] ksloo1788 opened #4070 "Spring cloud ribbon not working with eureka in Client Side Load Balancer for Spring Cloud Version 2021.0.0"
Spring cloud ribbon not working with eureka for Client Side Load Balancer.
After define listOfServers, it is working.
this feature also working on older version

**application.properties**

eureka.client.serviceUrl.defaultZone=http://localhost:58010/eureka/
eureka.client.healthcheck.enabled=true
eureka.instance.leaseRenewalIntervalInSeconds=1
eureka.instance.leaseExpirationDurationInSeconds=2
comm

[2022-03-04 07:06] jakshay21 opened #4071 "HttpRequest coming as null resulting in java.lang.IllegalStateException: request not parsed while accessing requestHeaders"
Running reactor-netty-http:1.0.2 resulting in below error. Any suggestions?
Access logs are enabled - System.setProperty("reactor.netty.http.server.accessLogEnabled", "true")

[code]

[2022-03-04 07:42] #4071 closed

[2022-03-04 07:43] jakshay21 commented on #4071
Closing as the request doesn't belongs to this package.

[2022-03-04 12:30] spring-cloud-issues commented on #4069
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-04 12:50] spring-cloud-issues commented on #4062
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-04 12:55] spring-cloud-issues commented on #4060
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-04 13:34] kamaldesingh opened #4072 "Netflix Eureka Client Health Check Handler not sending correct status back to Netflix Eureka server"
Hello Team,

I have upgraded my application and below are details for same.

Previous Version-
spring boot-1.5.6.RELEASE
spring cloud version-Edgware.M1

Migrated Version-
spring boot-2.4.4
spring cloud version-2020.0.2

Herein, after migration I am faced issue with Client Eureka Health Check handler sending status as up always even though one of dependency say DB is down. This happens only in cas

[2022-03-06 16:05] alceil commented on #380
Hey @OlgaMaciaszek  I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-07 11:21] OlgaMaciaszek commented on #380
Ok, have assigned it to you. If you need any help, please contact the mentors in the springcloud channel in the OpenForce discord.

[2022-03-07 13:34] kamaldesingh commented on #4072
Hello Team,

Kindly do assist on above request on priority.

[2022-03-07 22:41] harmoney-ryanli commented on #1321
FYI, I came across this question as well, and I tried to add the scheduled task to refresh instance info. But the task doesn't start. At last, found out that if the scheduled task is in a configuration class, need to add the annotation EnableScheduling to run the task.

[2022-03-08 11:31] OlgaMaciaszek commented on #4061
Hello, @mfolivas please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2022-03-08 11:32] OlgaMaciaszek commented on #4070
Hello, @ksloo1788, Spring Cloud Netflix Ribbon is no longer supported. Please use [Spring Cloud Loadbalancer](https://docs.spring.io/spring-cloud-commons/docs/current/reference/html/#spring-cloud-loadbalancer) instead.

[2022-03-08 11:33] #4070 closed

[2022-03-08 11:42] OlgaMaciaszek commented on #4072
Hello, @kamaldesingh, Spring Cloud `2020.x` is no longer supported. Please upgrade to Spring Cloud `2021.x` and Spring Boot `2.6.x`. If the issue still persists, please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue - we will verify it then. Also, please note that the issues are handled according to the team's issues backlog and pri

[2022-03-08 12:42] kamaldesingh commented on #4072
Hello @OlgaMaciaszek , have tried using Spring Cloud 2021.0.1 with Spring Boot 2.6.3 version as well, still have same issue. Eureka Client is not considering nested components of application while sending the  aggregate health status of application as explained above .

[2022-03-08 12:43] OlgaMaciaszek commented on #4072
@kamaldesingh Please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2022-03-08 15:09] saitejachintalapudi opened #4073 "Upgraded spring boot version from 2.3.12.Release to 2.5.10, but API gateway is not able to register the service"
Getting Java.lang.NoSuchMethodError: 'com.google.common.base.Objects$ToStringHelper com.google.common.base.Objects.toStringHelper(Java.lang.Object)

Using below versions of dependencies in pom.xml
Spring boot version - 2.5.10
Spring cloud version - 20.0.5
Guava version - 30.0-jre
(For more info please find the below link: Getting same issue for me too: - https://stackoverflow.com/questions/6895675

[2022-03-08 15:23] OlgaMaciaszek commented on #4056
@an0nh4x0r Actually, you should be able to set it using [these props](https://github.com/spring-cloud/spring-cloud-netflix/blob/e5ba2575e691498f564088a1ef13d11e71c9eded/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/EurekaInstanceConfigBean.java#L72-L80). Let me know if this solves your issue.

[2022-03-09 03:52] ethfun commented on #288
cause  `BasicAuthRequestInterceptor implements RequestInterceptor` ,  you can check all feign client by diff feign name，this is my solution:
`

    @Configuration
    public class FeignClientConfiguration {

        @Bean
        public RequestInterceptor requestInterceptor() {
            return requestTemplate -> {
                Target target = requestTemplate.feignTarget();
                St

[2022-03-09 06:30] kamaldesingh commented on #4072
@OlgaMaciaszek - Below are couple of code snippet...one is property file having 2 ldap beans and other is pom.xml with the dependencies I am using in my project.

**application.properties**
`spring.application.name=spring-boot-demo

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect

spring.data

[2022-03-09 07:49] igarash1 commented on #674
Hi, I would like to work on this issue. From OpenForce 2022.

[2022-03-10 14:46] OlgaMaciaszek commented on #380
@alceil Please read carefully through the discussion above. As you will see in the comments, there are certain behaviours that might not be obvious to our users. Specifically,[ this comment ](https://github.com/spring-cloud/spring-cloud-netflix/issues/380#issuecomment-174000110)contains useful information that should be added to our docs. You should add it to https://github.com/spring-cloud/spring

[2022-03-11 10:05] OlgaMaciaszek commented on #674
Hello, @igarash1 I have assigned the issue to you. If you need any help, please contact the mentors in the Spring Cloud channel in the OpenForce discord.

[2022-03-11 12:30] spring-cloud-issues commented on #4069
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-03-11 12:30] #4069 closed

[2022-03-11 12:50] #4062 closed

[2022-03-11 12:55] spring-cloud-issues commented on #4060
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-03-11 12:55] #4060 closed

[2022-03-11 13:39] OlgaMaciaszek opened #4076 "Upgrade wro4j-maven-plugin to 0.10.x"
Can only be done on `main` due to Java baseline requirements.

[2022-03-11 13:54] OlgaMaciaszek commented on #4073
Hello, @saitejachintalapudi - is the issue with Spring Cloud Netflix or Spring Cloud Gateway? In either case, we do not have Guava as a direct dependency, but it might be brought in as a transitive dependency from Netflix Eureka Client and GRPC.

[2022-03-11 14:13] saitejachintalapudi commented on #4073
Hello @OlgaMaciaszek, The issue is with Spring cloud Netflix. When I upgraded the spring boot version from 2.3.12.Release to 2.5.10, Application is not running, after finding Netflix - zuul is getting the issue. (https://stackoverflow.com/questions/68956756/springboot-upgrade) this link has more information about the issue what I'm facing.  If you got the issue please help me to resolve it.

[2022-03-11 15:24] OlgaMaciaszek commented on #4073
@saitejachintalapudi Spring Cloud Netflix Zuul is no longer supported. We recommend switching to [Spring Cloud Gateway](https://spring.io/projects/spring-cloud-gateway) instead.

[2022-03-11 15:32] #4076 closed

[2022-03-14 08:20] grchis commented on #2831
I think this issue was not fully fixed, since we encounter the same issue on the 1.4.6.RELEASE version. Apart from the issue that's mentioned here, which we do bump in from time to time, I also don't see why there is no connection kept alive so that it can be reused.
Wouldn't be a better solution to modify the SimpleHostRoutingFilter to release the connection after the response has been received f

[2022-03-15 02:54] igarash1 commented on #674
Possibly related to #402

[2022-03-15 11:35] spring-cloud-issues commented on #4061
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-15 15:25] spring-cloud-issues commented on #4056
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-17 00:33] Incarnation-p-lee opened #4080 "Eureka Client register as OUT_OF_SERVICE after running for a while."
**Describe the bug**
We have met one issue about eureka client talk to eureka server, which is difficult to reproduce but it happened from our customers' production environment monthly.

[code]

The typical behavior may look like below. One or more applications registered as UP and keep running, after a while, it registered as OUT_OF_SERVICE and sticking on it, or even worse sticking on DOWN.

Dur

[2022-03-17 04:59] alceil commented on #380
Got it @OlgaMaciaszek

[2022-03-17 05:37] alceil commented on #380
I have raised a pr can you please review it @OlgaMaciaszek

[2022-03-17 10:12] #674 closed

[2022-03-17 11:27] #4072 closed

[2022-03-18 12:13] #380 closed

[2022-03-19 13:38] kunalbarchha opened #4084 "EurekaEndpoint ClassNotFound"
JDK 17
Spring Boot: 2.6.4
Spring Cloud: 2021.0.1

Eureka server is up and running and I can see the Eureka Dashboard on localhost:8000 which is configured in my application.yml

But, when configuring the client, the application doesn't start at all, with below stack trace:

[code]

However, the application was up and running in Spring boot version 2.0.5. Just started the upgrade process for better

[2022-03-19 13:44] kunalbarchha commented on #4084
Please close this. the issue was in the pom.xml. had to use spring-cloud-starter-netflix-eureka-client.

[2022-03-19 13:44] #4084 closed

[2022-03-22 11:35] spring-cloud-issues commented on #4061
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-03-22 11:35] #4061 closed

[2022-03-22 15:25] spring-cloud-issues commented on #4056
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-04-05 15:29] chokribs commented on #760
I got past this issue by changing @PostMapping to @RequestMapping.

[2022-04-06 03:01] shnkar007 commented on #2442
Even after I change to the services name, the clients are not registering

[2022-04-06 03:11] AaronMaru commented on #1392
Hello grovermanas,
Your prefilter will check if the request header has bearer.
What should I do if my behind service has one endpoint that I allow permitAll?

[2022-04-06 08:27] yanglinfu opened #4085 "Spring Framework RCE via Data Binding on JDK 9+"
Is spring cloud netflix affected by rce vulnerability?
If so, will a new version be released?

https://github.com/advisories/GHSA-36p3-wjmg-h94x: Spring Framework RCE via Data Binding on JDK 9+
https://tanzu.vmware.com/security/cve-2022-22965

[2022-04-11 16:32] weixsun commented on #4032
@user20161119

Create a package named `org.springframework.cloud.netflix.eureka.server` and full copy `EurekaController` in your project.

Then the easiest way is to inject these two configuration items via @Value

[code]

[2022-04-13 03:27] mersecate commented on #3701
Solucionado....

@Configuration
public class RestTemplateConfiguration {

    @Bean
    @LoadBalanced
    RestTemplate loadBalancedRestTemplate() {
        return new RestTemplate();
    }
}

[2022-04-13 04:05] spencergibb commented on #3701
@mersecate that can not be the solution as feign doesn't use rest template

[2022-04-13 12:02] #4032 closed

[2022-04-13 12:57] weixsun commented on #4085
@yanglinfu SC Eureka's latest release `3.1.1` dependency on the Spring Framework version `5.3.18`.
So it is not affected by this vulnerability.

[2022-04-13 12:58] DataProvided opened #4088 "dependency scope setting issues"
Hi,

We are developing a tool to check whether the dependencies' scopes in maven are set rightly and reasonably.

Our tools have found some issues in your project about scope setting in maven' pom.xml file.

- in `spring-cloud-netflix-eureka-client\pom.xml`, `org.springframework.boot:spring-boot-starter-security` scope should be `compile`  instead of `test`.

Please help us confirm whether the abo

[2022-04-16 10:31] asasas234 opened #4089 "Singleton bean creation not allowed while singletons of this factory are in destruction (Do not request a bean from a BeanFactory in a destroy method implementation!"
The version of spring-cloud-starter-netflix-eureka-client is 2.2.5.RELEASE,

I've seen issues related to this problem, and it doesn't seem to be the same as the problem I encountered, because the version I'm using is a relatively new version, and the problem in issues occurred and resolved in 2018.

The complete exception stack is as follows, and this error also occurs when the upstream is transfe

[2022-04-18 10:01] yanglinfu commented on #4085
@weixsun  I don't think so。The Spring cloud netflix 3.1.1 is released on 2022-02-18, but the Spring framework 5.3.18 is released on 2020-3-21. And the   Spring cloud netflix 3.1.1 dependency on the Spring Framework version is 5.3.15。

[2022-04-18 13:21] weixsun commented on #4085
Perhaps you did see this dependency at one point.However, the real dependent version control is determined by Spring Cloud and Spring Boot. `When Spring Boot ver 2.6.6` and `Spring Cloud Ver 2021.0.1` You'll get SC Eureka 3.1.1 dependency Sping 5.3.18

<img width="572" alt="image" src="https://user-images.githubusercontent.com/29357333/163814053-888209b9-1319-43be-b3bb-ef5a91a4ea07.png">

Overall,

[2022-04-19 13:21] cagrigurakin commented on #3091
same issue.

[2022-04-20 03:50] yanglinfu commented on #4085
ok， think you for yuor answer。I analysised the dependency tree. The module spring-beans  in srping cloud netflix is Always integrated with spring boot。So if i have a project is not  integrated spring boot、 spring cloud 、SC Eureka server, it just as a eureka client integrated spring framworke(5.3.18) for discovery  and invoke service from eureka server. I think the vulnerability is not impacted my

[2022-04-20 10:00] #4085 closed

[2022-04-20 11:03] ZhaoDaMing commented on #769
I have the same problem. This error occurs in FeignClient when rolling Deployment using Deployment in K8S. I suspect the root cause is that FeignClient keeps an old list of service providers and the Ribbon cannot move correctly to the next node if one node has been destroyed

[2022-04-23 06:14] Anuja09 commented on #3701
I am also facing same issue.

After few subsequent calls to external service, the calling service(spring boot micro service) getting connection timeout. Connection timeout and read timeout is set to 5s.
The usual calls takes ~50ms. And, then intermittently the microservice throws - SocketTimeoutException: connect timed out (5006ms), which in turn throws feign.RetryableException.

Not sure, why it

[2022-04-24 09:51] arke56 commented on #3696
Hi guys, did you have any solutions?
we the newest load balancer version (3.1.1)

Hi, did  you have any solutions?
I found gateway(2.1.5.RELEASE) + load balancer(newest 3.3.1 version) always exists the problem.
i try to upgrade eureka client to 2.1.6.Release, the problem not be resolved.  has you problem been solved?

[2022-04-25 09:42] OlgaMaciaszek commented on #3701
Hello, @Anuja09, @mersecate @Shona2708 @ankush953 @ananthakrishkk @priyankabhale @ayushbaheti16 ,  the `2.x` line is not supported anymore - please upgrade to `3.1.x` (`2021.0.x`) release train. If the problem still persists, provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2022-04-26 01:03] Anuja09 commented on #3701
@OlgaMaciaszek Can you please elaborate more on "the 2.x line is not supported anymore"?  what exactly not supported in 2.x anymore but available in 3.1.x?

[2022-04-26 08:52] OlgaMaciaszek commented on #3701
@Anuja09  Both Spring Cloud Netflix and Spring Cloud OpenFeign projects `2.x` are no longer supported - there's no work being done on it. Any bugs other than critical security issues won't be addressed or verified. If the issue also persists in `3.1.x`, for example, Spring Cloud OpenFeign `3.1.1`, Spring Cloud Eureka server `3.1.1` (Spring Cloud Dependencies bom `2021.0.1`), we will verify it. If

[2022-04-26 11:21] Anuja09 commented on #3701
@OlgaMaciaszek Can you please help understand -
Does the upgrade [3.1.x] apply to OpenFeign only or needs upgrade for other spring dependencies version also.
Currently I use spring boot version 2.1.12.RELEASE and OpenFeign 2.1.3.RELEASE version

[2022-04-26 11:37] OlgaMaciaszek commented on #3701
Hello @Anuja09 - these versions are not supported anymore (both Boot and OF). We suggest using dependency management with Spring Cloud dependencies bom rather than specifying versions for separate Spring Cloud projects. Please use [start.spring.io](https://start.spring.io/) to review the correct dependencies setup.

[2022-04-27 01:36] f-germano opened #4090 "CVE-2016-1000027 detected by vulnerability scanner software in some versions"
Hello everyone,

It has been used `spring-cloud-netflix-eureka-server:2.2.3.RELEASE` in some projects and after execute a vulnerability scanner it mentioned the vulnerability `CVE-2016-1000027` under `spring-core:5.2.7.RELEASE` dependency.

We did our own analysis and It seems not affect directly once it does not make HTTP Invoker endpoints. Hence it looks a false positive by the vulnerability sca

[2022-04-29 22:34] moksamedia commented on #3941
@jim-olsen Thanks! That helped me a ton.

[2022-05-02 12:56] BenEfrati commented on #4062
Hi @OlgaMaciaszek ,
@Ive4 is right

This bug is related to https://github.com/spring-cloud/spring-cloud-netflix/blob/27ac3379f6b391ccd605d212512f15c439825ecb/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/http/RestTemplateEurekaHttpClient.java#L203

In case of exception here:
https://github.com/Netflix/eureka/blob/ed0da19ca1c049c87e3dbf75b6015c1861d5c2d0/

[2022-05-03 11:40] spring-cloud-issues commented on #3701
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-05-03 18:47] mahulivishal commented on #4008
@andresestrella Doesn't seem to be working for 2.6.6
Did you try?

[2022-05-06 16:04] btnkumar commented on #4008
I did tried w/ Spring Boot 2.6.6, it's not working

[2022-05-08 16:22] simpletasks commented on #1333
Beans can be created in a static way annotating classes or configuration methods.
But also in a dynamic way with methods `registerBean`.
When I create `RestTemplate` bean in a dynamic way, everything works as expected except `LoadBalancing`.
A clean, and simple way to add load-balancing behavior to dynamically created RestTemplate is by the usage of LoadBalanced annotation on `RestTemplateBuilder`

[2022-05-11 08:24] zhanming opened #4091 "spring-cloud-netflix-eureka-server-3.1.2 frontend's navbar display wrong."
**Describe the bug**
artifact and version: spring-cloud-netflix-eureka-server-3.1.2

Since use webjars npm version and update jquery and bootstrap's version, there is something wrong with the front page's navbar.

1. In wro.xml, jquery path is not right.
2. And because of update bootstrap's version to 5.1, some navbar's css class is not exists.

**Simple**

Just setup a basic eureka server, and ta

[2022-05-11 14:38] spencergibb commented on #4090
In practice the spring core version is managed by spring boot and not spring cloud.

[2022-05-11 14:38] #4090 closed

[2022-05-12 02:44] malithyapa commented on #3487
Ran into the same issue in Debian 11 and removing javax.ws.rs from the classpath fixed it. Thanks @KonradEichstaedt!

[2022-05-12 14:29] mamin1976 opened #4093 "c.netflix.discovery.TimedSupervisorTask"
**Describe the bug**
Gateway service uses full CPU and generate error:
 WARN 1 --- [scoveryClient-1] c.netflix.discovery.TimedSupervisorTask  : task supervisor timed out

java.util.concurrent.TimeoutException: null
	at java.base/java.util.concurrent.FutureTask.get(FutureTask.java:204) ~[na:na]
	at com.netflix.discovery.TimedSupervisorTask.run(TimedSupervisorTask.java:68) ~[eureka-client-1.10.17.ja

[2022-05-17 05:22] yuhuangbin opened #4094 "EurekaClientConfigurationRefresher & DiscoveryClient#refreshInstanceInfo concurrent execution"
**Describe the bug**
As we konw, when RefreshScopeRefreshedEvent published, service instances perform deregister and register actions.
refer: [EurekaDiscoveryClientConfiguration](https://github.com/spring-cloud/spring-cloud-netflix/blob/main/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/EurekaDiscoveryClientConfiguration.java#L86-97)
deregister and regis

[2022-05-17 12:13] kvmw commented on #4061
@mfolivas what you see in the above log is the default `eureka.instance.instance-id` and has nothing to do with the `eureka.instance.hostname`.   the default instance-id is made of your machine hostname (or ip) and application name (`host-name`:`app-name`).  You can set the instance-id in the application.properties, if you don't like the default one.

[2022-05-17 16:23] kvmw opened #4095 "Better log messages for eureka-clients"
**Is your feature request related to a problem? Please describe.**

When eureka-instance is registering itself during startup, it is logging the registration state with messages containing the `eureka.instance.instand_id`.  the default `instance_id` uses the host-name (machine hostname) which usually is the same as default `eureka.instance.hostname`.  After changing the `eureka.instance.hostname`

[2022-05-18 08:41] TheRaspyDev commented on #971
@d3minem: You suggest to extend ProxyRequestHelper. I'm trying to implement this but the overridden getQueryString method is never called.
Could you please provide a full example of your ExtendedProxyRequestHelper class?

Thanks in advance

[2022-05-18 17:57] davidsoles commented on #4093
Hello,
I am having the same error.
[code]
The configuration is the following:
- Eureka Server with Spring Boot 2.6.6 and Spring Cloud Version 2021.0.1
- Eureka Client with Spring Boot 2.6.7 and Spring Cloud Version 2021.0.2
- Both with Java 17.

`application.properties` file in the client:
[code]
There are multiple versions of Eureka Clients among many other microservices and the behaviour is the

[2022-05-19 01:47] yuhuangbin commented on #4094
It is recommended that the operation of querying the shared variable first and then updating it be locked here, and this problem has not been reproduced after the lock is currently added. @OlgaMaciaszek Can you give a little advice?

[code]

[2022-05-19 08:05] OlgaMaciaszek commented on #4094
Hello, @yuhuangbin, thanks for reporting the issue. Will take a look next week.

[2022-05-19 19:05] hibahasan998 commented on #4008
I did, it worked

[2022-05-20 09:22] ViliusS commented on #1142
Not sure why this ever get closed but it IS a bug in how static CSS and JS resources are served.
Here https://github.com/spring-cloud/spring-cloud-netflix/blob/9e1f7f6aad9becbfdb42af4bd1960e87f1ee897c/spring-cloud-netflix-eureka-server/pom.xml#L172 generated static resources are copied to /static/eureka/ folder which is then served via HTTP server from /static/ folder. Since HTTP server serves the

[2022-05-20 16:42] hsteidel commented on #4008
Worked for me in Spring Boot 2.6.7

[2022-05-22 22:05] ViliusS commented on #4091
Should be fixed by https://github.com/spring-cloud/spring-cloud-netflix/pull/4096

[2022-05-23 10:33] OlgaMaciaszek commented on #4008
We definitely discourage using Spring Cloud Zuul. The project is no longer maintained and there might be dependencies with vulnerabilities present. We encourage migrating to  Spring Cloud Gateway instead.

[2022-05-27 10:15] yuhuangbin commented on #4094
Hello, @OlgaMaciaszek , Is there a conclusion to this issue?

[2022-05-28 11:24] Jamesmahaitao opened #4097 "Library source does not match the bytecode for class HystrixTargeter"
**Describe the bug**
versioin:1.4.5
when i download the source file from maven,and idea show the error:
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/17718184/170823164-7cfd2929-0f09-4663-b0d8-8f28fbf4c70b.png">
and i click on the show diff:
<img width="1416" alt="image" src="https://user-images.githubusercontent.com/17718184/170823217-0c2928de-827b-4b12-af40-ed65255

[2022-05-30 06:36] leonard520 opened #4098 "Eureka 0-downtime Blue/Green deployments issue"
**Describe the bug**
We are leveraging eureka for the service discovery function and we have two different deployments for one app as blue-green deployments.
At beginning, deployment A is start up as `eureka.instance.initialStatus=UP` while deployment B as `eureka.instance.initialStatus=OUT_OF_SERVICE`. After running sometime, we switch them by `PUT /eureka/v2/apps/appID/instanceID/status?value={O

[2022-05-30 08:52] menelaosbgr commented on #483
Same problem in 2022... seems to not really be breaking anything. Just random errors...and funny thing is that it's on localhost.

[2022-06-03 05:18] Lakshman54 commented on #3064
I also got the same exception

[2022-06-03 14:43] leonard520 commented on #4098
I find that the `initial status` can be refreshed when `EurekaInstanceConfigBean` is reloaded.
So one possible solution is to use Config Server to store `eureka.instance.initialStatus` and when want to swap the two deployments,
1. update the value in Config Server
2. `curl -XPOST http://{eureka-client}/actuator/refresh` together with overriding the status to the eureka server-side so that they can

[2022-06-03 18:25] pvraju1988 commented on #4008
@rkeytacked thanks  a lot and share the test cases for the same class.

[2022-06-03 19:05] rkeytacked commented on #4008
The tests for this configuration class are left as an exercise for junior engineers… :sunglasses:

[2022-06-06 16:01] pgburra opened #4100 "Sporadic timeout from eureka client during heartbeat to eureka server"
We are seeing intermittent (no specific schedule or cadence) errors when eureka clients are sending heartbeats to eureka server. Whenever it fails the 1st retry is always successful. This issue is happening only in our production environment but not in any other environments. We had restarted/redeployed the apps in lower environment (not prod) but cannot replicate this behavior. Please look into i

[2022-06-08 02:17] chinausers commented on #373
The application can call Eureka's API to force the refresh state at startup or shutdown

[2022-06-11 22:06] brunoquei2105 commented on #4008
Same problem using spring boot 2.7

[2022-06-12 20:28] ViliusS opened #4101 "lease expiration on standalone Eureka server with self-presenvation enabled is broken"
It looks like lease expiration on standalone Eureka server with self-presenvation enabled is completely broken. I have the following configuration:
[code]
If I start completely empty server with this configuration it says:
[code]

I tracked it down to `defaultOpenForTrafficCount` which by default is set to 1, changed to
`eureka.instance.registry.defaultOpenForTrafficCount=0` . Now the server start

[2022-06-13 06:18] ViliusS commented on #4101
To add on top of that, looks like expectedNumberOfClientsSendingRenews is never passed to Eureka and is always calculated by Eureka itself automatically.

[2022-06-13 16:59] OlgaMaciaszek commented on #3941
Fixed.

[2022-06-13 16:59] #3941 closed

[2022-06-15 05:53] BenEfrati opened #4103 "RestTemplateEurekaHttpClient not closing HttpClient on shutdown"
**Spring Cloud 2021.0.0
Spring Boot 2.6.8**

**Bug Description:**
`RestTemplateEurekaHttpClient` is not closing `HttpClient` on shutdown. This leads to TCP `CLOSE_WAIT` connections to eureka server.

`EurekaClient` will shutdown when an exception occurs on an http request, but not shutdown `HttpClient`.

This bug is related to https://github.com/spring-cloud/spring-cloud-netflix/blob/27ac3379f6b39

[2022-06-16 12:44] andrey-6478 commented on #4008
Fix didn't work for me (I got "java.lang.IllegalStateException: No ServletContext set" due to some circular dependencies), so I wrote my own (hack, but works):
`public class ZuulConfig2 implements ApplicationContextAware {

    @Override
    public void setApplicationContext(ApplicationContext applicationContext) throws BeansException {
        if (applicationContext.containsBean("zuulHandlerMappi

[2022-06-21 18:44] subodh-kumar-tfs opened #4104 ""status":500,"error":"Internal Server Error","message":"com.netflix.client.ClientException: Load balancer does not have available server for client: my-service""
**dependencies Details:**
**Java: 11
openfeign version: 2.2.1 Release
sprint cloud version: 2.2.1 Release / Hoxton.SR12
hystrix version: 2.2.1 Release**

Unable to find the actual iisue. Can someone give any pointer on the issues?

com.netflix.client.ClientException: Load balancer does not have available server for client: my-service
	at com.netflix.loadbalancer.LoadBalancerContext.getServerFromLo

[2022-06-24 19:10] spencergibb commented on #4098
You can use the `ServiceRegistry.setStatus()` method. https://github.com/spring-cloud/spring-cloud-netflix/blob/main/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/serviceregistry/EurekaServiceRegistry.java#L75

[2022-06-27 16:18] leonard520 commented on #4098
@spencergibb Thanks for the response. May I double confirm that the operation `ServiceRegistry.setStatus()` happens in client app side? If that case, when should the client app set the value? Does it mean the client app should be aware of the time the swap of blue-green happens?

[2022-07-02 08:50] dhananjay-ng commented on #3701
Using `@EnableDiscoveryClient` instead of `@EnableEurekaClient` worked for me.

[2022-07-03 05:30] BenEfrati commented on #4103
https://github.com/spring-projects/spring-boot/issues/31075#issuecomment-1128766582

[2022-07-03 06:53] jujunchen commented on #3959
e...

[2022-07-04 12:48] OlgaMaciaszek commented on #3701
Thanks for the details @Anuja09 , however, as requested below, could you please confirm the version the issue is on?

[2022-07-05 20:18] spencergibb commented on #4098
`ServiceRegistry.setStatus()` can happen anywhere. It's just calling the eureka server API. I'd say that **something** has to be aware of the blue/green swap, but not necessarily a client.

[2022-07-06 02:49] leonard520 commented on #4098
@spencergibb I think the problem we found is caused by the obsolete client status. Even the server-side is aware of the blue/green swap, when the client lost connection due to a network issue or so, the client will re-registry with a wrong status.

[2022-07-08 18:49] spencergibb commented on #4098
Something has to change the status of that client, there's no other way around it.

[2022-07-11 12:50] spring-cloud-issues commented on #3701
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-07-13 05:30] yadunandanbhat opened #4105 "Codacy badge is broken. Remove it or fix it."
**Describe the bug**
The codacy badge is broken and not showing correctly and opening it leads to a page that says "Request Handler not found"
See the image below.
![image](https://user-images.githubusercontent.com/54680617/178657854-6dec977a-2441-4d84-a6e8-19fe741c74a3.png)

[2022-07-13 10:21] ishivesh commented on #4093
Any updates here, facing the same issue :(

[2022-07-14 06:56] ashuit87 commented on #1958
[Unable to register Eureka client on SSL enabled Eureka server on Openshift](https://stackoverflow.com/questions/72948758/unable-to-register-eureka-client-on-ssl-enabled-eureka-server-on-openshift)

[2022-07-14 06:57] ashuit87 commented on #1958
@aashish-tripathi  could you please help me on this

[2022-07-14 07:04] ashuit87 opened #4106 "Unable to register Eureka client on SSL enabled Eureka server running on OpenShift Pod"
I have deployed my eureka server on openshift which has generated the ssl enabled(HTTPS) route, I am able to get the Eureka server page with that route but when I am trying to register my eureka client with the https eureka server serviceUrl(route) I am getting certificate error, Is there any way to customize the Eureka client to override the eureka client to call the custom RestTemplate class to

[2022-07-14 07:05] ashuit87 commented on #4106
https://stackoverflow.com/questions/72948758/unable-to-register-eureka-client-on-ssl-enabled-eureka-server-on-openshift

[2022-07-15 19:59] zorlac opened #4107 "Peer Awareness java.net.SocketTimeoutException: Read timed out in Pivotal Cloud Foundry"
I am trying to create a 3 node eureka cluster. Each peer is unsuccessfully register to one another because of the read time out issue. I noticed that when I set securePortEnabled to false and nonSecuredPortEnabled to true and remove statusPageUrl, healthCheckUrl and homePageUrl settings. Peers is able to register but not consistently, peer3 can register to both peer3 and peer2 but peer1 can't regi

[2022-07-18 12:52] spring-cloud-issues commented on #3701
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-07-18 12:52] #3701 closed

[2022-07-25 02:52] natarajangopi opened #4108 "Cannot create Jersey client and Failed to start bean 'eurekaAutoServiceRegistration'; nested exception is java.lang.NullPointerException in eureka client implementation"
Hi All,
 I am using sprint boot 2.6.3 version and using spring cloud version 2021.0.1 version.
I have made the war with eureka server, it is working fine.
When i made the eureka client code as war and deploy the war into tomcat, i am getting the below exceptions
Please suggest me the solution for this.
[code]

[2022-07-25 14:00] #4107 closed

[2022-07-25 20:47] mwisnicki commented on #4008
A super simple fix/hack is to place this in your sources:

[code]

This will override the interface supplied by Spring.

[2022-07-27 08:29] irwinai opened #4109 "eureka.client.initial-instance-info-replication-interval-seconds with initial delay can not take effect bug"
**Describe the bug**
Spring Boot Version: 2.7.2 || 1.9.8

Hello, team
When I want to use the eureka delay initial function, I found that is not effect in the case.
such as I set the property:eureka.client.initial-instance-info-replication-interval-seconds=100
But, in the EurekaServiceRegistry -- register function, used the setInstanceStatus to update initial status

@Override
	public void register

[2022-07-29 15:11] arundotin commented on #769
@spencergibb - any solution to this problem ? facing a similar issue in our prod environment. Only restart is helping us

[2022-08-01 09:26] yangqiancheng90 opened #4110 "Getting all instance registry info without timeout"
the version of eureka as follows:
<dependency>
    <groupId>org.springframework.cloud</groupId>
    <artifactId>spring-cloud-starter-netflix-eureka-client</artifactId>
    <version>3.1.3</version>
</dependency>

I find that the method of RestTemplateTransportClientFactory#restTemplate(String serviceUrl) creates RestTemplate without config of timeout. This will cause getting all instance registry i

[2022-08-01 11:39] www147258 opened #4111 "OUT_OF_SERVICE的Node被莫名其妙的删除，导致重新注册为UP"
**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.

**Sample**
If possible, please provide a test case or sample application that reproduces
the problem. This makes it much easier for us to diagnose the problem and to verify that
we have fixed it.

[2022-08-01 11:40] www147258 commented on #4111
eureka client版本1.7.2

spring cloud 版本1.4.5

[2022-08-02 04:53] kbhatt-equinix commented on #4008
@OlgaMaciaszek

Is there any reference to migrate Zuul to Gateway? If it's straight forward then we can easily move else to upgrade the bunch of huge services is going to take some time.

[2022-08-02 04:55] kbhatt-equinix commented on #4008
@OlgaMaciaszek
Is there any reference to migrate Zuul to Gateway? If it's straight forward then we can easily move else to upgrade the bunch of huge services is going to take some time.

[2022-08-02 04:56] kurbhatt commented on #4008
@OlgaMaciaszek
Is there any reference document for to migrate Zuul to Gateway? If it's straight forward then we can easily move else to upgrade the bunch of huge services is going to take some time.

[2022-08-02 13:18] GuilhermeMelo01 commented on #2923
add this configuration in your aplication.yml

eureka.client.register-with-eureka=false
eureka.client.fetch-registry=false

[2022-08-03 16:08] OlgaMaciaszek commented on #4008
@kurbhatt - it is quite straightforward. The main difference is that you will need to define the routes. There's no specific migration guide, but everything you'll need is in the [Gateway documentation](https://docs.spring.io/spring-cloud-gateway/docs/current/reference/html/).

[2022-08-03 20:22] mayex-rony opened #4112 "Error creating bean with name 'eurekaApplicationInfoManager'"
Iam use grpc + spring cloud +eureka ,but eureka client has this error,how can i do?

status=Status{code=UNAVAILABLE, description=Failed to update server list for bh-server, cause=org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'scopedTarget.eurekaClient' defined in class path resource [org/springframework/cloud/netflix/eureka/EurekaClientAutoConfigur

[2022-08-08 11:24] Rapter1990 opened #4113 "Docker compose Connection Refused and Hibernate dialect not set issue."
Hi,
I'm trying to implement an example of Spring Boot Microservices. Here is my github link : [Link](https://github.com/Rapter1990/SpringBootMicroservices)
I have a problem in my docker-compose.yml.

Only keycloak, mysql, config server and lastly rabbitmq works properly while other service cannot work flawlessly.

Eureka server throws the issue shown below.
[code]
Api gateway throws the issue show

[2022-08-11 20:06] idatta84 commented on #2192
@ryanjbaxter this link http://cloud.spring.io/spring-cloud-static/Dalston.SR3/#spring-cloud-ribbon-without-eureka is no longer valid. Do you know if this solution is still valid ?

[2022-08-11 21:14] ryanjbaxter commented on #2192
Ribbon and Zuul are no longer supported, so no its no longer valid.

[2022-08-12 15:02] idatta84 commented on #2192
@ryanjbaxter  do you know of any other solution for this ?

[2022-08-12 15:17] ryanjbaxter commented on #2192
Are you using Zuul?

[2022-08-12 16:08] idatta84 commented on #2192
yes using zuul but not eureka

[2022-08-12 18:48] ryanjbaxter commented on #2192
Here is a working link, https://docs.spring.io/spring-cloud-netflix/docs/2.2.9.RELEASE/reference/html/#spring-cloud-ribbon-without-eureka

However note that we no longer support this

[2022-08-23 11:28] EnnBi commented on #2056
Can you specify any solution you implemented for this?

[2022-08-25 10:50] ishrivasayush commented on #3064
I also got the same Exception

[2022-09-01 10:25] OlgaMaciaszek commented on #4064
Fixed with https://github.com/spring-cloud/spring-cloud-netflix/pull/4075.

[2022-09-01 10:25] #4064 closed

[2022-09-01 11:06] #4073 closed

[2022-09-01 11:10] OlgaMaciaszek commented on #4080
Hello, @Incarnation-p-lee , thanks for submitting the issue. We have done some changes around these areas recently: https://github.com/spring-cloud/spring-cloud-netflix/commit/a5e038cf13ee02845dfd5d5a8cf1aaa238b8fae5, https://github.com/spring-cloud/spring-cloud-netflix/commit/079ae668c08523399f105db51e3cab120ff512ff. Please verify against Spring Cloud `2021.0.3` and let us know if the problem per

[2022-09-01 11:12] OlgaMaciaszek commented on #4088
Not sure why it would be in compile. We do use the configuration and deps brought about by this starter in our tests.

[2022-09-01 11:15] OlgaMaciaszek commented on #4091
Fixed with the linked PR.

[2022-09-01 11:15] #4091 closed

[2022-09-01 11:17] OlgaMaciaszek commented on #4093
Judging by the stack trace, the issue is pertinent to https://github.com/Netflix/eureka repo and not the Spring Cloud Netflix Eureka integration that we provide, so the issue should be opened in that repo.

[2022-09-01 11:17] #4093 closed

[2022-09-01 11:20] OlgaMaciaszek commented on #4094
Looks like a bug.

[2022-09-01 11:28] OlgaMaciaszek commented on #4100
Hello @pgburra , thanks for reporting the issue. Could you provide the Eureka server logs with matching timestamps (with debug logging enabled). Also, without some kind of reproducible sample/ demo, it is going to be very difficult to verify this issue. Please see if you can come up with a reproducible scenario.

[2022-09-01 11:32] OlgaMaciaszek commented on #4103
Hello, @BenEfrati , thanks for reporting it. Looks like a bug.

[2022-09-01 11:34] OlgaMaciaszek commented on #4104
Hello, @subodh-kumar-tfs . `2.2.1.RELEASE` has not been supported for a very long time now. Also, Ribbon is no longer supported. Please migrate to Spring Cloud LoadBalancer.

[2022-09-01 11:34] #4104 closed

[2022-09-01 11:40] OlgaMaciaszek commented on #4113
It seems like the issue is in your docker setup, not a bug in any of the libraries, so, unfortunately, we will not be able to help. You should probably start with fixing up your DB setup.

[2022-09-01 11:40] #4113 closed

[2022-09-01 11:43] OlgaMaciaszek commented on #4112
@mayex-rony  Please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue.

[2022-09-01 11:43] OlgaMaciaszek commented on #4112
Please learn how to properly [format code and logs](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2022-09-01 11:44] #4111 closed

[2022-09-01 13:59] #4105 closed

[2022-09-01 14:51] OlgaMaciaszek commented on #4106
I'm not sure about your use case - I'd assume you either don't want to use certificates, so you disable SSL or you want to use them, in which case you enable SSL and need to have valid certificates on both sides. Please provide more information about your usecase.

[2022-09-03 18:10] ViliusS commented on #4101
Here you go
[eureka.zip](https://github.com/spring-cloud/spring-cloud-netflix/files/9483149/eureka.zip)

Just run this Maven project which should start Eureka server in standalone mode. After that, connect any number of Eureka clients to it. In the logs you will always see: `c.n.e.r.PeerAwareInstanceRegistryImpl : Current renewal threshold is : 0`.

This doesn't allow leases to expire, unless you

[2022-09-05 03:40] cc132 commented on #2189
Hi，germn，I get the same problem
![image](https://user-images.githubusercontent.com/43001304/188355668-0e5582a0-5086-4188-9eb2-047fca3734fa.png)

I have two servcies called ArticleApplication（service provider） and UserApplication(service consumer), when I configure ribbon retry police, I find the same ArticleApplicaion service is called again, this phenomenon is inconsistent with the explanation of

[2022-09-05 16:01] OlgaMaciaszek commented on #4101
For `defaultOpenForTrafficCount` the javadoc sais "Should be set to 0 for peer replicated eurekas". For non-peer-replicated eurekas it should be one. Why are you setting it to 0 for testing with one server instance?

[2022-09-05 16:21] OlgaMaciaszek commented on #4101
Also, the value of `expectedNumberOfClientsSendingRenews` is passed initially while creating the registry, that is modified by the `openForTraffic()` method call. The javadoc for that method sais: "If `PeerAwareInstanceRegistryImpl#openForTraffic(ApplicationInfoManager, int)` is called with a zero argument, it means that leases are not automatically cancelled if the instance hasn't sent any renewa

[2022-09-05 16:29] OlgaMaciaszek commented on #4101
However, after I've run a client against the updated sample, when `register` is called, the value I set in `expectedNumberOfClientsSendingRenews` + 1 is being used to set the value of `expectedNumberOfClientsSendingRenews` before calling `updateRenewsPerMinThreshold()`, so that also behaves as expected.

[2022-09-05 16:55] ViliusS commented on #4101
`defaultOpenForTrafficCount` other than zero doesn't work if I change `expected-client-renewal-interval-seconds` to let's say 15 or 10 seconds. In such case, renewal threshold is always much higher than it should be for the lease expiration to work correctly.

So, maybe `defaultOpenForTrafficCount` is good for standard settings, but math definitely breaks somewhere with custom settings.

Btw, I do

[2022-09-08 11:12] spring-cloud-issues commented on #4080
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-08 11:17] spring-cloud-issues commented on #4089
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-08 11:17] spring-cloud-issues commented on #4088
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-08 11:32] spring-cloud-issues commented on #4100
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-08 11:32] spring-cloud-issues commented on #4098
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-08 11:47] spring-cloud-issues commented on #4112
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-09-11 15:45] leonard520 commented on #4098
Do we have a plan to improve this behavior that the client can be notified about the change? I believe this is a common issue for Eureka users.

[2022-09-12 08:57] gzmrst-sr commented on #4098
We are running into this problem as a user of a PaaS with a provided Eureka server.
The PaaS does blue/green deployments by setting the status as described by @leonard520 above...
The application being deployed has no knowledge of how it is deployed or of any change it needs to make in the status.

What should be the intended behaviour in situations like this? Do we have to customise the client si

[2022-09-15 00:13] jinsenianhua-ai opened #4119 "ERROR DiscoveryClient - ........ was unable to send heartbeat!"
Hi,

First, I upgraded spring cloud from Hoxton. SR12 to 2021.0.2, and spring cloud netflix from 2.2.10. RELEASE to 3.1.2. Now, The discovery client are occasionally unable to send heartbeat!, It will recover automatically after 5 seconds. This phenomenon happens about 10 times a day. Could you help on this:
![image](https://user-images.githubusercontent.com/43307372/190283760-7cc1d475-bae7-4139-9

[2022-09-15 11:12] spring-cloud-issues commented on #4080
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 11:12] #4080 closed

[2022-09-15 11:17] spring-cloud-issues commented on #4089
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 11:17] #4089 closed

[2022-09-15 11:17] spring-cloud-issues commented on #4088
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 11:17] #4088 closed

[2022-09-15 11:32] spring-cloud-issues commented on #4100
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 11:47] spring-cloud-issues commented on #4112
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 11:47] #4112 closed

[2022-09-15 14:52] spring-cloud-issues commented on #4106
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-09-15 14:52] #4106 closed

[2022-09-22 14:15] rohitkrishna-marneni commented on #3703
any update on this?

[2022-09-22 15:49] spencergibb commented on #3703
no, there isn't

[2022-09-29 20:15] NewAgeCZ opened #4121 "HeartBeat request is not properly url encoded"
Hi all,

**Describe the bug**
I am migrating an application that uses Jersey 1 to RestTemplate.
During migration I have encountered heart beat requests returning 400 Bad request status code and upon further debugging found out, that the sent request is not complete.
The application uses instanceId in format of service#version and that is the problem.

Using spring-cloud-netflix-eureka-client 3.1.2

[2022-10-04 17:51] spencergibb opened #4122 "Upgrade to eureka 2.0.0-rc.3"
This includes compatibility with jakartaee. The wire API has not changed.

Things that need fixing are the css/js for the eureka console and a number of `FIXME: 4.0` items.

[2022-10-04 17:52] #4122 closed

[2022-10-04 19:37] semagnum opened #4123 "Eureka Client connecting to OAuth2 secured server: ideal way to provide my own WebClient?"
### Question

I have a webflux app to be used as a Eureka client (with `eureka.client.webclient.enabled`). The Eureka server is secured behind OAuth2. I want to be able to connect to it securely with a token retrieved with my own `ClientRegistration`. What is the preferred way to provide my own `WebClient` to Eureka's `WebClientEurekaHttpClient`?

### What I've tried
I have tried overriding the `E

[2022-10-05 14:14] semagnum commented on #4123
Resolved issue myself, figured this would be helpful for others as I've seen _no_ one show examples of this. But I had looked over this piece of documentation, so forgive me for being somewhat redundant: [cloud.spring.io/spring-cloud-netflix/multi/multi__service_discovery_eureka_clients.html#_authenticating_with_the_eureka_server](https://cloud.spring.io/spring-cloud-netflix/multi/multi__service_d

[2022-10-05 14:14] #4123 closed

[2022-10-06 01:11] jizhuozhi opened #4125 "Add additional spring configuration metadata for predefined metadata-map keys"
**Is your feature request related to a problem? Please describe.**
When I'm configuring an instance, I need to know which keys in the metadata map are predefined and what they mean.
The predefined keys just like `weight`, `zone` and so on.
<img width="936" alt="Interactive actions" src="https://user-images.githubusercontent.com/31175030/194192148-1fb0479c-999d-4948-920b-cf451b1393b1.png">

**Descr

[2022-10-09 08:25] weishaofei commented on #3875
![image](https://user-images.githubusercontent.com/13836401/194746058-4ed44fae-9930-460a-8151-ebf959e9bac5.png)

this will work for version 2.2.9.RELEASE

[2022-10-11 15:58] MallikharjunaTeja commented on #4095
i want to work on this @OlgaMaciaszek

[2022-10-12 03:21] Kaide0521 opened #4127 "CVE-2022-41852 in commons-jxpath-1.3"
Hello. There is CVE-2022-41852 with high level risk in commons-jxpath-1.3. This library is transitive for spring-cloud-netflix-eureka. Is the application using spring cloud netflix eureka affected by this vulnerability?

[2022-10-12 10:52] OlgaMaciaszek commented on #4095
Sounds great @MallikharjunaTeja. I have assigned the issue to you. Feel free to submit a PR.

[2022-10-12 10:53] OlgaMaciaszek commented on #4095
@MallikharjunaTeja please work on the PR against `3.1.x` branch instead of `main` for this feature.

[2022-10-19 02:44] bsmahi opened #4128 "java.lang.NoClassDefFoundError: org/apache/hc/client5/http/classic/HttpClient"
Created a sample project using
1. Spring Boot Version 3.0.0-SNAPSHOT,
2. Java Version 17
3. Spring Cloud Version as 2022.0.0-M5
4. Added the below repo id as well
[code]
After adding the `spring-cloud-starter-netflix-eureka-client` artifactId, we are getting the below error while running the application
`java.lang.NoClassDefFoundError: org/apache/hc/client5/http/classic/HttpClient`

Have tried add

[2022-10-19 19:03] spencergibb commented on #4128
Spring Cloud 2022.0.0-M5 is not compatible with boot snapshots. Use 3.0.0-M5

[2022-10-19 19:05] #4128 closed

[2022-10-20 02:26] bsmahi commented on #4128
Thanks @spencergibb for your time

[2022-10-26 14:26] MallikharjunaTeja commented on #4095
@OlgaMaciaszek i am unable to build and getting this error
![Screenshot (94)](https://user-images.githubusercontent.com/112918796/198053194-457576f7-6ecd-4345-83d2-d2dfc1d079f8.png)

[2022-10-26 15:30] OlgaMaciaszek commented on #4095
@MallikharjunaTeja Please build and add changes for it on `3.1.x` branch.

[2022-10-27 11:13] gigermocas opened #4130 "Wrong status and health check urls if random management port"
If I configure a random management port (`management.server.port=0`) in the eureka client's spring boot application properties, eureka calculates the _statusPageUrl_ and _healthCheckUrl_ with the incorrect port, i.e. not the actual management port, but the one for the default server.

I think that this is an unintended consequence of the fix for https://github.com/spring-cloud/spring-cloud-netflix

[2022-10-28 03:14] sdzx3783 commented on #4103
Recently, I encountered this problem in the production environment. I found that the httpclient was created many times. The httpclient connection pool did not enable the thread for clearing expired connections. The problem was solved by sharing one httpclient and enabling the IdleConnectionEvaluator thread. The code is as follows:

`
@Configuration
public class EurekaConfig {

    private final At

[2022-10-28 09:31] OlgaMaciaszek commented on #4103
Hello @sdzx3783 - thanks for your comment. Would you like to submit a PR with a fix?

[2022-10-28 19:01] mohan-XD commented on #4014
Hi @hubvarun,
I am facing a similar kind of issue, can you tell me how did you solve it?

Error msg :
throws java.lang.Exception' threw exception; nested exception is com.fasterxml.jackson.databind.JsonMappingException: Not an array:

Caused by: org.apache.avro.AvroRuntimeException: Not an array:

[2022-10-29 11:39] jizhuozhi commented on #4125
Hello, @OlgaMaciaszek , PLAT.
I think it is useful to given a list and type hinting for predefined metadata keys. There is no runtime cost, although the type of values are always `String`, but the IDE will known they are `Integer` or `Boolean` and so on.

[2022-10-30 12:31] nazrul-kabir opened #4131 "How to change service path in Zuul route"
I want to re-write my URL to map to a specific service path.
I want to route /orders** to /api/v1/** on the micro service. An example full endpoint could be /orders, and it would map to the microservice at this full endpoint /api/v1/function1.

I'm using Eureka Service Discovery, so I can't use uri. Here is my application.properties:

[code]

I tried using a custom path filter as mentioned [here](

[2022-10-31 11:34] OlgaMaciaszek commented on #4125
Thanks, @jizhuozhi. Will take a look this week.

[2022-10-31 14:05] OlgaMaciaszek commented on #4125
@jizhuozhi I agree that it could be helpful fine, however, that's not definitely a team priority at this point. Let me know if you would be interested in contributing it?

[2022-10-31 14:36] jizhuozhi commented on #4125
Hello, @OlgaMaciaszek . I'm interested in it and  I'll be contributing it in the next few weeks :)

[2022-11-01 03:26] rahuldhangar02 commented on #3492
@komal3770  thanks your solution is working

[2022-11-01 07:06] ProdaptHub commented on #3997
Anyone have answer for this please give the solution. I am also facing the same issue.

[2022-11-02 09:47] OlgaMaciaszek commented on #3997
@ProdaptHub please provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) that reproduces the issue if you would like the team to take a look at it.

[2022-11-02 10:57] ProdaptHub commented on #3997
This the link for the repo having three spring boot projects
https://github.com/ProdaptHub/microservicesv1
Thanks for the reply.

[2022-11-02 10:58] OlgaMaciaszek commented on #3997
Thanks, @ProdaptHub . Please also provide the steps to reproduce the issue.

[2022-11-02 11:05] ProdaptHub commented on #3997
Steps:
1. Import the projects to the your IDE.
2. Execute the netflix-eureka-naming -server
3. Execute the currency-exchange-service
4. Execute the currency-conversion-service
5. Open browser or postman and paste the endpoints and which you will find int the endpoints file.
6. When you will execute the feign endpoint. You will get the above exception.

[2022-11-02 11:39] #4125 closed

[2022-11-02 11:58] OlgaMaciaszek commented on #3997
@ProdaptHub I have run your sample and executed HTTP requests to all the listed endpoints, but I have got the correct response for all the endpoints.

[2022-11-02 12:23] ProdaptHub commented on #3997
Okay @OlgaMaciaszek Thanks for letting me know. I will figure it out from my end and commet back here.

[2022-11-03 10:50] sdzx3783 commented on #4103
I provide a temporary solution without changing the source code

[2022-11-07 12:52] OlgaMaciaszek commented on #4131
Hello @nazrul-kabir. Spring Cloud Netflix Zuul has been out of support for quite some time now. We strongly recommend migrating over to Spring Cloud Gateway in order to avoid security issues.

[2022-11-07 12:52] #4131 closed

[2022-11-07 15:12] OlgaMaciaszek opened #4133 "Migrate out of deprecated WebClient exchange() method"

[2022-11-07 15:44] #4028 closed

[2022-11-08 11:31] #3217 closed

[2022-11-09 06:28] RogCode commented on #3558
Just add `@LoadBalanced` annotation

`@Configuration
public class RestTemplateConfiguration {

	@Bean
	@LoadBalanced
	public RestTemplate registerRestTemplate() {
		return new RestTemplate();
	}
}`

[2022-11-10 12:03] apo1967 commented on #291
Had the same issue with basic Spring Security enabled. In the server config don't do
`eureka.client.register-with-eureka=false`

Solved it by self-registering, like so:

Server config
`
# Spring
server.port=8761
spring.application.name=discovery-service

# Spring security
spring.security.basic.enabled=true
spring.security.user.name=username
spring.security.user.password=password

# Eureka service

[2022-11-10 18:42] kzwang opened #4135 "Log health contributor status when overall eureka health status changed"
**Is your feature request related to a problem? Please describe.**
When 1 health contributor report it's DOWN, it will cause the overall eureka health status for that instance to be DOWN. If we look at the health actuator endpoint while the instance is DOWN, we can see which health contributor caused it to go down. However, if it recovered quickly, from logs we only know the instance changed from

[2022-11-14 11:26] AJ198081 commented on #1646
Try defining the property - eureka.instance.hostname=http://${server.address}:${server.port}
where server. address and server. port are defined separately.

It may work for you.

[2022-11-15 14:29] taasjord commented on #4131
I did it just like that, with a custom path filter, with the only difference i supplied custom configuration properties to not hard code the path on the service. And I had a specific order on it:
[code]

[2022-11-15 18:50] spencergibb opened #4136 "Upgrade to eureka 2.0.0-rc.4"

[2022-11-15 19:07] #4136 closed

[2022-11-16 07:37] aprijal99 opened #4137 "Eureka clients failed to connect to authenticated eureka server with status code 401"
spring-boot-starter-security: 2.7.4
spring-cloud-starter-netflix-eureka-server: 3.1.3 (spring-cloud-dependencies: 2021.0.3)

### Eureka server configuration
EurekaServerApplication.java:

[code]

SecurityConfig.java:

[code]

application.properties:

[code]

### Eureka client configuration
ProductServiceApplication.java:

[code]

application.properties:

[code]

When I tried to run the client appl

[2022-11-19 13:12] Chay81 opened #4138 "Eureka instance returning as Unknown"
Hi,

I'm getting an UNKNOWN instance in my eureka registry for one particular service. i have given all the necceary configuration but still return as unknown in the console and the registry.

below is information needed. Please help me where i'm going wrong

Console Trace:
[code]
Controller Class

<img width="623" alt="image" src="https://user-images.githubusercontent.com/103878314/202852496-cca8

[2022-11-23 18:15] iromu opened #4139 "EurekaClientHints not working with native"
**Describe the bug**

[code]

When running a native compiled app with Eureka enabled as client, the application fails to start with the following error:

[code]

**Sample**
https://github.com/iromu/native-eureka-client/tree/3.0.x

[2022-11-24 15:16] DidierLoiseau commented on #3941
@OlgaMaciaszek Could there be something wrong with this issue’s milestone? You indicated 3.1.3 but it was already released end of May. Was it 3.1.4 instead? This would match with Spring Cloud 2021.0.4.

Same goes for ##4099, I guess.

[2022-11-24 15:31] OlgaMaciaszek commented on #3941
Yes, thanks for reporting this..

[2022-11-25 12:04] fanste opened #4140 "Duplicate event: EurekaInstanceCanceledEvent"
**Describe the bug**
An application that actively unregisters from eureka fires EurekaInstanceCanceledEvent twice.
![image](https://user-images.githubusercontent.com/3531183/203981889-8606e2e6-abd4-4b7f-8865-ec988ad99db5.png)

The REST endpoint for unregister is executed. The first event is fired, as `handleCancelation` was added directly to the overridden `cancel` method. The original `cancel` me

[2022-11-28 16:54] MallikharjunaTeja commented on #4095
@spencergibb I'm not finding the appropriate file to  make the changes mentioned in the issue. Can you help me on that.

[2022-11-28 17:01] spencergibb commented on #4095
Not sure why we thought this could be done here. These messages are in https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/DiscoveryClient.java#L873

[2022-11-29 16:49] shwetanknaveen commented on #3558
@RogCode I'm already doing that (added LoadBalanced) from the very start still I'm my service instance is not found!!