[2017-12-21 14:18] ryanjbaxter commented on #2510
FormBodyWrapperFilter is responsible to encoding and forwarding on the form encoded parameters.  By disabling the filter those parameters wont be forwarded on.

[2017-12-21 15:46] p3t commented on #1769
After I added in addition to the things above:

    @Bean
    public Logger logger() {
        return new Slf4jLogger(MyFeignClient.class);
    }

it worked for me. Just adding a `Slf4jLogger` without class did not worked.

[2017-12-21 16:01] ryanjbaxter commented on #2524
No problem.  It was probably my fault as well ;)  I just sat down an looked at this. I think it was @Aloren's change that caused the functionality change you are observing.  And I think you are right in that if you set `prefer-ip-address` and set `ip-address` that it should be used consistently for the status page url and health check url.

@Aloren do you think we can add some extra checks in `Def

[2017-12-21 16:40] eacdy commented on #2570
@ryanjbaxter yes.

[2017-12-21 16:51] binakot commented on #1820
I use docker stack to deploy my services with user define overlay too. But how DNSRR can help to Eureka registration? With DNS ribbon's client-side load balancing won't work.

The problem is in ***internal*** communications, when one service inside the cluster call the other one in the cluster. Server-side and Docker Swarm built-in load balancing doesn't work for internal commucations.

[2017-12-21 16:58] Aloren commented on #2524
Sorry, I was not aware of that feature and no tests were there for it :((
I will change `DefaultManagementMetadataProvider` to set `ip-address` instead of hostname if `prefer-ip-address` is used.

[2017-12-21 17:05] Aloren commented on #2524
I just looked into `EurekaInstanceConfigBean` and the method I'm using for url construction:
[code]
is already using the property `preferIpAddress`. And it is set as in previous version in `EurekaClientAutoConfiguration`:
[code]
I don't understand how and where it can be broken...

[2017-12-22 00:20] #2550 closed

[2017-12-22 01:10] lostsquirrel commented on #1820
I haven't figure out why does this is work, but at first I had the same problem to yours, I deploy a service with 3 replacs but eureka only have one, then I add flag --endpoint-mode dnsrr , eureka has all the three, you may have try and tell me the results

[2017-12-22 01:14] fangzi0813 opened #2573 "use requestContext.addZuulRequestHeader to set chinese value, then get the header is messy code"
ctx.addZuulRequestHeader("userName",claims.get("userName").toString());

userName is chinese

@RequestMapping(value = "/count", method = { RequestMethod.GET, RequestMethod.POST })
	public RSResult count(@RequestHeader("userName") String name, @RequestBody AdminPo cond) {
//name is messy code;
}
how can i resolve it?

[2017-12-22 01:16] spencergibb commented on #2573
Please learn how to properly [format code and logs](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

https://stackoverflow.com/questions/4400678/what-character-encoding-should-i-use-for-a-http-header

Maybe use base64 encoding?

[2017-12-22 01:30] fangzi0813 commented on #2573
@spencergibb thank you ,I have resolve it according to your guidance!

[2017-12-22 01:30] #2573 closed

[2017-12-22 02:35] An0nymous0 commented on #2524
@ryanjbaxter @Aloren Thank you for your helpful help

[2017-12-22 03:24] zywj commented on #2247
I also encounter this problem when using the Finchley version.
The zuul performance is half of the nginx.

[2017-12-22 03:26] spencergibb commented on #2247
@zywj have you done any of the suggestions above?

[2017-12-22 03:33] ExtremeYu commented on #2247
@zywj 老哥，换成okhttp,httpclient太垃圾

[2017-12-22 03:36] ExtremeYu commented on #2247
@spencergibb i suggest spring cloud should never use httpclient as default ,change to okhttp3 instead, best if support netty.

[2017-12-22 03:37] zywj commented on #2247
@ExtremeYu 我zuul后面有web服务，然后web服务调用api服务的。如果是zuul的httpclient的性能问题，那么在web服务请求api服务时，也会存在性能问题。但是我直接访问web服务对应的地址，性能是跟nginx做代理一样的，所以我还是觉得是zuul的问题。

[2017-12-22 03:40] ExtremeYu commented on #2247
zuul 本身就有很大性能损耗，我这里测试，加入zuul后，接口响应时间从平均8ms 增加到12ms，还是可以接受的，你先把全部工程换成okhttp再试

[2017-12-22 06:03] zywj commented on #2247
Yes. Zuul is CPU-bound, after read the article [Comparing API Gateway Performances: NGINX vs. ZUUL ](https://engineering.opsgenie.com/comparing-api-gateway-performances-nginx-vs-zuul-vs-spring-cloud-gateway-vs-linkerd-b2cc59c65369) and [THE RIOT GAMES API: FULFILLING ZUUL'S DESTINY](https://engineering.riotgames.com/news/riot-games-api-fulfilling-zuuls-destiny).

So. @ExtremeYu . You may be right.

[2017-12-22 06:23] jieblog commented on #2247
吓得我也去换成okttp试试

[2017-12-22 06:36] lei911gang commented on #1385
zuul  upload big file timeout ，how to solve。zuul大文件上传超时怎么解决

[2017-12-22 06:41] zywj commented on #2247
@jieblog 如果ZUUL的CPU使用率没有到100%的话，ZUUL性能还是接近nginx的。

[2017-12-22 06:55] jieblog commented on #2247
常年 100%状态

[2017-12-22 10:30] eacdy commented on #1385
@lei911gang
Add these below in zuul:
[code]

If you are using Edgware.RELEASE, There is a bug: <https://github.com/spring-cloud/spring-cloud-netflix/issues/2570>

[2017-12-23 00:53] lei911gang commented on #1385
your reply solved my problem，a lot thanks

------------------ 原始邮件 ------------------
发件人: "周立";<notifications@github.com>;
发送时间: 2017年12月22日(星期五) 晚上6:30
收件人: "spring-cloud/spring-cloud-netflix"<spring-cloud-netflix@noreply.github.com>;
抄送: "Rlserim-FTD"<89172572@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [spring-cloud/spring-cloud-netflix] zuul proxy file upload, filename is Chinese

[2017-12-23 14:37] dcuenot commented on #2566
Informations found in Eureka :
* Application : MANIFESTS-FEAT005
* Status : UP(1) manifests-feat005.xxxx.io:7b5939a2-0aff-4867-404b-1be3

[2017-12-23 22:40] JackLehman opened #2576 "Error when compiling"
When running

`./mvnw install`

I get
[code]

[2017-12-23 22:42] JackLehman opened #2577 "logging filtering"
In application.yml of my spring-boot application, I have the following code:

    logging:
      file: test.log
      pattern:
        file: "%d %-5level [%thread] %logger : %msg%n"

I would write something like

     logging:
       level:
        org.hibernate: *

I would to filter and gather all log messages of all levels (ERROR, DEBUG, INFO, etc) ifrom only one specific package (org.hibernate)

[2017-12-23 23:36] spencergibb commented on #2577
You should ask in the spring boot gitter

[2017-12-23 23:36] #2577 closed

[2017-12-24 00:06] spencergibb commented on #2576
See scripts/build.sh

[2017-12-24 06:48] lchayoun commented on #2353
Hi, any update on this issue?

[2017-12-24 09:33] hpeimer opened #2578 "Zuul in Edgeware.RELEASE does not redirect 302 through browser"
This issue was discussed in [Stackoverflow](https://stackoverflow.com/questions/47817427/zuul-returns-http-status-200-instead-of-302/47959430#47959430).

In Edgeware.RELEASE a redirect on the server-side should send HTTP status 302 to the browser. Instead the browser receives the new content and HTTP 200 status.

In Dalston.SR4 an HTTP 302 status is returned by the server, and the browser redirect

[2017-12-24 14:55] galovics commented on #1331
#2579 please take a look guys if you have the possibility.

[2017-12-24 17:38] zshift commented on #1331
@peavers My apologies for the delay. I've since moved to a different company, so I don't have access to the source code I originally worked on. I added a separate configuration section that mapped the zuul route keys to allowed http methods on each route. Eg,

[code]

Then I added a filter similar to https://stackoverflow.com/questions/47856575/how-to-make-zuul-dynamic-routing-based-on-http-method

[2017-12-25 03:28] lly5044 commented on #2353
I'm sorry I forgot this issue after submit a PR against spring-cloud-common, I will submit a PR when I get some time @lchayoun

[2017-12-26 04:15] ZT5250 commented on #2510
okay,thank you for your help,this is means ,if i set `zuul.FormBodyWrapperFilter.pre.disable=true` ,then i should change send parameters type witch i used in my restful api instead of others ，for example ,json data

[2017-12-27 02:13] holy12345 commented on #1812
I have been concerned about this issue, there are updates?

[2017-12-27 04:32] chuguoren commented on #466
@kadaan thank for your code.

[2017-12-27 10:14] dakon1987 commented on #2556
Now is working.

The project demo: https://github.com/dakon1987/spring-zuul

Thanks!

[2017-12-27 10:14] #2556 closed

[2017-12-27 11:34] gberche-orange opened #2584 "Hint in documentation how manual feign client can use spring mvc annotations"
Just like in #1834 a third party provider returns a dynamic url to us that we have to call using a Feign client. This client needs to be described using spring mvc annotations (shared with the provider part, actually [spring-cloud-cloudfoundry-service-broker](https://github.com/spring-cloud/spring-cloud-cloudfoundry-service-broker/blob/420f903e897af71cf7f6ec2d14478e8ef9c0a3ad/spring-cloud-open-ser

[2017-12-27 13:40] brenuart opened #2585 "RequestSpecificRetryHandler retries same server for SERVER_THROTTLED"
Netflix's `RequestSpecificRetryHandler` allows to retry on *same* server for `SERVER_THROTTLED` error.

When the `okToRetryOnAllErrors` property is `true`, the retry handler allows to retry on the same server unconditionally without taking into account the actual error. This is useless when the server responded with SERVER_THROTTLED.

It looks like the _if_ statement at https://github.com/Netflix/

[2017-12-27 14:19] brenuart opened #2586 "Ribbon: `java.net.UnknownHostException` should be considered as connection failure error"
My feeling is a `UnknownHostException` should be treated as a connection failure (no connection occurred after all...).

This could be handled by adding `java.net.UnknownHostException` to the list of _connectionRelated_ exceptions in `RequestSpecificRetryHandler`.

[2017-12-27 16:16] holy12345 commented on #2585
Hi @brenuart
My understanding of spring cloud not only can set the number of retries the same server but also can set the number of retries of different servers.
You mean that we should not unconditionally retry the same server, but according to the specific situation to decide whether to continue to retry the same server?(For example, according to an exception to decide whether to retry the same

[2017-12-27 16:20] brenuart commented on #2585
Ribbon can indeed be configured to retry the same server a couple of times before trying the next one.
If the server replies with SERVER_THROTTLED, there is no point in retrying the same server - whatever the number of retries that is allowed... With the default configuration, you will get the following scenario:
- (first call) server1: SERVER_THROTTLED
- (retry same) server1: SERVER_THROTTLED
- (

[2017-12-27 16:36] holy12345 commented on #2586
Hi @brenuart
My understanding spring cloud retry mechanism is the use of `spring-retry` completed `RequestSpecificRetryHandler`  this class will be used in retry?

[2017-12-27 16:39] brenuart commented on #2586
SpringRetry is opt-in and not suitable for those using Netflix's legacy `RestClient` (retry is then handled by Ribbon itself).

[2017-12-27 16:53] holy12345 commented on #2585
@brenuart
Thank you for your reply, I would like to ask whether to continue retrying the same server when an exception occurs. Can this choice be up to the user? (such as provide a property to allow users to configure to decide which the situation does not need to retry on the same server).Instead of just for `SERVER_THROTTLED`  situation

[2017-12-27 17:04] sundysd commented on #2287
@rsby
hi, i want to ask more about solution you mentioned, so you solve this issue by doing following steps?

1, modify zuul config xml application.properties by adding two lines:
     zuul.servlet-path: /
     server.servlet-path: /some-other-path

2, you also modify post filter by adding this function? as you mentioned "adding the following to our configuration", so maybe you are not talking abo

[2017-12-27 17:05] holy12345 commented on #2586
@brenuart
Thank you for your reply, I just read the source code. I think what you mean is that you want to make the following changes:
In the `RequestSpecificRetryHandler ` class
[code]
This is right?
In addition, I would like to say `RequestSpecificRetryHandler ` is a `ribbon ` project, if we need to add we should submit PR in `Netflix/Ribbon` ?

[2017-12-27 17:37] rushme1 commented on #2338
@amrutraut,
Did you find a solution for this issue? I have exact same problem, except I always get Exceptions every 30 seconds on the client side, but nothing on the Erureka-server side.
I have Camden.SR4 on the Eureka-server and client application/microservice
Thanks.

[code]

[2017-12-27 21:14] spencergibb commented on #2586
PR welcome @brenuart. Since we're not focusing on RestClient much

[2017-12-27 21:33] brenuart commented on #2586
@spencergibb I'll prepare the PR. Should we understand the _RestClient approach_ is deprecated and the new "official" setup is HttpClient + SpringRetry?

[2017-12-27 21:36] spencergibb commented on #2586
Those are the defaults now.

[2017-12-27 21:37] spencergibb commented on #2586
`RibbonClient` has been deprecated by Netflix since we started integration

[2017-12-27 22:52] brenuart commented on #2586
@spencergibb No idea why some checks failed - the "unknown classes" issue does not seem to be related at all to my changes...
Anyway, could you please have a look at my PR comments?

[2017-12-27 22:59] spencergibb commented on #2586
I'm off this week and next, so I will later, or maybe someone else will review prior

[2017-12-27 23:00] brenuart commented on #2586
Happy New Year then… and see ya next year ;-)

[2017-12-28 00:38] ryanjbaxter commented on #1812
If there were updates they would be posted here

[2017-12-28 00:39] andrej-naumovski opened #2588 "Zuul Load balancer does not have available server for client"
I've been trying to connect microservices using Zuul and Eureka and have succeeded for the most part except re-routing through Zuul based on serviceId. What I have is Spring Boot Zuul and Eureka applications, and a Node-based microservice which registers with Eureka. Both Zuul and the microservice are registered with Eureka and show up on the Eureka control panel, however, when I try to route thro

[2017-12-28 00:40] ryanjbaxter commented on #2510
yup

[2017-12-28 00:40] #2510 closed

[2017-12-28 00:43] #2576 closed

[2017-12-28 00:49] spencergibb commented on #2588
Eureka actually routes using vipaddress.

[2017-12-28 01:54] holy12345 opened #2589 "Zuul simple routing whether to supplement the fallback feature"
Hi @spencergibb @ryanjbaxter

I know that zuul integration eureka default support hystrix function. When the route fails, we can get the reason of the failure by `FallbackProvider` , at the same time allow users to customize the return information

But zuul is routed through `SimpleHostRoutingFilter ` when we do not integrate eureka. `FallbackProvider ` is not provided in this case.

Finally, I wo

[2017-12-28 02:01] spencergibb commented on #2589
No. Because the integration is actually with ribbon which can be configured without eureka using static URLs

[2017-12-28 02:14] holy12345 commented on #2589
@spencergibb
Thank you for your reply, I think I still do not quite understand.
When we route static URLs, I know that we are using `SimpleHostRoutingFilter ` instead of `RibbonRoutingFilter`. (Because the conditions to determine whether `RibbonRoutingFilter ` is executed `ctx.get(SERVICE_ID_KEY) != null` ) Processing failed in `SimpleHostRoutingFilter ` is returned as a `ZuulRuntimeException` . I

[2017-12-28 02:15] spencergibb commented on #2589
You would go thru ribbon routing filter using static configuration server list rather than eureka server list

[2017-12-28 02:22] holy12345 commented on #2589
@spencergibb

Thank you very much, I think I got it. Like you said when using the ribbon is the default integrated `FallbackProvider` . But I would like to ask another question is why we do not provide `FallbackProvider ` features when using `SimpleHostRoutingFilter` ?

[2017-12-28 02:23] spencergibb commented on #2589
Because the fallback mechanism is part of Hystrix which is not part of simple host routing filter

[2017-12-28 02:32] holy12345 commented on #2589
@spencergibb
I try to understand what you mean:
Zuul is default integrated hystrix and provides the fallback mechanism when using ribbons. When we do a simple host routing we do not need to provide a fallback mechanism (get the error directly back to the user will be better)
I understand this right? :)

[2017-12-28 02:39] wangfuguo opened #2590 "Bug report com.netflix.loadbalancer.AbstractServerPredicate"
public Optional<Server> chooseRoundRobinAfterFiltering(List<Server> servers, Object loadBalancerKey){
        List<Server> eligible = getEligibleServers(servers, loadBalancerKey);
        if (eligible.size() == 0) {
            return Optional.absent();
        }
        return Optional.of(eligible.get(nextIndex.getAndIncrement() % eligible.size()));
    }

when nextIndex beyond the range of integ

[2017-12-28 03:03] holy12345 commented on #2590
Hi @wangfuguo
I think what you said makes sense, we can use `math.abs ((nextIndex.getAndIncrement())` to avoid this situation.
But the `AbstractServerPredicate ` class is in the `Netflix/ribbon` project, is it better to submit this issues to `Netflix/ribbon` ?

[2017-12-28 03:04] #2589 closed

[2017-12-28 05:25] wangfuguo commented on #2590
Hi@holy12345
Thanks. The new version of Netflix/ribbon has solved the problem.

[2017-12-28 05:25] wangfuguo commented on #2590
Hi@holy12345
Thanks. The new version of Netflix/ribbon has solved the problem.

[2017-12-28 05:26] wangfuguo commented on #2590
Hi @holy12345
Thanks. The new version of Netflix/ribbon has solved the problem.

[2017-12-28 13:25] MAAARKIN opened #2593 "Connection reset by peer and Broken pipe in zuul with http route (Non eureka/hystrix)"
Actually i use zuul to route http routes throught SimpleHostRoutingFilter but when i put in production sometimes happen a reset by peer and broken pipe exceptions i can't simulate this situation locally. Anybody know what happening?

I'm not using eureka or hystrix (i really don't know 100% if hystrix is not being used). Basically SimpleHostRoutingFilter using ApacheHttp Client.

Version: Dalston.

[2017-12-28 13:47] mundrusatish commented on #1983
Hi,

Getting the same problem when using the org.springframework.boot spring-boot-starter-parent 1.5.4.RELEASE with the below dependencies.
Please provide inouts, if anything missed.

<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>1.5.4.RELEASE</version>
		<relativePath/>
	</parent>

	<properties>
		<project.build.sourceEncod

[2017-12-28 16:18] zios07 commented on #769
Any solution to that problem ?

[2017-12-28 16:20] zios07 commented on #1620
@shenqianfan can you, please,  show us how you solved it ?

[2017-12-28 16:27] tjuchniewicz commented on #2540
But we share interfaces with clients...For us this is a common case.
Any idea for improvement?

[2017-12-28 17:26] andrej-naumovski commented on #2588
@spencergibb I tried adding the service vipAddress as serviceId in Zuul, still no luck. Anything else that might cause the issue?

[2017-12-28 19:17] cetmca commented on #1939
above dependency fix worked for me..thanks much

[2017-12-28 19:20] tjuchniewicz commented on #2540
Current workaround is to use: `@RequestParam(value = "ignored", required = false) WebRequest request`

[2017-12-29 08:21] ranesaci commented on #1305
Guys, I was also facing same issue. I solved this issue with below process.

Error:
com.netflix.discovery.shared.transport.TransportException: Cannot execute request on any known server
Request execution failed with message: java.net.ConnectException: Connection refused: connect

Solution:

http://sachin4java.blogspot.in/2017/12/cndstdredirectingeurekahttpclient.html

Hope, this will save your tim

[2017-12-29 11:23] brenuart opened #2594 "Ribbon: make `@ConditionalOnRibbonAndEurekaEnabled` public"
It would be nice if `@org.springframework.cloud.netflix.ribbon.eureka.RibbonEurekaAutoConfiguration.ConditionalOnRibbonAndEurekaEnabled` was made _public_ so users could also rely on the same exact condition when building their own platform.

[2017-12-29 15:10] spencergibb commented on #1305
`defaultZone` is a key in a map, therefore not subject to boot relaxed binding. It's format sensitive

[2017-12-29 23:37] dsushil2000 commented on #737
I have requirement to publish Boot Microservices with context path. How we can solve the problem? Eureka does not register the App with Context Path

[2017-12-30 00:19] dcuenot opened #2596 "Edgware.RELEASE java.lang.NoClassDefFoundError: com/netflix/hystrix/contrib/javanica/aop/aspectj/HystrixCommandAspect"
Hello,

I just upgraded to Spring boot 1.5.9 and _Spring Cloud Edgware.RELEASE_ and I got this exception.

[code]
For information, find below my dependency:tree.

After, in my `pom.xml`, I added this dependency:
        <dependency>
            <groupId>com.netflix.hystrix</groupId>
            <artifactId>hystrix-javanica</artifactId>
        </dependency>

=> This solved my issue, but I think th

[2017-12-30 07:08] silentFred commented on #737
I don't know if this code will stioll work on later version but give this a
shot:
http://webler.co.za/blog/spring-cloud-web-context-root-aware-zuul-eureka-service-calls-code-bit/

On Sat, 30 Dec 2017 at 01:38 dsushil2000 <notifications@github.com> wrote:

[2017-12-30 14:34] spencergibb commented on #2596
Have you included `spring-cloud-starter-netflix-hystrix`?

[2017-12-30 18:28] dcuenot commented on #2596
Nope :( I forgot this one.
Problem solved! Thanks for your help

[2017-12-30 18:28] #2596 closed

[2017-12-31 09:39] mirak94 opened #2597 "Access spring actuator endpoints of backend services through zuul."
Question

I am trying to access backend services' spring actuator endpoints through zuul, here is an explanation about how I do this:

1. I don't use `zuul routes` for routing, instead, I am depending on the host itself for routing to a backend service. For example if I have 2 backend services, we can have `zuul.routes.service1.url=service1_url` and `zuul.routes.service2.url=service2_url`, so requ

[2018-01-01 08:23] fengjx commented on #2371
+1

[2018-01-01 15:11] vineetsap commented on #2530
Is this solved? I am also facing something similar

[2018-01-02 08:02] hcxin commented on #1687
I have resolved it by using ParameterizedTypeReference.
https://stackoverflow.com/questions/19463372/classcastexception-resttemplate-returning-listlinkedhashmap-instead-of-listm

[2018-01-02 09:12] doernbrackandre commented on #2353
Hi there,
FYI: This sounds quite simular to [#2209](https://github.com/spring-cloud/spring-cloud-netflix/pull/2209) which is already fixed and released in EDGWARE

Maybe you should give it a try

Cheers & Happy new  year! :)

[2018-01-02 11:44] LukasSmrcka opened #2599 "Spring Cloud FeignClient bean is registered incorrectly as REST controller"
Hi,
I am currently on spring platform version "Brussels-SR6" and springcloud version Edgware.RELEASE" and I have found following issue.
I have an interface annotated as @FeignClient that inherits from another interface that is REST controller interface from "server" microservice.
When this REST controller interface uses class level annotation RequestMapping for some common segment of url path then

[2018-01-02 14:25] spencergibb commented on #2599
This is a documented limitation

[2018-01-02 14:25] #2599 closed

[2018-01-02 14:26] #1687 closed

[2018-01-02 14:29] ryanjbaxter commented on #2530
@vineetsap no.  We were looking for some way to reproduce this.  My gut feeling is that it is environment related.

[2018-01-02 14:35] ishanthilina opened #2600 "start.spring.io geenrates an invalid project which fails when trying to use Zuul Proxy"
**Steps to re-create:**

1). Create a project at https://start.spring.io/ with following details.

- Project Type = Maven

- Spring Boot version = 1.5.9

- Dependencies = Zuul

2). Download the project and run it. It will run properly.
3). Add the @EnableZuulProxy annotation and run it again. Following error is shown.

[code]
**Solving The Issue:**

Add the latest AspectJ Tools dependency to the p

[2018-01-02 14:38] lchayoun commented on #2353
@doernbrackandre I don't think it is the same issue, this ticket related to the handling of the exception in the error filter

[2018-01-02 14:41] ryanjbaxter commented on #2597
Maybe you could set `management.context-path` in the Zuul app and set `zuul.ignore-patterns` to that context path so you can hit all the Zuul actuator points while still forwarding on requests to the service actuator endpoints.

[2018-01-02 14:46] ryanjbaxter commented on #2600
I just tried this and did not see the problem.  Can you maybe provide a git repo with the project that reproduces the issue?

[2018-01-02 14:48] spencergibb commented on #2597
Or the management context port

[2018-01-02 14:55] ishanthilina commented on #2600
Here you go!. https://github.com/ishanthilina/spring-cloud-netflix-issue-2600

[2018-01-02 15:03] galovics commented on #1331
Did someone had the chance to take a look on my PR? Thx!

[2018-01-02 15:05] spencergibb commented on #1331
It's holidays, please be patient

[2018-01-02 15:12] ryanjbaxter commented on #2600
Thanks.  I cloned the repo and started it on my machine.  The app started fine, did not see the exception.  You have other dependencies in the app so it goes beyond what you described above.

[2018-01-02 15:18] snicoll commented on #2600
A jar may also be corrupted on your machine, try running `mvn dependency:purge-local-repository` and try again

[2018-01-02 16:23] ryanjbaxter commented on #2540
Reopening for the PR above

[2018-01-02 16:29] ryanjbaxter commented on #2594
What are you doing that you need this condition?

[2018-01-02 16:30] tcawley opened #2601 "Spring-boot-actuator TraceRepository getting called twice"
Hi,

I have implemented a [TraceRepository](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/trace/TraceRepository.java) that logs request/response info for every invoked endpoint in my service.  It works great with the default [WebRequestTraceFilter](https://github.com/spring-projects/spring-boot/blo

[2018-01-02 16:43] ryanjbaxter commented on #1983
@mundrusatish its likely not the same issue.  Please provide a sample that reproduces the problem.

[2018-01-02 16:46] ryanjbaxter commented on #2593
Could you provide an application that reproduces the problem?

[2018-01-02 16:47] ishanthilina commented on #2600
@ryanjbaxter My mistake, please check the repo now. Updated with the correct code.

@snicoll Thank you, tried but no change.

[2018-01-02 16:55] ryanjbaxter commented on #2601
I think we can add a property to disable it.  However it is an instance of `ProxyRequestHelper`, so maybe the property should be `zuul.proxy-request-helper.enabled`.  Enabled by default or if property missing.

[2018-01-02 16:58] ryanjbaxter commented on #2600
Still cant reproduce it.  As @snicoll said it is probably an issue with your environment or else we would see many more people complaining about this.

[2018-01-02 17:05] snicoll commented on #2600
For the record, I've tried as well and can't reproduce either.

[2018-01-02 17:18] tcawley commented on #2601
Hi Ryan,

In looking through `ZuulProxyAutoConfiguration`, other beans require an instance of `ProxyRequestHelper`.  The change I'm proposing would still require an instantiation of `ProxyRequestHelper`, just not the derived `TraceProxyRequestHelper`.  Therefore, I think `zuul.proxy-request-helper.enabled` may be misleading.  Maybe `zuul.trace-proxy-request-helper.enabled`?

[2018-01-02 17:41] LukasSmrcka commented on #2599
Ah, ok... Haven't noticed that. Thanks

[2018-01-02 19:03] ryanjbaxter commented on #2601
OK sure

[2018-01-02 19:05] #2590 closed

[2018-01-02 19:11] ryanjbaxter commented on #2338
Again please try a newer release, Dalston.SR5 or Edgware.RELEASE.  It is likely something in your environment causing the issue.

[2018-01-02 19:21] ryanjbaxter commented on #2585
Is there a "server throttled" status code?  I cant seem to find any information on it, besides its use in Ribbon.

[2018-01-02 19:22] ryanjbaxter commented on #2584
@gberche-orange would you like to submit a PR?

[2018-01-02 19:29] rushme1 commented on #2338
@ryanjbaxter, we have a few apps that are using Angel.SR4. I suspect, upgrading Eureka server alone to Dalston.SR5 or Edgware.RELEASE won't help and we will have to upgrade all micro-services too.

[2018-01-02 19:31] brenuart commented on #2585
It is indeed a Netflix/Ribbon specific feature that is hardcoded in their RestClient. The client returns `ClientException.ErrorType.SERVER_THROTTLED` when it gets a `503 (Service Unavailable)` from the downstream server.

When `okToRetryOnAllErrors` is true, the current implementation of `RequestSpecificRetryHandler` is such that the same server will be retried on `503` - which is obviously pointl

[2018-01-02 19:41] brenuart opened #2603 "CloudEurekaClient#onCacheRefreshed breaks Netflix's legacy event mechanism"
`CloudEurekaClient` overrides the method `onCacheRefreshed` to publish the SpringCloud `HeartBeat` event through the application context.

Unfortunately, the method does not delegate to the original implementation and as such breaks the legacy _listener_ mechanism provided by the vanilla DiscoveryClient - at least for the Netflix `CacheRefreshedEvent` event.

Would it be possible to call `super.on

[2018-01-02 19:56] brenuart commented on #2594
We need to setup additional `@RibbonClients` configuration for our clients. The exact configuration depends on whether Eureka is used or not. We are currently using `@ConditionalOnProperty` guards with basically the same conditions as the one expressed by your `@ConditionalOnRibbonAndEurekaEnabled`. Instead of duplicating the same logic - with the risk it changes over time - we have the impression

[2018-01-02 20:40] ryanjbaxter commented on #2578
Can you provide your Zuul configuration?  Are you using service discovery or configuring the route URLs yourself?

[2018-01-02 20:48] ryanjbaxter commented on #2338
We are no longer supporting Angel or Brixton release trains so you will need to upgrade to Dalston or Edgware.

[2018-01-02 20:48] ryanjbaxter commented on #2585
So this is only when using the Ribbon rest client then, correct?

[2018-01-02 20:52] ryanjbaxter commented on #2603
I dont see why not, want to submit a PR?

[2018-01-02 20:53] mirak94 commented on #2597
Thank you very much for your response!
Going to try this out and close/follow up if needed.

[2018-01-02 21:07] brenuart commented on #2585
AFAIK yes.
I noticed ApacheHttp and OkHttp configurations seem to make use of `RequestSpecificRetryHandler` too... but I have not investigated any further.

[2018-01-02 22:49] tcawley commented on #2601
#2605

[2018-01-03 01:10] #2603 closed

[2018-01-03 01:12] ryanjbaxter commented on #2585
Feel free to submit a PR for this.  If not it will be a low priority item for us since the Netflix Rest Client is deprecated.

[2018-01-03 01:14] ryanjbaxter commented on #2594
Seems reasonable.  Want to submit a PR?

[2018-01-03 02:03] ishanthilina commented on #2600
Then there's nothing we can do except close this ticket, is it?

[2018-01-03 05:46] holy12345 commented on #2594
Modify like this?
[code]

[2018-01-03 06:03] hpeimer commented on #2578
Not using service discovery.

Here is the simple Zuul from the example, as seen on Stackoverflow

server:
  port: 8080
zuul:
  routes:
    core:
      sensitive-headers:
      path: /core/**
      url: http://localhost:9090/

[2018-01-03 06:29] #2600 closed

[2018-01-03 07:49] doernbrackandre commented on #2353
@lchayoun ah I see. Sorry, my bad.

[2018-01-03 09:34] matt-shaw commented on #1772
Hi,

I've been following this thread but am slightly confused by the which settings work and don't work with Zuul, Ribbon and Hytrix.

We are using Spring Cloud Edgeware release.  We are just using all the default values.  We are connecting Zuul to our services using Ribbon connected to Eureka.  Some of our services are a little slow ~10 secs ish.  How do I increase the various timeouts that seem

[2018-01-03 09:43] matt-shaw opened #2606 "Zuul, Ribbon and Hystrix timeout confusion"
Hi,

I'm slightly confused by the which timeout settings work and don't work with Zuul, Ribbon and Hytrix.

We are using Spring Cloud Edgeware release. We are just using all the default values. We are connecting Zuul to our services using Ribbon connected to Eureka. Some of our services are a little slow ~10 secs ish. How do I increase the various timeouts that seem to be triggered to allow this n

[2018-01-03 11:11] Barathi07 commented on #2398
@ryanjbaxter  I have a query. I tried generating wildcard certificate (i.e.) created certificate with the following params:
#1: ObjectId: 1.2.3.4 Criticality=false
SubjectAlternativeName [
  DNSName: *.domain.com
  DNSName: CNname
]

So that i can make use of same certificate across servers. But, am getting below exception:
**Caused by: javax.net.ssl.SSLPeerUnverifiedException: Certificate for <10

[2018-01-03 11:15] brenuart commented on #2585
I understand it is becoming low priority since the move to Spring Retry. However some of us are currently stuck on using Netflix's RestClient until they are able to move to more recent clients. It is actually our case for the moment mainly because of the following reasons:
- we rely on several modifications we made on several Ribbon aspects during the last two years. We are slowly migrating to Spr

[2018-01-03 12:42] ryanjbaxter commented on #2585
That is perfectly fine.  We are always willing to accept any kind of contribution.

[2018-01-03 12:56] ryanjbaxter commented on #2398
It is the Apache HTTP Client giving that error not Spring Cloud, we arent doing anything special to validate the certificate.  It sounds like you are accessing the app using the `10.x.x.x` ip address but that was not used when creating the certificate.  You should be able to use wild card certs if the cert is configured properly.

As far as importing a new cert into the JVM is concerned I believe

[2018-01-03 13:05] Ryaryu commented on #1820
[This solution](https://github.com/spring-cloud/spring-cloud-netflix/issues/2324#issuecomment-332849133) also seems to correct the problem, at least for me.

[2018-01-03 13:21] ryanjbaxter commented on #2606
Take a look at this section in the documentation

http://cloud.spring.io/spring-cloud-static/Edgware.RELEASE/single/spring-cloud.html#_hystrix_timeouts_and_ribbon_clients

When using Zuul we automatically wrap each proxied request in a hystrix command.  So you need to configure the hystrix timeouts to be slightly larger than the ribbon timeouts.

Something like
[code]

[2018-01-03 13:24] Barathi07 commented on #2398
Thank you so much @ryanjbaxter . You are absolutely right! I have set "perferIpAddress" field in yml to true. That's why it didn't work. I modified the parameter "eureka.instance.preferIpAddress: false" in the yml file and it is working fine.
Once again thank you for the clarification on both queries.

[2018-01-03 13:42] sergey-karazhenets commented on #2253
To enable caching you should:
* set property `com.netflix.hystrix.HystrixCommandProperties.Setter.withRequestCacheEnabled(true)`
* override method `getCacheKey()` for each `HystrixCommand`

[2018-01-03 13:44] holy12345 commented on #2606
As far as I know, the current `hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds ` parameter in the `Edgeware ` version does not work (for specific reasons and changes see PR https://github.com/spring-cloud/spring-cloud-netflix/pull/2581)

[2018-01-03 13:52] jcarvalho commented on #2578
Hi. We're facing the same issue. This seems to have been introduced in commit `2aa93abc0f301a2e99e193c2f23eef2fdd306ad7`, in which a custom `RedirectStrategy` that was being manually registered went missing.

I can confirm that the issue is only present in `Edgware.RELEASE`, it's not present in Dalston `SR3` or `SR5`.

[2018-01-03 14:04] mirak94 opened #2607 "Filters execution times logging through zuul"
I wanted to log for each request the `executedFilters` key saved in `RequestContext`.
I can see that whenever a filter executes this line appends the time to the `executedFilters` key through this line of code:
`ctx.addFilterExecutionSummary(filterName, ExecutionStatus.SUCCESS.name(), execTime);`

So may be something like just before destroying the request context for each request? (can't do withi

[2018-01-03 14:41] ryanjbaxter commented on #2607
Maybe could do something in the controller that handles the request.  Or maybe in a post filter.  Not really sure though would need to investigate that.

[2018-01-03 15:24] ryanjbaxter commented on #2578
Thanks.  `SimpleHostRoutingFilter` used to disable following redirects but since we centralized the creation of the client we lost that functionality.
https://github.com/spring-cloud/spring-cloud-netflix/commit/2aa93abc0f301a2e99e193c2f23eef2fdd306ad7#diff-2e8235c4a9fe2136b17a43f6ff2f8080L264

Here is what the client creation looks like today.
https://github.com/spring-cloud/spring-cloud-netflix/b

[2018-01-03 16:44] matt-shaw commented on #2606
I think I tried what Ryan suggested but it didn't work.  I'll double check when I'm back in the office.

I thought when using Hystrix with Zuul is sets the isolation strategy to SEMAPHORE and so that timeout config doesn't have any effect or have I misunderstood?

Are you both saying that the config suggested should work but due to that bug it doesn't currently work in Edgeware?  I assume the work

[2018-01-03 18:51] jcarvalho commented on #2578
For completeness sake, shouldn't `.setRetryHandler(new DefaultHttpRequestRetryHandler(0, false))` be restored as well?

[2018-01-03 19:31] spencergibb commented on #2578
Retry and handling redirect are separate concerns no?

[2018-01-03 19:43] #2524 closed

[2018-01-03 19:43] #2578 closed

[2018-01-03 19:50] ryanjbaxter commented on #2606
You are right, you can switch the isolation strategy used by Zuul by using `zuul.ribbonIsolationStrategy=THREAD`.  I a unsure if the bug @holy12345 mentioned effects Zuul as I have not looked into it yet.  (It is on my list of things to look at)

[2018-01-03 19:51] ryanjbaxter commented on #1772
@matt-shaw please dont ask the same question on multiple issues

[2018-01-03 19:52] jcarvalho commented on #2578
Indeed, maybe a separate issue should be opened for that, should the need arise in the future?

[2018-01-03 19:53] ryanjbaxter commented on #2578
Yes a separate issue, but only if you can come up with a use case where it is needed.

[2018-01-04 01:55] holy12345 commented on #2606
When Zuul is integrated with Hystrix, the default isolation level used is `SEMAPHORE` , you can change the isolation level with `zuul.ribbonIsolationStrategy=THREAD`  (as mentioned above)。
Zuul is automatically wrapped in Hystrix command when it is forwarded。

But to the above I said, `hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds` this parameter is currently not valid.

[2018-01-04 08:31] ddebree commented on #2606
The simplest fix for us was to use this configuration:
[code]
The underlying problem is that AbstractRibbonCommand sets the ExecutionTimeoutInMilliseconds to the sum of `RibbonClientConfiguration.DEFAULT_CONNECT_TIMEOUT` and `RibbonClientConfiguration.DEFAULT_READ_TIMEOUT` which are both constant values (1000ms), and so the timeout is ALWAYS 2000ms.
The only way around that we have found is to dis

[2018-01-04 08:35] mirak94 commented on #2607
@ryanjbaxter
Thank you very much for responding!

I am not sure what you meant by `the controller that handles the request`, if this means a `@RestController`: I don't have any controllers in zuul currently.

[2018-01-04 08:42] ddebree commented on #2606
This is similar to the issue being experienced in #2570

[2018-01-04 09:07] holy12345 commented on #2607
@mirak94
Hello, I may not fully understand your meaning (Forgive me English is not good.) Trouble you can say more in detail?
`So may be something like just before destroying the request context for each request?`  What does this sentence mean?
Look forward to your reply, thanks again. best wishes

[2018-01-04 09:13] holy12345 commented on #2606
@ddebree
I think what you said makes sense. I submitted a fix PR(#2581) on this issue

[2018-01-04 11:07] matt-shaw commented on #2606
Many thanks.  That all makes sense.  I will disable the timeout until the issue is resolved.

[2018-01-04 11:37] MarkBramnik opened #2610 "Zuul doesn't work correctly with content-type of type multipart/mixed"
Bug Report:

Summary:
When sending to Zuul request of type multipart/mixed it doesn't process the request body so that when it forwards a request it comes out with an empty body.

Applicable to (in my checks):
 - spring-cloud-netflix-core-1.4.0.RELEASE

My Spring boot application runs with @EnabledZuulProxy
Sample request to illustrate the issue:
[code]

[2018-01-04 14:53] ryanjbaxter commented on #2566
What does your Zuul configuration look like?

[2018-01-04 15:08] igorKryvenko commented on #2594
See my [PR#2611](https://github.com/spring-cloud/spring-cloud-netflix/pull/2611)

[2018-01-04 15:49] ryanjbaxter commented on #2570
@edacy see #2606, seems like it might be the same issue, if so we can close this

[2018-01-04 16:05] ryanjbaxter commented on #2607
Sorry I meant in `ZuulController`

[2018-01-04 16:06] ryanjbaxter commented on #2610
Please learn how to [format code on GitHub](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

Also please provide a project that reproduces the issue

[2018-01-04 16:09] #2594 closed

[2018-01-05 02:33] LoyalLee26 commented on #1601
@ziqiDev  you are right , i changed my maven local repository

[2018-01-05 06:06] xjr100419 opened #2617 "how can I use the custom RetryListener?"
in zull  dependency  spring-retry

I would to  listen the Retry, but the sources was not register any listener
RetryTemplate retryTemplate = new RetryTemplate();

[2018-01-05 06:14] holy12345 commented on #2617
Hi @xjr100419
I've already submitted PR to supplement this feature, which you can see in `spring-cloud-netflix-1.4.1.RELEASE milestone`.

[2018-01-05 06:23] xjr100419 commented on #2617
@holy12345
thanks

[2018-01-05 06:23] #2617 closed

[2018-01-05 07:07] crmky commented on #1952
With Spring Cloud Edgware, the previous workaround doesn't work anymore. The right workaround should be:

[code]

[2018-01-05 08:14] holy12345 commented on #2377
Hello, according to your description I did not reproduce the problem (probably because I understand is not very clear). Can you provide the corresponding complete code? Thanks again : )

[2018-01-05 08:35] doernbrackandre commented on #2377
Hey,

there is no corresponding code at all. Just use a plain spring boot 1.5.x spring boot zuul application and a plain spring boot example app.

Configure the zuul like shown (prefix, stripPrefix) and name the example app "**test**something"
Of course, you need a eureka instance as well.

Once everything is up and running you should see the problem if you hit zuul's /routes endpoint.
It should b

[2018-01-05 20:23] terancet opened #2621 "Fix documentation links"
Please fix the links to the GitHub repos in the documentation [Spring cloud netflix](http://projects.spring.io/spring-cloud/spring-cloud.html#_spring_cloud_netflix)

Broken links are located in the following paragraph

[2018-01-07 11:54] jadetang commented on #2607
you can have an implementation of `com.netflix.zuul.monitoring.TracerFactory` in Spring Context which will replace  the default dummy one. Before every running of each filter, the TracerFactory will be asked to generate a `Trace`. So you can have your own trace as well when the `stopAndLog` is called, it is the time for you to log the running time of this filter.
`public ZuulFilterResult runFilter

[2018-01-08 03:05] holy12345 commented on #1714
Hello @andysworkshop
This modification can solve the problem you said?
I made the contents of the create RequestConfig as a method  and set the method's type to protected
[code]

[2018-01-08 03:27] holy12345 commented on #2377
Indeed as you said, there is this problem.I think the question code should be here:
`SimpleRouteLocator`
[code]
Looking forward to your reply，Best regards ：)

[2018-01-08 05:48] #2558 closed

[2018-01-08 09:45] gberche-orange commented on #2584
@ryanjbaxter sure will do, thanks.

[2018-01-08 12:43] ryanjbaxter commented on #2607
@jadetang thanks for the info.  I went back and looked at the code and it look like you are right!  @mirak94 give @jadetang's suggestion a shot, and let us know.

[2018-01-08 12:45] ryanjbaxter commented on #2621
I clicked both links in http://cloud.spring.io/spring-cloud-static/Edgware.RELEASE/single/spring-cloud.html and they appeared to work.

[2018-01-08 13:11] Barathi07 commented on #2398
@ryanjbaxter
Could you please guide me to resolve the following exception?

`2018-01-08 07:24:43.316 DEBUG 9819 --- [https-jsse-nio-8443-exec-3] o.a.tomcat.util.net.SecureNioChannel     : The SNI host name extracted for this connection was [null]
2018-01-08 07:24:43.316 DEBUG 9819 --- [https-jsse-nio-8443-exec-3] org.apache.tomcat.util.net.NioEndpoint   : Error during SSL handshake
javax.net.ssl.S

[2018-01-08 14:03] ezraroi opened #2623 "RibbonClientConfiguration needs HttpClientConfiguration from spring-cloud-commons"
The class `RibbonClientConfiguration` is importing the `HttpClientConfiguration` class which is in `spring-cloud-commons`. When you include in your gradle only `spring-cloud-netflix-core` without `spring-cloud-commons` the ApplicationContext is failing start:
[code]

[2018-01-08 16:15] spencergibb commented on #2623
Our starters include commons. Can you provide your build file

[2018-01-08 16:45] ryanjbaxter commented on #2398
I am not sure.  And there is nothing indicating Spring Cloud is involved in the stacktrace.

[2018-01-08 19:39] ezraroi commented on #2623
Hi @spencergibb, we have a frameworl layer that wraps Spring Boot & Cloud. In this framework we have a `common` module which all services include in thier build (Cloud and Non cloud services).

In this `common` module we don't use any `cloud` starter as non cloud services do not need them.
But we do include `spring-cloud-netflix-core` and `spring-cloud-context`.

The netflix core we include as we

[2018-01-08 19:42] ryanjbaxter opened #2625 "Normalize Zuul Prefix"
If you set `zuul.prefixPath`, it is not valid to end in a `/`.  We should make sure we normalize the path so if it does we remove the `/` or else you end up with an invalid path.

[2018-01-08 19:55] spencergibb commented on #2623
Except `spring-cloud-netflix-core` needs it. That looks fine to me, what are you hoping for?

[2018-01-09 06:12] ezraroi commented on #2623
Shouldn't `spring-cloud-netflix-core` depend on  `spring-cloud-commons`. In this case we will not have to add it manually

[2018-01-09 06:30] spencergibb commented on #2601
@tcawley can you explain why you think this is an issue with our code?

[2018-01-09 06:39] #2553 closed

[2018-01-09 08:07] holy12345 commented on #1714
Hi @spencergibb
What do you think of the amendment I made above? I am willing to listen to your opinion. thank you very much.

[2018-01-09 09:26] AhmedRiahi commented on #2079
Hello,

Im encountering the same issue with the "Connection Reset" exception, is there any update ?

Thanks

[2018-01-09 09:29] AhmedRiahi commented on #2326
Hello,

Im encountring the same issue with "Connection Reset" exception, any update please ?
Is it related to zuul ?

Thanks

[2018-01-09 09:34] andysworkshop commented on #1714
I don't think that this is the 'spring way' of doing it. Ideally all values in the `RequestConfig.Builder` would be customizable using the Netflix `IClientConfig` but that leaves the solution open to future problems if the Apache client changes its properties and the spring team don't notice. Better I think for spring to allow users to provide an optional bean that, if present, gets to supply the

[2018-01-09 12:51] makdeniss commented on #1646
I also have this problem. Tried a lot of things, but everything failed.

[2018-01-09 13:25] #2299 closed

[2018-01-09 13:53] AlfaIrawan commented on #2423
I have same problem ;(

Using Google Cloud Platform but no issue when I'm running on local with STS

Any ideas?

[2018-01-09 14:06] gbtec-ingogriebsch commented on #2462
@ryanjbaxter Would like to ask about the further plan regarding this bug. Has this any priority for you atm? And do you know about another workaround?

[2018-01-09 15:22] tcawley commented on #2601
I was able to override the bean with your suggestion:

[code]

Thanks heaps!

[2018-01-09 15:22] #2601 closed

[2018-01-09 19:35] ryanjbaxter commented on #2462
Sorry @gbtec-ingogriebsch this fell off my radar.  I will try and look into it this week.  I need to refresh my brain on what was wrong again.

[2018-01-09 19:43] ryanjbaxter commented on #2423
@AlfaIrawan what do you mean you are using GCP?  You are using GCP to build Spring Cloud Netflix?  I dont see anywhere in that stack that points to any issue with Spring Cloud.  And if it works locally than it must be your GCP environment.

[2018-01-09 20:04] spencergibb commented on #2423
@AlfaIrawan you also have a different error

[2018-01-10 04:35] spencergibb commented on #2438
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-10 04:35] #2438 closed

[2018-01-10 04:35] spencergibb opened #2629 "Support /hystrix.stream for webflux"
Port the hystrix servlet to a webflux controller.

[2018-01-10 07:39] lijunyong opened #2630 "I can't registry eureka server by pod ip, when i deploy with kubernetes"
I'm working on a small spring boot web service which has to register against an eureka server in kubernetes,but it will always registry by the pod hostname,it'nt use the pod ip.

[code]
application.yml
[code]

http://ip:port/eureka/apps

[code]
![image](https://user-images.githubusercontent.com/14291793/34761843-7105334c-f620-11e7-83e5-4a5b5c72601b.png)

[2018-01-10 08:35] Ziemowit opened #2631 "Spring Zuul HTTPS redirection incosistency between Dalston.SR4 (works) and Edgware.RELEASE (does not work)"
We have component which bases on spring-cloud-zull.
More less it is standard ZUUL and looks like in below repository:

[https://github.com/Ziemowit/possible-spring-zuul-bug](https://github.com/Ziemowit/possible-spring-zuul-bug)

The main important case is that it:
* works based on HTTPS as all other components (they are hidden behind Apache)
* redirections are made based on **Eureka Discovery**.

[2018-01-10 09:00] #2630 closed

[2018-01-10 10:56] YorkWong commented on #2475
Although I’ve used the codes of ver. 1.4.1, the Dashboard still cannot display the graphs normally;However, when I add a line break `\n`  (as shown below) in the codes, the Dashboard can display normally.

[code]
or
[code]

[2018-01-10 15:49] ryanjbaxter commented on #2475
If you believe there is a bug please open another issue

cc: @daniellavoie

[2018-01-10 15:54] #2377 closed

[2018-01-10 15:57] ryanjbaxter commented on #2631
The description of the issue and the stack trace dont seem to align.

There was an issue with 302 redirects in Edgware.RELEASE that was fixed here https://github.com/spring-cloud/spring-cloud-netflix/issues/2578.  Although I am not sure if that is the problem here.

In the stacktrace there appears to an issue handling `https`.  Can you provide the steps to reproduce the problem with your sample?

[2018-01-10 16:06] ryanjbaxter commented on #1857
If you think there is a bug, please open another issue

[2018-01-10 19:09] tmelhiser commented on #2379
We are seeing this same behavior, using Edgware.RELEASE.

Zuul is 1.4.0, using Ribbon 2.2.4, with Eureka Client 1.7.0.

Ribbon is dynamically populating the routes via Eureka Discovery.  The discovery and population of the routes works perfectly.  However on the first run against the routes, we receive a SocketTimeoutException.

Eventually, subsequent runs are successful, but the initial few reque

[2018-01-10 21:18] ryanjbaxter commented on #2379
Could you provide the exception?  There is a known issue with the hystrix timeout when using Zuul and Ribbon, see https://github.com/spring-cloud/spring-cloud-netflix/issues/2606

[2018-01-11 06:27] HongKing opened #2634 "how to use feign multi pojo paramters?"
I want use feign and springmvc controller like this:
[code]
feign build this param to request body like this:
[code]
in springmvc controller we can write a resolver class to parse this request body, but I don't known how to build this param to request body.
I parse this request body code as follows:
[code]
[code]
[code]

[2018-01-11 07:36] Ziemowit commented on #2631
Sorry seems that I have focused on wrong parts then. But indeed mentioned fix fixes also our problem.
So waiting for next release! :D

Thank you very much for your help & quick response!

[2018-01-11 07:36] #2631 closed

[2018-01-11 08:15] doernbrackandre commented on #2377
@holy12345 thx for your time you spent to investigate this issue :)
@ryanjbaxter thx for your fix. Unfortunately I had no time to do this

Best regards,
A

[2018-01-11 12:51] #2584 closed

[2018-01-11 15:05] #2625 closed

[2018-01-11 15:05] ryanjbaxter commented on #2606
Should be fixed now via #2633

[2018-01-11 15:05] #2606 closed

[2018-01-11 15:54] tmelhiser commented on #2379
Attached are the log for the stack trace:
[zuul.log](https://github.com/spring-cloud/spring-cloud-netflix/files/1623193/zuul.log)

@spencergibb I will take a look.  Is there a mechanism to seed the eager loading based off of eureka's distribution of the hosts?  These instances are hosted inside a docker swarm and would have unique names on every deploy.  Docker's internal DNS will return multiple

[2018-01-11 21:03] #2629 closed

[2018-01-11 22:15] ryanjbaxter commented on #2629
Nice!

[2018-01-12 01:30] MrSummer33 commented on #2530
@ryanjbaxter I am also facing something similar,I using FEIGN to call The BARRELL server instance that registered with Eureka.while Calling the BARRELL ,there is a error which show me "com.netflix.client.ClientException: Load balancer does not have available server for client: barrell".can you give some advice ? thanks

[2018-01-12 01:49] YorkWong opened #2637 "[Edgware.RELEASE]Hystrix Dashboard Still Cannot display anything for Turbine Stream"
Although I’ve used the codes of ver. 1.4.1(fixed #2475 ), the Dashboard still cannot display the graphs normally,  it seems that the EventSource of the Dashboard cannot capture the `message` event. However, when I add a line break `\n`  (as shown below) in the codes, the Dashboard can display normally.

[code]
or
[code]

[2018-01-12 02:19] spencergibb commented on #2637
I believe we already have a fix for this

[2018-01-12 03:01] Caratacus commented on #1660
The same situation:
[code]

[2018-01-12 03:24] holy12345 commented on #2530
@MrSummer33
Can you provide your project code? Can we reproduce it?

[2018-01-12 09:35] GhaTMA commented on #2430
@holy12345 did you find a solution for your problem? I'm facing the same problem and can't figure out what am I doing wrong

[2018-01-12 09:52] radhey7 commented on #1646
@codecitizen Hi, Please share your application.yml file

[2018-01-12 09:54] makdeniss commented on #1646
IF anybody is interested I found the solution. Client services need to have this in their application.properties (or similiar .yml structure):

[code]

[2018-01-12 09:58] radhey7 commented on #1646
@makdeniss ..can you please share your facebook id

[2018-01-12 09:59] radhey7 commented on #1646
i want to communicate with you ....i am facing the same problem ..but everything failed

[2018-01-12 10:00] makdeniss commented on #1646
my nick is my skypeid.

[2018-01-12 10:11] radhey7 commented on #1646
@makdeniss i am unable to understand your last line
eureka.instance.instance-id=eureka.instance.instance-id=${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${random.value}}

[2018-01-12 10:12] makdeniss commented on #1646
fixed it. had duplicate `eureka.instance.instance-id=`

[2018-01-12 10:16] radhey7 commented on #1646
sent skype request ..please accept

[2018-01-12 10:38] holy12345 commented on #2430
@GhaTMA I have solved this problem, if I remember it because the configuration file is wrong

[2018-01-12 11:23] kimjuny commented on #1646
Hi, it seems network inside docker is rather complex, I can't explain why by this perfectly fixes my problem.

[code]

[2018-01-12 12:48] jimirocks opened #2638 "discoveryComposite health indicator reports UP when one of underlying indicators reports UNKNOWN"
for example, this basically happens when eureka server is unreachable:
[code]

The cause is probably usage of `OrderedHealthAggregator` which by default aggregates statuses this way. That in general makes sense, however in this particular case, I believe, the UNKNOWN status should win.

[2018-01-12 12:52] jameyg42 commented on #2220
suggest to update the (Camden-based) example projects which use the old starter names.  Also, is there a spot where the renames are documented (similar to Boot's "renamed starters" section in the release notes?)

[2018-01-12 13:09] ryanjbaxter commented on #2220
Can you be specific about what examples need to be updated?  We would be happy to do that.
https://github.com/spring-projects/spring-cloud/wiki/Spring-Cloud-Edgware-Release-Notes#renamed-starters

[2018-01-12 13:10] ryanjbaxter commented on #2638
So all you did to reproduce this was bring down the eureka server?

[2018-01-12 13:15] jimirocks commented on #2638
To be exact:
* turn off eurekad
* start the app which registers to eureka

In case the eurekad is brought down later (so the app had chance to register), the both checks result as UP (which is correct).

[2018-01-12 13:15] PatrikSteuer opened #2639 "Zuul: RibbonRoutingFilter throws error for non standard http status codes"
We are using Spring Boot 1.5.9-RELEASE and spring-cloud-starter-zuul. One of the backend services we forward requests to provide non standard http status codes like 517.

The current version of zuul contains a version of the RibbonRoutingFilter which executes on the ClientHttpResponse object following call: `.getStatusCode().value()`

This causes an IllegalArgumentException. Since the filter requi

[2018-01-12 13:47] holy12345 commented on #2639
Hi @ryanjbaxter  @PatrikSteuer
I think the revised code should be like this:
`RibbonRoutingFilter`
[code]
If you think there is no problem, I think I can submit a PR to complete this slight modification
Thanks again : )

[2018-01-12 14:17] PatrikSteuer commented on #2639
Hi @holy12345
this looks fine for me. Furthermore you have to check the forward function within the RibbonRoutingFilter where the `.getStatusCode().value()` is used.

[2018-01-12 14:25] jameyg42 commented on #2220
i'm embarrassed i didn't check the wiki for the release notes...
minimally, the samples listed on the spring cloud project page (service registry and circuit breaker dashboard), but basically all the netflix examples in https://github.com/spring-cloud-samples
- https://github.com/spring-cloud-samples/eureka/blob/master/pom.xml
- https://github.com/spring-cloud-samples/github-eureka/blob/master/pom

[2018-01-12 14:52] holy12345 commented on #2639
@PatrikSteuer
Yeah ! thank you so much for your suggestion : )
I think we just need to make two slight changes in the `RibbonRoutingFilter ` class(One is in the `forward()` method and the other is in the `setResponse()` method)
In both of these methods, `.getStatusCode().Value()`  is replaced by `.getRawStatusCode()`

[2018-01-12 15:17] ishaigor commented on #2098
@vivek-dhayalan - could you share what the issue was? I am sporadically seeing the same error stack.

[2018-01-12 15:32] spencergibb commented on #2638
The precedence of status in a health indicator is a function of spring boot and is out of our control

[2018-01-12 15:32] #2638 closed

[2018-01-12 15:38] jimirocks commented on #2638
@spencergibb it's not true the precedence is out of control. Namely you define the precedence in [your codebase](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/EurekaDiscoveryClientConfiguration.java#L87). Since that `OrderedHealthAggregator` has a setter, it can be modified for your needs.

[2018-01-12 15:41] spencergibb commented on #2638
We don't determine if unknown or up takes precedence

[2018-01-12 15:42] spencergibb commented on #2638
It has nothing to do with order

[2018-01-12 15:53] jimirocks commented on #2638
when I register
[code]

The discoveryComposite indicator results to UNKNOWN. So yes the precedence in your composite indicator has something to do with order. I am happy with my fix, I reported this issue cause I thing the default behaviour is not very correct.

If you tell me it's correct and the reason why, that's fine. But you are telling me that you can't change it, which is simply not true ;-

[2018-01-12 15:57] spencergibb commented on #2638
Ok, sorry I was wrong there. I don't think changing boot defaults (which can be set by properties I believe) is there right thing to do. The user can do it, but it would affect more than this indicator.

[2018-01-12 15:58] spencergibb commented on #2638
Eureka was built such that if it wasn't available, the service still should be. There should also be more than one eureka the service is connected to

[2018-01-12 16:00] habuma commented on #2545
I'm still digging, but it seems that...

1. Eureka already provides zone, host, and ip...the three bits of info we'd need to achieve this.
2. Somewhere between Eureka and Ribbon, the ip is lost somewhere along the way and not available in the `ServiceInstance` object.
3. It seems that most/all of this could be achieved with a custom implementation of `LoadBalancerClient`, possibly extending `Ribbo

[2018-01-12 17:06] PatrikSteuer opened #2641 "Zuul/Ribbon causes UrlEncoded Parameter"
We are using spring.boot 1.5.9 and Spring Dalston.SR5. While using zuul as a proxy we face the issue that url parameter get encoded by the proxy.
As it seems
`RibbonLoadBalancingHttpClient.execute`
calls `RibbonApacheHttpRequest.toRequest`
calls `RequestBuilder.build`
calls `URIBuilder.build` on the parameters, so they get encoded

Is it intedend to be this way and do you have an idea on how to pr

[2018-01-13 09:40] arpitx165 commented on #2324
Hi @kimjuny Still I am facing the same issue
Eureka Server Configuration look like :

  server.port=8001
spring:
  cloud:
    inetutils:
      ignored-interfaces:
        - eth0
        - eth1
        - eth2
        - eth3
        - lo
eureka.client.register-with-eureka=false
eureka.client.fetch-registry=false
eureka.server.enableSelfPreservation=false
eureka.server.eviction-interval-timer-in-ms=1

[2018-01-13 10:53] dulimitta commented on #2099
I am getting the same issue in Edgeware release as well.
"Error creating bean with name 'eurekaAutoServiceRegistration'"

[2018-01-13 12:34] ranjan-das opened #2642 "load balancer does not have available server for client zuul: com.netflix.zuul.exception.zuulexception: forwarding error"
My gateway service is not working with Eureka server, and i am getting the forwarding exception  from zuul. I have attached my sample project,
[project.zip](https://github.com/spring-cloud/spring-cloud-netflix/files/1628322/project.zip)
 where it is reproduced. Could you please help me on this?

[2018-01-13 14:15] abhishekamte opened #2643 "mutual authentication between zuul and microservice with certificates"
I have a zuul proxy acting as an edge server and my microservices are non jvm applications and I dont use ribbon or eureka. These microservices are accessible over https only and require client certs to communicate with them. Does zuul support mutual auth with certs for downstream? If so how do i set it up on my zuul server.

[2018-01-13 15:22] cforce commented on #2545
Using a custom RobbonLb was the first idea i had also.
I think for 3.) there could be support per PaaS (e.g PCF, Kubenerntes). In case of PCF we might get the information or implementation of this RibbonLB from io.pivotal.spring.cloud:spring-cloud-services-dependencies. This dep already introduces a cfg property "spring.cloud.services.registrationMethod.direct: true" thats skips a microservcies pu

[2018-01-13 17:15] binakot commented on #2324
@kimjuny Hello.
Check this issue https://github.com/spring-cloud/spring-cloud-netflix/issues/1820.
May be it will help to you. I wrote a lot there 😃.

[2018-01-13 17:34] rphlmr opened #2644 "Missing values in calculation of Zuul Hystrix Timeouts"
After reading the merged PR #2633 I have some questions.

1/ Is it normal to not multiply Ribbon connect and read timeouts by MaxAutoRetries and MaxAutoRetriesNextServer (if they are set in configuration file) ?

Or maybe the` hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds` is for each request, independently of the number of retries ?

2/ For specific commandKey (service

[2018-01-14 10:18] holy12345 commented on #2644
Hi @rphlmr
I submitted a PR to solve your second question.
In addition, as far as I know, the `hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds` parameter represents the time of all retries.

Thanks again : )

[2018-01-14 10:30] govi20 opened #2646 "Parent project dependencies not resolving"
Trying to build the project and dependencies not getting resolved

[code]

[2018-01-14 10:48] rphlmr commented on #2644
You are welcome, thanks for your reactivity ;)
I am currently working on configurations of µ service, it take me some time to understand the relation between ribbon timeouts and hystrix tiemouts.

For my 1st question, see the code in the #2633 :
Extract :

[code]

ribbonTimeout doesn't include retries (auto and next servers) and this value is set as hystrixTimeout if no hystrixTimeout is set in an

[2018-01-14 11:14] MasterColor opened #2647 "[Question]The registered Service URL always are http ?"
Question: the registered service is always http , even I made it https.
here is my configuration file
for eureka:
`server.port=8761`
`server.ssl.enabled=true`
`server.ssl.key-store=config/server.keystore`
`server.ssl.key-store-password=something`
`server.ssl.trust-store=config/resttruststore.keystore`
`server.ssl.trust-store-password=something`
`eureka.instance.hostname=localhost`
`eureka.client.r

[2018-01-14 12:55] holy12345 commented on #2644
Hi @rphlmr
Yeah! Thank you for your reply, I think I understand what you mean, according to official documents, Hystrix timeout should include all retries time. so I think what you say makes sense : )

In addition, I want to discuss with you is to set the priority of the timeout,I think the logic to set the timeout is this
- If `hystrix.command.commandKey.execution.isolation.thread.timeoutInMillis

[2018-01-14 16:35] rphlmr commented on #2644
Maybe i'm pernickety :) but I want to dig deeper for the 3rd and 4th cases.

I mean deeper becasue if there is, for exemple, only a `commndKey.nameSpace.MaxAutoRetries` set, I would like it for the calculation.

So, to help, I made a decision diagram.
With it, I hope every one can check if we are not missing a case.
I made it with draw.io, and [shared the source xml on my github](https://github.co

[2018-01-14 16:49] holy12345 commented on #2644
@rphlmr
Thank you very much for the diagram, I think he will help everyone who wants to know about this issue. Although it is 1 am Beijing time, but I did not drowse, I think I will fix this issue. Thanks again ：)

[2018-01-14 17:33] rphlmr commented on #2644
I have 2 other questions.

1/ I experienced a case that could be concerned by the PR, when using a feign client (that use ribbon logic for timeouts).
If I set hystrix timeout strictly equals to ribbon values (with retries etc), sometimes I come in hystrix timeout instead of feign retry exception due to few ms of thread operation.
According to the previous official documentation, it's said

Now tha

[2018-01-14 19:49] rphlmr opened #2648 "Hystrix stream treat ribbon timeouts like failures"
When using ribbon timeout instead of hystrix timeout (hystrix timeout > (ribbon ReadTimeout + ReadTimeout) x MaxAutoRetries x MaxAutoRetriesNextServer) with a `FeignClient`, in case of timeout, hystrix.stream (and dashboard) treat these timeouts like failures.

Using the given configuration to reproduce :
[code]

If I set no ribbon config and use only hystrix timeout, hystrix.stream treat timeouts

[2018-01-15 04:08] holy12345 commented on #2644
Hi @rphlmr
Based on the results we discussed yesterday, I modified the PR code. I ran the test code, it was successful. I hope you review the PR code (to see if meet your requirements).
Thanks again ：）

[2018-01-15 07:55] rphlmr commented on #2644
Hi @holy12345

I didn't yet review your PR but after thinking of it again, there is a mistake in the formula of hystrix timeout calculation.

We multiply max retries but we forgot that a value of 1 means : do it once after ce 1st. So, 1 means 2.

hystrixTimeout = (commandRibbonConnectTimeout + commandRibbonReadTimeout) x (commandRibbonMaxAutoRetries + 1) x (commandRibbonMaxAutoRetriesNextServer +

[2018-01-15 08:05] holy12345 commented on #2644
@rphlmr
Yes, you're right. I forgot to say, but in the code I've followed the right way

[2018-01-15 10:17] manuelgerstner commented on #2326
We have been investigating this issue on our CloudFoundry architecture a bit more and it seems to be an issue with the Http client and the way connections are kept-alive. The issue appears when using either Apache HTTP Client (default) or OkHttp. It does not appear however, when using the deprecated restclient which was previously used as the default Http client. So this is the current fix for us

[2018-01-15 14:22] erato690 commented on #255
So I had to add the following library
<dependency>
     <groupId>org.apache.httpcomponents</groupId>
      <artifactId>httpcore</artifactId>
      <version>4.4</version>
</dependency>

but it looks like some bug in the spring libs.

[2018-01-15 19:08] dulimitta opened #2649 "eurekaAutoServiceRegistration"
My API Gateway keep shutting down for the below error.

org.springframework.beans.factory.BeanCreationNotAllowedException: Error creating bean with name 'eurekaAutoServiceRegistration': Singleton bean creation not allowed while singletons of this factory are in destruction (Do not request a bean from a BeanFactory in a destroy method implementation!)

[2018-01-15 19:55] spencergibb commented on #2649
Can you please describe more? Versions? Did you perform some action that caused the error?

[2018-01-15 21:52] dulimitta commented on #2649
I am using Edgeware.release. Upgraded my pom dependencies to spring-cloud-starter-netflix-eureka-client, spring-cloud-starter-netflix-eureka-server and spring-cloud-starter-netflix-zuul.

My requirement is to have spring cloud setup on ECS. I am trying to register API Gateway with Eureka and use service id based routing.

[2018-01-16 04:19] asrar84 commented on #1620
I faced the same Issue. It is because of port mismatch in my case.

In my case:-
I am using call accessing ServiceB from ServiceA.
ServiceB is deplyoed on JBoss port 8080, with doker port mapping 6700:8080

Scenario in which I faced issue:-
server:
  context-path: /ema-user-service
  port: **6700**

Solution:-
server:
  context-path: /ema-user-service
  port: **8080**

[2018-01-16 06:19] Laxminarsaiah commented on #1620
The problem is, you put server port details in bootstrap.yml which not correct place you should keep those details in application.yml file only.

If you put server details in bootstrap.yml then while starting of the application server will look into application.yml/.properties file only. so if it available in application.yml/.properties file then it take otherwise it will take default port number

[2018-01-16 07:23] hsj1606 opened #2650 "how to change zuul http client pool size"
How to change zuul apache http client connection pool size ?

Spring Cloud version: Dalston.RELEASE

these properties not working:
ribbon.maxTotalConnections=1000
ribbon.maxPerRouteConnections=300

logging:
PoolingHttpClientConnectionManager - Connection request: [route: {}->http://127.0.0.1:8300][total kept alive: 0; route allocated: 0 of 50; total allocated: 0 of 200]

[2018-01-16 08:16] otinanism commented on #2365
How did you port the changes in Route class and the new Pair class? Just curious because I also cannot update the version yet

[2018-01-16 08:30] ch4mpy commented on #2375
Any plan for Edgware.SR1 release ?

[2018-01-16 12:38] ryanjbaxter commented on #2375
@ch4mpy we are in the process of doing the release now

[2018-01-16 12:41] ryanjbaxter commented on #2650
What version of Spring Cloud?  How are you configuring your routes?

[2018-01-16 13:41] Anthares commented on #2365
I haven't ported the part using changes in `Route`, because our use case doesn't requires it, all our routes maps to the target service's root.
And I rewrote the code which extracts the header to match the API of 1.3.5.

The only workaround I see for the `Route` class, is to manually map the properties with your own implementation. But since I don't need it.... :)

[2018-01-16 13:42] mjeanroy opened #2651 "Ribbon client always initialize Hystrix command with default timeout values"
Hi,

We recently upgrade spring-cloud-netfix from version 1.1.2 to 1.4.0 and we are seeing a strange behavior. The first time the Ribbon client try to execute an Hystrix command, the first call fail with a timeout. We tried to increase Hystrix and ribbon timeout values but it has no effect.

We tried to debug what really happens and we found that the the `HystrixCommandProperties` instance is alwa

[2018-01-16 13:42] cleversonledur commented on #2530
I am facing the same problem. Is there any solution?

[2018-01-16 13:46] cleversonledur commented on #2530
Im my tests, this occurs when I point the route to the service using serviceId (Eureka)

[2018-01-16 13:48] ranjan-das commented on #2530
No , there is no luck yet. Can somebody please help me on this? My sample project details have attached in my initial mail thread

[2018-01-16 13:53] taasjord commented on #1069
Should we expect that there will be no more enhancements (extended functionality) on ZuulProxy in favour of Spring Cloud Gateway now?

[2018-01-16 13:54] holy12345 commented on #2651
See PR #2645
This is a bug, I think the logic should be modified so (more information can see this PR).
I hope my answer can help you, thank you

[2018-01-16 13:55] cleversonledur commented on #2642
I am facing the same issue. Zuul + Eureka produces the error "load balancer does not have available server for client zuul". If I point directly to the micro-service (using url), it works. I tested changing spring cloud versions but the problem remains.

[2018-01-16 13:58] cleversonledur commented on #2588
Hi @andrej-naumovski . Have you solved this issue? I am facing a similar problem.

[2018-01-16 14:19] lpborges opened #2652 "Feign ignoring disableSslValidation property using OkHttp"
Using spring-cloud-netflix Edgware.RELEASE:
The Feign property ```feign.httpclient.disableSslValidation``` don't work when using OkHttp.

At the ```OkHttpFeignConfiguration```, when creating a ```okhttp3.OkHttpClient```, the ```OkHttpClientFactory.createBuilder``` always receive false as parameter (the parameter is ```disableSslValidation```).
The method should use the ```FeignHttpClientProperties

[2018-01-16 14:39] mjeanroy commented on #2651
Hi @holy12345,
Thanks for your answer!
This PR seems to fix the problem, I'll test it once available on maven repo ;)

[2018-01-16 14:57] hsj1606 commented on #2650
Spring Cloud version: Dalston.RELEASE
it works with
ribbon.MaxTotalConnections=2000
ribbon.MaxConnectionsPerHost=200

[2018-01-16 15:12] mjeanroy commented on #2651
Just tested with 1.4.3.BUILD-SNAPSHOT and it seems to be fixed (at least for my use case).

[2018-01-16 15:38] dulimitta commented on #2649
The error has gone After removing the EnableFeignClient annotation in my API Gateway. I am stuck on other issue but we can close this thread. Thank you for your responses.

[2018-01-16 15:42] #2649 closed

[2018-01-16 15:45] dulimitta opened #2653 "Spring Cloud on ECS"
I deployed Spring cloud on AWS ECS. I updated EurekaInstanceConfigBean for getting the AWS EC2 information in my Eureka client. If I do not pass the nonsecure port, the client is getting registered with port 80 in Eureka.
Having the port 80 open on EC2 server, the eureka client is accessible to the API Gateway.
But if I pass my application port 8000 as the nonsecure port in EurekaInstanceConfigBea

[2018-01-16 15:48] spencergibb commented on #2653
What port is the service actually running on?

[2018-01-16 15:48] dulimitta commented on #2653
It is 8000.

[2018-01-16 15:49] spencergibb commented on #2653
This doesn't sound like a eureka problem, but configuration of ECS

[2018-01-16 15:49] dulimitta commented on #2653
@Value("${server.port:8000}")
   private int port;

	@Bean
	public EurekaInstanceConfigBean eurekaInstanceConfig(InetUtils inetUtils) {
		  EurekaInstanceConfigBean b = new EurekaInstanceConfigBean(inetUtils);
		  AmazonInfo info = AmazonInfo.Builder.newBuilder().autoBuild("eureka");
		  b.setDataCenterInfo(info);
		  info.getMetadata().put(AmazonInfo.MetaDataKey.publicHostname.getName(), info.get

[2018-01-16 15:50] spencergibb commented on #2653
I don't understand how port 80 has to do with anything

[2018-01-16 15:52] dulimitta commented on #2653
Thanks for the quick responses.
If I comment b.setNonSecurePort(port) line alone, the service is getting registered with port 80. I can see the change in EUREKA_URL/eureka/apps. I have the same settings for 80 and 8000 port.

[2018-01-16 15:54] spencergibb commented on #2653
But how would it work on port 80if it's not actually listening it being forwarded?

[2018-01-16 15:59] dulimitta commented on #2653
Yes, the container port is 8000, but the host port is 80. I am updating my configuration to host port 8000.

[2018-01-16 16:06] spencergibb commented on #2653
If port 80 is what is visible, that is what should be registered

[2018-01-16 16:06] #2653 closed

[2018-01-16 16:08] dulimitta commented on #2653
Thanks spencergibb. It is working!!!

[2018-01-16 18:58] spencergibb commented on #1895
MDN states:

[2018-01-16 20:47] spencergibb commented on #2530
@ranjan-das your gateway needs to include the eureka client
[code]

@cleversonledur can you provide a project that recreates the problem and has proper dependencies?

[2018-01-16 20:48] spencergibb commented on #2650
@hsj1606 that is correct, ribbon properties are care sensitive.

[2018-01-16 20:48] #2650 closed

[2018-01-17 01:11] #2652 closed

[2018-01-17 01:38] ryanjbaxter commented on #2651
Reopening since the PR was not merged

[2018-01-17 02:52] rworsnop commented on #2479
Looks like this didn't make it into 1.4.1 or 1.4.2. Any updates on the actual release for this?

[2018-01-17 08:39] mjeanroy commented on #2651
Ok, let me know once a new snapshot is available, I'll be happy to test it!

[2018-01-17 11:37] ryanjbaxter commented on #2479
@rworsnop there have been a couple issues opened around this problem.  There was a change that made it into 1.4.2.RELEASE https://github.com/spring-cloud/spring-cloud-netflix/pull/2633/files.  Let us know if this addresses your issue

[2018-01-17 11:44] ryanjbaxter commented on #2648
Why wouldnt you expect Hystrix to not treat the timeouts as failures?

[2018-01-17 11:52] ryanjbaxter commented on #2647
Read the section here in our documentation http://cloud.spring.io/spring-cloud-static/Edgware.RELEASE/single/spring-cloud.html#_registering_a_secure_application

[2018-01-17 11:53] ryanjbaxter commented on #2646
To build the project run the `build.sh` script in the `/scripts` directory.

[2018-01-17 11:53] #2646 closed

[2018-01-17 11:55] rphlmr commented on #2648
When a timeout occured by hystrix, it's shown as "timeout". When it occured by ribbon or FeignClient(with url) it's shown as "failure".
For me a ribbon, feign, or hystrix timeout are timeout, not failure.
Failure, for me, it when I received a 500 error.
I debuged my fallbackFactory (FeignClient) and its cause, and when we enter in it because of a timeout, the http status code off the cause is 0. S

[2018-01-17 12:47] ryanjbaxter commented on #2643
Sounds like you should be using Netflix Zuul not Spring Cloud Zuul.

[2018-01-17 12:48] ryanjbaxter commented on #2099
@dulimitta if you believe there is still an issue, please open a new issue with a project and steps to reproduce the problem

[2018-01-17 12:50] ryanjbaxter commented on #2641
Are you saying the parameters are double encoded?

[2018-01-17 12:57] bsushant-athena opened #2655 "Need source details when hystrix fallback is called"
In ApiGateway we have specified routes as "*" i.e. fallback for all routes. So now I want to log the information about a service or source when any fallback occurs( i.e. which service is down or not responding )so that I'll have exact info and it will be helpful for debugging.

As per discussion with @ryan J Baxter it looks like the enhancement is required. Can somebody provide more details on thi

[2018-01-17 13:40] lishengsam commented on #2530
I am also facing the same problem in zuul server about few hours ago in product env . It just accur less than one minute and auto resume. I check the eureka server logs but can't find any relative suspicious infomation.

spring cloud version: Edgware.RELEASE

this is my zuul server application.yaml
[code]

[2018-01-17 13:45] Nisreen123 opened #2657 "Unable to Get CSRF token at Angular client"
We are developing a product using the micro services architecture, the UI for the product is developed with Angular (client side component), to implement the SSO across micro services, we used Oauth2
But since the implicit flow is not secured, we made the API gateway (zuul) acts as the Oauth Client with authorization code flow , hence, we used both (@EnableZuulProxy and @EnableOAuth2Sso) at the AP

[2018-01-17 14:04] ryanjbaxter commented on #2657
I know @dsyer wrote a series of articles touching on Angular JS
https://spring.io/blog/2015/01/12/spring-and-angular-js-a-secure-single-page-application
https://spring.io/blog/2015/01/12/the-login-page-angular-js-and-spring-security-part-ii
https://spring.io/blog/2015/01/20/the-resource-server-angular-js-and-spring-security-part-iii
https://spring.io/blog/2015/01/28/the-api-gateway-pattern-angular

[2018-01-17 14:05] ryanjbaxter commented on #2530
Folks without someone providing a reproducible set of steps it is going to be hard to help figure out what the problem is.  If someone could please give us some steps to reproduce we will gladly look into the problem.

[2018-01-17 14:18] dsyer commented on #2657
Those blogs are out of date, but the code is up to date in the tutorial forms: https://spring.io/guides/tutorials/spring-security-and-angular-js/ https://spring.io/guides/tutorials/spring-boot-oauth2/. CSRF tokens are covered there (in both I think). Not really a netflix question?

[2018-01-17 15:58] cleversonledur commented on #2530
Hi @ryanjbaxter

I created a repository with a simplified version of my current project.

https://github.com/cleversonledur/springcloud-netflixoss-project

[2018-01-17 18:12] ryanjbaxter commented on #2651
@mjeanroy I think #2633 probably fixed the issue you were seeing.  @holy12345 has some improvements on that fix in #2645.  Follow that PR to see how the logic evolves.

[2018-01-17 18:12] #2651 closed

[2018-01-17 18:48] ryanjbaxter commented on #2648
I dont think that the two are the same.  A Hystrix timeout is just the app protecting itself in some way.  It has decided that the protected action has taken to long so rather than sacrifice the performance of my app I am going to stop the operation and do something else.  The operation may still complete successfully if the circuit breaker was not there.
A timeout from Ribbon means the HTTP clien

[2018-01-17 18:52] ryanjbaxter commented on #2642
closing in favor of #2530

[2018-01-17 18:52] #2642 closed

[2018-01-17 19:14] cleversonledur commented on #2530
@ryanjbaxter
I did some updates in the project. There were some problems in docker-compose and hostname addresses. You can run the whole project with ./buildup.sh script.

You can reproduce the error doing an empty request (POST) to
`http://localhost:8765/email/v1/message/new`

[2018-01-17 20:01] ryanjbaxter commented on #2375
@lchayoun see #2503

[2018-01-17 20:03] spencergibb commented on #2530
@cleversonledur can you please simplify your project? eureka, gateway and service is all that is needed. It's too much for me to try and dig into.

[2018-01-17 20:04] ryanjbaxter commented on #2220
@jameyg42 feel free to open PRs against those projects to update them.  If not we will get to them as soon as we can

[2018-01-17 21:30] habuma commented on #2545
In my testing, I've confirmed that the default behavior *is* to register both the app's route (in the "hostName" property) and the app's IP address (in the "ipAddr" property), *UNLESS* `eureka.instance.prefer-ip-address` is set to `true` (which is what happens in SCS when you set the registration method to "direct"). In that case, the IP address is registered in the "hostName" property *and* in th

[2018-01-17 21:43] spencergibb commented on #2545
I don't think a custom `LoadBalancerClient` is needed. In fact, see [`DomainExtractingServerList`](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/ribbon/eureka/DomainExtractingServerList.java). It has access to `InstanceInfo` via `DiscoveryEnabledServer` which has both host and ip addr. Can probabl

[2018-01-17 23:27] tf-martin-maier-moessner opened #2659 "Wrong order of registration events"
I believe I have found a race condition with the spring-cloud-netflix-eureka-server (Edgware) module concerning registration of instances.
When an instance on the Eureka server registers, an `EurekaInstanceRegisteredEvent` is emitted by `InstanceRegistry`. Unfortunately, this event is emitted _before_ the actual registration has taken place in the `InstanceRegistry` itself. Typically, one would ha

[2018-01-17 23:32] spencergibb commented on #2634
This isn't spring mvc, it's not currently possible.

[2018-01-17 23:33] spencergibb commented on #2637
can you try Edgware.SR1?

[2018-01-17 23:42] spencergibb commented on #1620
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-17 23:42] #1620 closed

[2018-01-17 23:47] spencergibb commented on #1069
@taasjord I've marked it to talk about it.

[2018-01-17 23:52] spencergibb commented on #2659
I don't think it was intentional. Is it causing a problem? Remember, eureka is eventually consistent. Even if it is published after querying eureka might not show it was registered.

[2018-01-17 23:56] spencergibb commented on #946
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-17 23:56] #946 closed

[2018-01-17 23:57] spencergibb commented on #1380
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-17 23:57] #1380 closed

[2018-01-17 23:57] spencergibb commented on #1356
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-17 23:57] #1356 closed

[2018-01-17 23:57] spencergibb commented on #1159
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-17 23:57] #1159 closed

[2018-01-17 23:58] spencergibb commented on #1095
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-17 23:58] #1095 closed

[2018-01-17 23:58] spencergibb commented on #725
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-17 23:58] #725 closed

[2018-01-17 23:58] spencergibb commented on #43
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-17 23:58] #43 closed

[2018-01-18 00:12] spencergibb commented on #1312
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:12] #1312 closed

[2018-01-18 00:13] spencergibb commented on #1460
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:13] #1460 closed

[2018-01-18 00:13] spencergibb commented on #1468
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:13] #1468 closed

[2018-01-18 00:14] spencergibb commented on #1163
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:14] #1163 closed

[2018-01-18 00:15] spencergibb commented on #1484
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:15] #1484 closed

[2018-01-18 00:15] spencergibb commented on #1418
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:15] #1418 closed

[2018-01-18 00:15] spencergibb commented on #1499
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:15] #1499 closed

[2018-01-18 00:16] spencergibb commented on #1514
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:16] #1514 closed

[2018-01-18 00:16] spencergibb commented on #1558
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:16] #1558 closed

[2018-01-18 00:16] spencergibb commented on #1632
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:16] #1632 closed

[2018-01-18 00:17] spencergibb commented on #1642
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:17] #1642 closed

[2018-01-18 00:18] spencergibb commented on #785
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:18] #785 closed

[2018-01-18 00:19] spencergibb commented on #1655
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:19] #1655 closed

[2018-01-18 00:19] spencergibb commented on #867
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:19] #867 closed

[2018-01-18 00:20] spencergibb commented on #1791
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:20] #1791 closed

[2018-01-18 00:20] spencergibb commented on #1719
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:20] #1719 closed

[2018-01-18 00:20] spencergibb commented on #1790
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:20] #1790 closed

[2018-01-18 00:21] spencergibb commented on #1835
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:21] #1835 closed

[2018-01-18 00:21] spencergibb commented on #1555
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:21] #1555 closed

[2018-01-18 00:21] spencergibb commented on #1841
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:21] #1841 closed

[2018-01-18 00:21] spencergibb commented on #1883
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:21] #1883 closed

[2018-01-18 00:22] spencergibb commented on #1867
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:22] #1867 closed

[2018-01-18 00:22] spencergibb commented on #1897
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:22] #1897 closed

[2018-01-18 00:23] spencergibb commented on #1903
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:23] #1903 closed

[2018-01-18 00:24] spencergibb commented on #1874
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:24] #1874 closed

[2018-01-18 00:25] spencergibb commented on #1971
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:25] #1971 closed

[2018-01-18 00:25] spencergibb commented on #2005
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:25] #2005 closed

[2018-01-18 00:26] spencergibb commented on #2023
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:26] #2023 closed

[2018-01-18 00:26] spencergibb commented on #2013
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:26] #2013 closed

[2018-01-18 00:27] spencergibb commented on #2012
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:27] #2012 closed

[2018-01-18 00:27] spencergibb commented on #2056
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:27] #2056 closed

[2018-01-18 00:27] spencergibb commented on #2072
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:27] #2072 closed

[2018-01-18 00:28] spencergibb commented on #2068
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:28] #2068 closed

[2018-01-18 00:28] spencergibb commented on #2095
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:28] #2095 closed

[2018-01-18 00:28] spencergibb commented on #2134
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:28] #2134 closed

[2018-01-18 00:29] spencergibb commented on #2129
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:29] #2129 closed

[2018-01-18 00:29] spencergibb commented on #2152
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:29] #2152 closed

[2018-01-18 00:29] spencergibb commented on #2047
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:29] #2047 closed

[2018-01-18 00:29] spencergibb commented on #2188
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:29] #2188 closed

[2018-01-18 00:29] spencergibb commented on #2193
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:29] #2193 closed

[2018-01-18 00:30] spencergibb commented on #2189
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:30] #2189 closed

[2018-01-18 00:30] spencergibb commented on #2049
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:30] #2049 closed

[2018-01-18 00:31] spencergibb commented on #2214
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:31] #2214 closed

[2018-01-18 00:31] spencergibb commented on #2238
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:31] #2238 closed

[2018-01-18 00:32] spencergibb commented on #2229
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:32] #2229 closed

[2018-01-18 00:32] spencergibb commented on #2227
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:32] #2227 closed

[2018-01-18 00:32] spencergibb commented on #2236
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:32] #2236 closed

[2018-01-18 00:33] spencergibb commented on #1212
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:33] #1212 closed

[2018-01-18 00:33] spencergibb commented on #2294
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:33] #2294 closed

[2018-01-18 00:34] spencergibb commented on #1816
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:34] #1816 closed

[2018-01-18 00:35] spencergibb commented on #2273
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:35] #2273 closed

[2018-01-18 00:35] spencergibb commented on #2302
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:35] #2302 closed

[2018-01-18 00:35] spencergibb commented on #2288
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:35] #2288 closed

[2018-01-18 00:36] spencergibb commented on #2321
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:36] #2321 closed

[2018-01-18 00:37] spencergibb commented on #2292
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:37] #2292 closed

[2018-01-18 00:37] #1740 closed

[2018-01-18 00:38] spencergibb commented on #2297
@ralphgj is this still an issue with Edgware.SR1?

[2018-01-18 00:40] spencergibb commented on #1064
#2087 is in `Edgware.RELEASE`, can anyone confirm this fixes it?

[2018-01-18 00:40] #2328 closed

[2018-01-18 00:41] spencergibb commented on #2102
Closing in favor of #1774

[2018-01-18 00:41] #2102 closed

[2018-01-18 00:41] spencergibb commented on #2351
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:41] #2351 closed

[2018-01-18 00:42] spencergibb commented on #2167
@Webdesics can you describe exactly what you are imagining?

[2018-01-18 00:43] spencergibb commented on #2376
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:43] #2376 closed

[2018-01-18 00:43] spencergibb commented on #2383
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:43] #2383 closed

[2018-01-18 00:43] spencergibb commented on #2403
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:43] #2403 closed

[2018-01-18 00:44] spencergibb commented on #2402
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:44] #2402 closed

[2018-01-18 00:44] spencergibb commented on #2410
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:44] #2410 closed

[2018-01-18 00:44] spencergibb commented on #2434
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:44] #2434 closed

[2018-01-18 00:44] spencergibb commented on #2416
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:44] #2416 closed

[2018-01-18 00:46] spencergibb commented on #1490
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:46] #1490 closed

[2018-01-18 00:46] spencergibb commented on #2451
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:46] #2451 closed

[2018-01-18 00:47] spencergibb commented on #2412
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:47] #2412 closed

[2018-01-18 00:47] spencergibb commented on #2357
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:47] #2357 closed

[2018-01-18 00:47] spencergibb commented on #2445
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:47] #2445 closed

[2018-01-18 00:48] spencergibb commented on #2463
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:48] #2463 closed

[2018-01-18 00:48] spencergibb commented on #2459
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:48] #2459 closed

[2018-01-18 00:49] spencergibb commented on #2343
Closing in favor of https://github.com/spring-projects/spring-boot/issues/11173

[2018-01-18 00:49] #2343 closed

[2018-01-18 00:50] spencergibb commented on #2492
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:50] #2492 closed

[2018-01-18 00:50] spencergibb commented on #2406
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:50] #2406 closed

[2018-01-18 00:50] spencergibb commented on #2476
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:50] #2476 closed

[2018-01-18 00:50] spencergibb commented on #2482
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:50] #2482 closed

[2018-01-18 00:52] spencergibb commented on #2517
@alsrk666 I'm still confused. Can you provide a project that recreates the problem.

[2018-01-18 00:53] spencergibb commented on #2533
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:53] #2533 closed

[2018-01-18 00:53] spencergibb commented on #2429
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:53] #2429 closed

[2018-01-18 00:54] spencergibb commented on #1783
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:54] #1783 closed

[2018-01-18 00:54] spencergibb commented on #2396
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:54] #2396 closed

[2018-01-18 00:55] spencergibb commented on #2567
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:55] #2567 closed

[2018-01-18 00:55] spencergibb commented on #2287
ping @tomerc

[2018-01-18 00:56] spencergibb commented on #1983
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:56] #1983 closed

[2018-01-18 00:56] spencergibb commented on #2593
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:56] #2593 closed

[2018-01-18 00:56] spencergibb commented on #2566
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-01-18 00:56] #2566 closed

[2018-01-18 00:57] spencergibb commented on #2621
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-01-18 00:57] #2621 closed

[2018-01-18 00:59] spencergibb commented on #2423
@Yaghiyah is this still a problem?

[2018-01-18 01:18] jebeaudet commented on #2610
I believe you might need the fix mentioned in https://github.com/spring-cloud/spring-cloud-netflix/issues/1751

[2018-01-18 01:28] jebeaudet commented on #2542
It's actually a race condition in Eureka that has been fixed in https://github.com/Netflix/eureka/pull/1023, setting the instance status sets the dirty flag and the `InstanceInfoReplicator` catches that and might even re-register the instance.

IMO, setting the instance to DOWN and triggering an on demand refresh is wanted (let's say for long shutdown procedures), however, without that PR in Eurek

[2018-01-18 02:15] dulimitta opened #2660 "Eureka with AWS ECS Fargate"
I am deploying spring cloud application onto AWS ECS.
I updated my eureka client with overriding EurekaInstanceConfigBean as to register with IP address.
It is working well with launch type EC2 but failing with Fargate.
Here is my configuration. I can see null values in the system logs.
[code]

[2018-01-18 02:22] spencergibb commented on #2660
Please learn how to properly [format code and logs](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2018-01-18 02:24] spencergibb commented on #2660
I'm unsure what we can do about this. `AmazonInfo` is from eureka client (not maintained here) using amazon APIs to get information. You should probably open an issue there. https://github.com/Netflix/eureka

[2018-01-18 02:24] #2660 closed

[2018-01-18 03:52] dulimitta commented on #2660
Sure @spencergibb. Thank you. Thanks for letting me know the code format trick.

[2018-01-18 05:11] Imran-Mohamed opened #2661 "Performance problem with zuul"
We are using api gateway pattern and making request to our microservices. our microservices are in private subnet hence we are using another service called api-gateway which has zuul in it for routing.when we are load testing our microservices, the time taken for request to hit the microservice and time taken for response to return to api-gateway is more.

1.  api-gateway service deployed in m4.10

[2018-01-18 05:51] MarkBramnik commented on #2610
Thanks, @jebeaudet,

I'm sorry just had no time to provide a working project that demonstrates this issue (we've just used form-data instead and it worked).
In my understanding When the query just like I've put in a bug description is submitted to Zuul enabled microservice with content-type _multipart/mixed_ (it's different than form-data), the spring cloud doesn't know how to handle it, if I reme

[2018-01-18 07:05] spencergibb commented on #2661
The trace you posted said, that a network call from your gateway to your service took 140 seconds.

[2018-01-18 08:01] dsyer commented on #2657
I still didn’t not think this is an issue (or even a question) about Spring cloud Netflix. Your downstream services probably are oauth2 authenticated (with a token) and they probably don’t need csrf protection in that channel. I realize that things can be more complicated, but really, you need to take usage questions to stack overflow, and be as precise as possible about your scenario (sample apps

[2018-01-18 08:01] #2657 closed

[2018-01-18 08:14] MrSummer33 opened #2662 "feign + robbin + eureka: feign can not find server from eureka"
i am sure the server APP register in eureka ,but i can not git a server from eureka

eureka dashboard:
![image](https://user-images.githubusercontent.com/21139900/35087216-5644ddc8-fc6a-11e7-89a0-fa18cb8741ac.png)

clientAPP
![image](https://user-images.githubusercontent.com/21139900/35086943-59e65db8-fc69-11e7-93ee-bdef814a2f03.png)

when i call the feignclient it return me a exception that say "

[2018-01-18 08:17] holy12345 commented on #2662
Hi can you provide the configuration file for your APP service (such as `.yml` or `.properties`)

[2018-01-18 08:28] MrSummer33 commented on #2662
@holy12345
eureka:
![image](https://user-images.githubusercontent.com/21139900/35087631-d8cc2944-fc6b-11e7-8f18-8071bdb416ff.png)

server:barrall
![image](https://user-images.githubusercontent.com/21139900/35087822-7bba0982-fc6c-11e7-9a63-18279dd274d4.png)

server:chow
![image](https://user-images.githubusercontent.com/21139900/35087698-172cc248-fc6c-11e7-94a4-dedd6a97b8ab.png)

client
![image](ht

[2018-01-18 08:38] tine2k commented on #2659
I am trying to get notified as soon as InstanceRegistry (on the same eureka vm) has updated. Correct me if I am wrong, but eventual consistency only applies in clustered mode. super.register() would immediatly (as in synchronously, same thread) update the registry right?

Can you think of another way to get notified as soon as a registration change is consistent?

[2018-01-18 08:39] Imran-Mohamed commented on #2661
network call from api gateway to my service took 71.840 sec and response from my service to api gateway took close to 71sec(145.409s-73.569s). overall request time was 145.409 sec.

[2018-01-18 09:01] holy12345 commented on #2662
Hi @MrSummer33
I found that your App client has such a configuration(`ribbon.http.client.enabled : true`)，You can remove this parameter, and then try again

[2018-01-18 09:32] YorkWong commented on #2637
I've updated it to the Edgware.SR1, but  it seems that still not working.
Turbine Stream
![turbine stream](https://user-images.githubusercontent.com/4627702/35090698-65bfa8ea-fc75-11e7-9c07-bb87a65ff141.png)

 Dashboard
![hystrix](https://user-images.githubusercontent.com/4627702/35090693-62d0748e-fc75-11e7-871c-e4826a9cde3d.png)

[2018-01-18 11:39] ryanjbaxter commented on #2661
I dont see how this points to a problem with Zuul especially since it took 75 sec for the client to send the response back to Zuul.  Seems like something else might be going on.

[2018-01-18 11:47] Imran-Mohamed commented on #2661
ok....then why is my server received time showing as 71.840s my api-gateway service is a plane zuul implementation.why is api-gateway taking so much time to send request to my back-end service.

[2018-01-18 12:10] cleversonledur commented on #2530
@spencergibb I removed the project config-server and now we have only eureka, gateway and the microservice projects.

[2018-01-18 12:38] ryanjbaxter commented on #2661
I completely agree that there is something happening there as well.  Could you provide a project that reproduces the problem?

[2018-01-18 12:50] cleversonledur commented on #2530
@spencergibb I also simplified the microservice. You can do a simple GET request to /test now.

[2018-01-18 12:52] ryanjbaxter commented on #2542
Thanks @jebeaudet.  We can pick up that fix in the next Netflix release.  Doesnt look like it has made it into a release yet.

[2018-01-18 13:53] Yaghiyah commented on #2423
@spencergibb this was a permission (I think) issue not sure where the issue was, working fine on my laptop.

Thanks!

[2018-01-18 14:25] sbogadhi opened #2663 "Spring Feign client :client truststore & keystore conf"
Not able to request https Web Service with client truststore and keystore confuguration.

Failing with the Unable to find valid certificate on requested target.

[2018-01-18 16:28] dulimitta opened #2665 "Caused by: com.netflix.client.ClientException: Load balancer does not have available server for client:<service>"
I can see two instances of the same Eureka client got registered. But the API Gateway is complaining about the below error.

Caused by: com.netflix.client.ClientException: Load balancer does not have an available server for the client:<client-name>

I have ribbon.eureka.enabled=false setting.

The same configuration of code is working well in another environment.

[2018-01-18 16:39] spencergibb commented on #2665
`ribbon.eureka.enabled=false` disables ribbons integration with eureka. Why would you expect that to work?

[2018-01-18 16:48] dulimitta commented on #2665
So is it mandatory to enable it? Doesn't Eureka do load balancing without this setting?
Some other exception made me disable this setting.

[2018-01-18 16:50] spencergibb commented on #2665
Eureka doesn't do load-balancing, ribbon does. If it's not connected to eureka, you have to supply all hosts manually

[2018-01-18 16:52] dulimitta commented on #2665
Thanks @spencergibb

Ok. I would run a single instance and check if that works. Then, I enable ribbon, deal with the exceptions and then run multiple instances.

[2018-01-18 17:31] habuma commented on #2545
@spencergibb Are you thinking that perhaps SCS could (in its connectors) configure a `ribbonServerList` bean (overriding the one provided by autoconfig) that returns a custom `DomainExtractingServerList` that instead of relying on `useIpAddr` as the only/universal factor when deciding to use IP vs host, it could instead compare zone with host and decide whether to use IP vs. host?

On the surface

[2018-01-18 17:47] spencergibb commented on #2545
Yes.

[2018-01-18 18:19] osmanddas commented on #1601
Hi,

I am also getting exactly the same issue. Is there any way to fix this without changing the maven local rep?

Thanks

[2018-01-18 18:29] spencergibb commented on #1601
@osmanddas have you tried the suggestions of clearing your local maven repository?

[2018-01-18 18:30] spencergibb commented on #2663
You need to configure the http client that feign is using. Which are you using?

[2018-01-18 18:40] #2655 closed

[2018-01-18 18:41] #2423 closed

[2018-01-18 19:02] #2503 closed

[2018-01-18 19:37] spencergibb commented on #2659
I think it's as close as you would get.

[2018-01-18 20:01] dulimitta opened #2666 "Ribbon cannot connect to EC2 private IP."
I am setting Spring cloud on AWS ECS.

I am registering eureka clients with overriding EurekaInstanceConfigBean.
The client is reachable to APIGateway with Ribbon when I register the client with public IP.  But it is not working with private IP. If it works with private IP, I don't need to open the application ports.

I have eureka.instance.preferIpAddress=true and my EurekaInstanceConfigBean is b

[2018-01-18 20:01] spencergibb commented on #2530
@cleversonledur I created two pull requests that fix your problems.

The gateway wasn't pointed at eureka properly. And microservice, you set the `eureka.instance.*` settings to the server, which is incorrect.

[2018-01-18 20:02] spencergibb commented on #2530
I'm going to close this issue. If anyone can provide a project that is properly configured and shows a bug, I'll reopen.

[2018-01-18 20:02] #2530 closed

[2018-01-18 20:17] spencergibb commented on #2666
@dulimitta I'm unsure what to do about it. This looks almost identical to #2660 that you opened the other day. What does this mean?

If gateway can't reach it via private ip, isn't that a network problem? What does ribbon have to do with any of it?

[2018-01-18 20:40] dulimitta commented on #2666
@spencergibb

Though they seem to be similar, #2660 is about Fargate instance and #2666 is about EC2.
My concern is if I am missing any eureka, ribbon or EurekaInstanceConfigBean configuration.

[2018-01-18 20:47] spencergibb commented on #2666
If one instance can't see the private ip of another, what configuration on spring cloud would fix that?

[2018-01-18 20:53] dulimitta commented on #2666
Before implementing the EurekaInstanceConfigBean, I was having issues connecting with public IP as well.
EurekaInstanceConfigBean configuration helped me.

Please close the issue if spring configuration cannot help.

[2018-01-18 21:01] #2666 closed

[2018-01-19 05:04] bsushant-athena commented on #2655
hey ,can you let me know how to use this functionality ? and is it safe to use in production ?

[2018-01-19 06:30] soyoeml commented on #321
The upstairs doesn't work for me. Which yml file to modify? The microservice yml file or gateway project?

[2018-01-19 07:10] MasterSlave opened #2667 "Ribbon RetryableRibbonLoadBalancingHttpClient AutoRetriesNextServer is not working"
Hi @ryanjbaxter,

We are using Egdware.SR1 release and we noticed that when you were fixing #2526, RetryableRibbonLoadBalancingHttpClient:134
[code]
has wrong parameter, first parameter should be newRequest.

In RetryCallback.doWithRetry method, after the first attempt if it fails, according to retry policy it sets next service instance to load balanced retry context. When second iteration of doWi

[2018-01-19 07:25] cforce commented on #2545
Don't forget that a compare of target host with current zone evaluating to  true is not enought to fullfill a secucessfull route. If using the ip it's still possible that it not reachable because there is no Conatiner 2 Conatiner network (fwall open, overaly network etsbalished) connection between source and target.
There are two ways to solve that, which both could be applied or either or.
1:) Th

[2018-01-19 08:24] tine2k commented on #2659
It causes a problem for what I am trying to do. I think emitting the event after the registration on the node has taken place is the more correct - or at least more useful since you can rely on a processed registration event in `InstanceRegistry`.

[2018-01-19 08:54] MrSummer33 commented on #2662
@holy12345 thank for your advise , but i am very sorry to say it is failed again , i try all related configration ,but it can not be Ok

[2018-01-19 09:01] MrSummer33 commented on #1178
@spencergibb can i put my localDate field in ResquestBody?

[2018-01-19 09:37] #1463 closed

[2018-01-19 11:40] ryanjbaxter commented on #2662
@MrSummer33 there was a similar issue that was closed recently (#2530) because no one could provide a sample that reproduced the problem.  Could you perhaps provide a simple sample that demonstrates the problem?

[2018-01-19 13:06] ryanjbaxter commented on #2667
Ugh yes you are right!

[2018-01-19 13:07] zhouze1992 opened #2668 "HttpClientRibbonConfiguration create disableContentCompression HttpClient"
Preconditions:
version info:
spring-cloud-dependencies.version:Edgware.RELEASE
spring-cloud-netfilix-core:1.4.0.RELEASE
My tomcat container has gzip enabled.

Description:
When I upgrade the spring-cloud-dependencies.version D to E, in my code
` String copyToString = StreamUtils
                            .copyToString(RequestContext.getCurrentContext().getResponseDataStream(), Charset.forName("U

[2018-01-19 13:08] ryanjbaxter commented on #2655
It is in the 2.0.0.BUILD-SNAPSHOTS for now.  It will be included in the next 2.0.0 milestone.  Milestones are not recommended for production use.

[2018-01-19 17:36] ryanjbaxter commented on #2668
The `createDelegate` method is only kept there for backward compatibility at the moment.

We had several places in spring cloud netflix where we were creating http clients of different kinds.  Each one was configured differently.  We needed to unify the creation of these clients so the various ways of making http requests behaved consistenly.  This meant creating a default http client configuratio

[2018-01-19 17:58] dhanvi commented on #2324
I was making sure that we will always get container-id using this https://stackoverflow.com/a/45233417/3514300

[2018-01-19 17:59] dhanvi commented on #1820
This answer (https://stackoverflow.com/a/45233417/3514300) is working for me.

[2018-01-19 18:00] dhanvi commented on #1820
#2084

[2018-01-19 18:01] dhanvi commented on #2324
#2084

[2018-01-19 18:06] dhanvi commented on #2324
@kimjuny your configuration might fail if the docker container has more than 4 networks for example eth4 or eth5.

One way of making sure that you always get the hostname is by setting `eureka.instance.hostname`.

Refer: https://github.com/spring-cloud/spring-cloud-netflix/blob/master/docs/src/main/asciidoc/spring-cloud-netflix.adoc#prefer-ip-address

[2018-01-19 19:22] ryanjbaxter commented on #2667
@MasterSlave see the above PR

[2018-01-19 20:27] #2667 closed

[2018-01-20 08:17] MrSummer33 commented on #2662
@ryanjbaxter i am sorry that i can't give you my source code, because of this my company's project.what we do for compromise is to declare the url for a explicitly server post
![image](https://user-images.githubusercontent.com/21139900/35181481-445a1576-fdfd-11e7-8602-68b8a5f52e11.png)

[2018-01-20 15:27] spencergibb commented on #2662
The `url` attribute will specifically not use service discovery

[2018-01-21 02:33] sj853 opened #2672 "FeignClient: How to use Pageable?"
I have been depressed for a few days.
I am build  a MicroService who support Spring Data Pageable functionnality.
like this:

@Override
    public Result<Page<CategoryDTO>> getList(@RequestBody CategoryDTO tDto, Pageable pageable) {
        return Result.<Page<CategoryDTO>>builder().data(service.getList(tDto, pageable)).build();
    }

so i request(POST) with body like :

{
"test":"aaa"
}

works p

[2018-01-21 04:54] alexis-globant commented on #1958
@aashish-tripathi could you please share the configuration that you use to enable a client connect to EUREKA throught HTTPS?

[2018-01-21 05:21] spencergibb commented on #2672
Duplicates #556

[2018-01-21 05:21] #2672 closed

[2018-01-21 19:38] rphlmr commented on #2648
It's a point of view that I can share. In our case, we use timeouts (ribbon) and fallback (from hystrix) to protect our resources, so that the same (for us).
We use ribbon first because it's more easy to customize timeouts and for some case we add retry logic.
Thx, I think we can close this none issue :)

[2018-01-21 19:42] #2648 closed

[2018-01-22 01:58] zhouze1992 commented on #2668
Thank you for your reply. This is an effective way to solve this problem.

[2018-01-22 01:58] #2668 closed

[2018-01-22 16:27] #2639 closed

[2018-01-22 17:31] szagriichuk commented on #2490
The issue is in race condition investigated by @altomch :
to reproduce do sleeps as described in comments:
[code]
code from DiscoveryClient class.

[2018-01-23 06:22] dingzhongfa commented on #1773
it's real a bug

[2018-01-23 07:15] Yenchu commented on #2637
We came to the same issue with Edgware.SR1.

[2018-01-23 09:45] wyzssw commented on #947
Disable ServoMetrics by add spring.metrics.servo.enabled=false to application.properties

[2018-01-23 11:52] cleversonledur commented on #2530
@spencergibb @ryanjbaxter Thank you very much! Now it is working properly! The problem was my configuration.

[2018-01-23 13:19] habbo656 opened #2673 "Eureka SSL config and separate management port registering with wrong secureHealthCheckUrl"
Hi,

we are using SSL configuration for our services and we have differing server.port and management.port.

Looking at how the instances are registered, the secureHealthCheckUrl seems to be wrong. It uses the server.port instead of the management.port. This only happens with ssl configuration. The problem does not occur without ssl.

[code]
configuration:
[code]
The only workaround that works for

[2018-01-23 14:20] Michael-Frank commented on #1895
The statement in commit message a38b7b71ac8be9608ac2530dac41cd6298d696cf is wrong:

The `host` value token of a `Forwarded` header **can** contain an port: `<host>:<port>`

The Forwarded [rfc7239](https://tools.ietf.org/html/rfc7239) describes this in [section-5.3](https://tools.ietf.org/html/rfc7239#section-5.3)

And [RFC7230 Section 5.4](https://tools.ietf.org/html/rfc7230#section-5.4) states:

[2018-01-23 15:40] ryanjbaxter commented on #2673
Which version of Spring Cloud are you using?

[2018-01-23 15:46] habbo656 commented on #2673
Spring-cloud version Edgware.RELEASE (also Dalston.SRx tested...)

[2018-01-23 16:21] ryanjbaxter commented on #2673
Can you try Edgware.SR1?

[2018-01-23 19:00] leonardovillela commented on #1826
Why you discourage sharing interfaces between server and client?

[2018-01-24 06:29] robertofpaf commented on #1498
Zuul 2 has now been released (based on https://github.com/Netflix/zuul/issues/298), so are there any plans to support it in the foreseeable future?

[2018-01-24 06:48] eacdy commented on #2637
@spencergibb @Yenchu @YorkWong @ryanjbaxter Same Issue.

[2018-01-24 06:48] eacdy commented on #2475
@ryanjbaxter After I upgrate my verson to Edgware.SR1, the problem is still .

[2018-01-24 07:00] eacdy opened #2674 "[Edgware.SR1]Hystrix Dashboard Cannot display anything for Turbine Stream"
I update my samples to Edgware.SR1 then I find that Hystrix Dashboard Cannot display anything for Turbine Stream.

Turbine Stream：http://localhost:8989 , When I call it, I Can get data like below:

data: {"rollingCountFallbackFailure":0,"rollingCountFallbackSuccess":0,"propertyValue_circuitBreakerRequestVolumeThreshold":"20","propertyValue_circuitBreakerForceOpen":false,"propertyValue_metricsRolli

[2018-01-24 08:09] habbo656 commented on #2673
Still the same issue with Edgware.SR1

[2018-01-24 10:20] jadetang opened #2675 "[Question] Backend services isolation in Zuul"
We are planning using Zuul in production as an API gateway. I am not sure the behavior of Zuul in this specific scenario.

Suppose there are two back-end services A and B sitting behind Zuul. Service A is a slow one but with a lot of traffic. What will happen to the clients visiting Service B through Zuul?

On the clients' side, Service B will be unavailable because Service A slow down the Zuul so

[2018-01-24 12:00] spencergibb commented on #1498
We have no plans to integrate zuul 2

[2018-01-24 12:00] #1498 closed

[2018-01-24 12:49] ryanjbaxter commented on #2675
At the end of the day, yes if Zuul runs out of threads to handle incoming requests because a service downstream is behaving badly, yes you wont be able to proxy any other requests to other services.  However that is what we integrate Hystrix with Zuul so that you can protect Zuul from a situation like this.  You could also do things like adjust timeout values to make sure that slow requests timeou

[2018-01-24 12:52] ryanjbaxter commented on #2674
@eacdy no reason to command on multiple issues about the same problem.  Closing in favor of #2637

[2018-01-24 12:52] #2674 closed

[2018-01-24 13:01] samfrach opened #2676 "[Question] Does Zuul with oAuth2 relay the Principal (as an authorization header) ?"
Dear all,

what I want : I want a single entry to all my applications and a single sign on

I've spent my time googling "zuul authorization not forwarded/relayed"... then I think I understood, it talks about a request header Authorization that would arrive with the user request.. whereas I don't have any

I have spring boot applications :
- an oAuth2 authorization server (named : AS)
- a zuul serv

[2018-01-24 13:05] smougenot opened #2677 "Feign + interface inheritance + fallback => Ambiguous mapping"
Trying to combine to elements from the documentation :
* fallback https://cloud.spring.io/spring-cloud-netflix/multi/multi_spring-cloud-feign.html#spring-cloud-feign-hystrix-fallback
* inheritance https://cloud.spring.io/spring-cloud-netflix/multi/multi_spring-cloud-feign.html#spring-cloud-feign-inheritance

I'm facing `IllegalStateException: Ambiguous mapping. Cannot map` at springBoot start

Acc

[2018-01-24 13:07] samfrach opened #2678 "[Question] Zuul+oAuth2 and HttpSession ?"
Hello,

on my zuul server, I want to enable HttpSession to store the oauth2 tokens (authorization_code mode).
on my proxied application, some of them are stateless, others needs to have a session (they are already developed with sessions)

Instead of persisting sessions in Redis for example, I would like to keep having sessions in each application.
I don't want to spam the user with cookies for ea

[2018-01-24 13:10] jadetang commented on #2675
I think Hystrix only works with  Eureka, right?
We are using a hostname to access our downstream service, so I think we need to tweak the timeout parameter.

[2018-01-24 16:22] CrazyAndy commented on #1417
hi,sorry to disturb you! @ryanjbaxter . It seems like I have the same trouble.And just like this:
my zuulproxy config is
`spring.application.name=api-gateway
server.port=5555

zuul.ignored-services=*

zuul.routes.hello-service.path=/hello-service/**
zuul.routes.user-service.path=/user-service/**
zuul.routes.hello-service.retryable=false
eureka.client.service-url.defaultZone=http://localhost:1111/e

[2018-01-24 16:36] dulimitta opened #2679 "Hystrix - Caused by: java.util.concurrent.TimeoutException:"
I am on Spring Cloud Edgware.RELEASE trail.
I am using ribbon with Eureka.
I have @EnableFeignClients annotation on my API Gateway.
I am overriding the timeout configurations as below.
`

ribbon.ReadTimeout=30000
ribbon.ConnectTimeout=30000
hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds=100000

`
Even then, APIGateway is throwing the timeout exception.
The service is proc

[2018-01-24 16:38] ryanjbaxter commented on #2679
I assume when you say API Gateway you mean Zuul, right?

[2018-01-24 16:41] ryanjbaxter commented on #2675
Hystrix will work when Zuul is using Ribbon, that happens automatically when using service discovery (Eureka).  Are you configuring your Zuul routes using URLs?

[2018-01-24 16:42] dulimitta commented on #2679
yes, @ryanjbaxter

[2018-01-24 16:48] ryanjbaxter commented on #2679
If you use Edgware.SR1 your above configuration should work.  See https://github.com/spring-cloud/spring-cloud-netflix/pull/2633.  We are making some improvements to this though, see https://github.com/spring-cloud/spring-cloud-netflix/pull/2645.

[2018-01-24 16:48] #2679 closed

[2018-01-24 16:51] dulimitta commented on #2679
Should I just upgrade Zuul Server to Edgware.SR1 and leave the Eureka Server and clients to Edgware.RELEASE?
Does Eureka should also have this timeout settings in configuration?

[2018-01-24 16:55] ryanjbaxter commented on #2679
You can move just the Zuul app if you want, but we always recommend you upgrade if you can.  The configuration just needs to be in Zuul.

[2018-01-24 16:56] dulimitta commented on #2679
Thank you so much @ryanjbaxter
I have been banging my head on this issue. I would try upgrading Zuul to SR1 and keep these settings for Zuul alone.

[2018-01-24 17:18] dulimitta commented on #2679
Upgrading Zuul alone improved the connectivity issue. But still, I am getting the below exceptions in Zuul server.

`
Caused by: org.apache.http.conn.ConnectTimeoutException: Connect to 172.31.47.91:8000 [/172.31.47.91] failed: connect timed out

`
I Have the below configs in Zuul now.
`
ribbon.eureka.enabled=true
zuul.host.connectTimeoutMillis=600000
zuul.host.socketTimeoutMillis=600000

#30 seco

[2018-01-24 17:32] ryanjbaxter commented on #2679
Please learn how to [format code on GitHub](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

Can you provide the complete stacktace?  What do you mean it improved the connectivity issue?

[2018-01-24 17:40] dulimitta commented on #2679
Earlier I was getting connection timeouts for once in 2 requests. Not it is like once in 4 requests.
Here is the complete stack trace.

`

com.netflix.zuul.exception.ZuulException: Forwarding error
        at org.springframework.cloud.netflix.zuul.filters.route.RibbonRoutingFilter.handleException(RibbonRoutingFilter.java:189) ~[spring-cloud-netflix-core-1.4.2.RELEASE.jar!/:1.4.2.RELEASE]
        a

[2018-01-24 17:54] ryanjbaxter commented on #2679
This no longer has to do with Hystrix, its just the Apache HTTP Client timing out, have you tried adjusting your timeout settings?

[2018-01-24 18:17] jadetang commented on #2675
yes, We are using URLs right now. Any plan to support Hystrix with URLs? Or any advice about this topic?
In some former projects, we have custom thread pool working for multi-tenants/services. But I have no idea to do this in Spring-Cloud with Undertow or Tomcat.

[2018-01-24 18:28] dulimitta commented on #2679
yes I did. I would spend more time on it now. Thanks for your help @ryanjbaxter

[2018-01-24 20:52] spencergibb commented on #2675
Not really. You can use ribbon with static urls' which will get you the same benefit.

[2018-01-24 21:07] spencergibb commented on #2637
@eacdy @Yenchu can you try Edgware.BUILD-SNAPSHOTS (which contain 1.4.3.BUILD-SNAPSHOT of this project). @daniellavoie can you also verify I haven't broken anything for you?

[2018-01-24 21:08] spencergibb commented on #2637
Also @YorkWong see my comment above as well.

[2018-01-24 22:38] onnoweb commented on #1769
Following all the steps in the comments above and it still doesn't log for me.

in application.yml:
`logging:
  level:
    com.onno.interfaces.OrganizationFeignClient: DEBUG
feign:
  client.config.default.loggerLevel: full
`

In FeignConfiguration.class:
`  @Bean
  Logger.Level feignLoggerLevel() {
    return Logger.Level.FULL;
  }
  @Bean
  public Logger logger() {
      return new Slf4jLogger(Or

[2018-01-24 23:09] spencergibb commented on #1769
Triple backticks.

What version?

[2018-01-24 23:36] onnoweb commented on #1769
DALSTON.SR4 and spring boot 1.5.8.

[2018-01-24 23:42] spencergibb commented on #1769
If you can provide a minimal sample project that recreates the problem and you think there is a bug, please submit a new issue.

[2018-01-25 04:20] coderdaudat opened #2680 "Enable CORS for Zuul doesn't work."
I used spring boot version 1.5.6.RELEASE. When I use a access_token for call some api from edge server. It's work when used postman but the front-end reactJs have a  issue:  No 'Access-Control-Allow-Origin' header is present on the requested.

I tried config cros follow on stackoverflow and tutorial spring.io but it still doesn't work.
Please help me. Thank you.

This is my code:

@SpringBootAppli

[2018-01-25 08:58] hellojukay opened #2682 "ServiceRouteMapper not work"
my spring cloud version is
[code]

my config bean is
[code]
this bean was injected success.

my application.properties is
[code]

i run my application, and i get route by http://localhost:7024/admin/routes

my expect reponse is
[code]
but i got
[code]

[2018-01-25 09:04] zhangxiangfeng commented on #1952
@crmky I'll give it a try,wait for my news

[2018-01-25 09:06] Yenchu commented on #2637
Edgware.BUILD-SNAPSHOT works, thanks @spencergibb.

[2018-01-25 09:37] pp010 opened #2683 "Default ZuulFallbackProvider is not working"
ZuulFallbackProvider is working absolutely fine for a single route however fails to execute when i try make a common fallback for all routes. Here is the sample repository which reproduces the same issue: [https://github.com/pp010/ZuulApp](url)

working code:
`@Override
	public String getRoute() {
		return "helloapp";
	}`
Not working:
`@Override
	public String getRoute() {
		return "*";
	}`

[2018-01-25 11:03] hellojukay commented on #2682
[code]
becase of DiscoveryClientRouteLocator.java,
[code]

[2018-01-25 11:03] #2682 closed

[2018-01-25 11:37] ryanjbaxter commented on #2683
It is hard to test your app without the corresponding "helloapp".  I see you are using Camden.SR7, would you mind upgrading to either Dalston.SR4 or Edgware.SR1 and trying again?

[2018-01-25 11:40] pp010 commented on #2683
"helloapp" is a simple spring boot app with an endpoint "/checkzuul" which returns a plain string "zuul working". Let me test with Dalston.SR4 or Edgware.SR1

[2018-01-25 12:30] pp010 commented on #2683
@ryanjbaxter : after upgrading to Edgware.SR1, the "*" route works fine. thank you very much!!. however, there is a  small confusion. the FallbackProvider has two ClientHttpResponse methods: ClientHttpResponse fallbackResponse() and  ClientHttpResponse fallbackResponse(Throwable cause). whats the difference between these two? the later is getting executed for all fallbacks.

[2018-01-25 12:42] ryanjbaxter commented on #2680
Please learn how to [format code on GitHub](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

Instead of posting code in the issue itself could you please provide a sample app that reproduces the problem.

[2018-01-25 14:37] ryanjbaxter commented on #2683
Take a look at the documentation http://cloud.spring.io/spring-cloud-static/Edgware.SR1/single/spring-cloud.html#hystrix-fallbacks-for-routes.

`fallbackResponse(Throwable cause)` allows you to choose the fallback response based on the `Throwable` that caused the circuit to be tripped.

[2018-01-25 14:39] ryanjbaxter commented on #2675
For an example see http://cloud.spring.io/spring-cloud-static/Edgware.SR1/single/spring-cloud.html#spring-cloud-ribbon-without-eureka

[2018-01-25 15:01] pp010 commented on #2683
@ryanjbaxter : great!! thanks for the support.

[2018-01-25 15:01] #2683 closed

[2018-01-25 16:27] yngwietiger opened #2684 "How to configure @FeignCient with an HTTPS url (non-Eureka)?"
Hi,

I have a feign client defined like:

`@FeignClient(name = "authserverTokenService", path="/authserver", url="${authserver.server}", configuration = AuthServerTokenServiceConfig.class)`

The authserver service is not registered with Eureka. We specify the url in a properties file.

If I put in my properties file:

`authserver.server=localhost:8087`

it resolves correctly to http://localhost:80

[2018-01-25 16:31] spencergibb commented on #2684
@yngwietiger what version?

[2018-01-25 16:33] yngwietiger commented on #2684
Sorry, Dalston.SR4.

[2018-01-25 18:30] yngwietiger commented on #2684
Here's what I see in the logs. Seems the URL gets prepended with "http://".

[code]

FeignClientsRegistrar.getUrl() doesn't seem like it would be a problem, since it looks for "://" before prepending.

[2018-01-25 21:39] spencergibb commented on #2684
Hmm, I wrote a test that uses an https url and it works just fine. Can you provide a minimal sample that recreates the problem?

[2018-01-25 22:18] yngwietiger commented on #2684
Thanks for looking. Yeah, I figured out the issue. It wasn't just https, it was any url value that already had a protocol, http or https.

We have a legacy application that was converted to a Spring Boot application. In the old code, we instantiate a PropertySourcesPlaceholderConfigurer that looks into a few different files. I had my properties defined in one of those files (not in application.pro

[2018-01-25 23:11] ankitkurani commented on #106
We are seeing a similar problem with Tomcat 8.0.35. The errors:
03-Jan-2018 09:45:00.098 SEVERE [localhost-startStop-2] org.apache.catalina.loader.WebappClassLoaderBase.checkThreadLocalMapForLeaks The web application [r3_epmp_i] created a ThreadLocal with key of type [com.netflix.hystrix.metric.HystrixThreadEventStream$1] (value [com.netflix.hystrix.metric.HystrixThreadEventStream$1@4be5028a]) and

[2018-01-26 02:23] hellojukay opened #2686 "Feign choose Server Wrong"
Question

i create custom RoundRobinRule.
[code]
in my auth AuthPreFilter,i user feign to check the token
[code]

my url is
[code]
it response error
[code]
by looking the log i found feign the error server
[code]

192.168.1.195:8100  is the user-service server but not authorization-rs-service,so the feign the 404 error.

## i delete my custom RoundRobinRule, that  can work,it can get true server t

[2018-01-26 05:41] rashad-farajullayev commented on #2530
@cleversonledur , how did you configure zuul to solve this problem. I am facing the same problem. Would appreciate it a lot if you can share your experience.

[2018-01-26 06:53] eacdy opened #2688 "How to get the cause of fallback for Feign without provide my own fallback class?"
I use Spring Cloud Feign with Hystrix.
Now, I want to get the cause of fallback.
After diving into the code, I find `feign.hystrix.FallbackFactory.Default`. This is the default fallbackFactory.
But we must use `@FeignClient(fallback = xx.class)` to use `feign.hystrix.FallbackFactory.Default`.

The refered code is `feign.hystrix.HystrixFeign.Builder#target(feign.Target<T>, T)` , like below:

[code]

[2018-01-26 14:27] cjsteele opened #2689 "SimpleHostRoutingFilter uses zuul.sslHostnameValidationEnabled incorrectly in Spring Cloud 1.4.2.RELEASE"
Hi,

I have been setting up a Spring Boot application to act as a Gateway to a proprietary distributed system.
I am using

[code]
to configure my application, and have a route set up to activate Zuul Filters on a specific URL. I have
zuul.sslHostnameValidationEnabled=false in my application.properties. I have verified that it is being set correctly with the debugger. My requests continued to fail

[2018-01-26 15:59] ryanjbaxter commented on #2689
See https://github.com/spring-cloud/spring-cloud-netflix/issues/2503.  It is fixed in snapshots and will be included in the next SR.

[2018-01-26 15:59] #2689 closed

[2018-01-26 16:14] cjsteele commented on #2689
Alright, thanks. I didn't find the other issue, my bad.

[2018-01-26 18:39] spencergibb commented on #2686
Please don't cross post https://stackoverflow.com/questions/48455646/fei-get-wrong-server

[2018-01-26 20:07] gmobi-github opened #2690 "Passive health eureka and zuul."
When two nodes handling request via zuul with ribbon load balancer enabled.
if one fallout system will respond to
java.net.SocketException: Socket closed

Can I add passive health check so that I can close the node gracefully ?

here is my application.yml
[code]

[2018-01-26 21:01] ryanjbaxter commented on #2690
Please learn how to [format code on GitHub](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

What has two nodes? Zuul?  Where is the socket timeout coming from?

[2018-01-26 21:04] ryanjbaxter commented on #2688
Where do you want to get the fallback cause?  What do you want to do with that information?

[2018-01-26 21:14] ryanjbaxter commented on #2686
Can you explain why you think this is a problem in Spring Cloud Netflix?

[2018-01-26 21:15] ryanjbaxter commented on #2677
Would it be possible to provide a complete project that reproduces the problem?

[2018-01-26 21:19] ryanjbaxter commented on #2676
Is this what you need? https://cloud.spring.io/spring-cloud-security/single/spring-cloud-security.html#_client_token_relay_in_zuul_proxy

[2018-01-27 03:03] gmobi-github commented on #2690
I have below setup.
[GITHUB](https://github.com/piomin/sample-spring-microservices.git)
![image](https://user-images.githubusercontent.com/35562271/35467977-2878a554-033c-11e8-9165-aeb11dcc490d.png)

Now account service has two instances running.
And I am running load test account service URL http://localhost:8765/api/account/accounts.
if shutdown one instance of account service I will start getti

[2018-01-27 10:16] 1991wangliang opened #2691 "when i used zookeeper discoveryclient,but the turbine's stream not data"
my turbine application.
![image](https://user-images.githubusercontent.com/5245347/35470967-a882465a-038d-11e8-9c11-04faf01de3a8.png)

appliaction.properties

[code]

application.yml

[code]

my discovery-zookeeper-client application

[code]

![image](https://user-images.githubusercontent.com/5245347/35470980-ed0976b8-038d-11e8-9215-b3739d85378a.png)

zookeeper can't support turbine ? ? on eureka

[2018-01-27 10:20] 1991wangliang commented on #1974
Has it been solved?

[2018-01-28 08:25] hellojukay commented on #2686
@ryanjbaxter
when i delete the balance class ,any this can work. but i make balancing class like this.it
also choose a wrong server.then the feign client got 404.
[code]
i think,that is not my balance 算法

[2018-01-28 13:04] spencergibb commented on #2686
You disabled init with nisw config. Why would you think it's a bug in Netflix with custom code?

[2018-01-28 14:21] hellojukay commented on #2686
@spencergibb nisw config? what is this, can you give the full name, please!

[2018-01-28 14:23] spencergibb commented on #2686
The method you overrode, but left blank

[2018-01-28 14:36] hellojukay commented on #2686
@spencergibb
[code]

do you mean this? the parent class  RoundRobinRule  do thing too.
when i fix it to
[code]
also 404

[2018-01-28 14:45] hellojukay commented on #2686
@spencergibb can you write a demo to test my issues!

[2018-01-28 14:52] spencergibb commented on #2686
No, but if you can supply a minimal sample that reproduces the problem, we can take a look

[2018-01-28 14:56] hellojukay commented on #2686
@spencergibb No problem. I'd love to.

[2018-01-28 15:35] hellojukay commented on #2686
@spencergibb
### test case project
[code]
* run eureka-server
* run example-user
* run auth-server
* run zuul-demo
### test case
* http://localhost:8761 test eureka server is ok.
* http://localhost:8083/hello/licong   test user server is ok.
* http://localhost:8081/auth?id=10  test auth server is ok.

please Visit
[code]
 at least twice, first, it return 200, second time ,ti  return 500。

### zuul

[2018-01-28 18:08] chetak-team commented on #226
Hi, I'm facing the similar issue. Below is the stack trace while deploying to Cloud Foundry. Locally i could able to start the app. Can some one please help me to understand the issue?

2018-01-28T23:02:40.228+05:30 [APP/PROC/WEB/0] [OUT] Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'DynamicsContactClient': FactoryBean threw exception on object

[2018-01-29 01:30] eacdy commented on #2688
@ryanjbaxter When hystrix gets wrong, such as timeout, We Should log the error `com.netflix.hystrix.AbstractCommand#getExecutionException`

[2018-01-29 07:22] rashad-farajullayev commented on #2171
I need to change request body as well. I tried this case, and this doesn't work me either.
Please give a hint how to alter real request body so that the receiver node could handle only the modified body

[2018-01-29 08:24] YorkWong commented on #2637
Edgware.BUILD-SNAPSHOT works, thank you so much @spencergibb.

[2018-01-29 08:37] ppanigrahi02 opened #2692 "FallbackProvider (zuul without eureka) is not getting triggered for 404 response code"
ZuulFallbackProvider is working fine for localhost servers but not for domain urls. Here is the sample repository which reproduces the same issue: [https://github.com/ppanigrahi02/ZuulApp](url)

i am using zuul without eureka.
`helloapp:
  ribbon:
    listOfServers: http://localhost:8080/, http://helloapp.<company>.<domain>.net/`

When localhost is down, i am able to fetch the fallback response ho

[2018-01-29 12:49] fengymi commented on #1952
@itliusir 报错不会吧，不过这个不是一个好的解决方法。

[2018-01-29 12:57] ryanjbaxter commented on #2171
Please open a separate issue with an example of what you have tried and what exactly is not working.

[2018-01-29 13:25] rashad-farajullayev opened #2693 "SOAP or HTTP request body encryption between two Zuul proxies"
Hello. I am facing a problem with Zuul "pre" filter.
In my solution I have two proxies. One proxy runs at the client side, and another inside of our data-center. The client issues SOAP messages in their own server to the first Zuul proxy, and that proxy forwards the request to the second Zuul proxy which is in our data center. The second Zuul proxy forwards these SOAP requests to the real Spring-W

[2018-01-29 13:26] rashad-farajullayev commented on #2171
@ryanjbaxter, I created the issue here:
https://github.com/spring-cloud/spring-cloud-netflix/issues/2693
Thanks for fast response.

[2018-01-29 13:54] rashad-farajullayev commented on #2204
@daniellavoie , Thank you very much.
You made my day :)
It solved my problem.

[2018-01-29 13:57] rashad-farajullayev commented on #2693
This solution seems to be working in my case
Comment from this guy: https://github.com/denisoliveira

On this issue: https://github.com/spring-cloud/spring-cloud-netflix/issues/2204

Please let me know if there is another way.

P.S.  setting requestEntity in my case works only if Zuul forwards requests to Eureka. In my case the first proxy is not registered at Eureka. That might be the reason why

[2018-01-29 14:22] ryanjbaxter commented on #2693
Not that I know of

[2018-01-29 14:27] ryanjbaxter commented on #2692
What is the exception you are getting when hitting `http://localhost:8080/`?  Are you actually using a real valid domain in  `http://helloapp.<company>.<domain>.net/` or is this the exact domain you are testing with?

[2018-01-29 14:41] ryanjbaxter commented on #226
@chetak-team please open a separate issue

[2018-01-29 14:52] ryanjbaxter commented on #2690
This makes sense because when you shut down an instance of `account service` depending on how the service is "shut down" Eureka will remove the instance from the registry.  However Zuul wont know that the instance has been removed until it refreshed the data from the service discovery service so Zuul will continue to send requests to the removed instance.  If you are using Ribbon in combination wi

[2018-01-29 15:11] ppanigrahi02 commented on #2692
Case 1: When i stop the helloapp running at `localhost:8080` i am getting `Could not get any response` from server and inside zuul fallback `Throwable ` cause is `com.netflix.client.ClientException`. So basically the fallback class is getting triggered for this.
Case 2: Now i pushed the same helloapp to cloud with a real route and i can access it through my zuulapp. When i stop helloapp running on

[2018-01-29 16:32] smougenot commented on #2677
ASAP I'll copy paste those sample code into a code archive with build config

[2018-01-29 16:37] MichaelWMerritt opened #2694 "NullPointerException PeerRegistry: Eureka Server on JBoss EAP"
Hello, I am having a strange issue with my Eureka server running on JBoss EAP.  Eureka runs and is accessible via browser.  It shows all of my services registered.  However, in my logs I am getting the below listed exception.  My configuration is very simple and also listed below.  I am using the Edgware.RELEASE version.

[code]

application.properties
[code]

[2018-01-29 16:55] szpigielm opened #2695 "ignoredPatterns not applied when servlet-path is set to /"
Hi,

My application uses servlet-path set to "/", so servlet can handle large files. However, we would like to prevent some of the paths from being proxied so we are using "ignoredPatterns" config which is not being applied. The configuration we are using is:

[code]

[2018-01-29 17:22] ryanjbaxter commented on #2695
Did you mean to say they are not being ignored?

[2018-01-29 17:24] ryanjbaxter commented on #2694
Some of the stacktrace is cut off, could you fix that?

[code]

[2018-01-29 17:32] ryanjbaxter commented on #2692
So what happens when you hit `localhost:8080` via postman when it is not running?  What is returned?

Typically HTTP Clients dont consider a 404 an error so no exception will be thrown, hence the circuit will not be tripped.

[2018-01-29 17:38] MichaelWMerritt commented on #2694
Sorry about that.  I have updated my initial with the full stack trace.

[2018-01-29 17:40] szpigielm commented on #2695
Yes as in /version is proxied to the serviceA but should be ignored

[2018-01-29 20:59] spencergibb commented on #2695
What is the full request that is being matched, since `ignoredPatterns` is a regex. Also set `logging.level.org.springframework.cloud.netflix.zuul.filters=DEBUG` and provide the information from that logger.

[2018-01-29 21:02] spencergibb commented on #2694
I'm not sure this is a spring cloud netflix issue.

[code]

Maybe a spring framework issue? @rstoyanchev thoughts?

[2018-01-29 21:16] #2693 closed

[2018-01-29 21:19] spencergibb commented on #2692
The gateway for `http://helloapp.<company>.<domain>.net/` is providing the 404 (is it Cloud Foundry). Not much we can do there.

[2018-01-29 21:28] rstoyanchev commented on #2694
@spencergibb seems unlikely. The [Spring class](https://github.com/spring-projects/spring-framework/commits/master/spring-web/src/main/java/org/springframework/web/context/support/ServletContextPropertySource.java) is literally 2 lines of code and the NPE comes from Undertow so I'd suspect an issue there.

Do we know what line exactly it's on? I can see the number but that doesn't help without loo

[2018-01-29 22:46] szpigielm commented on #2695
Hi, I created repo [here](https://github.com/szpigielm/zuul-bug) to demonstrate the issue. The zuul gateway has an endpoint `/version` as well there is only one route to another service which is mapped to `/**`. Because `/version` is covered by this same regex as `/**` and I don't want `/version` to be proxied to any other service, only to be served by zuul so I used `zuul:
  ignoredPatterns: /ver

[2018-01-29 22:51] spencergibb commented on #2695
I see. If you set the zuul servlet to `/**` you've effectively removed the spring dispatcher servlet, which is what hosts `/version`.

[2018-01-29 22:52] spencergibb commented on #2694
@MichaelWMerritt want to submit an undertow issue?

[2018-01-29 22:53] spencergibb commented on #2691
What versions are you using?

[2018-01-29 22:56] spencergibb commented on #2688
I don't think this is something we can fix in s-c-netflix since the Hystrix integration is in openfeign itself.

[2018-01-29 23:00] spencergibb commented on #2686
Your `SimpleLoadbalancer` is defined as a `@Component` in the main application context which is making it a singleton regardless of what service it is trying to loadbalance.

See http://cloud.spring.io/spring-cloud-static/Edgware.SR1/single/spring-cloud.html#_customizing_default_for_all_ribbon_clients

[2018-01-29 23:00] #2686 closed

[2018-01-29 23:02] spencergibb commented on #2684
I don't think there's anything we need to do. Feel free to comment if you think there is.

[2018-01-29 23:02] #2684 closed

[2018-01-29 23:22] szpigielm commented on #2695
I see... still it feels like this should work :). I found a workaround to this problem by creating a route to itself.
[code]

Is there any other downside of using the ZuulServlet vs spring DispatcherServlet like for example would spring security work with it? I only had to use it because we needed to handle large files and we didn't want to have different endpoints with default prefix `/zuul`

[2018-01-29 23:39] spencergibb commented on #2695
We expose the ZuulServlet for large uploads. Spring Security does not apply to the direct ZuulServlet.

[2018-01-29 23:41] #2695 closed

[2018-01-30 00:18] spencergibb commented on #2475
@eacdy this fix will be part of Edgware.SR2

[2018-01-30 08:10] gmobi-github commented on #2690
Hi Below is my application.yml for gateway service
[code]
I only want to retry socket exception or socket connect-time out. I am using Edgware.RELEASE.
Do I have to add org.springframework.retry:spring-retry dependency to enable it?

[2018-01-30 08:21] 1991wangliang commented on #2691
that's my error, now is ok .thanks

[2018-01-30 08:21] #2691 closed

[2018-01-30 08:23] ppanigrahi02 commented on #2692
@ryanjbaxter when i stop `localhost:8080` and hit from postman, i get the below response:

![image](https://user-images.githubusercontent.com/19723439/35554629-6b09fab6-05c2-11e8-92df-d6c5e97411aa.png)

it does not contain any response code or other things which is absolutely normal.

@spencergibb yes the 404 is returning from cloud foundry and gateway is simply passing the same response to me.

!

[2018-01-30 09:08] ppanigrahi02 commented on #2692
As per my understanding, the circuitbreaker comes into action when either the external service is down or the external service throws an exception. Under both the scenarios hystrix trips the circuit and triggers the fallback. However, zuul failed to do the same in either case. Even if i directly throw an exception, zuul does not trigger fallback. This is my helloapp repo [https://github.com/ppanig

[2018-01-30 11:39] ryanjbaxter commented on #2690
Yes you need to add spring retry as a dependency, it must be on the classpath.  Also set `zuul.retryable` to `true`.  You can then configure the number of times a service will be retried by setting `client.ribbon.MaxAutoRetries`, `client.ribbon.MaxAutoRetriesNextServer`, and `client.ribbon.OkToRetryOnAllOperations`, where `client` is the `serviceId`.

[2018-01-30 11:40] MaxHoefl opened #2696 "Eureka client shutting down unexpectedly after registering with Eureka server"
My service "app-name" shuts down unexpectedly right after being discovered by the eureka server.
**Note:** app-name or \<app-name\> are placeholders in the logs below

At that time right before the shutdown

- The eureka server is running on port 8761 (I can access it)
- The service has been successfully discovered by the eureka server (registration status: `204`, `registering application with eur

[2018-01-30 12:35] gmobi-github commented on #2690
All these retry will happen on socket exception or socket connect-time out right? not on client side read timeout right?

[2018-01-30 12:38] ryanjbaxter commented on #2696
Instead of pasting the code in the issue can you provide the actual projects via a git repo or zip file?

[2018-01-30 12:39] ryanjbaxter commented on #2690
Should happen on socket or read timeouts

[2018-01-30 12:42] gmobi-github commented on #2690
Can we avoid retry on read timeout  when connection closed by client due high response time of service?

[2018-01-30 12:55] ryanjbaxter commented on #2690
Possibly, this is something I havent tried yet so I am not 100% sure.  You could try creating a bean of type `LoadBalancedRetryListenerFactory` and return an array of `RetryListener` for your service.  In `RetryListener.onError` you will be passed a `Throwable` which should be the error and the `RetryContext`.  If the error is a read timeout than you should be able to cast the `RetryContext` to an

[2018-01-30 13:24] gmobi-github commented on #2690
Okay, I will implement and test, If I have to set read time out. Where I set in my application.yml ?
[code]

If i set like above will spring boot respect my above config?

[2018-01-30 14:29] chetak-team opened #2697 "Spring Boot Application not getting started in PCF because of 'feign-httpclient' dependency"
Hi, I'm facing the similar issue. Below is the stack trace while deploying to Cloud Foundry. Locally i could able to start the app. Can some one please help me to understand the issue?

I have included feign-httpclient dependency to support 'PATCH' requests in my application.
When I run with this in my local server it's working fine, but in PCF it's throwing below exception.

I can reference https

[2018-01-30 14:44] ryanjbaxter commented on #2697
Can you provide a sample that reproduces the problem?

[2018-01-30 14:49] ryanjbaxter commented on #2690
Both configurations are correct as far as setting the `ReadTimeout`, however each one sets other properties as well.

[2018-01-30 15:00] chetak-team commented on #2697
the app looks like this:

@SpringBootApplication
@ComponentScan
@EnableAsync
@EnableFeignClients
@EnableDiscoveryClient

public class Application  {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }

    @Bean
    public CommonsRequestLoggingFilter requestLoggingFilter() {
        CommonsRequestLoggingFilter crlf = new CommonsRequestLoggingF

[2018-01-30 15:09] chetak-team commented on #2697
and bootstrap.yml has below feign setup:

feign:
  okhttp.enabled: true
  hystrix:
    enabled: false
  readtimeout: 1200000
  connectiontimeout: 1200000
  httpclient.enabled: true

[2018-01-30 15:13] chetak-team commented on #2697
my service impl, uses feign client as follows.

@Autowired
private DynamicsContactClient dynamicsContactClient;

[2018-01-30 15:58] chetak-team commented on #2697
@ryanjbaxter have any update on this?

[2018-01-30 16:55] brenuart opened #2698 "Ribbon with RestClient: HttpClientLoadBalancerErrorHandler should be used instead of DefaultLoadBalancerRetryHandler"
As far as I understand, the `RetryHandler` to use depends on the type of client used by Ribbon.

By default, Netflix `RestClient` creates a `HttpClientLoadBalancerErrorHandler` (an Apache HttpClient is used behind Jersey).

SpringCloud integration uses `DefaultLoadBalancerRetryHandler` instead (created at https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-ribbon/

[2018-01-30 17:00] brenuart opened #2699 "RestClientRibbonConfiguration: double registration of RestClient monitors"
The `Monitors.register(...)` call is superfluous at https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-ribbon/src/main/java/org/springframework/cloud/netflix/ribbon/RestClientRibbonConfiguration.java#L61.

Registration of servo monitors is already done by the call to `RestClient.initWithNiwsConfig()`.

[2018-01-30 18:24] chetak-team commented on #2697
I found the root cause. seems to be `name: 'feign-httpclient', version: '8.5.0' ` having some issues with this version, i have upgraded the version to latest and added few supporting dependencies from 'com.netflix.feign' baseline. Now app is booting normally but still its logging above mention error in the trace.

[2018-01-30 18:24] #2697 closed

[2018-01-30 20:35] #2699 closed

[2018-01-30 20:43] ryanjbaxter commented on #2698
Im not sure of the history behind here.

The only place I can see it making a difference is here https://github.com/spring-cloud/spring-cloud-netflix/blob/1.4.x/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/ribbon/RibbonLoadBalancedRetryPolicy.java#L105.

Is there something else I am missing?

[2018-01-30 20:51] brenuart commented on #2698
If you look carefully at the difference between the two RetryHandler, you notice the HttpClient version has different sets of exceptions for what it considers retriable or circuit-related.

My understanding is Ribbon supports different sorts of clients, each throwing different exceptions. Deciding whether a request can be retried or not is left to the RetryHandler that must obviously be specific t

[2018-01-30 21:26] ryanjbaxter commented on #2692
So your test isnt exactly accurate.  In https://github.com/ppanigrahi02/HystrixApp you are using `RestClient`.  While in Zuul (by default) we are using the Apache HTTP Client.  If the http client you are using doesnt throw an exception than Hystrix wont come into play.  The Apache Http Client will not throw an exception when it receives a 500 so the fallback is not invoked.

[2018-01-31 07:39] 205140040 opened #2700 "spring ribbon request retry configuration is invalid"
Request retry problem, I set the request does not retry, but the same request is still requested twice after the timeout
spring cloud version: Camden.SR6
ribbon config :
spring.cloud.loadbalancer.retry.enabled=true
business-service-${spring.cloud.config.label}.ribbon.MaxAutoRetries=0
business-service-${spring.cloud.config.label}.ribbon.MaxAutoRetriesNextServer=0
business-service-${spring.cloud.con

[2018-01-31 08:17] holy12345 commented on #2700
If you upgrade to the latest version?

[2018-01-31 08:23] 205140040 commented on #2700
I upgrade up Camden.SR7  still invalid

[2018-01-31 08:28] ppanigrahi02 commented on #2692
I get it. Also realized that 500 is not a valid exception for circuit to trip. However, exceptions like 404, 408, 502, 503, 504 must trip the circuit. I tested with 404, not sure how zuul behaves with others. So i think its a **bug** in zuul fallback.

Please provide clarifications on below two doubts:
1. What is the purpose of zuul fallback? **OR** Under which condition fallback comes into action

[2018-01-31 11:36] ryanjbaxter commented on #2692
There is no such thing as a Zuul fallback there is a Hystrix fallback.  The purpose of the fallback is to  provide some kind of response to the client when the circuit gets tripped.  The circuit gets tripped when the code wrapped by the Hystrix command throws an exception or takes longer than the Hystrix timeout to complete.

No.  If that is what you are asking for, the ability to cause the circui

[2018-01-31 11:38] ryanjbaxter commented on #2700
Please try Dalston.SR5 or Engware.SR1.

[2018-01-31 11:40] ryanjbaxter commented on #2700
If after using the latest releases you still believe there is a bug please provide an example project that reproduces the problem.

[2018-01-31 12:56] dmarkhas opened #2701 "Remove guava from spring-cloud-starter-netflix-archaius"
I've noticed this issue: https://github.com/spring-cloud/spring-cloud-netflix/issues/154
Which was supposed to exclude the usage of Guava to allow users to use their own, but it is still in the POM file of spring-cloud-starter-netflix-archaius:
https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-starter-netflix/spring-cloud-starter-netflix-archaius/pom.xml

Can it be remo

[2018-01-31 12:58] #2701 closed

[2018-01-31 13:19] ppanigrahi02 commented on #2692
Great. We can close this issue now. I strongly suggest to take this as an enhancement as the business logic for gateway demands the feature of tripping the circuit as per the response. The use case is like If one downstream service is down, then the gateway should be smart enough to reroute the subsequent requests to another available service. This functionality can be achieved with zuul-eureka co

[2018-01-31 13:19] #2692 closed

[2018-01-31 13:32] brenuart commented on #2701
`com.netflix.archaius:archaius-core` pulls it already - why do you need to repeat it in the starter?

[2018-01-31 14:22] ryanjbaxter commented on #2698
Not necessarily.  The `RetryHandler` no longer plays a role in whether we retry a request since we are now using Spring Retry.

[2018-01-31 14:39] brenuart commented on #2698
We are currently stuck with plain Ribbon (both the RestClient and the retry feature). AFAIK this setup is still supported by SpringCloud even if the recommended approach is to use SpringRetry (maybe together with OkHttp or HttpClient instead of the deprecated RestClient).

The RetryHandler plays a more central role in this "old" setup (the RequestSpecificRequestHandler is even more important I mus

[2018-01-31 15:55] MichaelWMerritt commented on #2694
Thank you everyone for your input.  @rstoyanchev I don't believe that issue is related as the new source code doesn't match the line numbers and method name of the exception.  I believe I am using an older version of JBoss EAP.  I will investigate further and enter an issue with Undertow if necessary or open a new issue with a clearer question here.

[2018-01-31 16:54] rstoyanchev commented on #2694
Yes I suspected you probably have an older version of Undertow, but my point was to see the source line that causes the NPE and see if the latest code has that fixed.

[2018-02-01 01:31] viruscamp opened #2702 "spring-cloud-netflix-eureka-client reports wrong health-check-url and status-page-url , when server.port == management.port and server.context-path is set"
spring-cloud-netflix-eureka-client reports wrong health-check-url and status-page-url , when server.port == management.port and server.context-path is set.

[code]
It report health-check-url as 'http://localhost:8080/actuator/health' instead of 'http://localhost:8080/sc/actuator/health'.
It is the error of DefaultManagementMetadataProvider.refineManagementContextPath of commit 62a8f72b983a5dd501cb

[2018-02-01 01:47] spencergibb commented on #2702
PRs welcome

[2018-02-01 02:31] 205140040 commented on #2700
ok,thanks

[2018-02-01 08:08] sharmasourabh commented on #1498
Hi @spencergibb
Spring Cloud is not going to support future versions of all Netflix libraries like Eureka etc or only Zuul? Is there any publish plan or road map that gives us this information?
Thanks.

[2018-02-01 12:28] bob-rohan commented on #785
Like others, I was trying out the spectator integration (1.4.2-RELEASE) with spring boot (1.5.3.RELEASE) and ran into issues.

@spencergibb could this be re-opened please? It would be great to see one of the following:

- a sample project to demonstrate spectator metrics being published to atlas backend
- a fix delivered so that spectator metrics are published to the atlas backend
- updated docume

[2018-02-01 14:42] ryanjbaxter commented on #1498
@sharmasourabh this is only a statement regarding Zuul, it does not effect any other Spring Cloud components.

[2018-02-01 14:43] #2700 closed

[2018-02-01 14:45] jkschneider commented on #785
@bob-rohan We've dropped servo integration in `spring-cloud-netflix` recently because this responsibility has shifted to [micrometer.io](http://micrometer.io). Spring Boot 2's OOTB metrics collection is based on Micrometer, which is a dimensional metrics facade supporting [Atlas](http://micrometer.io/docs/registry/atlas) among many other popular monitoring systems.

Micrometer support has been bac

[2018-02-01 15:56] sharmasourabh commented on #1498
Thanks @spencergibb for confirming.

[2018-02-01 19:56] efranceschi commented on #1820
After a few weeks trying to solve this situation, I finally get it to work! I don't know if this is the best way to handle, but worked for me.

I solve the issue deploying the Eureka Server like this:

[code]

The **aliases** force an alternative host name to bind the ip address to the `my-net` network. So `eureka` server will resolve to 3 different IPs (using round robbin) and that way I could ma

[2018-02-02 07:05] waddwaw commented on #2036
你检查下你的端口号 是否被占用 一般来说是有人在请求你的接口导致的

[2018-02-02 10:29] RohitGupta31 opened #2705 "Ribbon not loading a list of servers during spring boot startup or initialisation"
Bug:

I want to use the listofservers which are defined in a configuration file during spring boot startup (i.e. in a @Postconstruct annotation) to connect to an aws s3 instance.
[code]
Eureka is disabled.

This is being set using the
[code]
Am autowiring the loadbalacer client
[code]
[code]
& loading the servers in a config file as
[code]
But the list of servers during initialization is always em

[2018-02-02 12:24] HJK181 commented on #1804
I have an opposite problem where Zuul is adding an = to ```login?error=``` which leads to the problem that a login attempt with bad credentials does not get the query string to present a error message but instead a redirect to /login occurs.

[2018-02-02 12:41] jadetang commented on #2675
Thank you, I will try that and update the result.

[2018-02-02 13:21] vaishnav-piyush commented on #1540
Is this issue fixed in Camden also or do we need to upgrade to Dalston.SR1 or above ?

[2018-02-02 13:30] RohitGupta31 commented on #2705
[user.zip](https://github.com/spring-cloud/spring-cloud-netflix/files/1689489/user.zip)

[2018-02-02 13:30] RohitGupta31 commented on #2705
Attached a test project with which the issue is reproducible

[2018-02-02 13:46] Cool007dude commented on #2556
@spencergibb  i also downloaded  your project  and ran it, but it is not giving request body in UPPER case, i am getting the same request body which i am sending for postman.
so what should i do?

[2018-02-02 13:47] Cool007dude commented on #2556
@dakon1987  is your issue resolved? because  but it is not giving request body in UPPER case, i am getting the same request body which i am sending for postman

[2018-02-02 13:54] Cool007dude commented on #2204
@rashad-farajullayev  is it working for you, because i  am getting the same request body which i am sending from postman, not in UPPER case. will you attach your project.
Thank you in advance

[2018-02-02 14:07] Cool007dude commented on #2204
@denisoliveira  i tried your way but not getting expected body but,  i am getting the same request body which i am sending from postman, not in UPPER case. will you attach your project.

[2018-02-02 14:16] robertofpaf commented on #1498
That would be good to know. I understand Zuul 2 is completely different and it won't be trivial to integrate it with the other Spring Cloud components, but Zuul 1's lack of support for websockets, server sent events, HTTP/2 makes it less and less suitable for modern applications.

[2018-02-02 14:21] rashad-farajullayev commented on #2204
I am not eligible to attach my project, sorry.
But the wrapper solved the problem. On the whole I came out with conclusion if you override the HttpSeretResponse it will change the transferred data in “pre” filter completely. Simply don’t forget to override the getContentLength and getContentLengthLong functions to transfer the correct length of the new data.

[2018-02-02 14:34] juergenzimmermann commented on #1498
IMHO the new Spring Cloud Gateway looks promising.

[2018-02-02 15:00] spencergibb commented on #1498
http://slides.com/spencer/spring-cloud-gateway

[2018-02-02 15:43] brenuart commented on #346
Servo seems to be deprecated now in SpringCloud - I think this issue can be closed now...

[2018-02-02 15:43] #346 closed

[2018-02-02 18:02] spencergibb commented on #1540
Dalston

[2018-02-02 18:36] spencergibb commented on #2637
Closed via ca80c57

[2018-02-02 18:36] #2637 closed

[2018-02-02 18:53] ryanjbaxter commented on #1804
@HJK181 please open a separate issue.
Closing due to lack of activity.

[2018-02-02 18:53] #1804 closed

[2018-02-02 19:06] ryanjbaxter commented on #2705
Please learn how to [format code on GitHub](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

I would imagine that your `@PostConstruct` code is running before Ribbon is fully initialized.  I am not sure what we could do about that.

[2018-02-02 19:14] RohitGupta31 commented on #2705
Ok.

Yep you are right, but the loadbalancerclient is autowired so I thought the server list to be set before we use it in @PostContruct, we would need the list of servers to be used during initialisation as there are calls to be made to S3 server to create a bucket.

Do you reckon  this as a bug otherwise is there an alternative. Appreciate your reply.

[2018-02-02 19:17] spencergibb commented on #2705
We've generally not recommended using ribbon during initialization phases. This may help: http://cloud.spring.io/spring-cloud-static/Edgware.SR1/single/spring-cloud.html#ribbon-child-context-eager-load

[2018-02-02 20:18] RohitGupta31 commented on #2705
Thanks, that property doesn't seem to have any effect, still getting the same error. I have added that to yaml file as follows.

say-hello:
  ribbon:
    eureka:
      enabled: false
    eager-load:
      enabled: true
      clients: localhost:8090,localhost:9092,localhost:9999
    listOfServers: localhost:8090,localhost:9092,localhost:9999
    ServerListRefreshInterval: 15000

Is that the correct

[2018-02-02 20:38] spencergibb commented on #2705
no, clients is the ribbon client name. In your case `say-hello`.

[2018-02-02 21:14] ryanjbaxter commented on #2673
So I have been looking into this issue and discovered something odd (no surprise).

If we look at the `getHealthCheckUrl` method in `DefaultManagementMetadataProvider`
https://github.com/spring-cloud/spring-cloud-netflix/blob/1.4.x/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/metadata/DefaultManagementMetadataProvider.java#L40

The health check url retu

[2018-02-02 21:38] RohitGupta31 commented on #2705
oops unfortunately even that doesn't seem to have any effect. Getting the same error.
[user.zip](https://github.com/spring-cloud/spring-cloud-netflix/files/1690906/user.zip)

[code]

[2018-02-02 21:43] spencergibb commented on #2705
eager-load can't be under `say-hello:`. It needs to be:
[code]

[2018-02-02 22:11] Aloren commented on #2673
Looks complicated to me 🤓 Maybe we should always set health url to http+app.port and secure health url to https+management.port? Client could then use needed property based on properties nonSecurePortEnabled and securePortEnabled values.
Or could we check how this class was initialized in netflix libraries?

[2018-02-02 22:16] spencergibb commented on #2673
We've lost sight of the fact that these computed values are just defaults. You can set them to whatever value you want. We'll never be able to cover all possible values.

The other thing, these have no real meaningful use except for display in the dashboard.

I'm off the opinion that we scrap all the logic and do nothing.

[2018-02-02 22:20] Aloren commented on #2673
I've found this [ticket](https://github.com/Netflix/eureka/issues/894).
As I understand original behavior was setting secure healthcheck url only if securePortEnabled is true. The non secure healthcheck url is never changed and is set to http+public port.

[2018-02-02 23:14] tmack8001 commented on #2379
I also find these SocketTimeoutExceptions need to be messaged to get the actual service which is having the problem. Unlike the exceptions wrapped in HystrixRuntimeException that contain either the hostname / ip / ribbon service name. Using Zipkin or similar tracing library in logs to connect this back to the original request log is complicated.

I'd rather like to see this exception occur with th

[2018-02-03 05:54] Cool007dude commented on #2204
@rashad-farajullayev  I am overriding  the getContentLength and getContentLengthLong  as shown in above code but how to override HttpSeretResponse ? and what implementation should i do for HttpSeretResponse. could you attach a sample code that also will be very usefull

[2018-02-03 06:04] rashad-farajullayev commented on #2204
What do you want to achive? If you want to change transferred data before it reached the endpoint service then you should write “pre” filter and override HttpServletRequest. If you want to change the response of endpoint service after the transferred data reached it and has been processed, then you should write a “post” filter and override HttpServletResponse.

[2018-02-03 06:07] Cool007dude commented on #2204
I just want to add AuthStatus "A" or "U"  to either request body or request header and get in my controller.

[2018-02-03 06:09] rashad-farajullayev commented on #2204
In the previous comment I made mistake speciying HttpServletResponse for “pre” filter. Actually in filter you can change request, in post filter you can change response. On the other hand in “pre” filter if you if you forward the request though serviceId and eureka then it would be enough to add “httpEntity” key with HttpServletRequest instance as value to the ctx.put(). I will attach some sample

[2018-02-03 06:19] Cool007dude commented on #2204
Actualy i am new to microservices and zuul gateway, and i not using eureka, i will be very helpfull if you could attach some sample code

[2018-02-03 10:32] RohitGupta31 commented on #2705
Still no luck tho. Getting the same error in the startup log I noticed that ribbon.eager-load property is matched.

   RibbonAutoConfiguration#ribbonApplicationContextInitializer matched:
      - @ConditionalOnProperty (ribbon.eager-load.enabled) matched (OnPropertyCondition)

[2018-02-04 04:48] raffian opened #2707 "Is it possible to filter services by instance-zone tag without custom queries?"
Posted my [question on stackoverflow](https://stackoverflow.com/questions/48571600/filtering-services-using-zone-tags-with-spring-cloud-consul-discovery-and-feig) after reading project guidelines, was hoping for a response to help shed light on this subject.

Are we misunderstanding the use instance-zone? The assumption is new services registered in Consul can be tagged using `spring.cloud.consul.

[2018-02-05 03:24] maliqiang commented on #659
feign must use @RequestMapping ,why can't use @PostMapping ?

[2018-02-05 03:26] spencergibb commented on #659
@maliqiang, please don't comment on unrelated issues. As far as I know you can use post mapping

[2018-02-05 05:07] Cool007dude commented on #2204
@rashad-farajullayev  is it possible today to attach some sample code?

[2018-02-05 05:20] sharmasourabh commented on #1498
I hope, Spring Cloud Gateway performance is/would improved down the line.
As shown in this performance comparison: https://engineering.opsgenie.com/comparing-api-gateway-performances-nginx-vs-zuul-vs-spring-cloud-gateway-vs-linkerd-b2cc59c65369

[2018-02-05 05:21] spencergibb commented on #1498
That is outdated

[2018-02-05 08:23] rashad-farajullayev commented on #2204
[code]

[2018-02-05 08:24] rashad-farajullayev commented on #2204
[code]

[2018-02-05 08:27] rashad-farajullayev commented on #2204
[code]

[2018-02-05 08:29] rashad-farajullayev commented on #2204
The above code handles SOAP message requests, converts the entire body into base64 and forwards further - to another Zuul proxy.

The other Zuul proxy in its own turn, handles the base64 encoded request, decodes it and forwards the normal SOAP request to the real Spring WS server.

[2018-02-05 08:42] Delorien84 opened #2708 "HystrixCommands.toMono() not working properly"
Hi,
 I have discovered strange behavior when using Flux stream with Hystrix (using `Observable` command via `org.springframework.cloud.netflix.hystrix.HystrixCommands`.

I have following usecase (in real web service is call is used via WebClient, but this works too):

[code]

Problem with this code, is that Hystrix does not count successful events. This cause incorrect metric, and cause to circuit

[2018-02-05 11:21] Cool007dude commented on #2204
@rashad-farajullayev  thank you so much brother, You saved my lot of work. I am getting expected result, but i have decode it on each controller if i am passing Encoded value
  : new tring(Base64.encodeBase64(body.getBytes()))));
and if I am passing String : context.setRequest(new YourRequestWrapper(context.getRequest(),body));
then i am getting null in my controller. so id there any way to pass w

[2018-02-05 11:39] rashad-farajullayev commented on #2204
I added base64 encoding just to demonstrate body modification. You dont have to encode body. I just wanted to demonstrate where you can specify request headers.

[2018-02-05 11:54] Cool007dude commented on #2204
@rashad-farajullayev  yes i tried it with context.setRequest(new YourRequestWrapper(context.getRequest(),myBody)); but i am getting null in controller

[2018-02-05 11:55] rubensa opened #2709 "Error after upgrading from Spring Boot 2.0.0.M7 to 2.0.0.RC1"
After upgrading from Spring Boot 2.0.0.M7 to 2.0.0.RC1, the following error arise and application does not boot:

`Error creating bean with name 'servletEndpointRegistrar' defined in class path resource [org/springframework/boot/actuate/autoconfigure/endpoint/web/ServletEndpointManagementContextConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframew

[2018-02-05 12:06] Cool007dude commented on #2204
and is it possible to add in "authStatus":"A" or "U"  in request header?

[2018-02-05 12:35] rashad-farajullayev commented on #2204
Actually to set only request headers you don't have to alter
Try using RequestContext.addZuulRequestHeader.
Upload your project so that I could look at it.

[2018-02-05 12:47] ryanjbaxter commented on #2709
We have not released a milestone that is compatible with 2.0.0.RC1 yet

[2018-02-05 12:47] #2709 closed

[2018-02-05 13:22] rubensa commented on #2709
Ok.

For reference:
It seems that the problem is the change from org.springframework.boot.actuate.trace.TraceRepository to org.springframework.boot.actuate.web.trace.HttpTraceRepository in Spring Boot 2.0.0.RC1.
This should be fixed by: https://github.com/spring-cloud/spring-cloud-netflix/commit/a81eb771e5974a8c0bff22a4101306054550fe4f#diff-bc2984bc4532c27479fbd621b6cb21e4

[2018-02-05 13:40] Cool007dude commented on #2204
@rashad-farajullayev  yes i tried RequestContext.addZuulRequestHeader this approach, but how to get that header in controller because @RequestHeader(value = "authStatus" ) is coming null

code is:

package com.example.apigateway;
import java.io.InputStream;
import java.nio.charset.Charset;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Component;
imp

[2018-02-05 16:05] ryanjbaxter commented on #2379
@tmack8001 Can you open a separate issue for your request?

[2018-02-05 16:07] ryanjbaxter commented on #2379
@tmelhiser I am unsure what the "distribution of the hosts" has to do with eagerly loading the routes.

[2018-02-05 16:13] ryanjbaxter commented on #2673
@spencergibb yes true, but our computed value is wrong ;)

I think a good middle ground is leave the functionality as is today, but at least set the secure health check url to the right value when `isSecurePort` is enabled.

[2018-02-05 16:36] Aloren commented on #609
If someone needs quick workaround for that -- we used custom Encoder in our feign client context:
[code]

and method in feign client:
[code]

[2018-02-05 18:23] #2673 closed

[2018-02-06 02:50] spencergibb commented on #2708
@Delorien84 can you explain the specific problem, what is the expected outcome vs what is actually happening?

[2018-02-06 02:58] spencergibb commented on #2707
Please open https://github.com/spring-cloud/spring-cloud-consul/issues

[2018-02-06 02:58] #2707 closed

[2018-02-06 02:58] hykych commented on #285
@spencergibb you said it can be done to route based on host, but how? I can't find any tutorial about it.

[2018-02-06 03:03] spencergibb commented on #2705
Not sure what else to say:

[2018-02-06 03:04] spencergibb commented on #285
@hykych I did not. Please see the comment above yours. It's not possible without custom code.

[2018-02-06 04:11] raffian commented on #2707
My bad, was not paying attention to where I was posting

[2018-02-06 06:21] perdonare opened #2711 "change log level for InstanceObservable .etc"
too much info level log like this when spring cloud app started

[code]

can change the default level to debug?

[2018-02-06 07:51] rashad-farajullayev commented on #2204
Zuul by default strips some headers. You can specify in the application.yml which headers are sensitive from security point of view. For example if you want Zuul not to strip any haders, you can specify empty array in the application.yml like below:

[code]

[2018-02-06 07:55] Delorien84 commented on #2708
Sorry for that.

It cause that Hystrix onSuccess hook is not called, that cause several problems.
* Hystrix mettrics are not correctly calculated (success event is never happened)
* When circuit is open, it will never close
* When circuit is closed, it opens on X failed events, ignoring success events, thus ignoring `circuitBreaker.errorThresholdPercentage` property.

Expectation is, that Hystrix

[2018-02-06 08:22] RohitGupta31 commented on #2705
Just wondering if adding ribbon.eager-load.enabled property does not list the servers during startup, could this be a bug?

[2018-02-06 09:08] anderius commented on #285
Maybe something like I did can help you:

[code]

[2018-02-06 09:57] crmky commented on #1952
@spencergibb This problem is still reproducible in Spring Cloud Edgware.SR1. Here is the minimal code to reproduce it:

pom.xml
[code]

Application.java
[code]

The stack trace is:

[code]

[2018-02-06 12:13] berndgoetz commented on #163
@jonfreedman any new insights since December?

[2018-02-06 12:40] spencergibb commented on #163
Zuul 2 will not be incorporated into Spring Cloud. See spring cloud gateway for websockets support

[2018-02-06 12:40] #163 closed

[2018-02-06 12:51] ryanjbaxter commented on #2711
That class is part of Netflix Turbine not part of Spring Cloud Netflix

[2018-02-06 12:51] #2711 closed

[2018-02-06 13:42] hellojukay commented on #2610
i have the same problem, my spring cloud version is Edgware.RELEASE

[2018-02-06 16:44] gbtec-ingogriebsch commented on #2462
@ryanjbaxter Because I don't know another way, I would like to politely repeat my request about the status of this bug ticket.

[2018-02-06 17:38] ryanjbaxter commented on #2610
@hellojukay can you provide a sample that reproduces the issue?

[2018-02-06 17:45] #2644 closed

[2018-02-06 17:45] #1878 closed

[2018-02-07 02:11] chenjpu commented on #1618
That's what happened to me.
In some cases, undertow will not be able to provide services, like zombies

[2018-02-07 07:33] FlyRabit opened #2713 "how to integrate hystrix and sleuth together with rabbitmq?"
when hystrix and sleuth use rabbitmq,they all need to config spring.rabbitmq.*,but I want to config double rabbitmq,one for hystrix,the other for sleuth,what should I config ?

[2018-02-07 08:58] dzncloud opened #2714 "spring cloud zuul garbled"
By external request through the spring cloud zuul then forwarded to the service on the Chinese garbled.
I try to directly access the service not through zuul, the characters are normal.

My request data is:
Header information: Content-Type: application / x-www-form-urlencoded; charset = GBK
body information is: biz_content = <XML><EventType><![CDATA[unfollow]]></EventType><ActionParam><![CDATA[]]>

[2018-02-07 12:46] ryanjbaxter commented on #2713
I am not seeing where Hystrix uses rabbitmq, maybe you can provide an example of what you are referring to?

[2018-02-07 12:48] ryanjbaxter commented on #2714
Can you retry with Dalston.SR5 or Edgware.SR1 and if it still doesnt work provide a sample that reproduces it?

[2018-02-07 15:56] saadlu commented on #1820
I was having a similar problem (don't know how similar the problem is, but reading the some of the above makes me think it is similar, so I am posting :P)

Basically I followed

https://spring.io/guides/gs/service-registration-and-discovery/

to create a eureka server and a eureka client. Played with them by launching few clients manually (without swarm) and server and all looked fine. Then wanted

[2018-02-07 16:48] sklakken commented on #2149
I'm revisiting the Turbine Stream/Kafka issue. I easily solved the problem using Consul discovery, but still have a requirement to use Kafka. At this point, I believe the Turbine Server is working, but for some reason the Kafka producer isn't configuring itself as stated in the documentation. Therefore, messages aren't being written into the queue. I've search the Internet but haven't been able to

[2018-02-07 18:23] spencergibb commented on #2149
@olegz or @garyrussell?

[2018-02-07 18:25] spencergibb commented on #2713
Hystrix Stream could use rabbit. @scottfrederick probably knows off the top of his head how to do this.

[2018-02-07 19:08] spencergibb commented on #2705
@RohitGupta31 only if you provide a minimal project that recreates the problem.

[2018-02-07 19:16] sklakken commented on #2149
I have a "FINAL" update. It's running as documented after updating my version of Spring Boot/Cloud:

pom.xml
[code]

[2018-02-07 19:18] #2353 closed

[2018-02-08 03:18] andChow opened #2715 "How to use my customized FeignClientsRegistrar in springcloud feign?"
I want to customized feign-hystrix fallback mechanism. such as:
[code]
MyFeignClientsRegistrar I will change FeignClientsRegistrar's logic auto register fallback. such as：
[code]

[2018-02-08 08:09] dzncloud commented on #2714
I have solved this problem
In zuul configuration spring.http.encoding.force-request: false

Service is also configured about:
spring.http.encoding.force-request: false

thank you very much. @ryanjbaxter

[2018-02-08 08:09] #2714 closed

[2018-02-08 10:51] Delorien84 commented on #2708
See https://github.com/Delorien84/hystrix-observable-flux-bug for test case.

[2018-02-08 16:04] ryanjbaxter commented on #2715
Why do you want to do this?

The `FeignClientsRegistrar` class is imported when `@EnableFeignClients` is used.

[2018-02-08 16:32] spencergibb commented on #2715
Yup, the way would be to not use `@EnableFeignClients` and import your own registrar yourself.

[2018-02-08 16:56] #2149 closed

[2018-02-09 02:36] andChow commented on #2715
@ryanjbaxter
Our usage is
1.Service provider provide a api-jar contains rest-api and feign 's definition. such as:
[code]

2.Service user import the jar by pom's dependency and directly used provider 's interface. such as
[code]

**This way can reduce the cost of use for service user. but It is diffcult to set fallback or fallbackfactory.**

[2018-02-09 11:34] ryanjbaxter commented on #2715
I guess you could not use `@EnableFeignClients` and provide your own registerar in this case.

[2018-02-09 21:22] ryanjbaxter commented on #2462
Again sorry for taking so long to get to this but I think I have a solution for you.

In addition to the `FeignAcceptGzipEncodingInterceptor` configuration you added to your app, can you also add the following bean

[code]

[2018-02-09 23:57] shengnian opened #2716 "How to replace or custom SimpleHostRoutingFilter with okhttp3 ?"
I  want  use okhttp3  without  eureka and robbin(only  use url, not  serviceid),  how should i  configure  or  custom SimplrHostRoutingFilter?  Thanks.

[2018-02-10 01:39] DoingLee commented on #2492
I have the same problem.
pom.xml：
`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <artifactId>spring-cloud-app1</artifactId>
    <groupId>com.doing</groupId>
    <version>1.0-SNAP

[2018-02-10 01:44] DoingLee opened #2718 "Failed to instantiate [com.netflix.hystrix.contrib.javanica.aop.aspectj.HystrixCommandAspect]: Factory method 'hystrixCommandAspect' threw exception; nested exception is java.lang.NoClassDefFoundError: org/aspectj/lang/JoinPoint: org.aspectj.lang.JoinPoint"
I include spring-cloud-starter-netflix-hystrix in my project, when I run
[code]
It throw exception：
![image](https://user-images.githubusercontent.com/13520629/36057263-0015cbe4-0e47-11e8-9141-1804a31c8f87.png)
[code]

the pom.xml：

[code]

[2018-02-10 07:10] shengnian commented on #2716
Thank you for  your reply!  I have an another question, If  the  ZuulProperties changed, how to  inject  to  SimpleHostRoutingFilter,  eg: when i changed ZuulProerties's  Host  maxtotalconnections how to reload ?

[2018-02-10 14:11] bsushant-athena opened #2719 "Fallback being called by hystrix even when services are taking more time to respond"
I've added ZuulFallbackProvider(in my api-gateway) with below configuration. So now the problem we are seeing is that when services are taking more than 10 seconds to respond then they are seeing the fallback message(which we have added). But ideally it should be 504 http timeout request.

To regenerate this one can simply try to create an app with an api which takes more than the hystrix timeout

[2018-02-10 14:31] cai0329 opened #2720 "why zuul SendForwardFilter response immediately after forward completed"
hello, I want change response body in POST type zuul filter, but when I useing SendForwardFilter to my zuul application rest api, it immediately flushBuffer after forward completed. What I need do to salve this problem? Thanks!

@Override
public Object run() {
    try {
        RequestContext ctx = RequestContext.getCurrentContext();
        String path = (String) ctx.get(FORWARD_TO_KEY);

[2018-02-10 14:35] spencergibb commented on #2720
The forward filter is essentially saying, I've handed all responsibility to the local controller.

[2018-02-10 18:31] freddyaott opened #2721 "[Question] Zuul + Eureka + SSL"
I try to use zuul and eureka discovery with valid SSL certificate but i have the following Exception when i try to access authenticated endpoint of one of my resource service.

Anybody can help me ?
Thanks

[code]

This is my configuration :

Zuul proxy + oauth2 service
[code]

polygon-service (resource service)

[code]

[2018-02-10 22:48] cagridursun opened #2722 "Zuul Api Gateway mapped service url encoding problem"
Im trying to create microservices but zuul api gateway service maped wrong url. Seems it is related to encoding problem.

Zuul application.properties
[code]

Service application.yml

[code]

Other service application.yml

[code]

Eureka logs:
[code]

And the zuul logs:

[code]

In the zuul logs, all services mapped by special letter with 'ı' instead of 'i' and i can not reach my services via zuul

[2018-02-11 01:22] andChow commented on #2715
@ryanjbaxter tks

[2018-02-11 07:11] lchayoun commented on #2353
@ryanjbaxter any plan to use this change in the `SendErrorFilter`?

[2018-02-11 08:00] codingmiao commented on #715
You can do this by monitoring registry changes and modifying nginx.conf

there is a demo:
[https://github.com/codingmiao/ngineureka](https://github.com/codingmiao/ngineureka)

[2018-02-11 08:43] itliusir commented on #1952
@crmky nice

[2018-02-11 10:48] An0nymous0 opened #2723 "zuul -> eureka client, authorization header lose"
Spring Boot Version:2.0.0.RC1
Spring Cloud Version: Finchley.M6

------
Do not have this problem on a version

[2018-02-11 10:53] DoingLee commented on #2718
solved by:
`
    <parent>
        <groupId>org.springframework.cloud</groupId>
        <artifactId>spring-cloud-starter-parent</artifactId>
        <version>Camden.SR7</version>
        <relativePath/>
    </parent>

    <dependencies>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>

[2018-02-11 14:31] An0nymous0 commented on #2723
Zuul proxy didn't forward header