[2014-07-25 12:13] dsyer opened #1 "Add health indicator for eureka clients"
Is it available? Are we registered? That kind of thing.

[2014-07-25 12:14] dsyer opened #2 "Suppress eureka client error logs if remote service is not available"
It might be nice to get the stacktrace once, but the amount of error logging is out of control if you are working on a eureka client locally and the service is not available. Or even if it is, actually: I only want to it to log when it has a status change really, not on every heartbeat.

[2014-08-04 15:23] dsyer opened #3 "Find a way to make Eureka server use logback"
Requires changes to NetflixOSS logging. See https://github.com/Netflix/blitz4j/pull/10.

[2014-08-12 18:47] dsyer opened #4 "Eureka service calls not showing up in /admin/trace"
/admin/metrics is the same

[2014-08-19 10:18] dsyer opened #5 "Make Zuul proxy filter less chatty (e.g. use logger instead of stdout)"

[2014-09-16 11:36] #2 closed, assigned to nobody

[2014-09-16 11:36] #5 closed, assigned to nobody

[2014-09-16 11:38] #1 closed, assigned to nobody

[2014-09-16 12:00] dsyer opened #6 "Persuade standalone Eureka to cancel lease of clients that have not sent a heartbeat"
The issue is that Eureka is designed to be conservative and if it loses contact with its peers it thinks there might be a network problem and switches off its own ability to cancel leases (in case the service is actually alive and it just doesn't know). One way to override is to set

[code]

but that also makes Eureka think you are trying to sabotage it and it gets red and angry.

Another part of

[2014-09-16 12:19] dsyer opened #7 "Eureka dashboard can get template errors with null model data"
I saw a stack trace from navbar.ftl when amazonInfo was true but one of the associated values was null.

[2014-09-16 17:17] #6 closed, assigned to nobody

[2014-09-16 17:17] #7 closed, assigned to nobody

[2014-09-16 18:23] celkins opened #8 "Provide a Zuul filter for rewriting Location header in responses"
A common need, especially for hypermedia APIs, is to rewrite URLs in the response (both body and headers). I realize this is difficult to do for media types with no inherent knowledge of URLs (e.g., plain JSON), but it seems like something many people will end up writing themselves and poorly given the subtleties around `RequestContext.responseDataStream` and `RequestContext.responseBody`.

[2014-09-19 00:49] spencergibb opened #11 "Explicit ribbon support"
Fits somewhere above using DiscoveryClient directly and below Feign. E.g. pluggable load-balancing strategy using Spring configuration.

[2014-09-19 00:49] spencergibb opened #12 "Ribbon support in RestTemplate"

[2014-09-19 00:50] spencergibb opened #13 "AMQP based hystrix.stream aggregation to replace Turbine"
specifically for cloud foundry, but could be generally useful

[2014-09-19 03:26] spencergibb opened #14 "Support zuul server standalone"
In addition to `@EnableZuulProxy` add `@EnableZuulServer`

[2014-09-23 10:35] coco1979ka opened #15 "Registration of eureka clients with dynamic port"
When using a dynamic port (server.port=0) for an eureka client application with @EnableEurekaClient, it will be registered with port=0 at eureka server. It seems that the client registration takes place before the dynamic port has been assigned.

[2014-09-23 10:45] dsyer opened #16 "Access servo metrics directly (if possible)"
Access servo metrics directly (if possible), instead of grabbing them from JMX.

[2014-09-24 12:59] wjam opened #17 "Tidy up the Hystrix thread pools when the application context is shutdown"
Hystrix starts up a number of thread pools which live outside of the standard Spring beans (see HystrixConcurrencyStrategy). Something, probably the aspect, should make sure that the pools are correctly cleaned up at the appropriate time by calling Hystrix.reset().

[2014-09-29 09:55] #15 closed, assigned to nobody

[2014-09-29 23:38] #12 closed, assigned to nobody

[2014-09-30 01:14] ljramones opened #18 "Unit tests fail for Eureka"
The unit tests are failing for Eureka

[2014-09-29 21:10:59.190] boot - 25310  INFO [main] --- TomcatEmbeddedServletContainer: Tomcat started on port(s): 49408/http
[2014-09-29 21:10:59.225] boot - 25310 ERROR [Thread-2] --- EurekaBootStrap: Cannot bootstrap eureka server :
java.lang.ExceptionInInitializerError
    at org.springframework.cloud.netflix.eureka.server.EurekaServerInitializerConfigura

[2014-09-30 01:40] #18 closed, assigned to spencergibb

[2014-10-01 03:57] ljramones opened #19 "@EnableEurekaServer only works with mvn spring-boot:run"
I am trying to run the spring cloud Eureka server using the form java -jar <my eureka service jar> and it throws the following exception.  It does work with mvn spring-boot:run. This is not really a deployable solution.

In order to replicate the issue, I took one of the simple spring boot examples and wrapped it with @EnableEurekaServer.

I have packaged up the repeatable issue at github at https

[2014-10-01 09:27] #19 closed, assigned to nobody

[2014-10-02 22:46] #11 closed, assigned to spencergibb

[2014-10-02 22:47] spencergibb opened #20 "Ribbon 2.0 support"
Ribbon 2.0 support will have to wait until RxNetty supports a serialization framework ReactiveX/RxNetty#54.

Has built in support for Hystrix and would replace Feign.

[2014-10-06 22:55] aheusingfeld opened #21 "Help with log4j or logback and Eureka Server with Gradle"
Currently eureka-server has a dependency on "org.springframework.boot:spring-boot-starter-log4j" which brings in "log4j:log4j:1.2.17" but "org.springframework.boot:spring-boot-starter-logging" already comes along with "ch.qos.logback:logback-classic:1.1.2".

Could you please get rid of one of the dependencies or exclude one of them in the pom.xml.

As a side note: If you choose log4j, please try t

[2014-10-06 23:08] aheusingfeld opened #22 "eureka-server fails to start"
During startup the following exception is seen in the server console log:

[code]

steps to reproduce

[code]

Run with Java8 (1.8.0_20-ea-b23)

[2014-10-06 23:32] #22 closed, assigned to nobody

[2014-10-08 09:09] wjam opened #23 "Retrieve Hystrix metrics directly from HystrixCommandMetrics"
Rather than retrieving the Hystrix metrics from the `HystrixMetricsPoller`, the metrics should be retrieved directly from the `HystrixCommandMetrics`. By using the poller, it means that the data is having to go from `HystrixCommandMetrics` -> JSON -> parsing JSON in `HystrixMetricsPollerConfiguration` -> `GaugeService`.

[2014-10-08 09:31] wjam opened #24 "Add health indicator for Hystrix"
The health of the Hystrix breakers should be reported as part of the health actuator; see http://java.dzone.com/articles/hystrix-and-spring-boots for an example.

[2014-10-08 12:24] #17 closed, assigned to nobody

[2014-10-14 10:20] dsyer opened #25 "Concurrent modification exception with Archaius bridge"
[code]

[2014-10-14 14:56] dsyer opened #26 "Apps do not re-register with Eureka after the server restarts"
The Eureka client-server interactions are reasonably robust when you first start everything up (it doesn't matter what order the processes start), but once everything is running, if you kill Eureka and restart it then the apps do not re-register.

[2014-10-14 14:57] dsyer opened #27 "Eureka server logs a lot of "PageNotFound: Request method 'PUT' not supported""
Even though the apps are connecting, registering and renewing their leases you get a lot of warning logs in the Eureka console.

[2014-10-14 15:05] dsyer opened #28 "Make Eureka peer awareness work out of the box"
Eureka peer awareness seems heavily tied to AWS - it only considers apps for registering with peers if it thinks they are not-local, and the way it determines that is through data center info that can only come from AWS APIs.

[2014-10-16 13:46] dsyer opened #29 "Load balancer that prefers the same zone as the client"
Ribbon has a lot of `ZoneAvoidance*` and `ZoneAffinity*` but at the end of the day there isn't a load balancer that prefers the same zone as the client (unless it happens to be more healthy than the others).

Zones and regions (and data center info in general) are something of a vexed topic for Spring Cloud because the existing implementations of Eureka (in particular) and Ribbon are quite AWS spe

[2014-10-16 15:15] #29 closed, assigned to nobody

[2014-10-17 08:59] dsyer opened #30 "Ribbon client cannot use AWS native metadata"
If you use pure Netflix APIs you will still be fine, but if you want the Spring Cloud support (e.g. `RestTemplate` and `LoadBalancerClient`) you will not be able to use the native AWS metadata for zones because we unconditionally squash it in `DomainExtractingServerList`.

[2014-10-17 09:00] #21 closed, assigned to nobody

[2014-10-17 12:47] thomasdarimont opened #31 "Github links in docs are not rendered correctly"
Github links in docs are not rendered correctly at the end of the  section for: http://projects.spring.io/spring-cloud/spring-cloud.html#_service_discovery_eureka_clients

[2014-10-18 07:07] #26 closed, assigned to nobody

[2014-10-18 07:08] #31 closed, assigned to nobody

[2014-10-20 10:00] ccit-spence opened #34 "Turbine functionality"
Not sure if doing something wrong or if this is an issue.  The code is pretty much a copy of the code from the samples area or the recent doge microservices webinar.

Apps involved are as follows:

Spring Cloud Config Server
2 Services Account & Person each annotated with @EnableHystrix
Spring Cloud Eureka for registering the services
Spring Cloud Hystrix Dashboard

Config Server is working fine
R

[2014-10-20 18:04] spencergibb opened #35 "UnsatisfiedDependencyException: missing SpringClientFactory"
http://stackoverflow.com/questions/26450251/having-an-issue-with-launching-spring-cloud-hystrix-dashboard-example

Trying to use spring-cloud-starter-hystrix-dashboard and @EnableHystrixDashboard

see https://github.com/spencergibb/communityanswers/tree/so26450251 for a sample application

The work around is to add `@EnableEurekaClient`

[2014-10-20 22:11] ph0bos opened #36 "Feign REST Client - Converts GET requests to POST"
When implementing a Feign client as per (http://projects.spring.io/spring-cloud/spring-cloud.html#_declarative_rest_client_feign) using the following interface all GET requests to "getStore" are actually being attempted as POST requests resulting in an Unsupported Operation exception being thrown.

The listPlatforms call is executed as a GET request and works as expected.

Interface;

[code]

Exce

[2014-10-21 00:08] #36 closed, assigned to nobody

[2014-10-22 15:07] #34 closed, assigned to nobody

[2014-10-22 17:17] spencergibb opened #37 "Make sure RibbonInterceptor properly records LoadBalancerStats"
Use `LoadBalancerContext` in `RibbonInterceptor` or `RibbonLoadBalancerClient` to take advantage of business logic in  `LoadBalancerContext` (such as url construction) and to call methods such as `noteRequestCompletion`

[2014-10-22 17:18] #20 closed, assigned to nobody

[2014-10-22 18:07] dsyer opened #38 "Expose Archaius property keys and values via Actuator"
Like the /configprops endpoint but for native Netflix OSS components (e.g. Ribbon loadbalancer properties).

[2014-10-22 18:19] dsyer opened #39 "Upgrade Spring Boot"
Lets move to 1.1.8 now and 1.2 (milestone at least) for Spring Cloud 1.0.0.M3 if possible.

[2014-10-22 19:00] #13 closed, assigned to spencergibb

[2014-10-22 19:10] dsyer opened #40 "Zuul proxy swallows exceptions"
As a client it's really hard to tell what went wrong if the proxy call fails (e.g. if the eureka registration just isn't there). You can tell from metrics/trace that something happened, but it would be nice for the consumer (e.g. browser to get some more immediate feedback). It might be sufficient just to mimic or re-use the Spring Boot default error page behaviour.

[2014-10-22 20:59] spencergibb opened #41 "Move eureka context from / to /eureka"

[2014-10-22 22:36] dsyer opened #42 "Eureka-first bootstrap"
Up to now the spring-cloud-samples worked with configserver-first bootstrap - i.e. the config server is the first thing a client app binds to, and then extracts all the data it needs from there to contact everything else (including Eureka).

The way round is also interesting: Eureka is the first thing a client app binds to, and it extracts the config server location from there (or if there is no c

[2014-10-23 13:49] #41 closed, assigned to nobody

[2014-10-23 15:57] andrewharmellaw opened #43 "Merging Archaius-Spring-Adapter with Spring-Cloud-Netflix"
As discussed [on twitter](https://twitter.com/david_syer/status/524501196849946625) it'd be cool to merge the [archaius-spring-adapter](https://github.com/Capgemini/archaius-spring-adapter) with Spring Cloud.

Ideally, we'd manage to keep the following functionality:
- loading properties from a single file into Spring, Camel and Archaius - we know camel support might be out of scope for this, in w

[2014-10-23 16:53] dsyer opened #44 "Use static resource filter to allow /eureka to serve API and static resources"

[2014-10-23 17:02] dsyer opened #45 "Only set configuration keys in Ribbon pre-processor if they aren't already set?"

[2014-10-23 17:41] #38 closed, assigned to nobody

[2014-10-23 18:18] #44 closed, assigned to nobody

[2014-10-23 18:54] aemruli opened #46 "Remove module tangle between netflix module and starters module"
Currently the turbine and hystrix module have a dependency to the spring-cloud-starters module, which makes it impossible to build the project because the starts itself have a dependency to the netflix module.

Therefore IMHO it makes sense to remove the dependency in the hystrix module entirely (not use) and
remove it in the turbine module and replace it with
<dependency>
            <groupId>org

[2014-10-23 19:49] #46 closed, assigned to nobody

[2014-10-23 20:03] #4 closed, assigned to nobody

[2014-10-23 20:04] #27 closed, assigned to nobody

[2014-10-23 22:24] ljramones opened #47 "Bad status on discovery client log"
I am noticing that I get a `RuntimeException: Bad status: 500` every 5 or so minutes in my logs.  The test service I created does seem to connect but this is filling up my logs.
Any idea why this should be happening?
Here is a trace:

[code]

[2014-10-26 15:36] #42 closed, assigned to nobody

[2014-10-28 12:12] #24 closed, assigned to nobody

[2014-10-30 12:14] #16 closed, assigned to nobody

[2014-10-30 20:05] ljramones opened #48 "DiscoveryClient seems to fail with null pointer in some instances and not others"
I have used the DiscoveryClient in some instances and it seems to work fine, however in others it throws a NPE for no reason that I can determine.  In all cases my spring boot app is annotated with @EnableEurekaClient

There are occasions when if I auto wire the DiscoveryClient  such as

[code]

and then later I call it via

[code]

While running I see this

[code]

[2014-10-31 00:29] spencergibb opened #49 "Turbine: make EurekaInstanceDiscovery.getClusterName dynamically lookup value"
Use SPEL or some other method to allow configuration of `clusterName` rather than overriding.  Useful for turbine http stream aggregation (ie ASGName on AWS, vs custom metadata)

[2014-10-31 01:42] #49 closed, assigned to nobody

[2014-10-31 09:53] abaculus opened #50 "Inject a HealthCheckHandler into DiscoveryClient"
Hi

Trying to figure out how to use the `HealthCheckHandler` and `HealthCheckHandlerProvider` in `DiscoveryClient` with Spring Cloud Netflix and Eureka.

My service registered with Eureka Server is always UP even though my `/health` reports: `{"status":"DOWN"}` and HTTP 500.

Cannot find that there's any connection between them?

Thanks!

[2014-11-03 11:03] RobWin opened #51 "Hystrix-dashboard not working correctly, if a context path is set"
the hystrix-dashboard index.html is not working correctly, if a context path is set, because the following src url is not considering the context path:

[code]

Same for the hystrix-monitor-dashboard.

[2014-11-03 11:12] RobWin opened #52 "hystrix.stream endpoint URL is wrong, if a management contextPath is set"
If I set the Spring Actuator management contextPath to _management_ the hystrix.stream endpoint will end up as _/managementhystrix.stream/_**

I would expect _/management/hystrix.stream/_**

[2014-11-03 13:25] abaculus opened #53 "Respecting InstanceStatus on startup if a HealthCheckHandler is set?"
Would it be possible if the `EurekaClientConfiguration` when starting could respect the `InstanceStatus` given by a `HealthCheckHandler` registered on the `DiscoveryClient`?

[2014-11-03 17:46] boostrack opened #54 "Stale Application registered with Eureka showing status UP"
According to the Eureka Demo deployed on CF (http://dsyereureka.cfapps.io/) it shows a couple of Application registered with Eureka.

It turns out, that Eureka UI, shows all those Apps with Status UP but apparently one of them is DOWN

![screen shot 2014-11-03 at 17 41 08](https://cloud.githubusercontent.com/assets/7299740/4886930/ab77640e-6380-11e4-9112-182cdf593048.png)

If one try to verify the

[2014-11-03 19:43] #35 closed, assigned to spencergibb

[2014-11-04 14:24] RobWin opened #55 "Eureka-dashboard not working correctly, if a context path is set"
The Eureka-dashboard index.html is not working correctly, if a context path is set, because the following urls are not considering the context path:

[code]

[code]

[2014-11-04 21:49] spencergibb opened #56 "In-process integration test facilities for features that depend on Eureka"
It's hard to write integration tests that require eureka to be up and running.  Create some kind of facility that allows mock eureka functionality.  I would find this useful for testing the zuul proxy functionality for example.

Options:
- Use a static server list for ribbon.
- Somehow mock eureka classes (hard because of static instances): DiscoveryManager, DiscoveryClient, etc...)
- Run an embed

[2014-11-04 22:17] #14 closed, assigned to spencergibb

[2014-11-05 07:30] dangertools opened #57 "A feign client is unable to return parameterized types (e.g. List<UserDto>)"
At least org.springframework.cloud.netflix.feign.SpringDecoder restricts decode types to Classes which prohibits the use of generified types since those aren't instances of Class but of ParameterizedType.

[2014-11-05 09:21] #54 closed, assigned to nobody

[2014-11-05 14:47] #55 closed, assigned to dsyer

[2014-11-05 15:23] #52 closed, assigned to dsyer

[2014-11-05 16:59] #51 closed, assigned to nobody

[2014-11-05 17:25] #48 closed, assigned to nobody

[2014-11-05 17:50] ljramones opened #58 "More detailed configuration on Hystrix command annotations"
This is more of a question in case anyone can point to a place where this is described.

I want to have more control over the configuration of how the @HystrixCommand works.  I note that in the deep Netflix code there is a way to specify the timeout to open a circuit and sleep window for resetting a circuit.

For example in https://github.com/Netflix/Hystrix/blob/master/hystrix-core/src/main/java/

[2014-11-05 20:29] #57 closed, assigned to nobody

[2014-11-06 01:10] #40 closed, assigned to spencergibb

[2014-11-06 01:18] #58 closed, assigned to nobody

[2014-11-06 01:46] #53 closed, assigned to nobody

[2014-11-06 02:15] #50 closed, assigned to nobody

[2014-11-06 18:55] spencergibb opened #60 "ClassNotFoundException: com.netflix.eureka.converters.EntityBodyConverter"
The missing class is in the eureka-client jar.  I have to restart eureka.

	[2014-11-06 10:45:22.259] boot - 99614  WARN [Finalizer] --- JmxMonitorRegistry: Unable to un-register Monitor:MonitorConfig{name=Discovery-PeerNodeClient-localhost, tags=class=NamedConnectionPool, policy=DefaultPublishingPolicy}
	javax.management.InstanceNotFoundException: com.netflix.servo:name=Discovery-PeerNodeClient-l

[2014-11-10 18:45] jam1401 opened #61 "Cannot Find Symbol @EnableEurekaServer"
Trying to follow the example to create a Eureka Server. Followed the directions To run your own server use the spring-cloud-starter-eureka-server dependency and @EnableEurekaServer. My gradle is below

[code]

However the @EnableEurekaServer annotation cannot be found

[code]

[2014-11-10 19:52] #61 closed, assigned to nobody

[2014-11-10 23:10] ljramones opened #62 "Adding to eureka metadata dynamically"
I tried to add to the metadata of a service after it was created but I cannot see this data propagated in the discovery of it to other services.

I tried adding a auto wired dependency to

[code]

Then later I got

[code]

added my own metadata key, value pairs and did a

[code]

It does not seem to get propagated.  I assumed it was possible but is it?

The reason I am using it is that there are s

[2014-11-11 14:36] abaculus opened #63 "Changing status on Eureka instance affects all instances on same host"
Setup:
- Starting Eureka Server on localhost
- Two running instances of a service registered with the Eureka server on localhost (different app names)
- All instances has status UP when starting

When invoking REST endpoint:

http://localhost:8761/v2/apps/SAMPLE-EUREKA-SERVICE-8042/MYHOST57/status?value=DOWN

, all service instances will change status to 'DOWN' on the same host.

![eureka-change-s

[2014-11-13 11:01] #47 closed, assigned to nobody

[2014-11-14 01:13] #37 closed, assigned to nobody

[2014-11-15 11:21] #28 closed, assigned to nobody

[2014-11-16 13:41] VanRoy opened #64 "Eureka First Bootstrap not allow to connect to prefixed Spring Cloud Config Server"
When we use Eureka to locate the Config Server ( by adding "spring.cloud.config.discovery.enabled=true" ), the connexion to the Spring Cloud Config Server does not work with a prefixed server ( ie : spring.cloud.config.server.prefix ).

[2014-11-17 14:47] #64 closed, assigned to nobody

[2014-11-17 14:48] #62 closed, assigned to nobody

[2014-11-19 20:10] #45 closed, assigned to nobody

[2014-11-21 16:27] Hillkorn opened #67 "ribbon.UseIPAddrForServer behaviour is overwritten by spring"
In org.springframework.cloud.netflix.ribbon.eureka.DomainExtractingServerList in line 77
is super(server.getInstanceInfo(), true, false); which overrides the UseIpAddrForServer of the ribbon configuration.
Because of this it's not possible to use ip addresses instead of hostnames.

Thanks

[2014-11-21 22:24] #67 closed, assigned to spencergibb

[2014-11-24 13:03] dsyer opened #68 "Document Zuul proxy features better"
I know that there's a way to get links in the responses to come out pointing to the proxy (with Spring Data REST for instance), but I don't immediately see how to do it from the docs.

[2014-11-24 14:46] #39 closed, assigned to nobody

[2014-11-24 18:26] #68 closed, assigned to spencergibb

[2014-11-24 23:13] spencergibb opened #69 "Spring cloud based sidecar (ala prana)"
See https://github.com/Netflix/Prana/wiki/API for inspiration
Features:
- Actuator
- No config (configserver rest api will do)
- Zuul Proxy (ribbon/hystrix)
- Eureka api
- Healthcheck the local application

_Spencer Gibb_ **4:00 PM** I bet given the prana http api, would could have a boot based version of prana pretty quickly
_Matt Stine_ **4:00 PM** actually I'm pretty sure you're dead on right i

[2014-11-25 06:31] spencergibb opened #70 "create spring-cloud-samples/zuul-server"

[2014-11-25 06:38] #70 closed, assigned to spencergibb

[2014-11-25 17:13] dsyer opened #72 "Allow Zuul proxy to match without a prefix if it isn't stripping anyway"
E.g.

[code]

Then `/{customers/**,stores/**}` would go through to the Eureka service called "customers" or "stores" but all other requests wouldn't be proxied.

[2014-11-25 20:05] ryanjbaxter opened #73 "DELETE Requests Through Zuul Proxy Throws Exception"
When a DELETE request is issued through the Zuul proxy the following exception is thrown.

[code]

My client is not adding an entity to the DELETE request and I noticed that the endpoint being proxied to is never actually being hit.  I have hit this same issue in 2 different apps.  I can provide the source code to reproduce if needed.

[2014-11-25 22:48] #72 closed, assigned to spencergibb

[2014-11-25 23:47] #69 closed, assigned to spencergibb

[2014-11-26 01:37] wgorder opened #74 "spring-cloud-starter-eureka-server still pulls in spring-boot-starter-logging when built with Gradle"
The documentation says that the starter will handle excluding this for you but that apparently does not apply to gradle builds.

Here is the file I was using, running gradle dependencies will give you the output like a mvn dependency:tree would.  You can see its still being brought in transitively through the starters.

[code]

[2014-11-26 10:44] dsyer opened #75 "Add MVC endpoint for Zuul proxy (so you can refresh the mappings imperatively)"

[2014-11-26 10:50] #75 closed, assigned to nobody

[2014-11-26 11:05] dsyer opened #76 "Update Zuul routes when eureka catalog changes"
From `RouteLocator` TODO: respond to changes in eureka.

[2014-11-26 15:16] dsyer opened #77 "Zuul routes and URL re-writing"
The customersui demo works really nicely for the stores links:

[code]

Note that the URIs are re-written by the remote server because we have sent it the x-forwarded-from header (which is the host and port, not including any context path).

It's sort of accidental that /stores is the top-level business URL in the "stores" service, and that's the coincidence that makes it work smoothly. The Zuul r

[2014-11-26 20:38] #73 closed, assigned to nobody

[2014-11-28 13:04] donovanmuller opened #78 "Application provided Zuul filters replace all other filters"
After 05fe17522302b4a513900cf0685586e4ed6a2bdc, any application provided Zuul filters will replace all previous filters that were registered in [ZuulConfiguration](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/zuul/ZuulConfiguration.java#L43)

See https://github.com/donovanmuller/spring-cloud-netflix/commi

[2014-11-28 17:07] VanRoy opened #79 "Feign RibbonModule integration"
Currently the Feign integration use a LoadBalancingTarget.
This one does not manage resiliency and retry to another server when the first is down.

It could be useful to implement the RibbonModule configuration noticed in the Feign documentation.

What do you think about that ?

Thank you.

[2014-11-29 09:31] #78 closed, assigned to nobody

[2014-12-01 17:46] dsyer opened #81 "Ensure Eureka works with basic auth"
Ensure Eureka works with basic auth, and maybe a login for the dashboard as well.

[2014-12-01 20:19] #79 closed, assigned to nobody

[2014-12-02 12:17] #81 closed, assigned to nobody

[2014-12-03 17:39] ryanjbaxter opened #83 "Feign + Ribbon Not Finding Service"
I am trying to use Feign + Ribbon to call an endpoint of my service.  My understanding is that Ribbon will use Eureka to look up the URL to the service.  Following the documentation I created a class which extends FeignConfigurer

[code]

It was also my understanding that the second argument to loadBalance is the service name registered in Eureka with http:// prepended, correct?

When I run this I

[2014-12-04 08:14] okarahan opened #84 "Configuration problem with turbine"
I try to launch Turbine on my local environment, but did not succeeded. I use Spring Boot for my services and try to connect it with Turbine.

My service which has the @EnableHystrix annotation gives a stream at his hystrix.stream endpoint.

However my Turbine stream is empty. It discovers my service but I didnt know whats going wrong there. Can someone give a simple introduction, I didn't find a

[2014-12-04 09:24] dsyer opened #85 "Replace @EnableEurekaClient with @EnableDiscoveryClient"
and remove `@EnableEurekaClient` (no point deprecating a class that hasn't been released yet).

[2014-12-04 09:31] dsyer opened #86 "Archaius bridge failing: bogus problem with spring.application.name"
[code]

[2014-12-04 16:00] #86 closed, assigned to nobody

[2014-12-04 17:47] #77 closed, assigned to nobody

[2014-12-04 18:01] #63 closed, assigned to nobody

[2014-12-04 18:41] #25 closed, assigned to spencergibb

[2014-12-04 18:46] spencergibb opened #87 "Replace @EnableHystrix with @EnableCircuitBreaker"
and remove `@EnableHystrix` (no point deprecating a class that hasn't been released yet).

[2014-12-04 18:58] #85 closed, assigned to spencergibb

[2014-12-04 18:58] #87 closed, assigned to spencergibb

[2014-12-04 23:21] spencergibb opened #89 "Allow customization of ribbon in a spring friendly manner"
Currently the only way to customize the load balancing rule (round robbin, random, weighted, etc...) is to set a property to a class that ribbon instantiates (see [ribbon docs](https://github.com/Netflix/ribbon/wiki/Working-with-load-balancers#weightedresponsetimerule)):

[code]

Take advantage of the new builders in ribbon two and allow customization.  Perhaps a customizer?

[2014-12-05 11:30] jmirc opened #90 "Allow to set a different RetryHandler implementation"
The `RibbonLoadBalancerClient#getOrCreateLoadBalancerContext` method instantiates a `LoadBalancerContext` without setting `clientConfig` as parameter.

The current implementation makes it impossible to set another `RetryHandler` implementation. The  `DefaultLoadBalancerRetryHandler` is used by default.

[2014-12-05 16:28] dsyer opened #91 "rename FeignConfigurer to FeignConfiguration"

[2014-12-05 16:37] jmirc opened #92 "Implement a specific IPing interface that works with spring boot"
It could be great to offer out of the box an implementation of the IPing interface like PingUrl that works with spring-boot. "/health" could be called.

[2014-12-05 16:58] jmirc opened #93 "Question - Could you describe how the retry works"
I am trying to implement the retry feature but it doesn't work. I have two servers and Ribbon uses the round-robin algorithm to load balance the request between the two instance of the same service.
When one of the server is stopped, and the request is sent to the server I got an exception even if the other instance is alive. The retry is not called.

[2014-12-05 17:34] #92 closed, assigned to nobody

[2014-12-05 19:23] #91 closed, assigned to spencergibb

[2014-12-05 19:39] spencergibb opened #94 "Replace FeignConfiguration with annotation and auto-proxy creation."
I've always thought it's a bit awkward to do this:

[code]

This seems a little nicer

[code]

and use spring to create the proxy by invoking the builder.

[2014-12-05 20:25] #83 closed, assigned to nobody

[2014-12-05 23:44] #93 closed, assigned to nobody

[2014-12-07 03:31] ccit-spence opened #95 "Eureka will not package using Java 1.8"
Trying to run Eureka based on the spring-cloud-sample.  Changing the Java version in properties to 1.8 from 1.7 will break maven package.

pom is identical to the example except for the java version being 1.8.

We are trying to be good and migrate any new development to 1.8.

[code]

[2014-12-08 11:47] abaculus opened #96 "Native Ribbon-client only see one server when there are three in Eureka"
Hi

I have a native Netflix Ribbon client (version 2.0 RC9) which tries to get a list of servers from Eureka (using Spring Cloud Netflix 1.0.0 M3). The Ribbon-client only gets one server back but there are three servers registered in Eureka.

When using a common Spring application name for all service instances only one server will be returned:
`spring.application.name=my-service`

Changing to a u

[2014-12-09 10:06] dsyer opened #97 "Eureka server "openForBusiness" can happen after the first requests come in from clients"
Because it is (intentionally to improve start up time) in a background thread, the `openForBusiness()` call can happen substantially after calls from clients start to come in. The result is some ugly NPE stacktraces (which happen to be harmless):

[code]

[2014-12-09 13:20] #95 closed, assigned to nobody

[2014-12-09 13:38] #90 closed, assigned to nobody

[2014-12-09 13:39] #96 closed, assigned to nobody

[2014-12-09 15:12] #97 closed, assigned to nobody

[2014-12-09 19:39] spencergibb opened #98 "Merge discovery Health Indicator and Eureka Health Indicator"
make the generic `discovery` Health Indicator a composite and aggregate all implementor of `DiscoveryHealthIndicator` or some such.

[2014-12-09 19:40] #94 closed, assigned to nobody

[2014-12-11 18:53] NickPadilla opened #99 "Eureka Client cannot boot"
Hello,

I am using the Snapshot releases and have run into an issue.  A recent update has caused my template HystrixDashboard server to stop booting, saying it couldn't find a org.springframework.cloud.netflix.eureka.EurekaInstanceConfigBean to inject.  I am using Eureka for the ConfigService discovery, so my HystrixDashboard should be able to authenticate with Eureka to find the ConfigService.  I

[2014-12-11 20:54] ryanjbaxter opened #100 "Eureka webjar resources have double slashes in the url"
For example
http://localhost:8761//eureka/css/wro.css

This happens to work fine locally but when deployed to Cloud Foundry (Bluemix) I am getting 404s.

[2014-12-11 23:10] #100 closed, assigned to nobody

[2014-12-11 23:13] spencergibb opened #101 "Eureka server /lastn loses styles"
also breaks the home link.

[2014-12-11 23:52] #101 closed, assigned to nobody

[2014-12-12 03:12] ryanjbaxter opened #102 "Correctly Configure Eureka Client Hostname On Cloud Foundry"
I deployed a Eureka Client to cloud foundry, however when it registers with the Eureka server (also running on CF) it does not register it with the a route bound to the application.  (I am actually not really sure where it is getting the hostname it is registering with.  I am sure the hostname the container thinks it has is not the route that the CF router mapped to the application.)  I am wonderi

[2014-12-12 12:03] dsyer opened #103 "Add a helper or base class for the 2 reverse proxy filters"
`RibbonRoutingFilter` and `SimpleHostRoutingFilter` do a lot of the same things, which could be extracted to a base class, or a helper or a separate `Filter`.

[2014-12-12 19:29] #99 closed, assigned to nobody

[2014-12-13 22:51] ccit-spence opened #104 "@EnableZuulServer showing deprecated."
I notice that @EnableZuulServer is showing that is deprecated.  What is the intended replacement? Should it be showing deprecated?

[2014-12-15 07:33] #103 closed, assigned to dsyer

[2014-12-15 20:19] #98 closed, assigned to spencergibb

[2014-12-15 21:41] jlouns opened #105 "Default Zuul route only handles root request"
Right now the default route for the Zuul proxy server only handles requests to /. This is fine for a simple resource, but it doesn't work too well for a client app or even a simple HTML page. Zuul will serve up the HTML page from the default route, but any resources associated with that page (javascript, css, images) probably won't match an existing route unless each are specifically configured, s

[2014-12-15 23:23] #76 closed, assigned to spencergibb

[2014-12-16 00:15] #105 closed, assigned to nobody

[2014-12-16 09:00] #104 closed, assigned to dsyer

[2014-12-16 09:50] dsyer opened #106 "Threads need cleaning up when context closes"
Tomcat 8 nails us with a warning on almost all apps now because of Threads that are still running when it closes down. Not really more than cosmetic, but worth looking into.

[2014-12-17 17:41] #89 closed, assigned to nobody

[2014-12-17 17:44] spencergibb opened #108 "Move spring-cloud-bus-hystrix and spring-cloud-bus-turbine from spring-cloud-bus to spring-cloud-netflix"

[2014-12-17 20:30] #108 closed, assigned to spencergibb

[2014-12-17 21:59] ryanjbaxter opened #109 "Request Body Of A POST With The Content-Type application/x-www-form-urlencoded Not Proxied"
I have an POST request I want to proxy through the Zuul proxy, however it looks like the Zuul proxy is not forwarding on the request body.  This seems to be specific to requests with the content type application/x-www-form-urlencoded because my requests with JSON request bodies works fine.

Here is the request that is going through the proxy

[code]

I getting a 400 back from the request because t

[2014-12-18 05:56] mwibmer opened #110 "spring-cloud-netflix-core doesnt compile, e.g. interface not implemented, loggers missing, was this a partial checkin?"
Steps to Reproduce
1) Using latest eclipse STS
2) Git pull
3) maven build

looks like using lombok to generate code was a bad call

[code]

[2014-12-18 16:04] #110 closed, assigned to nobody

[2014-12-18 17:49] andrefaria opened #111 "Update Feign documentation to show @FeignClientScan and @FeignClient usage"
I'm trying to a create an example project of spring cloud + feign (the classic github REST example), based on the documentation at http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-feign

This is the problem I'm facing: CommonAnnotationBeanPostProcessor : Invocation of destroy method failed on bean with name 'org.springframework.cloud.netflix.archaius.ArchaiusAutoConfiguration'

[2014-12-18 19:04] #111 closed, assigned to spencergibb

[2014-12-19 12:52] #109 closed, assigned to dsyer

[2014-12-19 20:28] bvulaj opened #112 "DiscoveryClient enabled when using only spring-cloud-starter-hystrix"
When using RC1 of `spring-cloud-starter-hystrix`, Eureka's `DiscoveryClient` seems to enable itself, which causes the health indicator to report the service as `DOWN`.

Setting `spring.cloud.config.discovery.enabled: false` does not seem to effect this behavior.

[code]

[2014-12-19 22:00] #84 closed, assigned to spencergibb

[2014-12-19 22:00] #112 closed, assigned to spencergibb

[2014-12-26 13:18] dsyer opened #116 "Make a sample for Feign client"
Some samples (like in Spring Boot) that test common classpath combinations is probably a good idea. One use case that I found tricky to set up at first was a plain Feign client without Eureka support.

Bonus points for anyone who who can figure out how to use the starters (i.e. make it _not_ part of the Netflix project).

[2014-12-26 13:36] dsyer opened #117 "Make actuator optional dependency for netflix clients"
A regular netflix-core client probably doesn't need to use the actuator. The server components (Eureka in particular) might be able to demand more.

[2014-12-26 14:03] #117 closed, assigned to nobody

[2014-12-26 16:13] dsyer opened #118 "Feign uses different factory for Ribbon client than RestTemplate"
Feign uses different factory for Ribbon client than RestTemplate. Feign uses a static Netflix factory, which probably picks up the result from the Spring factory if it is already available, but seems to get it wrong if it is called first.

[2014-12-26 16:20] #118 closed, assigned to nobody

[2014-12-27 03:25] wgorder opened #119 "With RC1 ribbon-loadbalancer is no longer brought in as a transitive dependency"
Contrast the dependencies below to what was seen in #74

Here is the output and build script.

[code]

[code]

[code]

[2014-12-27 10:15] #116 closed, assigned to nobody

[2014-12-28 20:58] wgorder opened #120 "Error with EurekaServer in standalone mode."
So I have this project I am trying to get working in a certain way and I keep running into stuff, so I have started a public repo that I can create a simpler example with, and maybe it will help others to as it evolves.

I was trying to get the standalone eureka server configuration working as outlined in the documentation and I get this exception below when I hit the dashboard.  You can reproduce

[2014-12-29 04:44] wgorder opened #121 "Cannot resolve templates on Eureka Server startup"
I see this even though the dashboard still renders

[code]

[2014-12-29 13:33] #121 closed, assigned to nobody

[2014-12-29 17:14] #120 closed, assigned to nobody

[2014-12-29 18:16] mingfang opened #122 "EurekaInstanceConfigBean.java not respecting preferIpAddress everywhere"
Need to replace ```hostname``` with ```getHostname()``` on line 139 and line 143.
Otherwise the service heartbeats errors with a 404.
```PUT /eureka/apps/ZUUL/myhost?status=UP&lastDirtyTimestamp=1419867657994 HTTP/1.1```
Note ```myhost``` should be replaced with the IP when ```preferIpAddress``` is set.

[2014-12-29 20:36] VanRoy opened #123 "Request Body Of A POST With Charset Not Proxied"
POST request with content-type containing charset ( "application/x-www-form-urlencoded; charset=UTF-8" ) are not proxied by ZuulProxy.

This PR https://github.com/spring-cloud/spring-cloud-netflix/pull/113 fix this issue.

Julien.

[2014-12-29 20:37] VanRoy opened #124 "Zuul proxy route does not implement the Ribbon retry"
Zuul proxy route does not implement the Ribbon retry.
If any instance registered in Eureka do not respond the proxy fail.

This PR https://github.com/spring-cloud/spring-cloud-netflix/pull/115 fix this issue.

Julien.

[2014-12-31 04:56] ogunheper opened #126 "Turbine AMQP aggregator fails to de-serialize messages from Hystrix stream"
Turbine's new AMQP aggregation feature fails to read messages from queue with JsonParseException.

Deserialization fails since AmqpInboundChannelAdapter uses a SimpleMessageConverter. However, the message is in JSON format with "__TypeId__" being "java.lang.String". Issue can be fixed with using a message converter that supports JSON messages, instead of the simple one...

Full stack trace:

[code

[2015-01-01 08:55] #122 closed

[2015-01-02 07:28] dsyer opened #128 "Add NoopDiscoveryClient"
So that @EnableDiscoveryClient can be used (e.g. accidentally
or transitively via @EnableZuulProxy) without any actual discovery
provider on the classpath.

[2015-01-02 07:31] dsyer commented on #128
Wrong tracker.

[2015-01-02 07:31] #128 closed

[2015-01-02 13:31] sebastian-sch opened #129 "Feign issue in combination with Data REST"
I am using DATA Rest for some of my Controller. Now I include FeignClient and afterwards the DATA Rest Controller doesn’t work anymore.

 This happens only under specific condition. The id must be specified in a superclass (DomainObject) of the domain class (Product) and one variable field from domain class must represent another class (Address).  I create an example to reproduce the problem: http

[2015-01-02 13:33] wgorder opened #130 "A property on Zuul Route to define a server context would be useful"
I think it would be useful to have a server context on a Zuul route.  Say I want to route /auth-server/login to the auth-server service registered in Eureka.  But if the auth-server has a context of 'uaa' a bit more extra configuration needs to be done.  I know there are ways currently I can make that work but I think a simple option for the route to just know that the forward needs to include the

[2015-01-02 13:37] wgorder commented on #130
Actually its not so bad to just do this:

[code]

I think that will work, but my brain had quite working there for a minute.

[2015-01-02 13:54] dsyer commented on #130
I guess that works for now then.

BTW I'm slightly suspicious you might be misusing the proxy if it is going to an auth server. We can take that discussion to [gitter](https://gitter.im/spring-cloud/spring-cloud) if you like.

[2015-01-02 15:21] #126 closed

[2015-01-02 15:22] dsyer commented on #126
I'm not sure why the incoming messages were in JSON. Maybe you were using different versions of the client and server? Anyway I added explicit `MessageConverters` to both sides now and it seems to be working.

[2015-01-02 15:23] dsyer commented on #123
Fixed via #113

[2015-01-02 15:23] #123 closed

[2015-01-02 17:05] ogunheper opened #131 "Turbine AMQP aggregator fails to group instance metrics correctly from Hystrix stream"
__Issue Description & Root Cause:__
When started multiple instances of the same application (either on different hosts with all having the same ${server.port} value, or on a single host with all having different ${server.port} values), Turbine AMQP aggregator aggregates these multiple different Hystrix streams from all instances, however reports them as a single host.

__Root Cause__
Nothing is wr

[2015-01-02 17:09] wgorder commented on #130
I will close this as there is a solution available with minimal effort.  Other discussion is available in the gitter archives for anyone coming along later, that may be interested.

[2015-01-02 17:09] #130 closed

[2015-01-02 17:17] ogunheper commented on #131
Pull request is below;
https://github.com/spring-cloud/spring-cloud-netflix/pull/132

Travis build is failing for some reason, but not because of me :)
Ogün

[2015-01-03 07:06] mingfang opened #133 "Are there any examples of using Feign with Eureka?"
The documentations has examples of using Fiegn without Eureka, but I'm unable to get Feign working with Eureka and can't find any examples or documentation on it.

[2015-01-05 02:41] mingfang commented on #133
I figured it out.
If you have @FeignClient("helloservice") then your application.yml needs this
[code]

[2015-01-05 05:56] mingfang opened #134 "Add ability to discover zuul proxy routes in Eureka"
Normal Netflix routes client request via Zuul and service to service requests are routed directly to each other.  My use case requires that all service requests, both from clients and from other services, be routed to a central ZuulProxy.

Currently I can do that by having each service discover the ZuulProxy from Eureka and then send all REST calls via Zuul by adding the service prefix.  This work

[2015-01-05 13:54] wilkinsona commented on #119
@wgorder I believe this is fixed in the latest 0.3.1 snapshot. If you have a chance to try it, please let us know how you get on.

[2015-01-05 18:39] spencergibb commented on #133
You actually shouldn't need to do that.  I'm going to reopen to add a feign sample.  If you use `@FeignClientScan` and `@FeignClient("helloservice")` it should automatically use eureka.

[2015-01-05 18:48] spencergibb commented on #131
hmm, I think it's a matter of setting unique id's for each service.  This works in cloud foundry because spring-boot uses the `${vcap.application.instance_id}` as the context id.  I'll take a look.  I'm not convinced I want to merge your pull request.

[2015-01-05 21:12] spencergibb opened #135 "Group circuits by serviceId in s-c-n-turbine-amqp"
Currently they show up just as circuit breaker name (such as `RibbonCommand`).  If multiple services  (not just instances of the same service) had the same circuit breaker name, they would get aggregated together.  Circuit breaker names should be prefixed by serviceId, eg: `myService.RibbonCommand`.

[2015-01-06 02:26] wgorder commented on #119
@wilkinsona

Its definitely not fixed in 0.3.1.BUILD-SNAPSHOT as that is the version I was using already.  Did you mean to quote a different version?

[2015-01-06 03:16] wgorder commented on #119
@wilkinsona

I spoke to soon.  It fixes that problem but broke something else that used to work.  Now I cannot build my multi module project

https://github.com/wgorder/acme-ui

[code]

[2015-01-06 07:59] ogunheper commented on #131
Hi Spencer,

Yes, this is definitely a matter of unique id setting for each instance.

This may work well in cloud foundry, but in standalone environment like ours, we have no such settings as ${vcap.application.instance_id} in the environment.

What we went through is the following;
- We got a single Spring Boot application; having ${spring.application.name} & ${spring.profiles.active} configured

[2015-01-06 09:54] wilkinsona commented on #119
@wgorder Thanks for the pointer to a repo that exhibits the problem. It should be fixed in the latest 0.3.1 snapshot: `./gradlew clean build` completes successfully for me now.

[2015-01-06 13:41] wgorder commented on #119
Fantastic!! Thanks @wilkinsona :+1:  .  Looks like that led to a wee bit of refactoring :)

[2015-01-06 13:41] #119 closed

[2015-01-06 13:45] #74 closed

[2015-01-06 16:18] spencergibb commented on #131
@ogunheper what I'd like is for the sending application to decide what to send.  It's currently hard coded to the application context id.  Would some configuration here work?  Maybe a property that allows you to set that to send and it won't send an id if it's empty.

[2015-01-06 16:53] dsyer commented on #134
You can already discover the routes from the proxy (with "/routes"). Is that not enough? Why does it need to be via Eureka?

[2015-01-06 16:56] dsyer commented on #133
There is already a feign sample here: https://github.com/spring-cloud-samples/feign. It uses a hardcoded server list, not Eureka, but the client configuration is the same.

[2015-01-06 18:25] wgorder opened #136 "Stack Overflow in Zuul Filter"
Seeing this quite often after letting things run awhile.  Any ideas?

[code]

[2015-01-06 18:50] dsyer commented on #136
Seems related to the `SendErrorFilter` (probably an error causes another error as it is being rendered). Maybe Spencer can help.

[2015-01-06 18:51] wgorder commented on #136
Ok so it fills up my buffer so fast I couldn't see whats going on.  It seems to be that it cant find an application to route to and just ends up in a cycle.  Clearly I have something misconfigured but some detection of this sort of thing might be worth having.

[code]

[2015-01-06 18:59] wgorder commented on #136
Wierd thing is  it says "Caused by: com.netflix.client.ClientException: Load balancer does not have available server for client: acme-ui"

Yet when I hit the Eureka endpoint it says it there and running...  However it seems to immediately keep retrying with the same result.  I would think Hystrix would kick it and shut it off but apparently that is not happening either.

[2015-01-06 19:02] wgorder commented on #136
I should probably mention I am using the snapshot build.. Not sure if something was recently changed.

[2015-01-06 19:12] wgorder commented on #136
I still have no idea why its not initially finding it but this was buried in there so that is what is causing all that recursion

[code]

[2015-01-06 19:31] wgorder commented on #136
Ok.  I feel like a spammer here :)  One more thing.  This does not happen in RC1 it is only a problem in 1.0.0.BUILD.SNAPSHOT

[2015-01-07 03:47] #131 closed

[2015-01-07 03:47] #135 closed

[2015-01-07 16:08] brianlaframboise opened #137 "Typo in Eureka documentation"
The 2nd property in this **Registering with Eureka** excerpt looks like it was accidentally copy/pasted:

[2015-01-07 18:34] ryanjbaxter commented on #133
I am hitting the same problem I think.  Without setting ribbon.DeploymentContextBasedVipAddresses and ribbon.NIWSServerListClassName the load balancer cant find the service and I have both @FeignClientScan and @FeignClient set.

It also seems like this question is related as well http://stackoverflow.com/questions/27483866/spring-cloud-with-feign-ribbon-eureka-unable-to-discover-service-instances

[2015-01-07 18:36] spencergibb commented on #133
@ryanjbaxter I'll take a look

[2015-01-07 19:02] spencergibb commented on #136
@wgorder I've protected against the NPE here 64e5a2e0ba85f913b04c7733a798aae560cdcf11.  Can you try again with an updated snapshot?

[2015-01-07 19:24] spencergibb commented on #133
@ryanjbaxter I was unable to reproduce the problem with the sample project in the `so` issue you mentioned.  Any chance you can share a project?

[2015-01-07 20:16] Quantas opened #138 "Spring Boot Required?"
This is more of a question; After looking through all the POMs and dependency trees for the spring-cloud projects you will see that they all depend on spring-boot.  Is that the only way to use spring-cloud dependencies? I'm sure there are many out there that want to integrate things like Hystrix into "standard" Spring applications but don't want to get Spring Boot JARs in the classpath.  Any insig

[2015-01-07 20:22] wgorder commented on #136
Seems to be working now.  Although my application has changed some as well, so I can't be absolutely certain.

[2015-01-07 20:23] spencergibb commented on #133
@ryanjbaxter As I was implementing a feign eureka example, I got the following error while the ribbon/eureka caches warmed up.
[code]
but after a minute or so, it starts working

[2015-01-07 20:45] wgorder commented on #136
No its still a problem.  I get forwarding errors over and over again with the root cause being the exception shown below (even though acme-ui IS available and shows in eureka )

[code]
No problems in RC1

[2015-01-07 20:54] spencergibb commented on #136
@wgorder do you see the NPE?  Do you have actuator?  If so, what is the output of `/health`?  I see a list of services available.  Even though the service may show up in eureka, the eureka client may not see it.
[code]

[2015-01-07 21:00] #133 closed

[2015-01-07 21:09] spencergibb commented on #138
Many features of spring-cloud are built around spring-boot features like auto-configuration.  If you look [here](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/hystrix/HystrixCircuitBreakerConfiguration.java#L53-L56), you can see that to get hystrix work you need a `HystrixCommandAspect` from the [hystrix-j

[2015-01-07 21:22] wgorder commented on #136
I do have acutator let me check it.  I seem to be getting it now in RC1 too unless the dependencies didn't update.  I am also getting the null pointers still.  I am also getting a slew of unknown host exceptions

[code]

[2015-01-07 21:27] wgorder commented on #136
Cant get to the health endpoint just a slew more errors including the following

[code]

[2015-01-07 21:27] spencergibb commented on #136
The `UnknownHostException`'s are an issue with your laptop networking.  At some point the hostname was `Williams-MBP` and now it isn't.  Can you post the full stack trace of the null pointers?

[2015-01-07 21:31] spencergibb commented on #136
any chance you have a project you can share?  It would be helpful to reproduce the problems you are seeing.

[2015-01-07 21:33] wgorder commented on #136
Yes I have one. I had to step out to get the kids but I'll post back when I
return.
On Jan 7, 2015 4:31 PM, "Spencer Gibb" <notifications@github.com> wrote:

[2015-01-07 21:48] ryanjbaxter commented on #133
I have waited about 15 minutes and the load balancer still cant find the service.  I will check out your sample and see what the potential difference is.

[2015-01-07 21:49] spencergibb commented on #133
yeah, it should only be a minute or two

[2015-01-07 21:50] dsyer commented on #137
Nope, that is correct. The second list is respective of the first one (the default just happens to be the same for the first two entries).

[2015-01-07 21:50] #137 closed

[2015-01-07 22:00] brianlaframboise commented on #137
Ah, my mistake. Looking at it again I see how that could make sense. Sorry 'bout that.

[2015-01-08 14:08] wgorder commented on #136
@spencergibb

Sorry this took so long.  Everything is kind of a WIP right now.  But you can go here:

https://github.com/wgorder/spring-cloud-examples

use the fig file in the support-services-only directory to start up the required postgres and redis instances.

If you are on a windows or a mac you will want to get the `boot2docker ip`

There are 4 services the links are all listed on that page.

[2015-01-08 14:27] wgorder commented on #136
I can get the health on the eureka server if I hit it directly although it not all that useful.  The config server is not being used (yet) so that is expected

http://localhost:8761/health

[code]

[2015-01-08 14:44] wgorder commented on #136
The only project using BUILD-SNAPSHOT is the api-gateway.  If you want to see it work change the build.gradle to only use BUILD-SNAPSHOT for cloud-security and use RC1 for Zuul. If you do this you will see that the application starts working again clearly showing its something about the snapshot build.

[code]

[2015-01-08 17:00] spencergibb commented on #136
@wgorder I was hoping to see the health of where you were getting the exceptions

[2015-01-08 17:20] dsyer commented on #136
As an aside: It's not a great idea to mix versions of Spring Cloud and Spring Boot. We still need to fix this problem, but if it turns out that the underlying exception is caused by versions mismatching, it won't be a surprise.

[2015-01-08 17:54] spencergibb commented on #136
@wgorder so there is no `@EnableDiscoveryClient` on the api-gateway.  You aren't talking to eureka from the api-gateway.

[2015-01-08 18:01] spencergibb commented on #136
@wgorder you also need to add `    compile("org.springframework.cloud:spring-cloud-starter-eureka")`

[2015-01-08 18:16] spencergibb commented on #60
@wgorder I was able to run your `acme-ui` and `api-gateway` project successfully with `./gradlew :bootRun`

[2015-01-08 18:23] wgorder commented on #136
How did it work in rc1? I figured it didn't need to be a client since it
receives requests directly. I figured only services targeted by the zuul
routes needed to be discoverable. I must misunderstand something...
On Jan 8, 2015 1:01 PM, "Spencer Gibb" <notifications@github.com> wrote:

[2015-01-08 18:27] spencergibb commented on #136
Not sure how it worked without that.  Zuul can work with or without eureka discovery.

[2015-01-08 19:30] wgorder commented on #136
Hmm. OK well let me make that change and see if that fixes it on my end.  If it does it will remain a mystery why it worked before.

@dsyer  can you expound on what you meant by mixing spring boot versions?  I see BUILD-SNAPSHOT brings in Spring boot snapshot.  Is that what you meant?  The latest requires something not released yet in Spring boot?  Are you saying all of my applications need to use

[2015-01-08 19:48] wgorder commented on #136
@spencergibb That was it.  I am really confused what changed where it stopped working.  But lesson learned the api-gateway needs to be discoverable :+1:   I am guessing this had a lot to do with the weirdness I was seeing where I had to restart the gateway when the UI service was restarted as well.  Thanks for looking at it!

[2015-01-08 19:48] #136 closed

[2015-01-08 20:01] dsyer commented on #136
It stopped working when `@EnableZuulProxy` started being usable without eureka (hence it dropped its `@EnableDiscoveryClient`). I forget when that was, before RC1 probably.

[2015-01-08 21:35] Quantas commented on #138
I understand that you can use hystrix-javanica to get Hystrix going, but I would like to use spring-cloud-security-oauth2 and other spring-cloud-* projects outside of a Boot environment, is that going to be considered or is Spring Boot always going to be required? (And will I just have to "give in" and use Boot?).

[2015-01-08 22:24] ccit-spence commented on #138
Curious why you don't want Spring Boot?  Maybe I have gotten lazy but couldn't imagine not using it.  Is it causing some sort of an issue?

[2015-01-08 22:27] Quantas commented on #138
I guess I still prefer the "Standard" Spring WAR project setup, the Auto Configuration seems scary in a production/enterprise environment, but maybe that's because I haven't looked too closely at it.

[2015-01-08 22:29] ccit-spence commented on #138
Ok, was concerned I might have some sort of a problem I didn't know about.  We do use it for both JAR and WAR deployments and have no problems.  I don't normally jump right on the latest version until tested.  Spring Cloud being a bit of an exception to that rule :-)

[2015-01-08 22:30] Quantas commented on #138
Does this boil down to me just needing to "give in" and embrace Spring Boot??

[2015-01-08 22:35] ccit-spence commented on #138
Assuming you don't have some sort of corp mandate in place forcing a standard, I would at least suggest giving it a shot.  Should be a breath of fresh air after using Spring Boot for a while.  Totally understand where you are coming from though.  I still use only Maven, don't like the newness of Gradle.

[2015-01-08 22:36] Quantas commented on #138
I'll give it a shot, thanks for the feedback.

[2015-01-08 22:36] #138 closed

[2015-01-08 23:16] wgorder commented on #60
I'll try it again

[2015-01-09 20:38] ccit-spence opened #139 "General questions about Zuul/Ribbon/Eureka"
Just wanting to be sure this is how it is supposed to work.

Setup:
Service A -> instructor-service -> localhost:8080
Service B -> course-service -> localhost:8081
Zuul -> localhost:8765

Zuul route config

`
zuul:
  routes:
    instructor-service: /instructors/**
    course-service: /courses/**
`

Calling localhost:8765/instructors will result in the following response

    {
        "_links": {

[2015-01-09 21:15] spencergibb commented on #139
So for given this configuration:
 `instructor-service: /instructors/**`

Your spring data rest app produces this url:
`http://localhost:8765/instructors/instructors{?page,size,sort}`
The first `:8765/instructors` is the mapping you gave for zuul to match on.  The second: `/instructors{?page,size,sort}` comes from spring data rest.  It looks funny because they match.

We do something similar in our

[2015-01-09 21:26] ccit-spence commented on #139
I am using Traverson, the immediate concern this would cause problems with CORS and with SSL. Correct?

[2015-01-09 22:03] spencergibb commented on #139
If the javascript tries to access urls on different domains it would be a problem, but the scheme (http[s]), domain and port should be replaced properly

[2015-01-09 22:05] ccit-spence commented on #139
Sounds good, will update the services with the headers fix.  Thanks for the answers!

[2015-01-10 13:24] ogunheper commented on #131
@spencergibb
@dsilahcilar
I would rather have it solved in another way. I think it is the context id that is being generated incorrectly in the first place by Boot, when the application is not running on CloudFoundry. Anyway, I will let Boot guys know about this.

Thanks and regards.
Ogün

[2015-01-11 00:49] ccit-spence commented on #139
I have tried the headers now and seeing the same behavior with showing the direct URL of the integrated service.  Is this actually fixed?  I am using the BUILD-SNAPSHOT.

[2015-01-12 17:09] spencergibb opened #140 "Simplify use of server.port for turbine amqp"
It would be nice if the user could specify `server.port` for the "main" turbine HTTP port and then (optionally) `management.port` if he wanted the Actuator endpoints.

[2015-01-12 18:18] spencergibb commented on #139
@ccit-spence
when I hit the [customer-stores-ui](https://github.com/spring-cloud-samples/customers-stores/tree/master/customers-stores-ui) proxy here: http://ui.local.spring.io:9900/customers/1

I get the following response
[code]

You'll see both hrefs have the host and port of the proxy.

If I hit the [customers](https://github.com/spring-cloud-samples/customers-stores/tree/master/rest-microserv

[2015-01-12 19:08] ccit-spence commented on #139
It will be a little later today, I will put a project up on github.

[2015-01-12 19:12] wgorder opened #141 "Clarification of zuul routing behavior when using a default route ("/")"
If I add a request mapping to the api-gateway server found here:
https://github.com/wgorder/api-gateway

[code]

I can see it is registered on startup:
[code]

However if I hit localhost:8080/hello (this is where the api-gateway runs) it attempts to proxy that request to the acme-ui application and returns a 404

The zuul routes in the api-gateway look like this
https://github.com/wgorder/api-gate

[2015-01-13 05:17] ccit-spence commented on #139
Finally, got around to getting this uploaded.  The example is at: https://github.com/ccit-spence/instructor-crouse-demo  I did include my version of Zuul and Eureka incase that makes a difference.  They are pretty much strait out of the examples.

[2015-01-13 17:47] spencergibb commented on #139
Since you are using traverson, you need to configure zuul **exactly** like the customer-stores demo.  You have:
[code]

Through zuul, you end up with URLs with `/instructors/instructors` and traverson doesn't know how to traverse the extra `/instructors`.

[Customer stores ui application.yml](https://github.com/spring-cloud-samples/customers-stores/blob/master/customers-stores-ui/application.yml)

[2015-01-13 17:47] #139 closed

[2015-01-13 23:00] spencergibb commented on #141
@wgorder The order of the handler mappings is what is important here.  It looks like the `ZuulHandlerMapping` is ahead of the `RequestMappingHandlerMapping`.

You could use something like:
[code]

[2015-01-14 01:47] wgorder commented on #141
Fair enough I guess. Can I provide multiple paths?

[2015-01-14 03:51] ccit-spence commented on #139
Just to be sure I am following this properly.  It appears you can't use any thing other than a one level URL.

localhost:8765/instructors -> works
localhost:8765/instructor-service/instructors -> fails to proxy findby

changing to `path: /xyz/instructors/**` produces a 404

[2015-01-14 04:54] spencergibb commented on #139
I don't see why it wouldn't work, in fact I made a test for it: 8fb85f26eac790195dfc04243b157bac10ccb379

I think the difficulty may come with `spring-data-rest` and `strip-prefix: false` which means send the prefix to the service you are calling, so `/xyz/instructors/**` doesn't work because the instructors service doesn't respond to `/xyz/instructors`, just `/instructors`.  The proxy is not thro

[2015-01-14 04:59] spencergibb commented on #141
sibling entries to `hello` would work, but that seems a bit cumbersome.  Why do you need a default route of `/**`?  Couldn't you put it `/somewhereelse` and have a controller that does a forward from `/` to `/somewhereelse`?

[2015-01-14 08:18] ccit-spence commented on #139
In order for it to work with `spring-data-rest` what would a solution look like?  Is it possible?  One thing that seems strange is if I hit the link `/instructor-service/instructors` it will display data.  If I hit `/xyz/instructors` I get the 404.  Should I not get it for both?

[2015-01-14 13:24] wgorder commented on #141
Well I don't have the @ZuulProxy on my UI service.  I have it on the api gateway service.  So routing for any static resources css/js/fonts/images or in the case of local dev bower_comonents, /.tmp etc all need to be routed to acme-ui.  Also if  a user bookmarks a page like /#products/1  that also has to be routed.  So I don't think a simple / with a 'forward' would work.  Plus I don't think you c

[2015-01-14 15:22] spencergibb commented on #139
My diff above is how to get it to work.  The `/instructor-service/instructors` works because it is automatically added because of eureka (see `/routes`) and `/instructor-service` is stripped off before forwarding.

[2015-01-14 15:44] spencergibb commented on #141
You're missing it a little bit.  Instead of having `/**` forward (not redirect) to acme-ui have `/ui/** forward to acme-ui and have a local controller forward `/` to `/ui`.  The downside to that is that your bookmarks would have `/ui` in the path.  Another option would be to put whatever functionality you are implementing in `/Hello` into another service.  I also have seen what it would take to re

[2015-01-14 15:46] spencergibb commented on #141
After thinking a bit, I think you could have the forward of `/` to `/ui` work and not see `/ui` in the url.

[2015-01-14 16:16] wgorder commented on #141
I can play with this.  I think re-ordering the mappers might also be painful as spring auto maps /css /js etc for you and often times you may not want those matched before zuul routing kicks in (if your static resources are not on the zuul proxy app)

[2015-01-14 16:18] wgorder opened #142 "Unkown host exceptions running locally"
On my macbook pro I constantly get unknown host exceptions in zuul forwarding.  It usually involves me having to rebuild restart serveral times until it magically starts working again.  Has anyone else run into this and figured out a way to prevent it from happening?  I cant imagine my host name is in a state of flux.

[2015-01-14 16:21] spencergibb commented on #142
@wgorder I've seen it happening, it usually involves changing wi-fi networks and eureka.  Eureka registers a service with the hostname, switch wifi's and that hostname is no longer valid and eureka pukes because it's no longer a valid hostname.

[2015-01-14 16:24] spencergibb commented on #142
can you ping the hostname it says it can't find?

[2015-01-14 16:37] #129 closed

[2015-01-14 16:41] wgorder commented on #142
I had it burred in another issue somewhere but its always the same its like Williams-MBP or something along those lines.

[2015-01-14 17:51] spencergibb commented on #142
Ok, I've seen it with `sgibb-mbp.local` or `sgibb-mbp.otherdomain`

[2015-01-14 17:59] spencergibb commented on #60
@wgorder ping

[2015-01-14 22:36] brianlaframboise opened #144 "Support runtime Hystrix changes via dynamic Archaius properties"
I would like to be able to change the state of Hystrix commands, circuit breakers, etc at runtime based on configuration changes picked up via Spring Cloud Config `EnvironmentChangeEvent`s.

I can see that the current `HystrixAutoConfiguration` implementation bridges Archaius into the Spring environment by creating a Spring-based `ConfigurableEnvironmentConfiguration` that delegates Archaius prope

[2015-01-14 23:06] philwebb opened #146 "Consider delombok before GA"
Lombok is pretty sweet but it does add an extra layer that users need if they want to contribute. It might be worth considering if it should be removed before GA.

[2015-01-14 23:07] philwebb opened #147 "Switch to commons-logging"
If you're not using many features of SLF4J you might want to consider switching to commons-logging since that's what Spring Framework and Spring Boot already use.

[2015-01-14 23:09] philwebb opened #148 "Replace @ConditionalOnExpression with @ConditionalOnProperty"
`@ConditionalOnExpression` can be expensive to evaluate, you might want to consider `@ConditionalOnProperty` instead.

Here's a Spring Boot commit that did the same https://github.com/spring-projects/spring-boot/commit/dca637f51fa3d1ff99a03590b1ed232a92a72888.

[2015-01-14 23:12] philwebb opened #149 "Consider dropping protected or package fields"
Several classes (e.g. `AbstractDiscoveryLifecycle` & `ServletWrappingEndpoint`) have protected or package scope fields. It's worth considering if these should be switch to private with a protected setter if necessary.

The problem with protected fields is very difficult to change them in the future where as the implementation of protected methods can be changed.

[2015-01-14 23:14] philwebb opened #150 "Ensure `prefix` is used with `@ConfigurationProperties`"
I noticed some `@ConfigurationProperties` annotations that don't use the prefix attribute (`@ConfigurationProperties("hystrix.stream.amqp")` for example). You should use prefix to ensure that flexible binding will work.

[2015-01-14 23:14] philwebb opened #151 "`FeignClientScan` Javadoc is wrong"
Looks like copy/paste from Spring Integration.

[2015-01-14 23:15] philwebb opened #152 "Add Javadoc"
It's probably on the list already, but there are quite a few classes that have very little Javadoc.

[2015-01-14 23:17] philwebb opened #153 "Remove `ex.printStackTrace()`"
There are a few instances of `ex.printStackTrace()` in the code. They should probably be replaced with logger calls instead.

[2015-01-14 23:20] philwebb opened #154 "Consider use of Guava"
I've heard that guava have been known to break back compatibility between releases, this can cause problems if the version that Spring Cloud uses differs to the one the the user wants. It might be worth considering if it's really needed or if the Spring `Utils` classes might work instead.

[2015-01-14 23:21] philwebb opened #155 "Use of final on fields"
I noticed a few classes that have `private` members which could be marked `final`. I think eclipse has a cleanup rule to apply them automatically (but it can sometimes cause problems so I've not done it). It might be worth having a try sometime.

[2015-01-14 23:23] philwebb opened #156 "RibbonRoutingFilter getVerb"
The `getVerb` method if `RibbonRoutingFilter` uses a case to get `Verb` enum values. You might get away with using `Enum.valueOf(Verb.class, sMethod.toUpperCase());`.

[2015-01-15 02:53] wgorder commented on #60
Sorry @spencergibb  I forgot I had this one to test.  Everything looks good now for me as well.  Guess we can close this.

[2015-01-15 13:35] #156 closed

[2015-01-15 13:42] dsyer commented on #155
Yeah, the Eclipse rule sucks with `@Value`. I think we'll live with it.

[2015-01-15 13:42] #155 closed

[2015-01-15 13:43] dsyer commented on #154
AFAIK we don't use guava, but Netflix does internally so we are forced to include it as a dependency.  Where did you see it being used?

[2015-01-15 13:47] dsyer commented on #153
I only found one `printStackTrace()` in a test app, so not much to worry about in itself (but I added a rethrow anyway). Where were you looking?

[2015-01-15 13:53] #151 closed

[2015-01-15 13:54] dsyer commented on #150
Why? Isn't "prefix" a synonym of "value" (the Javadocs of `@ConfigurationProperties` say so)?

[2015-01-15 13:54] dsyer commented on #149
Agree. Can you have a look at thise @spencergibb ?

[2015-01-15 14:08] dsyer commented on #148
Done (commit 0e4eb9e).

[2015-01-15 14:08] #148 closed

[2015-01-15 14:15] dsyer commented on #147
Spring Data uses SLF4J. I'd be happier with Commons Logging too though, since we build on Boot. Can you take care of that @spencergibb ?

[2015-01-15 14:17] dsyer commented on #146
It only means they have to add an agent to the IDE if they use one, and the build works out of the box (no-one complained yet). I'm not sure I want to do this to be honest (look at how many properties there are in `EurekaClientConfigBean`).

[2015-01-15 14:17] #146 closed

[2015-01-15 14:22] dsyer commented on #144
It should suffice to make your `@HystrixCommand` beans `@RefreshScope` and fire a /refresh when you want them to update. I agree that `@RefreshScope` probably isn't ideally necessary in this case (it should behave just like `@ConfigurationProperties`), so we can leave this open as an enhancement.

[2015-01-15 14:22] #60 closed

[2015-01-15 15:37] #140 closed

[2015-01-15 15:41] #141 closed

[2015-01-15 19:02] #149 closed

[2015-01-15 19:42] spencergibb commented on #147
Does commons logging support string interpolation?
[code]

[2015-01-15 19:43] dsyer commented on #147
No. You have to build the string with concatenation.

[2015-01-15 21:31] #147 closed

[2015-01-15 21:43] mstine opened #157 "@EnableFeignClients does not work in Spring Boot CLI applications"
Reference broken app: https://github.com/mstine/nfjs_2015/tree/master/DistributedSystemsWithSpringCloud/code/consumerFeignBootCli

@Autowire fails - no autowire candidate available.

When commented out, checking /beans endpoint shows that ProducerClient bean is not created.

[2015-01-15 22:19] aheusingfeld commented on #147
@dsyer that's interesting to me: Is it because you're used to CL or are there advantages over slf4j which I didn't notice, yet?

[2015-01-15 22:47] brianlaframboise commented on #144
I made my `@HystrixCommand` beans `@RefreshScope` and POSTed to `/refresh` to no effect. I believe I can explain this, but Archaius is a little complicated in this regard so please bear with me as I walk through how I think this works.

The state of the property is not stored in the generated proxy of the `@HystrixCommand`-annotated method, so even though it was properly re-created it did not get

[2015-01-16 01:15] ryanjbaxter opened #158 "Hystrix Dashboard Doesn't Load"
I started the customer-stores sample and started the hystrix-dashboard sample.  I went to http://localhost:7979/hystrix/ and entered http://localhost:9000/hystrix.stream but the dashboard never loads, the Loading messages never go away.

[2015-01-16 03:33] spencergibb commented on #158
did you hit the `/customers` endpoint first?  No data is sent until the circuit breaker is hit once.

[2015-01-16 03:36] spencergibb commented on #158
if not, any errors in the browser console or logs from either server?  Unable to replicate on my side.

[2015-01-16 06:54] dsyer commented on #147
There are no advantages I know of technically speaking. It's just a question of aligning the dependencies. Of course it users can still take advantage of slf4j features in their code.

[2015-01-16 10:14] flo-f commented on #129
Thanks for posting and fixing this issue.
Changing from RC1 to the current build snapshot fixed it for me.

[2015-01-16 13:47] ryanjbaxter commented on #158
My bad @spencergibb didn't realize you needed to hit the endpoint first.  Thanks for pointing that out!

[2015-01-16 13:47] #158 closed

[2015-01-16 18:27] brianlaframboise commented on #144
So I tried disabling the caching implicit in the `HystrixPropertiesStrategy` by substituting in my own strategy that bypassed the caching and the properties *still* were not updated.

This led me to discover a 2nd cache of `DynamicProperty` objects in the static `ALL_PROPS` map inside the `DynamicProperty` class itself. So not only does the `HystrixPropertiesFactory` cache the overall `HystrixComm

[2015-01-16 18:32] spencergibb commented on #144
So, basically, your propagating change events down to Archaius, correct?  We currently don't have a way to tell if it was added or updated.  I think it's a good idea.

[2015-01-16 19:01] brianlaframboise commented on #144
Correct. The current Spring-Archaius configuration bridge implemented by the `ConfigurableEnvironmentConfiguration` allows Archaius to read property values from the Spring `Environment`.

It works as expected ... but only at startup.  As I note above, once Archaius reads those property values they are cached in static variables in perpetuity. Once that happens you can put `@RefreshScope` wherever

[2015-01-18 10:17] sebastian-sch commented on #129
Thanks for the fix, work fine now.

[2015-01-18 10:32] dsyer commented on #157
Did it work when you run from a jar? I don't think there's anything we can do here (JPA doesn't work for the same reason).

[2015-01-18 10:47] sebastian-sch opened #159 "Request Interceptors can't be add to the Feign builder"
I want to use Feign together with spring cloud security especially with @EnableOAuth2Resource.

When I request a resource with feign I got a 401. The reason is, that feign didn't include a token in the header.

I created a request interceptor
[code]
addition I must enhance the FeignConfiguration to include the interceptor.

[code]
1. Did I miss something or is Feign with @EnableOAuth2Resource not

[2015-01-18 16:28] dsyer commented on #159
`Feign` is on the client side and `@EnableOAuth2Resource` is a sever side feature so they are not really connected in any way.

In your interceptor where would the token come from exactly?

[2015-01-18 21:38] ivarulz opened #160 "Zuul Server - Hystrix Dashboard - separate monitoring for each downstream service"
I would like to use Zuul for monitoring downstream services.
This would allow me to have a nice dashboard displaying how services are performing.

The default hystrix.stream generated by Zuul only shows a generic `RibbonCommand` operation.
I would like to have a separate monitor for each downstream route: /customers, /stores.

The `RibbonCommand` has a constructor that takes a commandKey as argume

[2015-01-19 09:32] ivarulz opened #161 "Documentation for adding custom Zuul filters"
Hi,

It would be good to have clear documentation on how to add a custom filter for Zuul.

Right now it is not clear for me where should I drop my class to be picked up by Zuul.

Thanks

[2015-01-19 12:55] ivarulz commented on #161
So far I managed to register a filter like this:
@Component
public class DummyPostFilter extends ZuulFilter {
...

[2015-01-19 12:58] aivans opened #162 "Security: Spring Security vs Zuul Filter"
Hi,

How is it appropriate, from the conceptual perspective, to wire in Security?
Spring Security or Zuul Pre filter?

[2015-01-19 13:57] aivans opened #163 "Zuul - Websocket proxy"
We currently have a direct Websocket connection that goes to a backend webservice (via a load balancer F5).

If we get F5 out of the picture in what regards webservices, and F5 will only talk to Zuul (let's say), can we proxy a websocket connection from browser to webservice via Zuul?

[2015-01-19 14:28] sebastian-sch commented on #159
I understand, that ```@EnableOAuth2Resource``` is a security feature and is not direct connected with ```Feign```. I have several microservices and the communication to outside and also between the services is done via Rest. I want to use ```Feign``` as an easy way, to get or post data from one service to another. It was my understanding, that this is one reason to include ```Feign``` in Spring Cl

[2015-01-19 14:38] ivarulz commented on #162
I found this in the rc1 december press release:

Several improvements to the Zuul proxy, including automatic updates when the Eureka catalog changes, support for form-encoded POSTs, external configuration of the routes and authentication scheme for each client.

Declarative configuration of which routes require OAuth2 authentication in Spring Cloud Security.

Please explain a bit

[2015-01-19 15:17] dsyer commented on #162
Docs are here: http://projects.spring.io/spring-cloud/spring-cloud.html#_token_relay

Generally speaking you *could* add Spring Security to a Zuul proxy, and it might be appropriate, e.g. to apply a global access rule to all requests. The proxy also can pass authentication headers downstream to the backend resources, so usually I would expect if the backends are independently secure there would be

[2015-01-19 15:18] dsyer commented on #161
I tsays here: http://projects.spring.io/spring-cloud/spring-cloud.html#_plain_embedded_zuul

If that's not clear enough maybe you could propose a change, e.g. a small example?

[2015-01-19 15:21] ivarulz commented on #161
My initial mistake was that I did not annotate the bean with @Component. Without the annotation I could not spot the filter execution

[2015-01-19 15:22] dsyer commented on #159
I don't quite follow. Why would `Feign` ever be aware of the `@EnableOAuth2Resource`. And I didn't understand where the access token comes from. If you *do* have an access token though, then you can plug it into your interceptor I suppose? I'm just not quite sure where you want to start.

[2015-01-19 15:22] #161 closed

[2015-01-19 15:25] #153 closed

[2015-01-19 15:27] #134 closed

[2015-01-19 15:27] dsyer commented on #106
Haven't seen this in a while.

[2015-01-19 15:51] ivarulz commented on #162
Hi,

Thank you.

I will read the docs carefully.

My goal is to authenticate all calls in the Zuul proxy and pass authenticated user info to the downstream services. The downstream services will not perform authentication.

[2015-01-19 16:04] sebastian-sch commented on #159
You are right. I saw it to small. My assumption was, that you have several microservices, each is secured with ```@EnableOAuth2Resource``` and all use the same OAuth provider. Now you can access all services with the same token.
When a client sends a request to service A and service A need information from service B, service A can use the same token which it received from the client, to request th

[2015-01-19 16:14] #160 closed

[2015-01-19 16:16] dsyer commented on #162
Why would you pass the user info downstream if they are not going to use it?

[2015-01-19 16:26] dsyer commented on #159
I don't think that's a valid assumption generally, although it *is* quite useful as a quick way to get something working, assuming you control all the services. We could also make every service responsible for its own authentication and require it to obtain an access token on its own, rather than just relaying the value that it was called with.

There are probably several ways we might implement t

[2015-01-19 16:42] sebastian-sch commented on #159
My assumption was that I control all the services and it is currently really to get something up quick.

As a first step, it would be enough, to add the possibility to use custom ```requestInterceptor```.

[2015-01-19 17:39] spencergibb commented on #159
Regardless of @sebastian-sch use of adding a feign `requestInterceptor`, being able to add one is valid.

[2015-01-19 19:56] ivarulz commented on #162
Hi Dave,

They are going to use user information, for ex userId,  the entire security principal object or the SCIM info.
My idea is to authenticate at the edge of the ecosystem and leave the services perform their business functions and not worry about other aspects. The services will use the info for authorization purposes (acl, etc) and for retrieving additional info from other services.

[2015-01-19 20:59] ivarulz opened #165 "Turbine Dashboard issue"
Hi,

I have a weird problem.

I am trying to view the Turbine Stream for Zuul.

Hystrix stream works:
Hystrix Stream: http://localhost:8765/hystrix.stream
I can see storesRibbonCommand and customersRibbonCommand statistics.

For Turbine does not work:
Hystrix Stream: http://localhost:8989/turbine.stream?cluster=ZUULSERVER
I can see cust...StoresByLocationLink statistics.

Information in Eureka is:

[2015-01-19 21:04] spencergibb commented on #165
A little more information would be useful (error messages, logs, configuration etc...).  Turbine can only be used to view one service's instances: https://github.com/spring-cloud/spring-cloud-netflix/blob/master/docs/src/main/asciidoc/spring-cloud-netflix.adoc#turbine

[2015-01-19 21:12] ccit-spence commented on #165
Out of curiosity, are there any thoughts on some sort of interface to read the data from multiple turbine feeds into a single interface?  Realizing depending on the deployment size it could become possibly unmanageable.

[2015-01-19 21:14] spencergibb commented on #165
[spring-cloud-netflix-hystrix-amqp](https://github.com/spring-cloud/spring-cloud-netflix/tree/master/spring-cloud-netflix-hystrix-amqp) and [spring-cloud-netflix-turbine-amqp](https://github.com/spring-cloud/spring-cloud-netflix/tree/master/spring-cloud-netflix-turbine-amqp) use rabbitmq rather than an http stream and you can see all services circuit breakers in one.

[2015-01-19 21:17] ivarulz commented on #165
Hi Spencer,

Eureka: Zuul appears like this:
<application><name>ZUULSERVER</name><instance><hostName>CLUJPC100</hostName><app>ZUULSERVER</app><ipAddr>192.168.0.101</ipAddr><status>UP</status><overriddenstatus>UNKNOWN</overriddenstatus><port enabled="true">8765</port><securePort enabled="false">443</securePort><countryId>1</countryId><dataCenterInfo class="com.netflix.appinfo.InstanceInfo$DefaultDa

[2015-01-19 21:19] ivarulz commented on #165
I am pretty sure this was working, meaning seeing the exact info from Zuul single instance (hystrix url) or aggregated (Turbine url)

[2015-01-19 21:20] ivarulz commented on #165
is it possible that this commit broke it?
https://github.com/spring-cloud/spring-cloud-netflix/commit/c31f700bae88b2c41d6b738ade56616cc878ec5b

(related to https://github.com/spring-cloud/spring-cloud-netflix/issues/160)

[2015-01-19 21:21] spencergibb commented on #165
What is your turbine configuration? ie:

[code]

[2015-01-19 21:23] spencergibb commented on #165
I don't think c31f700bae88b2c41d6b738ade56616cc878ec5b broke it, otherwise the reading the `hystrix.stream` directly wouldn't work.

[2015-01-19 21:24] ivarulz commented on #165
i have the default application.yml:
https://github.com/spring-cloud-samples/turbine/blob/master/src/main/resources/application.yml

let my try configure it

[2015-01-19 21:26] spencergibb commented on #165
That sample uses:
[code]
Not the http based turbine from `spring-cloud-netflix-turbine`

[2015-01-19 21:40] ivarulz commented on #165
Hi Spencer,

I am a bit lost.

I have this config now:
turbine:
  amqp:
    port: 8989
  aggregator:
    clusterConfig: ZUULSERVER
  appConfig: zuulserver

But I still get the CUSTOMERS default stream.

[2015-01-19 22:04] spencergibb commented on #165
That config I showed you was wrong if you are using the `spring-cloud-samples/turbine`.  It pulls from rabbitmq not the http streams.  I'm sure you thought this worked yesterday, but it probably didn't.

[2015-01-19 22:08] ivarulz commented on #165
:) Either I was very tired, either it worked.

[2015-01-19 22:42] ivarulz commented on #165
Indeed, I checked RabbitMQ queues and the message only come from Customers app.

Is there a way to publish from Zuul also?

[2015-01-19 22:44] spencergibb commented on #165
yes, see https://github.com/spring-cloud-samples/customers-stores for an example.
You add this starter:
[code]

[2015-01-19 22:44] #165 closed

[2015-01-19 23:23] ivarulz commented on #165
had to add 2:

        <dependency>
         <groupId>org.springframework.cloud</groupId>
         <artifactId>spring-cloud-netflix-hystrix-amqp</artifactId>
        </dependency>
        <dependency>
         <groupId>org.springframework.cloud</groupId>
         <artifactId>spring-cloud-starter-bus-amqp</artifactId>
        </dependency>

[2015-01-19 23:30] ivarulz opened #166 "Turbine AMQP - cluster parameter"
Using Turbine AMQP, I get everything on the screen.

I would still like to display only a cluster of my choice.

Is it possible?

Dashboard observed url:Hystrix Stream: http://localhost:8989/turbine.stream?cluster=ZUULSERVER
AMQP message: "{\"origin\":{\"host\":\"CLUJPC100\",\"port\":8765,\"serviceId\":\"zuulserver\",\"id\":\"zuulserver:8765\"},\"data\":{\"type\":\"HystrixCommand\",\"name\":\"zuul

[2015-01-20 07:18] dsyer commented on #166
That's not possible with the current (basic) implementation. The data are there though, so it can be implemented if anyone has bandwidth.

[2015-01-20 07:21] dsyer commented on #163
Zuul 1.x is pretty much limited to HTTP as far as I know (@spencergibb correct me if I'm wrong), and the current Spring Cloud proxy filter is probably not well suited to non-REST payloads (e.g. streaming). If we move to Zuul 2.0 at some point it opens up other possibilities.

[2015-01-20 07:24] ivarulz commented on #166
Thanks Dave,
I'll take a look if the time allows.

[2015-01-20 07:28] ivarulz commented on #163
Hi Dave,

Is there a 2.0 for Netflix Zuul?

[2015-01-20 07:32] dsyer commented on #163
I believe it hasn't been released yet.

[2015-01-20 07:45] ivarulz commented on #163
Ok, Thanks

[2015-01-20 08:40] ivarulz commented on #166
Dave,

Can you explain shortly where should I start in case I want to implement the cluster param for amqp?

[2015-01-20 08:58] dsyer commented on #166
I guess there are two components, one to aggregate the data (https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-turbine-amqp/src/main/java/org/springframework/cloud/netflix/turbine/amqp/Aggregator.java), and the other to provide a query parameter for the SSE stream (https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-turbine-amqp

[2015-01-20 09:10] ivarulz commented on #166
Thanks Dave

[2015-01-20 09:13] dsyer commented on #162
OK so they are going to have to perform some sort of authentication (decoding the token). That's the pattern you get out of the box with `@EnableZuulProxy` and `@EnabIeOAuth2Sso` in the gateway and `@EnableOAuth2Resource` in the backends. (The backend features are a very thin layer over `@EnableResourceServer` but that does include an authentication filter.)

[2015-01-20 09:29] ivarulz commented on #162
Hi Dave,

My understanding of what you say is to relay the JWT toke to the services from Zuul. Next the services will perform their own JWT manipulation. Please correct me if I am wrong.

What I want to do is to limit this to the Zuul Gateway. Basically authenticate the user here, extract the user info from SCIM server, LDAP, etc and then forward relevant user info (userid, account, etc) to the se

[2015-01-20 09:39] dsyer commented on #162
You have an API Gateway, so I think a `ZuulFilter` to prepare your custom headers is probably a fine idea. You could also consider just sharing session state amongst all your apps using Spring Session (I'm just about to publish my blog on that), and then the existing Zuul features in Spring Cloud would work with passthru authentication (the cookie from the Gateway is valid in the backends as well)

[2015-01-20 16:29] ivarulz commented on #162
Exactly, I am trying to use Zuul as API Gateway.

[2015-01-20 19:48] ivarulz commented on #96
@abaculus You posted screenshots of a web UI showing eureka info? What app is that?

[2015-01-20 19:51] ccit-spence commented on #96
@ivarulz The screenshots are the default UI from Eureka.

[2015-01-20 20:30] ivarulz commented on #96
Thank you, i missed it, only used the /apps so far

[2015-01-20 20:57] mbonski opened #167 "Eureka in docker container - broken url's"
Hi
I have eureka and a bunch of other spring microservices running inside docker containers. All docker containers are linked with eureka using docker linking system. The whole solution works well but I've realized that some links are broken, for example, response from http://localhost:8761/eureka/apps contains

    \<hostName>0bbc3ff1f459\</hostName>
    \<ipAddr>172.17.0.119\</ipAddr>
    \<stat

[2015-01-20 21:01] spencergibb commented on #167
`eureka.instance.preferIpAddress=true`

[2015-01-20 21:14] mbonski commented on #167
Thank you works as it should now :]

[2015-01-20 21:14] #167 closed

[2015-01-20 21:16] ivarulz opened #168 "Eureka - Ribbon - Service Version strategy"
What strategy do you suggest for different service versions?

1)  change the `spring.application.name`?
ServiceA1.0 and ServiceA2.0 as values for application.name in Eureka Server

vs

2) Eureka custom metadata
[code]

I can see this information in Eureka Server, but I am not sure it is usable by Ribbon.

[2015-01-21 09:28] dsyer commented on #168
The instance metadata is available to load balancer clients, so really it's up to your clients to decide how they want to behave. If you wanted to consume the instance data in a load balancer you could add a `@RibbonClient` and configure an `ILoadBalancer` or `ServerListFilter` that is aware of the metadata (e.g. through a `DisoveryClient`).

I think it's best to avoid versioning services at all i

[2015-01-21 10:22] ivarulz commented on #168
Thanks Dave, I'll take a look.

Indeed, this is not the place for philosophy :)

[2015-01-21 10:22] #168 closed

[2015-01-21 12:18] seno5979 opened #169 "Override ribbon NIWSServerListFilterClassName issue"
Overriding ribbon `NIWSServerListFilterClass` using `<clientname>.ribbon.NIWSServerListFilterClassName` does not override default `Filter <ZonePreferenceServerListFilter>` in `RibbonClientConfiguration`.

[2015-01-21 13:55] dsyer commented on #169
That's not the way it works (the server list filter is a `@Bean` as you can see). What did you need to do exactly?

[2015-01-21 14:31] seno5979 commented on #169
I'd like to use DiscoveryEnabledNIWSServerList + ZoneAffinityServerListFilter as my loadbalancing solution.

Each server will be wrapped as DiscoveryEnabledServer while obtaining Server List from 'obtainServersViaDiscovery' method in DiscoveryEnabledNIWSServerList.

DiscoveryEnabledServer has an 'zone' attribute which value be resolved from DiscoveryClient.getZone(InstanceInfo).

But if we looking

[2015-01-21 18:14] philwebb commented on #153
These were the ones that I found locally. Perhaps they have since been fixed:

[code]

[2015-01-21 18:28] philwebb commented on #150
Whoops. My mistake. I was getting confused with `@ConditionalOnProperty`.

[2015-01-21 18:28] #150 closed

[2015-01-21 21:04] NickPadilla opened #170 "Hystrix Dash behind a Zuul Proxy"
Currently we have a Zuul proxy in front of a Hystrix Dashboard (later we'll move to Turbine).  As it stands right now, you can get to the Hystrix Dashboard but the static resources it requires from the HTML do not play well with a proxied url.  It wants to change from say /hystrixproxied/ to /hystrix/... That requires another round of authentication as the zuul server finds a new "service".  It sh

[2015-01-21 21:21] NickPadilla opened #171 "Zuul fails to dynamically register new/restarted Eureka services when discovery is used to find config server"
When Zuul starts up it gets a list of the services from Eureka.  Later if a new service is introduced that services isn't ever registered with Zuul, until a restart or a manual push to /routes rest endpoint.  I had thought I saw something about Zuul being able to do the service registration dynamically, when new services are found via Eureka.  If this can be done, what needs to be done to enable t

[2015-01-22 07:16] dsyer commented on #170
You still need the dashboard (or something with a UI) if you use Turbine. Why do you need to proxy it though?

Anyway, the static resources in the dashboard are already referenced via relative URLs (and it works if you change the servlet or context path), so that might not be the problem. Maybe you just need to set `stripPrefix=false` for that route?

[2015-01-22 07:22] dsyer commented on #169
So I guess you need to define  a `@Bean` of type `ServerListFilter` in your `@RibbonClient` configuration?

[2015-01-22 07:27] seno5979 commented on #169
The @Bean works for me. Thanks.

So the <serviceName>.ribbon.NIWSServerListFilterClassName property is not recommended to use ?

Also is there any best practice to use 'MyOwn' datacenter, but also have zone/region feature like 'Amazon' does ?

[2015-01-22 08:25] dsyer commented on #169
The `<serviceName>.ribbon.NIWSServerListFilterClassName` will only work if you use native Netflix APIs to create the `ILoadBalancer`. The point of `@RibbonClient` is to make it more of a flexible and strongly typed dependency injection (i.e. not just using class names in configuration).

Load balancing decisions are made on `Servers` (not eureka instance data), so the hard bit is getting your head

[2015-01-22 09:09] dsyer opened #172 "Dependency tangles (eureka/ribbon and feign/ribbon)"
These should be easy to eliminate in a simple way (by re-organising packages), but it might be better to attack the real problem (if there is one). I suspect there is an opportunity to lift some of the mixed concerns out into abstractions that will help us with the spring-cloud-commons project as well.

[2015-01-22 09:54] seno5979 commented on #169
Thanks for the reply.

[2015-01-22 16:13] spencergibb commented on #171
@NickPadilla it should see #76 I'll take a look

[2015-01-22 16:19] NickPadilla commented on #171
@spencergibb - thanks!  i am using the Spring Cloud BUILD-SNAPSHOT.  I don't have Spring Cloud Bus  integrated into the environment yet.  Currently this is the setup:

Spring Cloud Config Server
Spring Cloud Eureka
Spring Cloud Hystrix - used as the backend service for testing
Spring Cloud Zuul

Please let me know if you have any questions.

[2015-01-22 16:56] spencergibb commented on #171
@NickPadilla I was able to run eureka and a zuul proxy and see and interact with new services as they were brought up.

I see a line like this in the logs:
[code]

[2015-01-22 17:01] NickPadilla commented on #171
@spencergibb - ok - I'll try again now using the Build Snapshot.

[2015-01-22 17:20] NickPadilla commented on #171
@spencergibb - I just tried again but no dice.  I am wondering if I need to have Spring Cloud Bus running?  I am using `@EnableZuulProxy` so that sounds like the same configuration as far as that goes.  I suppose your just running the customer demo with the zuul and eureka samples?

[2015-01-22 17:22] spencergibb commented on #171
you don't need spring cloud bus.  The zuul I was running was the sample sidecar app in s-c-netflix.

[2015-01-22 17:43] NickPadilla commented on #171
Okay, so there has to be something in my configuration that is stopping the process.  This is what I have
[code]
This is the bootstrap.yml
[code]
Here is the application.yml
[code]
Am I missing something here?

[2015-01-22 17:44] spencergibb commented on #171
`@EnableDiscoveryClient`

[2015-01-22 17:46] NickPadilla commented on #171
Right, but the `@EnableZuulProxy` already defines this -
[code]
Is the duplication needed?

[2015-01-22 17:47] spencergibb commented on #171
No, sorry forgot about that.

[2015-01-22 17:50] NickPadilla commented on #171
No biggie, this is a good dialog - others I am sure will benefit from this - as soon as we figure out the magic behind the scenes. :)

[2015-01-22 19:51] spencergibb commented on #171
I know what's going on, we just need to figure out why yours doesn't work.  Any chance you can share a project?

[2015-01-22 20:27] NickPadilla commented on #171
Sure, everything is pretty basic - which project are you looking for?

[2015-01-22 20:29] spencergibb commented on #171
the one with @EnableZuulProxy

[2015-01-22 20:37] NickPadilla commented on #171
https://github.com/MindsIgnited/micloudzuulserver

[2015-01-22 20:39] NickPadilla commented on #171
it currently needs to be configured for keylcoak oauth2. so if you want to run it you'll need to comment that portion out. Also it uses the config server for its application.yml file, and uses eureka to get the config server.

[2015-01-22 21:00] spencergibb commented on #171
After commenting out the oauth stuff, I was able to get a service to auto-register:
[code]
:-(

[2015-01-22 21:08] NickPadilla commented on #171
i see.. ok well at least we know where this is all breaking down.  I am assuming that since eureka is not secured but the zuul server is, that the eureka heartbeat doesn't happen b/c of the authentication.  I can set those endpoints to not be secured for now.  I'll post back with details on the solution.

[2015-01-22 21:09] spencergibb commented on #171
I think I figured it out.  The other thing that I did was use config server to lookup eureka.  Moving to eureka finding config server recreates your problem.  The event listener that is listening for events published from eureka about if its catalog has changed never receives the event.

[2015-01-22 21:12] NickPadilla commented on #171
Ah I see. ok so not only about authentication then.  I'll wait to see what you find on this topic.  Thanks so much for your quick response and review, I really do appreciate your time!

[2015-01-22 23:08] #171 closed

[2015-01-22 23:18] spencergibb commented on #172
Are you talking about the s.c.n.ribbon.eureka package and the s.c.n.feign.ribbon package?

[2015-01-23 03:44] NickPadilla commented on #170
The reason why it is going to be behind the proxy is for authentication and role access.  I had the Hystrix Dash running with no `server.contextPath` specified, since the default for Zuul is to remove the "prefix" this seemed to make sense.  Until it needed to serve up these types of resources.  So i added this to the Hystrix application.yml `contextPath: /${spring.application.name:}` which is als

[2015-01-23 04:11] NickPadilla commented on #170
Also i comment out both of those additions and I get to the dash, no authorization errors, but the webjars/ and custom js can't load b/c its looking for them at / not cloudhystrix/.

[2015-01-23 07:35] dsyer commented on #172
s.c.n.ribbon.eureka, s.c.n.feign.ribbon, s.c.n.ribbon are tangled, as are s.c.n.zuul and its subpackages. It's the ribbon ones that I think maybe show us an opportunity for a spring-cloud-commons abstraction.

[2015-01-23 09:12] #172 closed

[2015-01-23 10:10] dsyer opened #173 "Zuul proxy URL re-writes (again): proxy not accessible to remotes"
Here's a new scenario that fails to re-write the URLs in the backend services this time...

* Proxy is inaccessible to backends
* Client sends request to proxy/customers
* Customers gets home page for stores/
* Tries to traverse links, and fails because they all point at the proxy

If the proxy is inaccessible (public vs private network for instance, or the backends don't know how to authenticate)

[2015-01-23 16:07] NickPadilla commented on #171
Hey @spencergibb - It looks like there still is a problem with my configuration.  I am able to see this in the logs
[code]
So it sees the new instance come up, but doesn't create a route for it.  I'll try to troubleshoot it this AM, hopefully I can figure this out before too long - just thought I'd continue the conversation.

[2015-01-23 16:40] NickPadilla commented on #171
@spencergibb  -  Ok, it looks like I don't ever get this configuration `EurekaClientAutoConfiguration`, I get `EurekaDiscoveryClientConfiguration`.  So that is why it still isn't working on my end.  What is the recommended way to ensure I get the right configuration?  I just tried to import it manually but that didn't work.

[2015-01-23 16:46] NickPadilla commented on #171
Maybe, because the `SingleImplementationImportSelector` is used with the `@EnableDiscoveryClient` it only pulls in one `@Configuration` class - but we would need to have both configuration classes loaded. Unless I am missing something.

[2015-01-23 16:47] spencergibb commented on #171
Why is the `EurekaClientAutoConfiguration` not being included?  what does `--debug` or `/autoconfig` say?

[2015-01-23 16:53] NickPadilla commented on #171
Here is the --debug information.
[code]

[2015-01-23 16:54] spencergibb commented on #171
that's maven debug, not spring-boot debug

[2015-01-23 17:01] NickPadilla commented on #171
lol, sorry about that - here it is
[code]

[2015-01-23 17:03] spencergibb commented on #171
Doesn't look like they are being skipped

[2015-01-23 17:09] NickPadilla commented on #171
ok, so red herring - sorry.  not sure why I am still not able to see the new routes.  I'll continue investigating.

[2015-01-23 17:56] NickPadilla commented on #171
ok must have been a corrupt download, i removed the maven cloud directory and the breakpoints started to work.  I'll look more into this.

[2015-01-24 00:43] NickPadilla commented on #170
I figured out what the problem was.  The Oauth2 client didn't have all the claims that were required by the app.   Giving the Hystrix app `contextPath: /${spring.application.name:}` and setting the `stripPrefix` in the zuul application settings. Thanks!

[2015-01-24 00:43] #170 closed

[2015-01-25 12:02] dsyer commented on #173
I fixed this in the customers sample by applying the X-Forwarded-Host header *after* the link was discovered from the stores (instead of using that header in the `Traverson`). It requires a bit of URI wrangling, so it might be a good idea to make that a utility somewhere, but basically it seems to be the service client's responsibility to use the header correctly.

[2015-01-25 12:09] dsyer opened #174 "Eureka peer loses remote registrations after a couple of minutes"
This is probably just normal behaviour, but I want to understand it in case someone else gets confused the same way I am. I have a "local,cloud" profile in the "eureka" sample that registers with a remote peer (in PWS). It successfully fetches the remote catalog at first, which is quite useful as it lets me test things locally that depend on services in the remote location without having to run th

[2015-01-25 15:54] dsyer opened #175 "Register clients as separate principals for eureka authentication"
The auto log on the server would be a lot more useful if the authentication was per client, instead of the default Spring Boot (single user for everyone). We could still have a single password as a default, but make the authentication work with different user names, or else use a custom authentication token that reveals the client name as well as the username.

[2015-01-25 21:54] vibhaanshu commented on #169
I am using Ribbon with eureka server and planning to use resttemplate as a ribbon client. I want to use Zone Aware load balancer.

Can you please share how this can be achieved?

[2015-01-25 22:17] dsyer commented on #169
`@RibbonClient` is the main configuration entry point. Look at the docs for that and define your own `@Bean` for the `ServerListFilter` in the client config.

[2015-01-26 06:20] craigivy opened #176 "How to register a SSL endpoint with eureka"
Hi, I'm running spring boot with SSL.  I'm wondering how I can properly register my SSL service with eureka.  Thanks for any advice.

I've configured spring boot with:

[code]

I've also tried forcing the port to be used during registration with:

[code]

[2015-01-26 07:47] dsyer commented on #176
I would expect you to have to configure the eureka instance like that. What do you see in /eureka/apps/  (for that service)?

[2015-01-26 07:48] dsyer commented on #174
I can't reproduce this one today. Will keep an eye open for it since I like this pattern.

[2015-01-26 17:04] vibhaanshu commented on #169
To give you a background of issue -

I'm using spring cloud verion 1.0.0.RC1. As basic authentication is part of this, for the time being I'm using the default password (which is 'password'). The services got registered successfully to eureka server and synchronization is also happening between two eureka servers.

Now, when I try to consume a service using ribbon with RestTemplate, I get 401 (Una

[2015-01-26 17:26] dsyer commented on #169
Is this related to the original issue (seems not to me)?

Anyway `RestTemplate` doesn't know how to authenticate your request from the `user:password@<host>` curl-like form of the URL. You have to add an Auhtorization header yourself (e.g. see the `TestRestTemplate` in Spring Boot for an example of how to do it).

[2015-01-26 20:03] spencergibb opened #177 "Upgrade feign to 7.0.0"

[2015-01-26 20:04] spencergibb opened #178 "Upgrade feign to 7.1.0"

[2015-01-26 21:10] spencergibb opened #179 "Upgrade archaius to 0.6.5"

[2015-01-26 21:10] spencergibb opened #180 "Upgrade eureka to 1.1.147"

[2015-01-26 21:11] spencergibb opened #181 "Upgrade eureka to version 2"
This is a non-trivial upgrade

[2015-01-26 21:12] spencergibb opened #182 "Upgrade hystrix to 1.4.0-RC6"

[2015-01-26 21:25] #177 closed

[2015-01-26 21:26] spencergibb opened #183 "Upgrade to feign 8.1.0"
After it goes GA

Removes dagger support.  Leaves DI up to the user.

https://github.com/Netflix/feign/commit/8a0cba5cac66638905ff1ceff36c70997c373782

[2015-01-26 21:54] #178 closed

[2015-01-26 22:04] #182 closed

[2015-01-26 22:30] #180 closed

[2015-01-26 22:44] #179 closed

[2015-01-26 23:30] aivans opened #184 "[Question] Is there a roadmap for Spring Cloud?"
I am wondering if there is a roadmap for this project.
Phil Webb mentioned in an interview on infoq.com that Spring Cloud  will be suported heavily by Pivotal.

What are the plans?

[2015-01-27 00:17] spencergibb commented on #184
There is currently no public road map beyond github issues and milestones.  I don't think we're opposed to one.  I'll bring it up with the team.

[2015-01-27 04:45] #159 closed

[2015-01-27 05:16] #144 closed

[2015-01-27 06:28] craigivy commented on #176
Dave, sorry I was unable to look into this. Right now I’m getting an error the following error "Caused by: java.lang.NoClassDefFoundError: org/springframework/cloud/client/discovery/event/InstanceRegisteredEvent”.  I also get this error when running the customers-stores project.  I think I'm waiting for the build pipeline to put a new version of cloud-commons on the snapshot repo as the code seems

[2015-01-27 06:28] spencergibb opened #185 "Change ribbon to use LoadBalancerBuilder rather than setting class names in properties"
See [EurekaRibbonClientConfiguration.java](https://github.com/spring-cloud/spring-cloud-netflix/blob/84554725db0d8560ebc0cb4320888b70c8700868/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/ribbon/eureka/EurekaRibbonClientConfiguration.java#L83-L92) for setting properties.

See [ConsulLoadBalancerClient](https://github.com/spring-cloud/spring-cloud-consul/blob/master/spri

[2015-01-27 07:37] dsyer commented on #176
I just pushed snapshots of the whole circus and I can see that class, so maybe try again now?

[2015-01-27 08:19] aivans commented on #184
Thanks Spencer

It would be good to have something public such that I can point it to the management.

[2015-01-27 12:27] vibhaanshu commented on #169
Thanks..TestRestTemplate sample solved the issue..

Now facing 'Unable to locate ILoadBalancer for service' errror but since its not linked to this issue, have raised it in stackoverflow.

[2015-01-27 16:00] craigivy commented on #176
Back to working, thanks.  OK I’m seeing the ssl settings in /eureka/apps (below).  I guess I was expecting the link on the home page (http://localhost:8761/ <http://localhost:8761/>) to take these into account.  It might be nice if when you have spring boot configured in SSL the eureka instance configuration auto magically happens like it does in plain HTTP,  Maybe this is by design.  Thanks for y

[2015-01-27 16:44] dsyer commented on #176
It looks to me like the code in `InstanceInfo` (i.e. Netflix native) hard codes "http" if the status page is given as a relative URL. You can override it by setting `eureka.instance.statusPageUrl` to an absolute URL. I haven't tried it but it looks like you can use a placeholder. e.g. `${eurekahostname}` by default for the hostname in the URL.

[2015-01-27 16:45] dsyer commented on #176
The `securePort` is 8081 now? Or is it a typo?

[2015-01-27 20:03] NickPadilla commented on #171
Hey @spencergibb - Please see screen shot.  I have found that the `ZuulRefreshListener` is registered  and on boot does in fact get called.  However, I have found that after application initialization the `SimpleApplicationEventMulticaster` code -
[code]
Never gets the `ZuulProxyConfiguration.ZuulRefreshListener` in the list of listeners.  At boot time it does, but I am thinking that this could be

[2015-01-27 20:14] spencergibb commented on #171
Are you still having issues?  [This change](https://github.com/spring-cloud/spring-cloud-netflix/blob/ea4ea4a54d591ff4917ac815d8a841c72dfde3a8/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/eureka/EurekaClientAutoConfiguration.java#L77-L100) ea4ea4a54d591ff4917ac815d8a841c72dfde3a8 specifically propagates the root context's heartbeat events, which the `ZuulRefreshListene

[2015-01-27 20:16] NickPadilla commented on #171
Yeah, I do see that but I am still not seeing the Listener getting the HeartbeatEvent's after boot up. I wanted to troubleshoot this yesterday but got pulled away, so back at it today.

[2015-01-27 20:26] spencergibb commented on #171
Hmm, I'm seeing this working with your code.  I'll post my changes.

[2015-01-27 20:32] spencergibb commented on #171
Here is your code with a few changes that successfully dynamically updates the zuul routes: https://github.com/spencergibb/micloudzuulserver/compare/MindsIgnited:master...master

[2015-01-27 22:54] NickPadilla commented on #171
ok, so I made the two changes - one to the pom to add these guys
[code]
and another to the application.yml
[code]
This is the output of when a new service gets started and registered with eureka.
[code]
I updated the master branch to have these changes.  Everything looks to be there, unsure what the problem is with my configuration.

[2015-01-28 22:51] spencergibb opened #187 "/hystrix.stream not discoverable by turbine if management.context-path is not /"
Probably a problem if management port is set as well.

http://stackoverflow.com/questions/28201779/hystrix-stream-and-management-context

[2015-01-28 23:05] spencergibb commented on #187
I was thinking of using eureka metadata

[2015-01-29 06:50] craigivy commented on #176
That port change was my doing while I was testing this all out.  Thanks for all your help on this.

[2015-01-29 06:50] #176 closed

[2015-01-29 08:56] dsyer commented on #187
Is there any reason /hystrix.stream needs to be an `MvcEndpoint`? There is still the same problem on the server if it is a normal `Servlet` or `@RequestMapping` with a variable path, but if it was a plain `Servlet` we could at least make the path always the same.

[2015-01-29 15:31] spencergibb commented on #187
I guess it doesn't need to be an mvc endpoint.  If they change the `servletContext` from `/` it breaks too.

[2015-01-29 16:13] #185 closed

[2015-01-29 16:32] dsyer commented on #187
If it was a `Servlet` though then the path only depends on the application context path ("/" by default also). That's the best we can do without making any changes to the sever, I guess?

[2015-01-29 16:38] spencergibb commented on #187
that minimizes the changes

[2015-01-29 17:37] seno5979 commented on #169
Hi Dave,

According to my current test, Both of <serviceName>.ribbon.NIWSServerListFilterClassName and @RibbonClient need to be configured if we want to override ServerListFilter with our own.

If we don't override <serviceName>.ribbon.NIWSServerListFilterClassName & NIWSServerListClassName, the result will not be correct untill the next refresh.

Please correct me if I'm wrong.

Thanks.

[2015-01-29 17:46] dsyer commented on #169
What do you mean by "next refresh"? It works for me so maybe you could post your code and we can see what is confusing.

[2015-01-29 18:09] seno5979 commented on #169
This is my bootstrap.yml looks like:

[code]
I copy the ZoneAffinityServerListFilter class  below :

https://github.com/Netflix/ribbon/blob/master/ribbon-loadbalancer/src/main/java/com/netflix/loadbalancer/ZoneAffinityServerListFilter.java

And do zome changes on  ZoneAffinityPredicate with my own :

With this way I can make sure the system will only give me the serviceList I want based on availab

[2015-01-29 20:28] #187 closed

[2015-01-29 21:38] philwebb commented on #154
I mainly noticed its use in `spring-cloud-netflix`:

https://github.com/spring-cloud/spring-cloud-netflix/search?utf8=%E2%9C%93&q=com.google&type=Code

[2015-01-30 12:13] jvalkeal commented on #154
Yeah, guava is a major pain particularly in hadoop umbrella. There are 3 main versions out there where the oldest is about 5 years old. Guava is know not to care that much about backward compatibility and project simply removes methods or does something else which breaks things up.

IMHO, any kind of foundational framework should stay away from guava. i.e hadoop cannot change those 5 years guava l

[2015-01-30 14:12] #154 closed

[2015-01-30 15:56] gmucha opened #188 "Reference documentation for AWS setup using EIP"
As currently trying to set up an AWS/EIP Eureka - per standard Eureka docs - I am unable to get the Eureka server to recognize it's running in AWS. Apparently the EIP binding is handled in EurekaBootstrap.initEurekaEnvironment() whis is overridden in EurekaServerInitializerConfiguration - this bypasses EIP registration attempts.

Not sure if I understand correctly, but is dataCenterInfo modifiable

[2015-01-31 20:55] NickPadilla opened #189 "Hystrix stopped working behind Zuul Proxy"
Hello,

As of yesterday, I am seeing this error when trying to connect to the http://127.0.0.1:8766/hystrix.stream from the Hystrix Dashboard.  It is trying to hit the Zuul management port which is set to not have security with -
[code]

I do have the Zuul Server using `@EnableOAuth2Sso`, so maybe I need to add some more configuration?  However this was working before yesterday.  Any ideas?

This

[2015-02-01 09:25] dsyer commented on #189
I think this is a side effect of commit 29bee28 (assuming you are on snapshots) because the /hystrix.stream is no longer part of the Spring MVC chain. Maybe we should rethink that (cc @spencergibb)?

[2015-02-02 04:04] ctatineni opened #190 "Zuul routing to blank url"
I am trying to route requests to feign client, below is my zuul configuration.

[code]

http://localhost:8765/test - POST with parameter name=test
i was getting 405 errordue to URL. missing URI, i think the below lines are causing the issue.

In `RibbonRoutingFilter` class

[code]

either i am missing some configuration so the `context.get("requestURI")` is blank or the above code is missing blank

[2015-02-02 04:08] spencergibb commented on #190
did you not complete your report?

[2015-02-02 04:15] ctatineni commented on #190
Sorry, yes i completed the report, let me know if i missed any configuration

[2015-02-02 04:33] ctatineni opened #191 "ZUUL query parameter issue"
when i try to post to zuul url with query parameters as below

http://localhost:8765/test?name=test

i am getting the below output in `RibbonRoutingFilter` class when it executes

[code]

output - `{name=[test, test]}`

also i see that same parameter is added to requestentity

so when i print the paramvalue it is printing three times.

please suggest.

[2015-02-02 08:04] dsyer commented on #189
#187 was all about Turbine. Maybe we can fix it there instead? It's nice having /hystrix.stream being an `MvcEndpoint` actually (it follows the others in terms of security for instance).

[2015-02-02 10:04] dsyer commented on #190
Blank is allowed as a URI path, and I think that's the correct value in your case (you sent a request to /test and /test is the route prefix, which is stripped by default). I'm a bit confused about what you mean by "route requests to a feign client" since this is a gateway (serverside) feature. What actually happened when the backend request was sent, and why do you think that it's wrong (stack tr

[2015-02-02 10:07] dsyer commented on #191
I guess you aren't supposed to use query params in a POST (at least the `Filter` wasn't expecting it). It does work if you use the body for the request parameters?

[2015-02-02 10:15] dsyer commented on #191
Actually I just tried this with the `SampleZuulProxyApplication` (from the tests) and it only has a single valued parameter as far as I can tell (`curl localhost:9999/testing123?foo=bar` and set a break point in `RibbonRoutingFilter`). Where exactly did you see that double (and triple) value?

[2015-02-02 13:56] seno5979 commented on #169
Hi Dave,

Not sure if my explanation above clear enough to you

[2015-02-02 17:00] ctatineni commented on #191
MultiValueMap<String, String> params = this.helper
                .buildZuulRequestQueryParams(request);

after executing the above line, params value is having three values, actually it is my bad, i should only use body for post, i was testing GET and POST simultaneously.

[2015-02-02 17:14] ctatineni commented on #190
I think the use case that i am testing is a weird one, i am not sure if it is a valid one.
I have an application helloclient1 with url http://localhost:8886/test1
another application helloclient2 with url http://localhost:8886/test2
i am trying to set the routes as
zuul:
  routes:
    helloclient1: /test1/**
    helloclient2: /test2/**

if i do this , /test1 and /test2 are replaced with blank.

i

[2015-02-02 17:20] ctatineni commented on #190
One more thing, if i use 1.0.0.RC2 and if i do not have eureka URL configuration with credentials, i am not getting any error and it was not able to find the helloclient1, even if i add the URL i do not see any change, may be i am missing something here, i need to do little more debugging here.

where as if i use 1.0.0-BUILD-SNAPSHOT , i am getting 401 error as it is by default trying to connect t

[2015-02-02 17:20] dsyer commented on #190
I'm not quite sure I follow (those 2 clients have the same host and port, are they 1 client). Try

[code]

Or replace the `serviceId` with `url` if you want the physical URL.

[2015-02-02 17:42] spencergibb commented on #189
@dsyer I can revert my commit and put /hystrix.stream back to an `MvcEndpoint`.  It seems like it fits in the "production ready" parts of actuator and security is nice.

[2015-02-03 11:58] dsyer commented on #191
I still can't reproduce. What did you do exactly on the client?

P.S. please use markdown for code and logs.

[2015-02-04 05:23] dsyer opened #192 "Documenation: how to change health and info links in Eureka when using custom context path or servlet path"
If an app specifies `server.contextPath` or `server.servletPath` the links in the Eureka instance metadata will be missing the extra prefix by default, It's easy to fix with placeholders in `eureka.instance.statusPageUrlPath` (etc.), but some documentation would be nice. See [question on SO](http://stackoverflow.com/questions/28287581/eureka-status-and-info-url-do-not-respect-management-context-pa

[2015-02-04 05:47] dsyer opened #193 "404 prevents hystrix dashboard from working with /hystrix prefix in path"
I'm seeing "404 GET http://localhost:8888/hystrix/webjars/jquery/2.1.1/jquery.min.js"

[2015-02-04 10:57] #193 closed

[2015-02-04 11:42] dsyer commented on #189
It looks like turbine already supports modifying the endpoint name through `turbine.instanceUrlSuffix.<appName>` (and `turbine.instanceUrlSuffix` for the default). So yes, I believe we should revert the change in #187.

[2015-02-04 14:06] #124 closed

[2015-02-04 14:29] yohanliyanage opened #194 "Documentation refers to deprecated annotation EnableEurekaClient"
The official documentation example for Eureka (Registering with Eureka) under URL http://projects.spring.io/spring-cloud/spring-cloud.html still refers to the @EnableEurekaClient annotation, which was changed to @EnableDiscoveryClient few revisions back.

[2015-02-04 14:50] #194 closed

[2015-02-04 14:50] dsyer commented on #194
It was re-introduced (in RC1 I think) as a way for the user to say he wants Eureka discovery specifically. I added a sentence to the docs.

[2015-02-04 14:58] jkirsch opened #195 "hystrix - best practise for logging exceptions"
I'm trying to log the "potential" exception of longRunning within fallback

[code]

Trying to access `HystrixRequestLog.getCurrentRequest()` within the fallback method throws

Is there any documented best practise?

Could the fallback method additionally offer access to the `HystrixCommand` object, which has the exception trace if any ...?

[2015-02-04 14:59] #192 closed

[2015-02-04 21:33] digitaljoel opened #196 "ZuulProperties does not set id for new routes in yml on refresh"
If I add a new route to configuration AFTER zuul has already started, such as:
[code]
and then hit /refresh, the route is configured and a handler is mapped as shown in the log:

    Mapped URL path [/blah/**] onto handler of type [class org.springframework.cloud.netflix.zuul.web.ZuulController]

but the id property of the route is left as null because the init method in ZuulProperties is only cal

[2015-02-04 22:13] vsafin-copart opened #197 "Zuul does not proxy multipart/form requests"
Turned on HTTP Client debuging and forwarded request always has empty body.

In `ProxyRequestHelper.debugRequestEntity`

[code]

entity is always = ""

[2015-02-04 22:36] vsafin-copart commented on #197
See following in the log - looks like problem is with com.netflix.zuul.http.HttpServletRequestWrapper

2015-02-04 17:34:43.403 DEBUG 11872 --- [io-10080-exec-2] c.n.zuul.http.HttpServletRequestWrapper  : Path = null
2015-02-04 17:34:43.404 DEBUG 11872 --- [io-10080-exec-2] c.n.zuul.http.HttpServletRequestWrapper  : Transfer-Encoding = null
2015-02-04 17:34:43.404 DEBUG 11872 --- [io-10080-exec-2]

[2015-02-04 22:50] digitaljoel opened #198 "Zuul exposes all Eureka-registered services by default"
If Zuul is connected to Eureka then all services registered in Eureka get a handler registered for them in Zuul.  You can ignore services by id using ignored-services.  For security purposes, I would like to disable this auto-registration and only register those services that I have configured explicitly.

As it is, I have to know the name of every service registered so I can add them to the ignor

[2015-02-05 02:57] ctatineni commented on #190
It worked after using stripPrefix option, Thanks for the help.

[2015-02-05 02:57] #190 closed

[2015-02-05 02:59] ctatineni commented on #191
closing this as it works fine with request body on POST.

[2015-02-05 02:59] #191 closed

[2015-02-05 08:26] Vad1mo commented on #3
Finally 1.36.0 is released.
https://github.com/Netflix/blitz4j/releases/tag/v1.36.0
Do you think we can already use logback in spring-cloud-netflix 1.0 ?

[2015-02-05 10:45] #3 closed

[2015-02-05 13:26] dsyer commented on #196
This is really a manifestation of https://github.com/spring-cloud/spring-cloud-config/issues/80 (now fixed).

[2015-02-05 13:26] #196 closed

[2015-02-05 13:28] dsyer commented on #195
I don't think that is possible with the current implementation of Javanica. I'm not a huge fan of Javanica though so there is a good chance we'll replace or enhance it at some point.

You can log the exceptions using `logging.level.com.netflix.hystrix.AbstractCommand: DEBUG`. Or you can set up the `HystrixRequestLog` in the caller of `MyService`, but it isn't done for you.

[2015-02-05 13:35] dsyer commented on #106
Here's 2 more (from Zuul integration tests):

[code]

[2015-02-05 14:45] dsyer commented on #197
What's the use case where you need to POST a multipart form? Wouldn't it work with a normal one?

[2015-02-05 14:48] vsafin-copart commented on #197
Have set of services all registering with Eureka and one of them accepting file uploads. Would like to use Zuul to be front end to all those.

[2015-02-05 15:33] dsyer commented on #197
Have a go with that change (it's tested, but not with file uploads).

[2015-02-05 15:40] vsafin-copart commented on #197
Will test and let you know

[2015-02-05 17:01] #198 closed

[2015-02-05 20:43] digitaljoel commented on #198
Sadly, it appears that * is not a valid value in yml.
[code]
yields
[code]

[2015-02-05 21:03] dsyer commented on #198
We didn't invent YAML. I imagine you have to quote it (maybe)?

[2015-02-05 21:11] digitaljoel commented on #198
I understand you didn't invent YAML.   Sorry, I was going by the documentation on the checkin and the test case.  Setting it to ```  ignored-services: "*"``` worked.

[2015-02-05 22:14] jkirsch commented on #195
Thanks for the information - setting the logging level at least logs it now - although it looks quite serious as the complete stack trace is logged.

[2015-02-05 22:20] dsyer commented on #198
Good catch on the docs, thanks. And thanks for testing.

[2015-02-05 23:07] digitaljoel commented on #198
Sure thing. I should have tried the quotes before the comment.

[2015-02-06 13:28] aivans opened #199 "Zuul stripPrefix problem"
I am playing with the customers-stores sample.
I routed all traffic from the UI app to go through a separate Zuul server.

Problem:
- in the UI I have these configurations:

[code]

- in Zuul:

[code]

According to the documentation:

application.yml

[code]

In this example requests to "/myusers/101" will be forwarded to "/myusers/101" on the "users" service.

But, it doesn't really work like tha

[2015-02-06 15:41] gmucha opened #200 "NoopDiscoveryClientAutoConfiguration has a dependency on running in Web environment"
Trying to run with eureka.client.enabled=false in a non-servlet environment (ie. a HTTP server running on Netty), context initialization crashes. This seems to be offending section, as `EmbeddedWebApplicationContext` inherits from `GenericWebApplicationContext` - which will not be present if spring-web is not a dependency (granted, Boot may be equally at fault, as `EmbeddedWebApplicationContext` i

[2015-02-06 15:51] gmucha commented on #200
Just thinking, if making `NoopDiscoveryClientAutoConfiguration` annotated with  `@ConditionalOnWebApplication` wouldn't resolve the issue

[2015-02-06 18:00] NickPadilla commented on #189
Hello @dsyer and @spencergibb - I have pulled the new changes, or revert rather, and have found something else off.  I have Zuul set to this
[code]
This is so that the static resources are found from behind Zuul.   This was working as expected.  But this is what the browser console output now shows.
![screen shot 2015-02-06 at 10 55 20 am](https://cloud.githubusercontent.com/assets/1381015/6084560

[2015-02-06 18:05] NickPadilla commented on #189
This is how hystrix is setup:
[code]
When working with Zuul it was serving the static resources correctly.  I did try to remove the `server.contextPath` setting from Hystrix and removed the `stripPrefix` from Zuul.  With this configuration I was never able to even reach the Hystrix Dashboard.  Please advise.

[2015-02-06 22:34] dsyer commented on #199
Sorry, I'm not quite following what. Since it obviously works with the existing sample, maybe we could work backwards from there. What is it that does work there and doesn't for you?

[2015-02-06 23:16] vsafin-copart commented on #197
Getting following exception at the destination service:

java.lang.IllegalStateException: Current request is not of type [org.springframework.web.multipart.MultipartHttpServletRequest]: SecurityContextHolderAwareRequestWrapper[ FirewalledRequest[ org.apache.catalina.connector.RequestFacade@5c1f45f9]]
	at org.springframework.web.servlet.mvc.method.annotation.ServletRequestMethodArgumentResolver.res

[2015-02-06 23:36] NickPadilla commented on #199
It may be the fact that the app is configured with a servlet path of '/' .  Maybe try it with the trailing '/'.  so something like this `http://127.0.0.1:8765/customers/` instead of `http://127.0.0.1:8765/customers` .  I think i had run into similar issues before.

[2015-02-07 15:02] aivans commented on #199
I will clone the original samples project and see what I did wrong.
I'll keep you posted.

[2015-02-07 17:54] aivans commented on #199
I cloned the customers-stores sample again.

Having the same problem though:
(request generated from the UI)
GET http://localhost:9900/stores 200 OK

{
  "_links" : {
    "stores" : {
      "href" : "http://localhost:9900/stores/stores{?page,size,sort}",
      "templated" : true
    },
    "profile" : {
      "href" : "http://localhost:9900/stores/alps"
    }
  }
}

I was supposed to see the list

[2015-02-08 17:51] wgorder commented on #30
I have not even got this far.  I am just trying to deploy a spring-cloud eureka (inside a docker container) to AWS.  If I create a @Bean of type EurekaInstanceConfig it blows up because there is an @Autowired dependency in EurekaDiscoveryClientConfiguration.java specifically typed to spring clouds EurekaInstanceConfigBean type

[2015-02-08 19:31] wgorder commented on #30
Well my case is a little unique since I am also playing with their docker support in AWS beanstalk and I wanted to get the public hostname and local ip from inside the docker container.  This bean seems to be working for me, although I am not done playing yet.
I also created a 'local' profile to disable all the AWS stuff when I am running locally.  For them they would have read that out of their E

[2015-02-08 19:43] ryanjbaxter commented on #199
I am seeing the same thing.  My code was working a couple weeks ago using the stripPrefix setting (I had not been working on the code for a couple of weeks) but today when I did a build and pulled down the latest snapshots it does not appear that the stripPrefix property is working, it looks like it is still stripping them off.

[2015-02-09 07:40] dsyer commented on #200
It's definitely a bug, but why do you have eureka on the classpath if you have `eureka.client.enabled=false` and `@EnableDiscoveryClient` (given that we only support Eureka right now anyway)?

[2015-02-09 07:59] aivans commented on #199
@ryanjbaxter same here

[2015-02-09 08:10] gmucha commented on #200
Mainly a fallback scenario - we don't want to run this in certain development profiles - relying on manually provided instance addresses - and switch to Eureka once we go into integration/certification.

[2015-02-09 12:56] dsyer commented on #200
You need `spring-web` for `RestTemplate` so it's common enough that, while we can maybe tidy up the exception a bit, I don't expect a lot of Spring apps to ever encounter the problem.

[2015-02-09 13:28] dsyer commented on #200
See https://github.com/spring-cloud/spring-cloud-commons/issues/10 (this is not a Netflix issue).

[2015-02-09 13:28] #200 closed

[2015-02-09 15:07] dsyer commented on #199
I still don't know what you guys are seeing that I am not. Can someone write a test that fails please?

[2015-02-09 15:30] aivans commented on #199
Hi, i will test later today with your change.
Should I declare properties related to server.servletPath?

[2015-02-09 16:08] NickPadilla commented on #199
I think the whole thing is that if you have, in zuul, the `stripPrefix: false` specified for your service. Then in the service configuration you have this set
[code]
you should be able to perform the request without issues.  I have a few services that do this exact thing, they are working as expected.

[2015-02-09 16:41] dsyer opened #201 "Domumentation for sidecar"

[2015-02-09 16:44] dsyer commented on #199
I didn't even test `server.contextPath` (but I expect it should just work). Do you mean we can close this issue?

[2015-02-09 19:35] spencergibb commented on #189
I reverted 29bee28db5328f7703ca25373c3a956ce141778a and the /hystrix.stream is now an mvc endpoint again.  I'm going to close this because of the confusion that commit caused.  Please open a new issue if you are still having troubles.

[2015-02-09 19:35] #189 closed

[2015-02-09 22:34] aivans commented on #199
Does not work. Here is the current situation:
*1. Original Sample Customers-Stores
The stores tab does not work. nothing is loaded. The response received is this:
{
  "_links" : {
    "stores" : {
      "href" : "http://localhost:9900/**stores/stores**{?page,size,sort}",
      "templated" : true
    },
    "profile" : {
      "href" : "http://localhost:9900/stores/alps"
    }
  }
}
The url that wo

[2015-02-09 22:44] aivans commented on #199
The magic is performed here:
@HystrixCommand(fallbackMethod = "defaultLink")
	public Link getStoresByLocationLink
where:
http://CLUJPC100:8081/stores/search/findByAddressLocationNear?location=0.0,0.0&distance=50
becomes:
http://localhost:8765/stores/search/findByAddressLocationNear?location=0.0,0.0&distance=50

[2015-02-09 23:24] aivans commented on #199
Guys,

I would like Zuul to behave like this:
A request to Zuul localhost:8765/stores/xxx to be routed to Stores service on localhost:8081/stores/xxx.
Whatever I do I am not able to make it behave like this.
I got the UI app working by adding doubling suffixes everywhere such that all requests passing through Zuul look like this: localhost:8765/customers/customers/xxx and localhost:8765/stores/sto

[2015-02-09 23:26] spencergibb commented on #199
I'm seeing the issue in `customer-stores`.  I'm working on it.

[2015-02-09 23:32] aivans commented on #199
Thanks

[2015-02-10 00:30] #199 closed

[2015-02-10 00:32] spencergibb commented on #199
@aivans @ryanjbaxter can you test snapshots (once the build completes) and let me know?  My locally running customer-stores was fixed.

[2015-02-10 09:02] aivans commented on #199
@spencergibb Thank you. Works as expected.

[2015-02-10 14:13] aivans opened #202 "Eureka dead instance eviction problem"
I am trying to find a good configuration for creating a cluster of Eureka nodes.
During the experiment I found a weird problem. An Eureka instance which I closed manually is not removed from the Eureka information that other nodes have.

**peer1** (serviceURL points to itself):

[code]

**peer2** (serviceURL points to peer1):

[code]

**peer3** (serviceURL points to peer1):

[code]

I closed peer3

[2015-02-10 14:18] aivans opened #203 "Eureka Clustering documentation and best practices"
I understand that there is a section in the documentation about Eureka Peer Awareness, but somehow I do not find this enough.
I find it hard to understand how this would make Eureka more HA. There would be a chain server1, server2, server3 and they are cross referenced, but if one node fails the chain breaks anyway.
Would it be a good option to just specify a list containing all 3 servers separate

[2015-02-10 14:59] vsafin-copart commented on #202
Do you see message about Eureka being in Self Preservation mode ? It stops expiring instances is number of heartbeats drop more than 15% within a minute. Normally would not happen if you have multiple services running/registering with Eureka instances

You can either disable self preservation mode or adjust using eureka.server.renewalPercentThreshold

[2015-02-10 15:01] aivans commented on #202
selfPreservation is disabled

[2015-02-10 15:32] aivans commented on #174
I can reproduce this:
I have 2 eureka instances all having this configuration:
client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://user:${eureka.password}@localhost:8761/eureka/,http://user:${eureka.password}@localhost:8762/eureka/,http://user:${eureka.password}@localhost:8763/eureka/

On peer1(8761) I can see all 3 instances: EUREKA 	n/a (3) 	(3)

[2015-02-10 15:58] NickPadilla opened #204 "Hystrix Dash fails to load static resources when server.contextPath is set"
Hello,

I believe this commit has caused some problems with my setup, https://github.com/spring-cloud/spring-cloud-netflix/commit/9fb833e4a90f4d20b9e01c595b21c3a683f898ca  Here is the configurations.
Zuul Config
[code]
Hystrix Config
[code]
When working with Zuul, before the commit, it was serving the static resources correctly. I did try to remove the server.contextPath setting from Hystrix and r

[2015-02-10 16:19] krosangit commented on #181
+1

This could potentially solve Jboss-integration issues.

[Tomasz from Netflix commented on such an integration issue that Eureka v2 might have a lot of fixes.](https://groups.google.com/d/msg/eureka_netflix/4wXYSVDbvzs/Du4xJmfYT0EJ)

[2015-02-10 16:25] ryanjbaxter commented on #199
@spencergibb its working for me as well, thanks!

[2015-02-10 16:42] krosangit opened #205 "Spring Cloud Eureka doesn't work on Jboss EAP"
Aside from a logging issue ([use logback by default in Eureka server](https://github.com/spring-cloud/spring-cloud-netflix/commit/069afb2a73778a227897a87714070c20ccf42847)) deploying a Spring boot app annotated with @EnableEurekaServer on Jboss EAP 6.3 still doesn't really work.

Using log4j, an issue arises with Jersey classpath scanning.

    com.sun.jersey.api.container.ContainerException: The

[2015-02-10 17:15] spencergibb commented on #204
This fails regardless of if it is behind zuul or not.  It only matters that server.contextPath is set

[2015-02-10 18:31] #204 closed

[2015-02-10 18:53] spencergibb opened #206 "Integrate nicobar (dynamic scripting) into zuul for dynamic filters"
https://github.com/Netflix/Nicobar
http://techblog.netflix.com/2015/02/nicobar-dynamic-scripting-library-for.html

[2015-02-11 15:15] aivans commented on #203
Here are my fist findings:
- the HA strategy seems to be one main instance with backup eureka servers
- the clients are provided with a list of eureka servers through config (or dns)
- the clients connect to the first server from the list, and this is where they send heartbeats and fetch information
- the other eureka servers are just sitting idle and have no registered application (unless eureka

[2015-02-11 18:15] spencergibb opened #207 "Allow circuit breaker annotation on Spring MVC controllers directly"
Currently have to create a separate service class and annotate the methods there.  In theory not a huge deal, but as I've made something more than trivial, it is inconvenient.

Annotating with @HystrixCommand fails with the following error:
[code]

[2015-02-12 11:09] dsyer commented on #205
Did you try a standalone Tomcat first? JBoss AS is a train wreck with Spring Boot generally:  there might be workarounds, but it's probably better to make sure your WAR file actually works on another platform first.

Only relevant for running from an executable JAR (i.e. you don't need to do it for a deployed WAR, but it won't hurt I guess).

You shouldn't need to do that since you are just duplic

[2015-02-12 13:52] dsyer commented on #197
I can reproduce that pretty easily (the wrong header is being sent downstream). Let's have another bash.

[2015-02-12 18:39] #197 closed

[2015-02-13 08:11] aivans commented on #203
Hi again,

I am pleased to announce that the behaviour from the previous post happens because all my Eureka nodes were configured with localhost as host name.
Changing to peer1 and peer2 as in the documentation allows for the creation of a mirrored style cluster.

[2015-02-13 10:32] LutzStrobel opened #208 "FeignRibbonClient ignores retryhandler retry configuration"
I use spring cloud and the FeignRibbonClient to access remote services. The problem is, that this client ignores the retry configuration given by the properties:

 example-client.ribbon.MaxAutoRetries=5
 example-client.ribbon.MaxAutoRetriesNextServer=5
 example-client.ribbon.OkToRetryOnAllOperations=true.

This behavior results from this code line:
return lbClient(clientName).executeWithLoadBalanc

[2015-02-13 10:39] LutzStrobel opened #209 "setting custom http header on FeignRibbonClient"
We use the FeignRibbonClient to send to call to remote services and need to set custom http headers. But I cant find any option to do this.
In an earlier version this could be done by setting a Requestinterceptor at the Feign.Builder.
Is there any option to get this working?

Thanx Lutz

[2015-02-13 15:19] spencergibb commented on #209
@LutzStrobel create a `@Bean` of type `RequestInterceptor`.

[2015-02-13 15:19] #209 closed

[2015-02-13 15:21] spencergibb commented on #208
Not sure I'm following?  Can you explain a bit more?

[2015-02-13 18:24] spencergibb opened #210 "Implement ServiceInstance.{getUri,isSecure}"
See spring-cloud/spring-cloud-commons#12

[2015-02-13 18:30] #210 closed

[2015-02-13 18:38] LutzStrobel commented on #208
We use sppring-cloud netflix 1.0.0.RC2
and have a FeignClient like  this:
@FeignClient("example-client")
public interface ExampleService {
...
}
with a configuration like this:
example-client.ribbon.NIWSServerListClassName=com.netflix.niws.loadbalancer.DiscoveryEnabledNIWSServerList
example-client.ribbon.ServerListRefreshInterval=20000
example-client.ribbon.DeploymentContextBasedVipAddresses=examp

[2015-02-13 18:47] spencergibb commented on #208
@LutzStrobel thanks, that clears it up for me

[2015-02-13 19:36] spencergibb commented on #208
fixed with f49d99ef5b8e144ccd709b69aa9fc1da226a9766

[2015-02-13 19:36] #208 closed

[2015-02-13 21:45] #201 closed

[2015-02-15 18:33] NickPadilla opened #211 "Way to use Zuul to proxy non eureka service"
I am wondering if there is a way to have Zuul proxy a backend service that isn't part of the eureka ecosystem.  I have Zuul doing a redirect to another URL as expected but it is a redirect - if the service is only in a private subnet the redirect will not work.  Any ideas?

[2015-02-16 00:42] ccit-spence commented on #102
I have something similar to this issue,  the difference being this is on AWS.  Right now Eureka is pulling the private hostname `ip-192-0-0-1`  How would you get the public hostname.  If I set this via the `eureka.instance.hostname` and Amazon reboots me I get a new hostname but it would be hardwired in the properties.

[2015-02-16 04:01] spencergibb commented on #102
@ccit-spence netflix uses elastic IP's for eureka, how are client's going to know how to connect to eureka?  CF takes care of that, but on AWS, you'll have a problem.  What are you planning on doing?

[2015-02-16 07:56] ccit-spence commented on #102
@spencergibb I am using elastic IP's for eureka.  Eureka instances are ok since I am using elastic IP's. What I am seeing is that other services are registering with the private hostname instead of the public hostname.

[2015-02-16 08:01] dsyer commented on #211
From the user guide:

         zuul:
          routes:
            users:
              path: /myusers/**
              url: http://example.com/users_service

[2015-02-16 08:44] pochadri opened #212 "NullPointer when creating Feign Client"
not able to create feign client getting this error in 1.0.0.RC3

[code]

previously was using `FeignConfiguration` and using `loadBalance()` method to create the client.

any idea if i am missing anything?

[2015-02-16 09:11] dsyer commented on #212
Can you provide some more steps to repeat? What does your client configuration look like? Is it a fixed URL or a discovered service?

[2015-02-16 09:39] dsyer commented on #102
If you use Spring Cloud out of the box it will not use the Netflix `EurekaInstanceConfigImpl` (which would default to being AWS datacenter aware). You could set up your own bean of that type, or use the Spring one (`EurekaInstanceConfigBean`) and inject the datacenter metadata in your configuration. I believe the Netflix native datacenter info does it through an API call at runtime (so it needs AP

[2015-02-16 09:42] aivans opened #213 "Eureka DNS configuration: user and password"
Hi,

I want my clients to use the DNS configurations to find servers.
DSN config:
txt.defaultZone IN TXT "user:password@peer1" "user:password@peer2".

    useDnsForFetchingServiceUrls: true
    eurekaServerDNSName: example
    eurekaServerPort: 8761
    eurekaServerURLContext: eureka

Is there a way to specify credentials in client config? Or is there a more secure alternative?

Thanks

[2015-02-16 10:33] #102 closed

[2015-02-16 10:55] dsyer commented on #213
I didn't really get what you are doing with the TXT record (isn't it a bad idea to advertise your credentials in DNS?). You can add HTTP basic credentials to `eureka.client.serviceUrl.*` (lots of examples in spring-cloud-samples).

[2015-02-16 11:19] aivans commented on #213
Hi Dave,

I am trying to use the DNS mode.
I read that it allows for a more dynamic configuration for the clients.
I get the part with serviceURL:eureka:
  client:
    serviceUrl:
      defaultZone: http://user:password@peer2:8762/eureka/

but in DNS mode the client is configured with domain details, I didn't find any security properties.

The DiscoveryClient class uses these details like this:

[2015-02-16 11:54] pochadri commented on #212
It is a discovered service
this is my configuration

Client  Configuration
--  Main Application
@Configuration
@ComponentScan
@EnableDiscoveryClient
@EnableAutoConfiguration
@EnableFeignClients
public class MainApplication{
}
--
--- Feign Client definition
@FeignClient("sampleBank")
public interface BankIntegration {

    @RequestMapping(value="/api/int/{bankName}/transfer",method = RequestMethod.

[2015-02-16 13:19] dsyer commented on #212
I don't see anything wrong with that so it must be something tricky behind the scenes. Can you share a project (minimal preferably) that demonstrates the problem?

[2015-02-16 13:23] dsyer commented on #213
No, I can't see any way to configure basic auth. It's just native Netflix functionality, so either it's there and we can't see it, or it's not and you are supposed to rely on physical security.

[2015-02-16 13:45] aivans commented on #213
Let's leave this open for a while. I'll ask on the Netflix google group.

[2015-02-16 14:50] NickPadilla commented on #211
I do have url set, it does a redirect.  The url in the browser changes. Is it supposed to do the direct?

[2015-02-16 15:55] spencergibb commented on #211
No it should not do a redirect.  Is it possible you're service is sending a redirect to the browser?  The zuul filters don't do redirects.

[2015-02-16 16:52] dsyer commented on #211
Maybe the redirect is coming from Spring Security in the proxy (or in the backend, as suggested by Spencer). Either way it's unlikely to be anything to do with the proxy itself.

[2015-02-16 17:15] vsafin-copart commented on #197
Ok seems like it is not correctly proxying requests. One issue is if request is large enough I get ZuulException caused by HystrixCommand read timeout

Caused by: com.netflix.hystrix.exception.HystrixRuntimeException: upload-wsRibbonCommand failed and no fallback available.
	at com.netflix.hystrix.AbstractCommand$20.call(AbstractCommand.java:816)
	at com.netflix.hystrix.AbstractCommand$20.call(Abs

[2015-02-16 18:07] vsafin-copart commented on #197
Problem is solved by configuring ribbon timeout:

upload-ws.ribbon.ReadTimeout=30000

Thank you!

[2015-02-16 20:40] ccit-spence opened #214 "Service Log Aggregation"
This may already exist within the Spring Cloud project.  Are there any existing implementations for aggregated logging for services?

Preferably something utilizing the existing Bus.  Using Logstash seems to be popular. The problem I have is installing the Logstash agent takes almost as much RAM on the service as the service itself.

[2015-02-17 08:33] ccit-spence opened #215 "Eureka and spring-cloud-starter-bus-amqp - error"
Question first:  Is it intended/Ok to add `spring-cloud-starter-bus-amqp` to a Eureka server.  Wanting to be able to refresh Eureka.

If it is ok when I add the dependency to the `pom.xml` I get the following error.

[code]

Relevant pom setup

[code]

[2015-02-17 10:10] ccit-spence commented on #215
Found the issue, was not thinking about spring boot being used somewhere down the line.  Can also be summarized by rtfm... http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-eureka-server

[code]

[2015-02-17 10:10] #215 closed

[2015-02-17 10:11] krosangit commented on #205
Thanks for the reply Dave.

I have found the fix in the meanwhile:

We need to tell Jersey to scan the restful resources manually with a custom ClassNamesResourceConfig:

[code]

We also need to adjust our Application.java to enable the manual scanning.
And we need to make a change to the Freemarker configurer to set the preferFileSystemAccess to false (on Jboss he flips out if this is true, which

[2015-02-18 02:05] spencergibb opened #216 "Upgrade ribbon to 2.0.0"
Watch for Release 2.0.0-rc.14 POMs declare "compile" dependencies as "runtime"
https://github.com/Netflix/ribbon/issues/206

[2015-02-18 12:01] #205 closed

[2015-02-18 12:04] dsyer commented on #214
Cloudfoundry already has aggregated logging, so it's not going to be a high priority for Spring Cloud. If you have an implementation in mind feel free to suggest something though (Spring AMQP has log4j and logback support already, so you can probably just use that).

[2015-02-19 04:20] svanscho commented on #162
I am working on a similar use case as aivans. We are also using zuul filters as the security demarcation point and then handle the other traffic internally.

[2015-02-19 08:04] aivans commented on #162
@svanscho
How do you perform authentication? Using Spring Security filter chain before Zuul or part of Zuul pre-..post chain?

[2015-02-19 21:59] digitaljoel opened #218 "Please allow for registering custom PolledConfigurationSource with Archaius"
We have a custom PolledConfigurationSource to get our custom configuration system hooked in to Archaius.  With the ArchaiusAutoConfiguration I don't see a way to add our configuration source to the configuration setup in there.

[2015-02-20 00:18] wgorder opened #219 "Health endpoint description"
On my API gateway when I hit the /health endpoint as an unauthenticated user I get this description
`Spring Cloud Eureka Discovery Client`

The only place I see this is in EurekaDiscoveryClient -
https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/eureka/EurekaDiscoveryClient.java

Any idea why my health endpoin

[2015-02-20 14:54] dsyer commented on #219
It's probably the only `HealthIndicator` that bothers to provide a description. Otherwise you'd see them all I think.

[2015-02-20 15:04] dsyer commented on #218
Archaius is fairly primitive (lots of static singletons) so you can probably do it however you would in a native netflix app? Did you try something obvious and it failed? More details would help.

[2015-02-20 15:17] wgorder commented on #219
Hmm.  From what I see that description is part of the DiscoveryClient interface, not the HealthIndicator.  Looking at the health indicator I see a call to getInstanceRemoteStatus() which I don't even see exposed by the interface.  I must be missing something.  The weird thing is when you hit the health endpoint as an unauthenticated user you see the UP,DOWN etc (as you would expect) and a descript

[2015-02-20 16:24] dsyer commented on #219
The description is added here: https://github.com/spring-cloud/spring-cloud-commons/blob/master/src/main/java/org/springframework/cloud/client/discovery/health/DiscoveryClientHealthIndicator.java#L47. I'm pretty sure it's just that the other indicators don't have one.

[2015-02-20 16:24] #219 closed

[2015-02-20 18:15] wgorder commented on #219
I guess I was in the wrong HealthIndicator.  Thanks.

[2015-02-20 20:56] kurron opened #220 "Update to 1.0.0.RC3 causes logback dependency failure"
I've upgraded from RC2 to RC3 and now my application won't start. I'm using Gradle 2.2.1 and it appears to me that logging dependencies have changed. In RC2 I see spring-boot-starter-log4j-1.2.1.RELEASE.jar but not in RC3. I think this prevents libraries such as jcl-over-slf4j-1.7.8.jar and jul-to-slf4j-1.7.8.jar from getting pulled in. In our case, this prevents start up of the application. Are w

[2015-02-21 00:20] mariusznet opened #221 "Problem with ribbon and https"
I'm trying to configure feign and ribbon without eureka on https. Unfortunately, despite setting https in `ribbon.listOfServers`, `LoadBalancerContext` still is choosing http protocol.
It's not surprising though, because Server class from ribbon ignores protocol and stores url with host and port only. On the other hand, `FeignClientFactoryBean` is always appending http protocol to name, which fina

[2015-02-21 10:28] dsyer commented on #220
Well, jcl-over-slf4j is included transitively from spring-boot-starter (and spring-cloud-starter), and one or both of those would be included in almost all Spring Cloud apps. I'd have to see your dependency declarations in full to guess what the problem might be. Check out the samples as well of course.

[2015-02-21 18:37] wgorder opened #222 "Properties are not resolved in statusPageUrlPath or healthCheckUrlPath"
[code]

produces this output when hitting /eureka/apps

[code]

[2015-02-22 09:13] abaculus opened #223 "Dynamically loading/initializing of Zuul filters"
Hi

Is it possible to dynamically initialize Zuul filters as Netflix shows at https://github.com/Netflix/zuul/wiki/zuul-simple-webapp ?

[code]

[2015-02-22 09:30] abaculus opened #224 "Is it possible to set specific Ribbon and Hystrix config for a Eureka service endpoint in Zuul routes?"
Hi

If I'd like to have a specific config (e.g. MaxAutoRetries, ConnectTimeouts, threadPool sizes etc) for Ribbon and Hystrix when calling a specific route:

[code]

Is it possible and if so how could I do this?

Thanks!

[2015-02-23 00:33] spencergibb commented on #222
@wgorder they need to be in the same context.  If the eureka config you wrote is in `bootstrap.yml`, the `management.*` properties need to be in the same.

[2015-02-23 00:41] wgorder commented on #222
They are both in application.yml
 On Feb 22, 2015 7:33 PM, "Spencer Gibb" <notifications@github.com> wrote:

[2015-02-23 06:23] vsafin-copart commented on #224
[servicename]:
           ribbon:
               ReadTimeout: 30000

should work just fine.

[2015-02-23 10:02] dsyer commented on #221
It works without ribbon (e.g. if you use `@FeignClient(url = "https://foo.com")`), but the protocol (URL scheme) is lost if Ribbon enters the picture.

[2015-02-23 10:05] #221 closed

[2015-02-23 10:09] dsyer commented on #223
You can probably do it with reloadable `<lang:groovy>` scripts (standard Spring feature) of type `ZuulFilter`. A `@Bean` of type `ZuulFilter` that was in `@RefreshScope` would work too. But there's nothing so far in Spring Cloud Netflix to directly support dynamic script reloading.

[2015-02-23 10:11] dsyer commented on #222
That should work fine if it was the regular imported `EurekaInstanceConfigBean`. Did you create your own `EurekaInstanceConfig`?

[2015-02-23 10:12] #224 closed

[2015-02-23 13:06] edevrieze opened #225 "Sidecar registers wrong port to eureka?"
Hi,

I'm trying to a get a JVM-basd service to talk to a non-JVM-based service which uses a sidecar process to enable registration with eureka.

However, I'm noticed that the port registered with eureka for the non-JVM-based service is the one of the sidecar process itself, instead of the port on which the non-JVM-based service is listening.

So basically, looking at my application.yml (below), I

[2015-02-23 13:09] wgorder commented on #222
I do in in one environment but I extend the Spring cloud one.  However I am seeing this running locally as well, and locally I use the default.  From the sounds of it you guys are not able to reproduce this?

[2015-02-23 13:20] dsyer commented on #222
Yep, it works for me with the samples in github. Can you share your whole `application.yml`?

[2015-02-23 13:27] wgorder commented on #222
I am working on a couple things using spring cloud.  One on cloud foundry and the other is on AWS.  I don't have that  project with me but let me see if I can reproduce it with the spring-cloud samples project.  There was really not that much going on in the file.

[2015-02-23 13:43] leon opened #226 "@EnableFeignClients - NullPointerException: logger"
I'm having a hard time getting @EnableFeignClients to work in my existing spring cloud app.

I've got a spring authentication server which is now going to integrate against another micro service.

the app looks like this

[code]

and my build.gradle is a bit more complex

[code]

And a dead simple controller to test it out

[code]

This compiles, but when I start it up it complains that `logger` i

[2015-02-23 13:44] wgorder commented on #222
I was able to reproduce it.  Follow the instructions on the README
https://github.com/wgorder/eureka

[2015-02-23 13:47] pochadri opened #227 "Eureka service Id in spring.cloud.config.uri"
Is it possible to use service id in spring.cloud.config.uri?

[2015-02-23 13:55] aivans opened #228 "Zuul DebugFilter [Question]"
I read on Zuul wiki page about a DebugFilter:
https://github.com/Netflix/zuul/wiki/How-To-Use#debug-logging

Until now I failed to see in the console information similar to the one presented on the Zuul wiki,
I used the http param to enable debug: ?debug=true

Thanks

[2015-02-23 13:56] dsyer commented on #222
In your `application.yml` you defined `management.context-path` (with a hyphen) not `management.contextPath`. You can't use relaxed binding to a placeholder.

[2015-02-23 13:56] #222 closed

[2015-02-23 13:59] wgorder commented on #222
Hmm. Funny that  has never bitten me before I guess I got gotten lucky.  Good to know, and thanks for looking at it.

[2015-02-23 14:15] dsyer commented on #225
Could be an ordering problem with the config files.

[2015-02-23 14:16] dsyer commented on #228
We don't include that filter in Spring Cloud by default (I guess you can add it). We add request traces to the /trace endpoint, so look there instead.

[2015-02-23 14:48] aivans commented on #228
Thanks Dave

[2015-02-23 14:48] #228 closed

[2015-02-23 15:35] dsyer commented on #226
How do you define your `@FeignClient`? What's happening in `CrmClient` (I assume that's the thing that is precipitating the error)?

[2015-02-23 15:36] dsyer commented on #227
Like this: http://projects.spring.io/spring-cloud/spring-cloud.html#eureka-first-bootstrap?

[2015-02-23 15:40] spencergibb commented on #226
Do you have a bean of type `Slf4jLogger`?  is `com.netflix.feign:feign-slf4j` in your dependency tree?

[2015-02-23 15:53] leon commented on #226
This is the client

[code]

And yes feign-slf4j is included

[2015-02-23 15:57] spencergibb commented on #226
and the `Slf4jLogger` bean?

[2015-02-23 16:00] leon commented on #226
Hmm that's strange, that's not there.
But isn't that included with spring boot?

[2015-02-23 16:01] spencergibb commented on #226
it's a feign class

[2015-02-23 16:03] dsyer commented on #226
Is #212 related to this one?

[2015-02-23 16:06] leon commented on #226
It's there, as I showed above

[code]

[2015-02-23 16:07] spencergibb commented on #226
looks similar.  Dagger (used as DI in feign) can't find an instance.  Dagger will be removed in a future version of feign.

[2015-02-23 16:09] spencergibb commented on #226
@leon sorry, I missed it when I glanced at it.

[2015-02-23 16:10] spencergibb commented on #226
hah, the logger isn't added to the builder

[2015-02-23 16:12] leon commented on #226
Does that mean that you found a fix? :)

[2015-02-23 16:13] spencergibb commented on #226
no, I spoke too soon

[2015-02-23 16:13] dsyer commented on #226
Looks like a race condition. What is triggering your feign client to be used?

[2015-02-23 16:14] leon commented on #226
It's used by a `@Autowired` in a spring mvc `@Controller`

[2015-02-23 16:18] dsyer commented on #226
So `CrmClient` is a `@FeignClient` interface?

[2015-02-23 16:18] leon commented on #226
yes

[2015-02-23 16:20] leon commented on #226
Which seems to be generated properly, but as soon as I try to inject it intro the controller it says it cannot find the logger.
But I'm guessing that the client isn't initialized until it is injected.

[2015-02-23 16:21] dsyer commented on #226
It would be a bean definition, so it would be initialized at some point, whether you injected it or not. It seems something you did forced it to happen too early. Can you share a minimal project?

[2015-02-23 16:33] leon commented on #226
I tried to reproduce the problem in a minimal project earlier today, but was unable to reproduce the error.

An interesting fact is that even though I don't add the `@EnableFeignClients` the beans defined in FeignClientsConfiguration are loaded.

It's far fetched but could a AutoConfiguration be interfering with `@EnableFeignClients`?
since there seems to be one defined that load's the same `@Conf

[2015-02-23 16:36] leon commented on #226
I can have another go tomorrow creating a minimal app that has the error, if we cannot come up with something today.

Could it be something with duplicate configs.

I found this in the feign starter

https://github.com/spring-cloud/spring-cloud-starters/blob/master/spring-cloud-starter-feign/src/main/resources/META-INF/spring.provides

It refers to that it provides the eureka-client. is this corre

[2015-02-23 16:38] spencergibb commented on #226
`FeignAutoConfiguration` has `@EnableFeignClients`.  Maybe having it twice is a problem?

[2015-02-23 16:42] dsyer commented on #226
Can't see how that would be a problem. Maybe it should be optional though (so users can add an explicit base package)?

[2015-02-23 16:44] leon commented on #226
The strange this is that, since I'm including the feign starter and that includes the FeignAutoConfiguration, that in turn include the @EnableFeignClients, shouldn't that be enough?

If I remove the @EnableFeignClients everything compiles and runs but then it says that it cannot find CrmClient.

So it seems to be needed anyways!?

[2015-02-23 16:45] dsyer commented on #226
Yes, it needs to know a base package to scan (so I think the one in `FeignAutoConfiguration` is redundant).

[2015-02-23 16:50] leon commented on #226
I can try to remove it and see if anything changes.
I'm at home at the moment (CET) so tomorrow morning I'll give it a go.

Or maybe if you have the possibility to release a snapshot that would be great :)

[2015-02-23 18:57] #225 closed

[2015-02-24 00:15] digitaljoel commented on #218
Sorry for the brevity in the initial submission.

In my application I attempted to register our configuration source with ConfigurationManager.install  before calling SpringApplication.run (within my main method).  On doing that it complained that when it attempted to do the ArchaiusAutoConfiguration that a configuration is already registered and the app failed to start.  I was hoping that there w

[2015-02-24 04:09] ctatineni opened #229 "Unknown host exception"
I deployed feign-eureka example to cloud foundry and i am getting unknown host exception in client, are there any changes i need to make in the configuration for cloud, it is working fine in local, also in cloud i do see the registrations for both client and server in eureka.

[2015-02-24 09:10] #227 closed

[2015-02-24 09:12] dsyer commented on #229
There's a section on "Using Eureka in Cloudfoundry" here: http://projects.spring.io/spring-cloud/spring-cloud.html#_eureka_metadata_for_instances_and_clients. Does that answer the question?

[2015-02-24 09:14] dsyer commented on #226
I don't expect there is any change, but did the new snapshots help at all? If not can you try and boil it down to a simple project that reproduces the problem?

[2015-02-24 09:41] leon commented on #226
If we add the starter which includes Feign the autoconfiguration kicks in.
https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/feign/FeignAutoConfiguration.java#L34

and then we add the @EnableFeignClients to know what package to go through.

Shouldn't we also remove the @Import of `FeignClientsConfiguration.cla

[2015-02-24 09:41] leon commented on #226
Forgot to say that the new snapshot did not work :(

[2015-02-24 10:38] dsyer commented on #226
I actually do that on purpose, so you can use autoconfig without @FeignClient and vice versa if you should need to (although I don't see any immediate need).

[2015-02-24 10:43] leon commented on #226
Since we cannot use @FeignClient without knowing where to look for them, we might as well remove the import from the @EnableFeignClients

It might be that the autoconfig is first creating the loggers / converters and then when we @Import the same config once more, it overwrites the beans causing the old references to be dropped = null pointer.

But I don't know how springs DI / autoconfig works wh

[2015-02-24 10:48] dsyer commented on #226
It's not a problem to import the same config twice. Spring only registers one instance. The problem is more likely to be something in your app, forcing factory beans to instantiate early. If you put a break point in the `FeignClientFactoryBean.getObject()` it would be interesting to see the stack, just before it crashes.

[2015-02-24 11:16] pochadri commented on #227
thank you, i should have read the doc more closely :(

[2015-02-24 12:18] leon commented on #226
The FeignClientFactoryBean looks like this when the getObject() is called

[code]

And I've placed brake points in the FeignClientsConfiguration, but they never get called, so either they don't get called at all, or the crash is happening before they have a chance to get instantiated.

[2015-02-24 12:55] leon commented on #226
It could be that the FeignClientFactoryBean is involved in a circular dependency.
In the documentation for the FactoryBean interface it says:

We could check in the getObject that the four properties

[code]

are not null and if they are throw the `FactoryBeanNotInitializedException`

It seems more likely that this is the problem than the autoconfiguration stuff we have been looking at presently.

[2015-02-24 14:20] dsyer commented on #226
I think it's the stack we need to see, not the state of the factory (we knew those properties were null already).

[2015-02-24 14:52] leon commented on #226
I don't know if this is what you mean by stack.
I did a get thread dump from within intellij.

Have you got a better suggestion on how to generate the data you need?

[code]

[2015-02-24 14:54] leon commented on #226
@dsyer If you want we could do a teamviewer / skype / google hangout to debug the problem together? it might be easier since I've not been successful in isolating the problem into a minimal project.

[2015-02-24 15:20] dsyer commented on #226
No need for skype (I have all the information you can give right now unless you have a project you can share). That thread dump looks utterly normal, which is disappointing. I'm going to have to get into the guts of Dagger.

[2015-02-24 15:23] leon commented on #226
I'll see if I can try creating a project, but don't count on it.

Good luck! :)

[2015-02-24 16:11] pochadri opened #230 "New token relay pattern: service secured with oauth to call another oauth secured service"
I am configuring on similar lines of the sample project at  https://github.com/dsyer/spring-security-angular/tree/master/oauth2-vanilla

but with another microservice(say resource2) and call it from resource service using RestTemplate(Ribbon is added to dependencies to kick in RibbonClientConfiguration so a loadbalanced client is created). This config does not work  and throws this exception

---

[2015-02-24 16:53] dsyer commented on #230
You need an `OAuthRestTemplate` (or the equivalent) to send a token to the remote server. The one that is created for you by the `@RibbonClient` is not an `OAuthRestTemplate`, so we need to address that somehow (maybe in spring-cloud-security).

The stack trace looks irrelevant. It just means your load balancer doesn't have any servers. Are you connected to Eureka, or is the server list hard coded

[2015-02-24 17:31] ctatineni commented on #229
perferIPAddress: true fixed the issue, i am not sure why host name was not working.Thanks.

[2015-02-24 17:39] dsyer commented on #229
I wouldn't recommend preferIpAddress in general for Cloudfoundry, unless your platform is set up to allow it it probably won't work. If it works for you though that's great.

[2015-02-24 17:39] #229 closed

[2015-02-24 17:47] spencergibb commented on #223
related to #206

[2015-02-24 17:56] spencergibb opened #231 "Return Observable from a Spring MVC Controller"
See https://github.com/spencergibb/myfeed/commit/a301aba6139fce7a87a1aab1d1311e6ceb8adfb7 for an example implementation.

In short: create a `ObservableReturnValueHandler` that returns a `DeferredResult` that delegates to the `Observable`.

[2015-02-24 18:07] seeksong opened #232 "In Eureka First Bootstrap mode, check health fails if restarting config server on different port"
I run my config server with server.port=0 so it will pick up a random port everytime it starts.

I have a client app running in Eureka First Bootstrap. At first the health check return status of "UP", which is great. But when I restart my config server and run the client app's health check again, it returns "DOWN".

I am not sure if it was related to this. but It seemed the client app didn't pick

[2015-02-24 19:47] leon commented on #226
@dsyer I was finally able to find how to reproduce the problem and put together this project for you

https://github.com/leon/temp-spring-cloud-feign-problem

The problem is @EnableAuthorizationServer as soon as I uncomment it, the app boots as normal.

[2015-02-24 20:55] spencergibb commented on #226
@leon thanks!  Really helps to have this.
@dsyer I was toying with a change to `FeignClientFactoryBean` to have its required fields autowired in the constructor.  When I do that it fails with the following:
[code]
Why is it trying to do that when (in my code) it clearly has an autowired constructor?

[2015-02-24 21:15] spencergibb commented on #226
so far I've traced it to `AbstractBeanFactory.hasInstantiationAwareBeanPostProcessors` being false at the time the `myClient` bean is to be instantiated.  It's some kind of timing issue.

[2015-02-24 21:18] spencergibb commented on #226
The other thing I found is the id of the `DefaultListableBeanFactory` is `bootstrap` when it fails, a guid when it succeeds.

[2015-02-24 21:24] spencergibb opened #233 "Support Ribbon in AsyncRestTemplate"
see [MyfeedAutoConfig.java#L68-L83](https://github.com/spencergibb/myfeed/blob/master/myfeed-core/src/main/java/myfeed/MyfeedAutoConfig.java#L68-L83) and [RibbonAsyncClientHttpRequestFactory](https://github.com/spencergibb/myfeed/blob/master/myfeed-core/src/main/java/myfeed/RibbonAsyncClientHttpRequestFactory.java)

Not as straight forward as the standard synchronous `RestTemplate` because there i

[2015-02-25 08:26] aivans opened #234 "Zuul routing config - multiple web paths for serviceid"
I am trying to route multiple web paths to be routed to a single service. I might need this for the future.

[code]

The routes look like this:

[code]

Does it make sense to support this capability?

[2015-02-25 08:40] dsyer commented on #231
Can we do the same thing for a Stream (reactor)?

[2015-02-25 09:17] #232 closed

[2015-02-25 10:03] dsyer commented on #234
I'm not sure I'd ever use that feature. What's your use case?

Anyway you can always create 2 routes, e.g.

[code]

[2015-02-25 10:12] aivans opened #235 "Zuul routing - strip prefix problem"
I am trying to setup an api gateway routing example.

[code]

From my understanding the prefix is "/api" and this string only should be subtracted from the downstream path, so the call to stores service should have the path "..:8081/stores".

Routes look like:

[code]

Mappings:

[code]

[2015-02-25 10:13] dsyer commented on #230
See https://github.com/spring-cloud/spring-cloud-security/issues/45 (closing this one as duplicate).

[2015-02-25 10:13] #230 closed

[2015-02-25 10:32] aivans commented on #234
My goal is a proof of concept for:

- zuul proxy for multiple api-s or versions
/api/v1/...
and
/api/v2/...

- backwards compatibility for endpoints
Integrators have a built in url which we need to maintain along side the new url-s, but both should point to the same service

Thanks

[2015-02-25 13:14] dsyer commented on #235
So what are you actually seeing in practice?

P.S. please use fencing (or any Markdown trick you like) to surround code and console output.

[2015-02-25 13:43] dsyer commented on #226
OK all that actually makes sense to me because there was a change in Spring Security OAuth2 that prevents eager instantiation of `FactoryBeans` in an auth server using JWT tokens (https://github.com/spring-projects/spring-security-oauth/issues/384). If you upgrade to a snapshot, or use a different `TokenStore`, your app works, so I think we can call it fixed (at least as far as this issue is conce

[2015-02-25 13:43] #226 closed

[2015-02-25 15:09] aivans commented on #235
Hi Dave,
Sorry for the markdown.

I am a bit lost. I tried this combination:
[code]
Request url: http://localhost:8765/api/stores
Downstream request from Zuul to Stores is:  http://localhost:8081/api

Honestly I expected that the downstream request url to be: http://localhost:8081/stores.

[2015-02-25 15:21] dsyer commented on #235
If the homepage for stores is "http://localhost:8081/" I would expect the downstream request to be "http://localhost:8081/api" (both prefixes are stripped by default, but you switched off the global prefix stripping). If you want it to be "http://localhost:8081/store" you would need

[code]

[2015-02-25 15:40] leon commented on #226
Awesome guys!
Thanks!

[2015-02-25 15:47] spencergibb commented on #234
See http://stackoverflow.com/questions/28662237/multiple-zuul-routes-to-one-service/28665239
[code]
works

[2015-02-25 15:56] aivans commented on #234
Thank you

[2015-02-25 15:56] #234 closed

[2015-02-25 15:59] aivans commented on #235
Thanks Dave, it works

[2015-02-25 15:59] #235 closed

[2015-02-25 17:50] leon commented on #226
@dsyer There isn't a snapshot build available :(
http://repo.spring.io/snapshot/org/springframework/security/oauth/spring-security-oauth2/

[2015-02-26 08:25] dsyer commented on #226
It's there now.

[2015-02-26 09:00] leon commented on #226
Thanks! works like a charm now :)

[2015-02-27 12:43] icemanftg commented on #218
I agree with @digitaljoel on the check for ArchaiusAutoConfiguration part. Otherwise someone has to manually append the configuration after the spring context has been loaded.

[2015-02-27 13:16] dsyer commented on #218
Contributions would be more than welcome.

[2015-02-27 15:10] icemanftg commented on #218
I've just tried the approach above and it kinda solves the problem, the db properties are pooled by archaius, on the other hand, if there is another system source before the ArchaiusAutoConfiguration (with this modification) finishes, the properties from the config.properties file are not pooled anymore.
[code]
I guess it has something to do with the archaius hierarchy ![Archaius hierarchy](http:/

[2015-02-27 22:42] aivans commented on #223
Hi guys,

I just watched this presentation: https://www.youtube.com/watch?v=ZfYJHtVL1_w
At 20:48, the presenter is creating a custom routing rule from the UI.

Do you know whether that UI is public?
What does actually happen behind the scenes? A new filter is created and deployed using their Cassandra FilterPoller?

[2015-02-27 23:39] spencergibb opened #236 "change RibbonLoadBalancerClient.choose() to return null rather than throw IllegalStateException"
@dsyer do you see any problem doing this?

[2015-02-28 06:51] dsyer commented on #236
No. As long as it's documented.

[2015-03-01 08:46] abaculus commented on #223
I think it's a "must have" feature, the dynamic loading of new filters, since it (to me) feels like one of the major benefits of using Zuul (except routing to services using service registry).

I'm thinking of load shedding and routing to debug etc in production without having to restart the application.

[2015-03-01 08:49] abaculus commented on #224
Great! Thank you very much!

[2015-03-01 10:44] dsyer commented on #223
I'm not so sure I'd want arbitrary scripts to be run completely untested in a production system. And for people that want to try it, there are the two options I mentioned above anyway. Did anyone try that?

We can do more (contributions always welcome) after 1.0 though for sure.

[2015-03-01 21:48] aivans commented on #223
@dsyer I hope to try the options in the coming days.

Netflix make a big case about Zuul, but without other tools on top of it I cannot see that many advantages., at least this is my current impression. The big idea I get right now is the routing to origins (services or other apps) and integration with Eureka, but needs tools on top for other features.

[2015-03-01 21:56] abaculus commented on #223
@dsyer IMHO, tested or untested scripts should be controlled by the process of the production environment and not the framework. Anyone with access to a production enviroment could be of danger ;-)

I haven't tested your suggested solutions but I will. Though, the polling of configured directories for pre, routing and post- scripts sounds very appealing to me.

Or, if one would like to add a route

[2015-03-01 22:01] aivans opened #237 "Zuul - hierarchical specification for routes"
Hi,

I would be nice to configure routes in a hierarchical way:
[code]

So far it is possible to specify just the top level prefix /api

[2015-03-01 22:02] dsyer commented on #223
That's exactly what a `<lang:groovy/>` script does (or any other `<lang:*/>`) so you should be perfectly happy with that. Am I missing something?

Do you mean in a `@EnableZuulProxy`? I'm a bit confused because that's what it already does if the routes change (e.g. a new eureka registration). Maybe you mean something else (can you be more specific about the use case, please)?

[2015-03-01 22:25] abaculus commented on #223
@dsyer  To my understanding with `<lang:groovy />` you must define a `script-source` (a file) which, from my understanding, forces you to put all your filters in the same script (ok, which might be fair enough)?

Consider a cluster of Zuul applications and I'd like to add in runtime a re-route from "origin-service" to a "debug-service" for certain requests in a smooth transition without the need o

[2015-03-01 22:30] aivans commented on #223
@abaculus Netflix seem to use the FilterPoller with a Cassandra storage.
They say multiple teams send their scripts this way and the scripts get picked up by all their Zuul instances. They have a Filter verifier which checks if the filter is well formatted, compiles, etc, but I don't understand how they have so much trust that filters will not conflict at runtime. I am curios how it works in reali

[2015-03-02 07:34] dsyer commented on #237
You can, of course, do that already with

[code]

If you can make a proposal for the YAML format of your "hierarchical" model, we can have a sensible discussion about how it might be implemented.

[2015-03-02 09:03] aivans commented on #237
Thanks Dave,

I knew this would work from my previous questions.

I'll think about a format.

[2015-03-02 09:59] aivans commented on #162
@dsyer  I read the examples you presented in the Angular + Spring Cloud series.

My thoughts are longer term for a project that involve multiple teams, where governance is important.

In your examples there is a 2 tier approach,  Spring Security and Zuul for routing.
I see a few disadvantages:
* configure in 2 locations, and complicates ownership
* dynamics: somehow you can make routing dynamic, b

[2015-03-02 13:42] dsyer commented on #223
@abaculus thanks for the detail, it's useful to frame the discussion this way (concrete use cases). I don't think you are restricted to one `<lang:groovy/>` script per application, so you can put as much as you like in as many files as you like.

However I think `@RefreshScope` and/or a restart might be a better approach anyway. What's wrong with restarting the application?

With your example, you

[2015-03-02 16:44] #236 closed

[2015-03-02 19:21] radenui commented on #203
Hello,

I have a similar problem here.
I'm using AWS, and I'd like to leverage the HA provided by Netflix using DNS and the region settings (https://github.com/Netflix/eureka/wiki/Configuring-Eureka-in-AWS-Cloud#configuring-eips-using-dns).
I'm not really interested in EIP or Auto-scaling groups here, just the DNS part.

As my Eureka clients will be in different Availability zones, I will need the

[2015-03-02 20:46] aivans commented on #203
[code]

The settings above definitely do the trick for me.

[2015-03-02 20:47] aivans commented on #203
I did not test multiple zones though.
Please come back and share your results for your multiple zones setup.

[2015-03-03 10:57] ccit-spence commented on #214
What are your thoughts on using something like example as a basis?

https://github.com/spring-projects/spring-amqp-samples/tree/master/log4j

[2015-03-03 11:59] dsyer commented on #214
That's what I meant in my last comment (but we would prefer to use autoconfig to detect the logging system in use and switch to logback if it is available).

[2015-03-03 15:01] theonlyguills opened #239 "Is it worth investigating how to support running an Eureka server on Weblogic?"
I have a couple Eureka clients running on our Weblogic infrastructure talking to a standalone embedded Eureka server for now. I'd like to move the Eureka server on weblogic also to benefit from the rest of our infrastructure.

I haven't had success with that so far and I was wondering if it's even worth considering or is the Eureka server not meant to be run on Full EE containers at all? I won't s

[2015-03-03 15:26] aivans commented on #239
Might be similar to Jboss?
https://github.com/spring-cloud/spring-cloud-netflix/issues/205

[2015-03-03 15:32] stephaneLeroy opened #240 "Feign : Reuse RibbonLoadBalancer"
A bug was pointed on Feign Ribbon integration https://github.com/Netflix/feign/issues/182
Ribbon does not expect multiple [RibbonLoadBalancer](http://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/feign/ribbon/RibbonLoadBalancer.java) (IClient/AbstractLoadBalancerAwareClient) instances for the same client.

spring-

[2015-03-03 16:06] theonlyguills commented on #239
Oh thanks, I looked around but I missed that one with regards to JBoss. If they got it to work on the JBoss train wreck there is hope!

I'll post a solution if we find one.

[2015-03-03 16:06] #239 closed

[2015-03-03 19:10] radenui commented on #203
Thank you for your answers!

I started using these properties:
[code]
On the DNS side, I have:
- a TXT record for the region
- one TXT record by zone (with "user:password@server" as a value).

Into my Eureka servers (wanted them to descover their peers with DNS) and it seems like the DNS discovery does not allow to define peers at all: I had a very strange and inconsistent behavior using the same

[2015-03-03 19:54] aivans commented on #203
Never tested multiple zones.
In one single zone (defaultZone) I could configure multiple servers and they saw eachother as replicas.

How are your clients configured?

[2015-03-03 19:57] radenui commented on #203
I tried the same "client" configuration for both eureka clients and servers (see previous message).
It only works on the clients.
On the Eureka servers, they are not able to use the DNS information to define peers: I had to use "defaultZone" as well.

[2015-03-03 20:44] aivans commented on #203
i would start with the default region(don't try to set it yet) and default zone and see if the dns config is ok.
It is ok when in the Eureka web UI you will see servers as available replicas when they are all started.
Afterwards, I would try a different zone for one server.

My dns config:
txt.us-east-1 IN TXT "defaultZone.eureka.local"
txt.defaultZone IN TXT "user:password@peer1" "user:password@p

[2015-03-03 21:48] aivans commented on #203
[code]
My hunch is that for the client you should specify one single zone, after all the client runs in a single zone, isn't it?

[2015-03-03 21:48] radenui opened #241 "Impossible to set datacenter = Amazon"
Hello,

I try to setup eureka server/client on a docker container hosted on an AWS instance.
When I start a simple service with a eureka client using the properties:
[code]

My app fails to lauch with this error:
[code]

Am I missing something?

Thanks a lot,

Arthur

[2015-03-03 21:58] aivans commented on #203
Actually, i think your issue is that you specify availabilityZones. you should leave that to the dns.

[2015-03-03 22:01] radenui commented on #203
Ok, I can try that.
But as I cannot set the datacenter as "Amazon", how does the eureka client know its zone ?

[2015-03-03 22:02] aivans commented on #203
datacenter=cloud?

[2015-03-03 22:04] radenui commented on #203
I like that!
what is the full name for this property? just "datacenter" ?

[2015-03-03 22:05] aivans commented on #203
Arthur, maybe you need to read the docs a bit, and the source code.

[2015-03-03 22:06] aivans commented on #203
never tried it myself on Amazon

[2015-03-03 22:21] radenui commented on #203
Well, I'll be delighted to find some docs... Because when I believe what I see in the source code, I have [this](https://github.com/spring-cloud/spring-cloud-netflix/issues/241)!
Thanks for your help Adrian, I'll be interested if you can find any documentation on it.

[2015-03-03 23:39] spencergibb opened #242 "upgrade to netflix hystrix to 1.4.0"

[2015-03-04 00:11] spencergibb commented on #241
@radenui right now you need to create your own instance of `EurekaInstanceConfigBean` and set `dataCenterInfo` to an `AmazonInfo` instance.

[2015-03-04 00:23] #242 closed

[2015-03-04 09:44] radenui commented on #241
Ok, thanks!

[2015-03-04 16:47] spencergibb opened #243 "Upgrade feign to 7.3.0"
from [changelog](https://github.com/Netflix/feign/blob/master/CHANGELOG.md#version-73): Adds LBClientFactory to enable caching of Ribbon LBClients

May allow us to remove some code and fix #240

[2015-03-04 17:47] mikaelhg opened #244 "spring-cloud-netflix 1.0.0.RELEASE has spring-cloud-build:pom:1.0.0.RELEASE as parent, can't be resolved from Maven Central"
Builds with

[code]

fail with

[code]

since `spring-cloud-build` isn't available on Maven Central.

[2015-03-04 18:50] spencergibb commented on #244
@mikaelhg will get deployed shortly, then sync to maven central.

[2015-03-04 19:41] dsyer commented on #244
Done

[2015-03-04 19:41] #244 closed

[2015-03-04 19:56] mikaelhg commented on #244
And builds. Thanks.

[2015-03-05 16:51] abaculus commented on #223
@dsyer You're right, I could have been much more clear about the use case from the beginning.

To summarize your suggestions:

- `lang:groovy` requires me to come upp with the name of script(s) up-front, correct?

- Changing a `zuul.routes.*` and call /refresh requires me to use external file as configuration, i.e. not bundled with the JAR, correct?

By "certain request" I mean it could be a clien

[2015-03-05 18:42] #243 closed

[2015-03-05 19:39] #240 closed

[2015-03-05 22:42] pieterhumphrey opened #245 "update project page quickstart sample code"
@SpringBootApplication = @Configuration + @EnableAutoConfiguration + @ComponentScan

[2015-03-05 22:44] spencergibb commented on #245
from this twitter conversation

[2015-03-06 15:24] aivans opened #247 "[Question] Reverse proxy behaviour"
Hi guys,

Can please share how the proxy content rewriting happens?

For Stores example, I saw that the response from http://localhost:8081/stores is already processed if I send the header x-forwarded-host.

Then I found this documentation:
http://docs.spring.io/spring-boot/docs/current/reference/html/howto-embedded-servlet-containers.html#howto-use-tomcat-behind-a-proxy-server

I tried to change

[2015-03-06 15:39] spencergibb commented on #247
zuul doesn't rewrite content per-se.  It sends "X-Forwarded-Host" and "X-Forwarded-Prefix" (a custom prefix that spring understands.

[2015-03-06 15:44] aivans commented on #247
Thanks Spencer,

Good to know.

I am trying to play a bit with this and I want to make these changes:
[code]
But it still works with   "X-Forwarded-Host"

[2015-03-06 15:47] spencergibb commented on #247
We also strip the prefix configured in zuul (you can opt in not strip the prefix to the url this as we do in stores).

[2015-03-06 15:48] spencergibb commented on #247
our zuul filter currently hard-codes `X-Forwarded-Host`

[2015-03-06 20:00] #216 closed

[2015-03-06 21:59] aivans commented on #247
Thanks Spencer,

I was trying to understand the mechanism.
The above yml config is for the Stores sample project, and was trying to change it during experiments, but seems to have no effect.

[2015-03-08 01:24] ccit-spence opened #248 "API Documentation"
Has there been any thought put to API documentation? Tried playing around with HAL Browser at a service level.  Works, ok I guess.  The main problem is that if installed locally per service it will try to pull the port number if accessing via Zuul.

Second thought is to add it to Zuul and that would solve the port problem.

Would the second option make sense?

Another/third option, would be a bit

[2015-03-08 04:45] ccit-spence opened #249 "Zuul and Static Resources"
First: My goal is to have Zuul frontend all components of Spring Cloud.  i.e. Eureka, Hystrix, others.  I am finding that I can't get static resources to route properly.  They show 404's in the browser.

Eureka example:

Access URL from Zuul: `http://hostname/discovery/` this returns the page without any of the static resources.

In the browser it shows trying to get `http://hostname/eureka/css/wr

[2015-03-08 07:13] ccit-spence commented on #249
Looks like I found a way to solve this problem.

If you have a UI based service being accessed from Zuul setting the context-path will bring the application and static resources into parity.

I now have Eureka and the Hystrix Dashboard working from the Zuul URL:
Below is what was changed in each to resolve the above issue.

[code]

Note: Anyone wondering about the value of having the Spring Cloud

[2015-03-08 07:13] #249 closed

[2015-03-09 08:47] aivans commented on #247
Guys,

Maybe this question belongs to Spring Boot, but in the customers-stores sample, who does the replacing using ```X-Forwarded-Host```? Tomcat or Spring?

[2015-03-09 12:59] aivans opened #250 "Zuul - specify fallback per route"
Since it is possible to specify Hystrix and Ribbon parameters for each route in Zuul, it would be nice to specify the Hystrix fallback method per route also.

The solution  I have in mind right now:
- programmatic configuration of Hystrix by extending RibbonCommand, where ```getFallback()``` would be overridden
- application.yml: specify the custom class in the ```zuul.<<route>>.hystrix``` configu

[2015-03-09 13:06] aivans opened #251 "Eureka thinks non-jvm process is up when sidecar is up and non-jvm process is down"
The sidecar properties contains:
```health-uri: http://localhost:8000/health.json```.

I would like to know what is the mechanism that I need to implement such that the sidecar reports to Eureka Server that the main process is down based on ```health-uri```.

Thanks

[2015-03-09 16:45] spencergibb commented on #183
8.0.0 has been released https://github.com/Netflix/feign/issues/203 and has hit [maven central](http://search.maven.org/#artifactdetails%7Ccom.netflix.feign%7Cfeign-core%7C8.0.0%7Cjar)

[2015-03-09 16:56] spencergibb commented on #251
It follows the [spring-boot health indicators](http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-health) format.

In short `{"status":"UP"}` is up and {"status":"DOWN"} is down.

Available statuses: `DOWN, OUT_OF_SERVICE, UNKNOWN, UP`.

Health indicators can contain much more information as well, but those should get you started.

[2015-03-09 17:39] dsyer commented on #248
Nice as it is, I'm not sure I count the HAL Browser as "documentation". Are you asking about a recommended solution for user apps, or something provided by the framework for APIs that we wrap, like Eureka?

Did you see @wilkinsona's API documentation from unit test approach: https://github.com/spring-projects/spring-restdocs?

[2015-03-09 17:40] spencergibb commented on #250
If you're going to extend `RibbonCommand` I wouldn't put that class in a config file.  We would want it as a Spring Bean ala `@RibbonClient`.

[2015-03-09 17:43] dsyer commented on #247
Spring: https://github.com/spring-projects/spring-framework/blob/d64c48ff5f06aa444c199ae0cfa0d86f1b36af00/spring-web/src/main/java/org/springframework/web/util/UriComponentsBuilder.java#L283

[2015-03-09 17:52] dsyer commented on #245
Done: http://projects.spring.io/spring-cloud/

[2015-03-09 17:52] #245 closed

[2015-03-09 18:02] dsyer commented on #241
You can also use the native Netflix `EurekaClientConfigImpl` (create a `@Bean` of that type).

[2015-03-09 18:02] #241 closed

[2015-03-09 21:43] aivans commented on #250
Sounds good

[2015-03-09 21:46] aivans commented on #251
Ok, so we have to write a custom Health Indicator in the sidecar that checks whether the host service is up/down and use this in the Eureka InstanceStatus

[2015-03-09 21:48] spencergibb commented on #251
@aivans no, the `health-uri` should point to a url in the non-jvm app that provides the json I mentioned.  The sidecar then takes care of that.

[2015-03-09 21:54] aivans commented on #251
I am a bit confused.
So here is what we have:
- .Net service that implements the health endpoint (json you mentioned)
- Spring Cloud sidecar, which registers the .Net service in Eureka, takes care of heartbeats, etc

Problem:
- .Net service is stopped, but after a while, it still appears as UP in Eureka Discovery Server.

This is why we considered that the Sidecar would also use the ```health-uri`

[2015-03-09 21:58] spencergibb commented on #251
no, thanks for the additional information.  Looks like a legitimate issue, that if the non-jvm service is down and the sidecar is up, eureka thinks the non-jvm service is up.  Does that sound like a good description of what is going on?

[2015-03-09 22:01] aivans commented on #251
yes

[2015-03-09 22:07] aivans commented on #251
maybe as an additional clarification for me: does Eureka Server ever use the ```healthCheckUrl``` available in the instance information? or is it just for making that url available for external monitoring tools?

[2015-03-09 22:09] spencergibb commented on #251
@aivans I'm not positive, will need to investigate.

[2015-03-09 22:09] ccit-spence commented on #248
Probably something closer to the restdocs example.  Our typical dev cycle is create a service and then move on to the next.  Maintaining docs via something like Confluence is to me a nightmare.  It creates another thing to be maintained.  Just looking at ways to quickly look at a service and be able to tell its purpose and API.

Doesn't seem to me like the kind of thing that would need to be in Sp